[2017-08-09 20:47] Zidane commented on #1625
Closing this as it needs to be brought up on commands PR.

[2017-08-09 20:47] #1625 closed, assigned to nobody

[2017-08-10 17:46] gabizou commented on #1621
The absolute biggest problem is that fluids in the edges of chunks to generate more chunks, since the fluid logic does not differentiate between world generation and standard block placement. I’m curious why the plugin generated fluid placement does not function as vanilla fluid placement when the chunk is finished generating and actually ticking.

[2017-08-10 21:30] NeumimTo opened #1626 "Improve getNearbyEntities calls"
comment from https://github.com/SpongePowered/SpongeCommon/pull/1479

add a method
World#getNearbyEntities(Position, radius, loadChunks)
Location#getNearbyEntities(radius, loadChunks) could be possible as well.
So far we have a method Entity#getNearbyEntities(Position, radius) this method is quite insufficient because sometimes we might want to get a list of entities, which are around  a location,

[2017-08-10 21:36] Zidane commented on #1626
@NeumimTo Interested in giving me a PR? I'd appreciate it.

[2017-08-10 21:42] NeumimTo commented on #1626
Yep, I could code it during the weekend.

[2017-08-11 08:34] Yeregorix commented on #1621
Vanilla populators don't care if they will generate new chunks or not when they call `World#immediateBlockTick()` and it seems that this is not a problem so it should be the same for plugins. Are you sure calling `Extent#setBlock()` is ticking the new block during world generation ? If vanilla populators explicitly call `World#immediateBlockTick()` it would means that `World#setBlockState()` does

[2017-08-13 14:42] Limeth opened #1628 "Implement Attribute Modifiers"
Attribute modifiers, as the name suggests, modify various attributes of the affected entity. They may be bound directly to a spawned entity, or to an item that the entity wears/uses. It would be nice to have access to attribute modifiers from the API.

More details on the wiki:
https://minecraft.gamepedia.com/Attribute#Applying_attributes

[2017-08-13 18:31] parlough commented on #1628
@kashike Started some work on this earlier - https://github.com/SpongePowered/SpongeAPI/pull/1428

[2017-08-13 21:06] #1628 closed, assigned to nobody

[2017-08-14 19:35] #1594 closed, assigned to stephan-gh

[2017-08-15 07:34] gabizou commented on #1628
@Limeth if you wish and are willing, you can continue the work on attributes to get it into the API and implementation, otherwise it'll sit on a todo list that will eventually be reached in the future.

[2017-08-15 10:40] ryantheleach commented on #1621
@Deamon5550 I havn't looked into this, but my initial thoughts would be:

don't populators run on an 8 block offset? Shouldn't it be fine to expose a method to tick blocks after a chunk has finished populating?

[2017-08-15 13:48] vorburger commented on #1000
Typo in JavaDoc of BlockChangeFlag, see https://github.com/SpongePowered/SpongeAPI/pull/1629/files#diff-6a479ff0616f4921bdefcfa078075fd3

[2017-08-15 13:56] spide-r opened #1631 "Issue with throws CommandException, IOException"
Im trying to make a command change a text file in a directory. However whenever I try to use both of those declarations in my command executor, my IDE says that those two are not compatible. Is there a reason for that?

I am using SpongeAPI 5.1.0
My IDE is Eclipse Neon 4.6.2

[2017-08-15 14:39] Zidane commented on #1631
We need to see some code.

[2017-08-15 15:41] spide-r commented on #1631
Here is my executor:

[code]

Here is the method I am calling to add words to the file:
[code]

[2017-08-15 16:14] dualspiral commented on #1631
The `execute` method does not include the checked exception `IOException` - you can't add an exception like that. Nor do you have a need to, because you already trap the `IOException` in your code, so the `IOException` in your `execute` method signature is totally unnecessary.

The execute method should be `public CommandResult execute(CommandSource src, CommandContext args) throws CommandExceptio

[2017-08-15 16:15] #1631 closed, assigned to nobody

[2017-08-15 16:58] spide-r commented on #1631
It worked! Thanks for helping :)

[2017-08-15 18:31] Yeregorix commented on #1621
Depending on the terrain, water can flow much further but it's rare.

[2017-08-16 03:43] ryantheleach commented on #1621
Not in a single tick.

[2017-08-16 14:54] Yeregorix commented on #1621
The aim of `World#immediateBlockTick()` is precisely to flow the water in a single tick, whatever the distance.

[2017-08-17 05:03] parlough commented on #1623
Also I would like to note you can currently get and set world time through the `WorldProperties` class. So you could do `world.getProperties().setWorldTime(500)`.

[2017-08-17 05:17] parlough commented on #393
So the time methods are exposed in `WorldProperties`.

Other than that I can see adding the moon phases being important, I might work on that soon. As well as the daytime and hasSkylight methods in some fashion.

The sun brightness and light brightness methods are a bit stranger and I'll look into those separately.

[2017-08-17 08:54] kashike opened #1635 "Move text implementation to the implementation"
Self explanatory.

![x](https://i.imgur.com/iYa5zpS.jpg)

[2017-08-18 01:06] parlough commented on #1560
You should be good now with https://github.com/SpongePowered/SpongeAPI/pull/1572 merged :)

[2017-08-18 01:49] #1560 closed, assigned to nobody

[2017-08-18 06:13] spide-r opened #1637 "Get sender of MessageChannelEvent.Chat?"
I am trying to make a chat filter. How do I get the source of the chat message sent using MessageChannelEvent.Chat, and check if it was caused by a player? this is what I have so far:

[code]

I am using Sponge API 5.1.0.

[2017-08-18 06:16] spide-r commented on #1637
Clarification:
It has worked ingame. However it filters messages sent by the console as well. I would like for the plugin to only filter chat messages sent by the player.

[2017-08-18 06:28] kashike commented on #1637
https://docs.spongepowered.org/stable/en-GB/plugin/event/causes.html

[2017-08-18 06:28] #1637 closed, assigned to kashike

[2017-08-23 03:57] Himmelt opened #1640 "How to get the lines of a sign when catching the ChangeBlockEvent.Break event ?"
Why the tileentity was removed before the Break event coming true?
I am using sponge-api-6.1 MC 1.11.2 .
I can't get the signdata from a blocksnapshot.
Thanks!

[2017-08-23 05:07] liach commented on #1640
贴源码先

[2017-08-23 06:15] Pokechu22 commented on #1510
I'm going to have to ask that this be reconsidered.

* Vanilla uses non-standard locales.  Upside-down English (`en_ud`), LOLCAT (`lol_us`), Klingon (`tlh_aa`), etc.  Those need to be handled correctly.
* Resource packs sometimes use non-standard locales too.  This is less frequent, but happens.  You could hope that they fit within the normal rules, but unfortunately that isn't guaranteed.
* I wil

[2017-08-23 06:18] Himmelt commented on #1640
回家就贴😂早知道直接发中文了，不用写蹩脚的英语了。

[2017-08-23 06:22] kashike commented on #1510
We handle it fine currently. https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/util/LocaleCache.java#L40
If we get a real-world report of an issue, I'll gladly fix it. I won't change things because someone wants to use `MadeUp` as a locale. They're going to break more than just Sponge if they do so.

[2017-08-23 10:19] Himmelt commented on #1640
[code]

[code]

[2017-08-23 14:57] liach commented on #1640
你监听下 ChangeBlockEvent.Pre 试试看，应该那时候方块实体还存在。

话说原来的事件没说请取消有什么后果。

The tile entities might be still there when ChangeBlockEvent.Pre is fired, so you might listen that.

Btw the javadoc doesn't describe the consequence of cancelling these events.

Thanks @Mumfrey for translating.

[2017-08-25 14:26] theboomer opened #1641 "[1.12.1] ImmutableDataHolder not included with @Has event filter"
Asked to post this here by Zidane re: #spongedev chat.

The following logical event filter does not work:
    public void onPremove(ChangeBlockEvent.Pre event, @First @Has(PistonData.class) LocatableBlock lb) {
with either @First or @Root as the error thrown is: Annotated type for data filter is not a DataHolder

and this seems to be because locatableblock is an immutable data holder, @Has only lo

[2017-08-25 14:38] dualspiral commented on #1641
Adding my comment from the channel:

This is indeed the case, `@Has` and `@Supports` only support `DataHolder`s and `ImmutableDataHolder` does not inherit `DataHolder` - but the filters only use methods on the `ValueContainer` which _is_ common to the `DataHolder` and `ImmutableDataHolder` - should we change the filters to check for the `ValueContainer` type, or is there some reason why they check

[2017-08-25 17:44] Deamon5550 commented on #1641
Yeah it should be changed to use ValueContainer

[2017-08-25 18:24] dualspiral commented on #1641
I was looking at the wrong `get` method, it doesn't have `get(Manipulator.class)` on the `ValueContainer` which the filter needs - this is because mutable and immutable data holders use manipulators that extend from different classes. So scratch that part of what I said.

[2017-08-25 21:53] SjsolisZXA commented on #1529
Bumping up report.

[2017-08-28 19:36] simon816 commented on #1640
This seems to be the same issue as one I fixed about a year and a half ago (https://github.com/SpongePowered/SpongeCommon/issues/331)

The following code snippet:
[code]
outputs the following:
`
[org.spongepowered.common.data.manipulator.immutable.block.ImmutableSpongeAttachedData@43dc825, org.spongepowered.common.data.manipulator.immutable.block.ImmutableSpongeDirectionalData@c7df5bdb]
`

[2017-08-29 13:17] Himmelt commented on #1640
Thanks for all !
I am using the follwoing codes now:
[code]

[2017-09-03 08:00] theboomer commented on #1280
There are many issues posted and problems on the forum that require the hand-type used in the interact, place, and break events.

Can this please get included?

[2017-09-03 12:27] JBYoshi commented on #1280
Every `InteractEvent` is an instance of `HandInteractEvent`; just cast to that and you have your getter.

[2017-09-03 12:33] theboomer commented on #1280
Does that include place and break?

[2017-09-03 13:56] JBYoshi commented on #1280
<s>Yes.</s>

**EDIT:** Wait, did you mean `ChangeBlockEvent.Place` and `ChangeBlockEvent.Break`? In that case, no. Just the `Interact_____Event`s.

[2017-09-04 04:19] Cayviel opened #1643 "Missing get/set yield in ExplosionEvent"
Although it seems the get/set yield methods for explosions during an explosion event were added a couple years ago (see https://github.com/SpongePowered/SpongeAPI/issues/416) they seem to be missing now. These are important aspects of the explosion event and should be included.

[2017-09-07 00:12] Magi1053 commented on #1527
bump

[2017-09-07 11:45] TBlueF commented on #1618
Any news on this? :)

[2017-09-07 18:16] parlough commented on #1618
@TBlueF Uh sorry, I haven't had a chance to be on much, but I will come back to this branch soon. If I can't find time in the next few days I'll just add the IS_ELYTRA_FLYING data for now since I think I have that done.

I'll probably create an issue on SpongeAPI with a larger proposal to see what people think of some of the others changes/additions I'd like to handle in these data manipulators.

[2017-09-07 18:50] parlough commented on #1395
Is this ready to be closed with https://github.com/SpongePowered/SpongeAPI/pull/1422 in or are you looking for more/other functionality @ryantheleach?

[2017-09-07 18:52] parlough commented on #1348
You have a good point, I'll look into adding this soon.

[2017-09-07 23:06] #1395 closed, assigned to kashike

[2017-09-08 01:06] ryantheleach commented on #1395
The only other potential thing is events? if a player is in spectator, is there currently any way of preventing them from settings their own spectate target, or filtering the targets shown to them, if that's unwanted?

[2017-09-10 06:39] gabizou commented on #1643
This is because the [ExplosionEvent.Prime allows you to change the explosion](https://github.com/SpongePowered/SpongeAPI/blob/9aeb46721b8bcaa45c96e1b73ef0ddd18c4d78ff/src/main/java/org/spongepowered/api/event/world/ExplosionEvent.java#L61) which has a [radius](https://github.com/SpongePowered/SpongeAPI/blob/9aeb46721b8bcaa45c96e1b73ef0ddd18c4d78ff/src/main/java/org/spongepowered/api/world/explosio

[2017-09-10 11:04] Cayviel commented on #1643
Radius and yield are different: Yield is the percentage of destroyed blocks which drop as itemstacks to the ground after the explosion. Radius is only the radius. It is important important to change the yield without changing the radius. For instance, setting yield to 1.00 should force every block destroyed by the explosion to become an item stack dropped to the ground. This is how it worked befor

[2017-09-13 20:28] gabizou commented on #1643
So, looking into the implementation *from two years ago before the event was rewritten*, the event and method you're referring to was not implemented at all.

That being said, I'm going to ignore the fact that you're asking about an event without an implementation in the past and "missing" the mechanic. As it stands currently, the `radius` for an explosion directly dictates the `yield`, as in impl

[2017-09-13 20:28] #1643 closed, assigned to nobody

[2017-09-15 00:08] LXGaming opened #1646 "[API 7] Listeners added via InventoryBuilder don't get called."
I'm currently in the process of updating a plugin from API 5 to API 7, during this process I found that when adding a InteractInventoryEvent listener using the following results in it not being called in API 7.
[code]

Tested on the following:
- SpongeVanilla-1.12.1-7.0.0-BETA-327
- SpongeForge-1.12.1-2479-7.0.0-BETA-2624 with Forge-1.12.1-14.22.1.2480

Example plugin source code: https://gist.git

[2017-09-15 18:26] MinusKube opened #1647 "Confusing error with player argument"
There is a confusing error when the `player` argument is used inside a subcommand and it's not the last argument of the command:
![image](https://user-images.githubusercontent.com/13206601/30497487-4d1ab84a-9a53-11e7-96f5-4b6530eb20dd.png)
(The usage is also wrong, but it has already been said in another issue)

When it's not used inside a subcommand or when it's the last argument, it works as exp

[2017-09-16 22:16] theboomer opened #1650 "API7 Request: EventContextKey for Hand-used (for block break, place, fishing, breeding, taming, etc events)"
Request the addition of a "_hand-used_" EventContextKey and data.

Yes, player-interaction events are main/offhand events...  but not every event can be cast to such an interaction, and not every event (ie block break) is going to be player-caused.  And while these other events will result in interaction (block/item/entity) events being fired, you can't tell from the interaction what the result of

[2017-09-17 11:00] ST-DDT opened #1651 "More GenericArguments"
### The issue

In quite a few commands there are some constants that would also be also valid values in the command element but don't match the format of the data to be parsed/read.

**Example**:
`/settime <noon/dawn/time>`

Currently you have to do something like this:

[code]

For this case it is obvious that TimesOfDay is just a string representation of certain constants.

### CommandElementWra

[2017-09-18 01:14] ryantheleach commented on #1647
I'm having troubles believing this hasn't raised it's head earlier, maybe it has but people couldn't track it down or it's new?

Have you tried without onlyOne? or using playerOrSource? Just trying to narrow it down further.

[2017-09-18 01:42] MinusKube commented on #1647
Yeah I tried with onlyOne, it's the same. I didn't try with playerOrSource, I think it will work but I don't want the source.

Also, it really happens in a specific case : player + child + not last argument, so it maybe explains why nobody noticed it.

[2017-09-18 08:30] dualspiral commented on #1520
I meant to comment on this a while ago. This isn't so much a bug really. Each command should only have _one_ flag parser, your code should be:

[code]

The reason is that the flag parser checks all flags it comes across. The first flag succeeds because the `-x` flag is known to the first parser. The second flag _doesn't_ succeed, because the _first_ parser you specify (for `x`) doesn't know about

[2017-09-18 08:36] dualspiral commented on #1647
This is effectively the same as #1165, #1272, #1542.

What happens is that if a child command can't be parsed, Sponge tries to fallback to the parent command, and starts from a clean slate - meaning that it will only report parsing errors for the parent. There is no way (currently) to specify that if you use the child command keyword, you should _never_ fallback to the parent.

I'm solving this in

[2017-09-19 01:04] ryantheleach commented on #1647
I'm guessing that the empty executor is actually populated, and it was just omitted for brevity / example.

[2017-09-20 15:39] Xenmai opened #1652 "Inventory Difference Operation"
I've seen Union and Intersection already exist, but I'd like to retrieve the difference between two inventories too. Could this operation be added? Thanks beforehand for your time.

[2017-09-20 17:53] ST-DDT commented on #1652
The difference between the contents/items or the slots of an inventory?

[2017-09-20 23:59] JBYoshi commented on #1652
Slots. https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/item/inventory/Inventory.java#L543

[2017-09-21 01:27] ryantheleach commented on #1652
How would the difference look like? Or are you looking for a left difference / right difference.

e.g.

difference(a,b) would show the slots in a that are not in b. but not the slots in b that are not in a.

so you could simply call it difference(b,a) ?

[2017-09-25 17:37] Katrix opened #1653 "Make it easier to send localized messages to a message channel"
Not really sure how you would do this, however I feel like it's something that should be looked into as if not it might be tempting to just circumvent the message channels completely.

As I see it, one approach would be to add a few extra methods on the MessageChannel object that takes a key and a translation dictionary from https://github.com/SpongePowered/SpongeAPI/pull/1224.

[2017-09-25 19:56] theboomer opened #1654 "Player.getInventory.offer() behavior..."
(Asked to make an issue here by Faithcaio for discussion)

Currently, if a player has a 'full' inventory, full of items in the hotbar and full of items in the 'pocket' slots, and offhand, but is not wearing any armor:
 the  .offer() of itemstacks such as sticks or coal or stone will be successful, and the itemstacks are found placed on the feet.
While this makes sense from a perspective of "there

[2017-09-25 23:35] Zidane commented on #1654
player.getInventory is going to net you a view of all the slots of the player. If you are worried about this scenario, then you should be getting a view of the main inventory + hotbar inventory

WITH THAT SAID offer does not mean "You're going to take it whether you like it or not". Offer should be checking if the "equipment" slot says this can go in there (whereas the set methods would force it t

[2017-09-26 06:25] Faithcaio commented on #1654
Inventories have no check if the item is allowed.
These checks are done in Slots (which in MC only exists in Containers).

So while we could maybe duplicate the logic for vanilla inventory/containers with modded inventories we are out of luck.

[2017-09-27 20:51] parlough commented on #1184
@gabizou Can this be closed with the cause and context PR being merged into API 7 recently?

[2017-09-27 23:33] theboomer commented on #1652
Given that Union and Intersection are Formalized set operators, and the results of the methods give resultant sets that correspond to formalized operation results, with formal properties, any method to return 'the difference' should correspond to the formalized difference operation :  ( P - Q )   and should give the corresponding formal results.
While the Union and Intersection operators both have

[2017-09-28 01:07] ryantheleach commented on #1652
Yes, I understand set theory.

My point was about naming, and API Design / Docs so we knew which operation was being performed by the order of the parameters.

[2017-09-28 05:43] #1184 closed

[2017-10-01 16:44] liach commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/b1aa5e04aae06a86d50b646daad06bab697d1707/src/main/java/org/spongepowered/api/event/entity/TameEntityEvent.java#L49

That string seems to be useless.

[2017-10-01 18:58] kashike commented on #1000
I've cleaned some of the issues up, and deleted the corresponding comments.

[2017-10-03 07:44] VapidLinus commented on #1646
I have noticed this issue as well. I wrote about it on the forum here:
https://forums.spongepowered.org/t/inventory-builder-listener-not-firing/21001

Sample code to reproduce the issue:

[code]

**EDIT:**
A temporary workaround is to use `InventoryArchetypes.MENU_GRID` instead and it works.

[2017-10-03 07:57] VapidLinus opened #1656 "Can't ready InventoryTitle of custom inventory"

[2017-10-03 07:57] #1656 closed, assigned to nobody

[2017-10-03 08:01] VapidLinus opened #1657 "Can't get InventoryTitle of inventories"
`Inventory.getInventoryProperty(InventoryTitle.class)` always returns empty.

Code to reproduce:

[code]

1. Type `!test` in chat to open the custom inventory with the title "Fancy custom inventory"
2. Click on the diamond that is placed in the inventory
3. The `onClickInventory` method will log _Click in inventory: Unknown_.

This seems to also affect non-custom inventories and other properties.

[2017-10-03 23:49] Dockter opened #1658 "Per-World View Distance missing?"
Per @kashike,

Unless I've missed it, there doesn't seem to be a way to set a per-world view distance.  Please advise.

[2017-10-05 20:38] BrainStone opened #1661 "[Feature] Add @Instance(modId/pluginId) annotation"
An annotation similar to Forge's `@Instance(modId)` could be pretty useful. Syntax could be something like this:

[code]

This should work for both plugins and mods when running on Sponge-Forge.

If the type is Object or the type of the main class the direct object should be injected, when the type is a PluginContainer the corresponding plugin container should be injected instead.

[2017-10-05 21:16] ST-DDT commented on #1661
Does declaring `@Instance("luckperms")` make luckperms an optional or required dependency?
The [javadocs](https://github.com/MinecraftForge/MinecraftForge/blob/1.12.x/src/main/java/net/minecraftforge/fml/common/Mod.java#L320) aren't quite clear on this.

Why do you want to access the plugin directly vs its exposed services? (just curious)

[2017-10-05 21:18] kashike commented on #1661
It's a shortcut for `this.game.getPluginManager().getPlugin("id")`, basically.

[2017-10-05 23:01] BrainStone commented on #1661
@ST-DDT First of all I'd personally use it the set my plugin instance without having to manually set it. And then some plugins have special methods you want to call.
For example when you have a core plugin, plugins that depend on it may need to call methods on the instance of the core plugin.

[2017-10-06 00:05] ryantheleach commented on #1661
I thought you could get the plugin containers of other plugins injected already , and from that the plugin instance.

Where possible though, I think it's better to get plugins to register explicit services using our service manager.

[2017-10-06 06:26] SubtypeZero opened #1662 "ChangeBlockEvent.Place not called when automatically creating portals in the overworld"
There appears to be a bug where block place events are not called when portals are automatically created when traveling back from the nether (in cases where a portal does not already exist in the overworld). This issue could potentially cause problems for plugins like GriefPrevention, which may be unable to prevent these portals from being spawned in areas where the user being teleported would not

[2017-10-06 06:59] dualspiral commented on #1661
You couldn’t do this with injectors, especially ctor injectors, because at the time we apply them, some plugins that you target may not have even been instantiated yet.

My worry is that something like this could harm the startup time of somone who has a lot of plugins - I haven’t looked into this much, but my feeling is that we would have to (re)scan all the plugin classes ourselves for `@Instanc

[2017-10-06 16:45] bloodmc commented on #1662
https://gist.githubusercontent.com/bloodmc/842d33c96b0fed26f9d06c8cb7ded1ac/raw/ecdee61dfb643d61e8748f7fd9a0c117f98e8ebc/zero_portal_output.txt

Works fine in latest  SF 1.10 with fresh world.

[2017-10-06 16:45] #1662 closed, assigned to nobody

[2017-10-06 17:49] SubtypeZero commented on #1662
New test to see if the bug only occurs when cancelling teleport

Test without canceling teleportation from the nether back to the overworld https://i.gyazo.com/f315360ddbd77c8185ec2f224dd86b88.png
Test with canceling teleportation from the nether back to the overworld https://i.gyazo.com/6bcac96ecb786ac22c8b7920572a07c5.png
Portal created in the overworld without firing any place events https://i.

[2017-10-07 17:49] Faithcaio commented on #1657
Inventory properties should be mostly working with latest build.

Note:
I've added `Inventory.Builder#property(..)` without name as its currently not used with any other name than the default.

Most properties only work for custom inventories and containers viewing them.
I've only implemented `InventoryTitle` for all inventories. (might not work for some modded inventories yet)

[2017-10-07 17:49] #1657 closed, assigned to nobody

[2017-10-07 18:42] XakepSDK commented on #1661
And how to handle ChangeServiceProviderEvent? Reinject?
How to handle, if there is no such plugin/mod? Null injection?
If plugin name equals to mod name?

I think, sponge needs something like ModContainer(like PluginContainer).
For api providing you can use service manager.

[2017-10-07 18:43] kashike commented on #1661
We have [`PluginContainer`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/plugin/PluginContainer.java) already.

[2017-10-07 18:46] XakepSDK commented on #1661
Yeah, but for mods. Is there any api to get mod list or mod main class instances?

[2017-10-07 18:50] Cybermaxke commented on #1661
@XakepSDK `PluginContainer`s are also available for mods.

[2017-10-11 14:46] parlough opened #1663 "ElytraFlyingData and ElytraCapability proposal"
_So I am looking for some input on this as some of it may not be fit to be in Sponge outside of the check to see if someone is flying with an elytra._

Essentially I would like to add `ElytraFlyingData` to the SpongeAPI, which allows you to not only check if a player is flying with an elytra, but also force them to start flying with an elytra and allow them to fly like they are using an elytra wit

[2017-10-11 14:47] parlough commented on #1663
@Cybermaxke @ryantheleach @kashike @connorhartley @Zidane

[2017-10-11 15:36] Zidane commented on #1663
I govern the API and I say, where is my PR ;)? Open up the API PR and let us nitpick it to death but I'm all for this. I would seriously love a flying plugin that lets you continue to fly like an Elytra does without the need for the plugin.

[2017-10-11 15:41] Zidane commented on #1661
@dualspiral @kashike we could limit this simply to the Plugin itself. I'm seeing a lot of plugins having a public static reference to their plugin object because they store their own game objects in it (managers, factories, etc). To do so, they have to either add a constructor and set the reference to this or a GameConstruction event listener and set it to this on line 1. This would remove that ne

[2017-10-11 15:43] Zidane commented on #1654
Great point by @Faithcaio . It is extremely easy to blur the line between the view model (container) and the backend (inventory). For the purposes of the API, they are the same but, in this case, the behavior is going to be different because your view of the inventory is different.

[2017-10-11 15:43] #1654 closed, assigned to nobody

[2017-10-11 15:44] Zidane commented on #1618
Closing in favor of Meronat's proposal found here: https://github.com/SpongePowered/SpongeAPI/issues/1663

[2017-10-11 15:44] #1618 closed, assigned to nobody

[2017-10-11 15:46] Zidane commented on #1621
@Deamon5550 Can I get your thoughts on the above?

[2017-10-11 15:51] Zidane commented on #1568
Closing this issue as  the original intent of the issue is to use the scheduler and blood already fixed cancelling the portal event still creating the portal blocks in bleeding.

If we have other problems, create new issues on SpongeCommon as @dualspiral  said.

[2017-10-11 15:51] #1568 closed, assigned to nobody

[2017-10-11 17:21] kashike commented on #1661
I don't think such a thing is necessary, really. It removes 1-3 (depending on if you have a constructor already or not) lines of code at most - and static references to the plugin should really be discouraged.

[2017-10-11 18:49] Deamon5550 commented on #1621
The only way to support this is adding an analogy for `immediateBlockTick` to the api. I should note that using something like `RandomBlockPolulator` through the api will already flow liquids in the same way as vanilla [see here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/world/gen/populators/RandomBlockPopulator.java#L84).

[2017-10-11 19:12] Yeregorix commented on #1621
I did new tests with a recent git clone of spongeforge and setting blocks to BlockTypes.FLOWING_WATER or BlockTypes.FLOWING_LAVA seems to flow fine. I let you decide if this issue should be closed or not.

[2017-10-11 20:02] Deamon5550 commented on #1621
Sounds good to me, I didn't really want to add an `immediateBlockTick` to the api as we already have similar but not quite the same concepts that could get confusing. But if it works already then great.

[2017-10-11 20:02] #1621 closed, assigned to Deamon5550

[2017-10-12 01:14] ryantheleach commented on #1663
@Zidane Have you ever played with Super Steve on lantern? It's super fun.

[2017-10-12 01:16] parlough commented on #1663
@ryantheleach That is quite a bit different as it would require completely rewriting elytra functionality pretty much and exposing a lot more data, but yeah super steve is quite fun :)

[2017-10-12 01:17] ryantheleach commented on #1654
"the purposes of the API, they are the same"

That's the problem plugin users have issue with and is the core point.

I know faith has put in a ton of work, and this would be potentially modifying the spec :( but can this logic (at all, possibly) be exposed on the server? or does it practically just not exist?

If there isn't API for it, there needs to be, if there IS API for this, then people arn

[2017-10-12 01:20] ryantheleach commented on #1663
@Meronat I realize there is more to super steve then this, but this is still a huge +1 from me, I've had plans in the works for trying to work out how to give a player an elytra, respawn them if they fail to fly etc, and been putting off plans for a decent minigame / survival game because of it.

This would remove that barrier, and make things very interesting.

[2017-10-12 01:25] parlough commented on #1663
@ryantheleach Well I'm happy to deliver something useful :). I'll probably open the API PR tomorrow then let that collect some feedback before I finish the implementation.

[2017-10-12 01:26] vectrixdevelops commented on #1663
This looks like a great idea to me. Would be very useful to a large variety of plugins in my opinion. 😄

[2017-10-12 03:16] parlough commented on #1556
@JBYoshi Maybe you could take this?

[2017-10-12 06:31] Faithcaio commented on #1654
Exactly currently there is no logic on vanilla Inventories that dictate what can go into a Slot.
The Logic is only defined on actual Slots which only exist in Containers.

While it could be possible for us to just duplicate vanilla behaviour we wont be able to do it for modded inventories.

[2017-10-12 07:06] Cybermaxke opened #1665 "Leftover methods with causes."
`Container#open(Player, Cause)`: https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/item/inventory/Container.java#L62
`Container#close(Player, Cause)`: https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/item/inventory/Container.java#L71

[2017-10-12 10:33] ryantheleach commented on #1654
Sure, but can we create or use the container?

[2017-10-12 12:00] Faithcaio commented on #1654
There is not one way to get a Container for an Inventory.
e.g. horse containers need the horse entity it belongs to.

[2017-10-12 14:02] dualspiral commented on #1661
I'm in broad agreement here. The original issue was to do this to inject _other_ plugin references into a plugin, and it's been said this shouldn't work for that anyway. As @kashike said, it's 1-3 lines of code for a plugin add this, while adding code to scan for annotations on fields and then using reflection to supply the instance of itself to said field is going to be more code than this, and _

[2017-10-12 14:20] #1661 closed, assigned to kashike

[2017-10-13 07:04] MattJohns commented on #732
Could you just enforce that no-one can do reflection except for the Sponge API?  After all if you want to go down the security / sandbox route, you don't want plugins doing reflection of any type really.

[2017-10-13 08:01] BrainStone opened #1666 "Help message for flags is illformatted"
The help message for flags is illformatted and confusing.

For example let's take this simple flag:

[code]

The resulting help text formats this flag like this: `[-h|-history <h>]`

Foremost, the long flag should have two dashes instead of just one. But also the `<h>` is confusing, as `<>` normally indicate a required argument. I therefore propose these alternative formats:

- Simple: `[-h|--hist

[2017-10-14 05:25] XakepSDK commented on #1666
+1 for linux style.

[2017-10-14 08:47] dualspiral commented on #1666
Most of your points are valid and I plan to solve them in a more emphatic way for the command refactor: #1587. However, formatting the flags in the current system unix style would go against the rest of the usage text: `|` is used to indicate "or" elsewhere.

I'm not against the unix style, mind, that would be a trival change if there is an overwhelming desire for this. I'm just going to make the

[2017-10-14 09:05] dualspiral commented on #1666
For
[code]

I will get `/test [-h|--history] [-b|--bool <bool>] [-t|--test]`, which should solve the immediate problem this issue raises.

[2017-10-14 09:08] #1666 closed, assigned to dualspiral

[2017-10-14 09:38] VapidLinus opened #1667 "Get shulker box Item/BlockType from DyeColor"
I have a `DyeColor` and want to get the `ItemType` or `BlockType` of a shulker box that represents that colour.

The different colours of the shulker box are split into different types and there doesn't seem to be any API methods for getting a type of a specific "block" that represents a certain color.

At the moment I came up with a pretty dirty util method that does this for me:

[code]

Then I

[2017-10-14 09:40] VapidLinus commented on #1667
This issue ended up being broader than just "shulkerbox from `DyeColor`".
Maybe I should rename it to something else?

[2017-10-14 11:15] BrainStone commented on #1666
This looks very good! Thank you for the quick fix!

[2017-10-15 09:57] VapidLinus opened #1668 "Setting shulkerbox to AIR causes item to drop and DropItemEvent doesn't get called"
Calling `world.setBlockType(position, BlockTypes.AIR)` on a shulkerbox block causes the shulkerbox to drop as an item. This is inconsistent as other blocks do not cause items to drop.

Trying to cancel this using `DropItemEvent` fails, because it never gets called during above scenario.

**Code to reproduce:**

[code]

1. Press F5 to easily see what's going on above you
2. Type !test in chat
3. Sh

[2017-10-16 18:51] pie-flavor opened #1669 "Misspelling in org.spongepowered.api.scoreboard.critieria packages"
The correct spelling is criteria, not critieria.

[2017-10-16 19:43] kashike commented on #1669
...how on earth has no one else noticed this yet?

[2017-10-16 21:42] pie-flavor commented on #1669
@kashike That's what I thought. Seems to have always been there.

[2017-10-17 05:54] XakepSDK commented on #1669
Another breaking change :P

[2017-10-17 19:38] kinggoesgaming commented on #1669
That sounds like something I would type

[2017-10-18 13:26] XakepSDK opened #1670 "ItemEnchantment missing `of(Enchantment,int)` method."
Most of sponge api uses builders or static methods to get an instance.
Class `ItemEnchantment` doesn't have `.of(Enchantment,int)` method, to get its instance.
I think, this must be fixed.

[2017-10-18 14:10] parlough commented on #1670
I suppose this is true sometimes and I'm not really sure it is needed here, but maybe. For now just use the constructor which has the same arguments.

[2017-10-18 18:33] parlough commented on #1523
This is a great question. @gabizou You changed `#add` to just call `#keyValue`. Should we deprecate one of them, maybe `#add` due to its lesser Javadocs and not being the method with the logic?

[2017-10-18 22:12] Cybermaxke commented on #1523
I would say, lets use the `add` method and remove `keyValue` to be consistent with other data builders.
`add` is for example also used in (there are probably more cases, and `add` is in general more used in builders):
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/ImmutableDataBuilder.java#L69

[2017-10-18 22:25] #1670 closed, assigned to kashike

[2017-10-21 08:48] LXGaming commented on #1646
This issue may have been fixed by https://github.com/SpongePowered/SpongeCommon/commit/b22c02d2e0cde0e94e62b1b125a4d14aed8b0625

Currently waiting for a Sponge build with the changes to be able to test/confirm this.

[2017-10-23 00:23] mcmonkey4eva opened #1671 "Add options to create and control block lights"
It would be incredibly useful if Sponge API users could create and control light sources that aren't necessarily actual light-inducing block types.

Basically, acting like a torch or similar is placed even if one is not.

It's quite possible to implement 100% serverside, with a bit of "awkward code"

See reference Bukkit/Spigot/NMS code: https://github.com/mcmonkey4eva/Denizen/blob/master/v1_12_R1

[2017-10-23 00:35] parlough commented on #1671
You can find a little more discussion about artificial light [here](https://forums.spongepowered.org/t/artificial-light/12439?u=meronat).

[2017-10-25 12:23] SawFowl opened #1672 "SpongeForge 1.12.2 rcon error"
[15:15:42] [RCON Listener #1/INFO]: Rcon connection from: /127.0.0.1
[15:15:42] [RCON Client #3/ERROR]: Exception whilst parsing RCON input
java.lang.IllegalStateException: CauseStackManager called from off main thread!
        at org.spongepowered.common.event.SpongeCauseStackManager.enforceMainThread(SpongeCauseStackManager.java:70) ~[SpongeCauseStackManager.class:1.12.2-2503-7.0.0-BETA-2706]

[2017-10-25 12:24] Cybermaxke commented on #1672
https://github.com/SpongePowered/SpongeCommon/issues/1533
https://github.com/SpongePowered/SpongeCommon/pull/1526

[2017-10-25 16:08] kashike commented on #1672
duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1533

[2017-10-25 16:08] #1672 closed, assigned to nobody

[2017-10-27 11:40] nihiluis commented on #1303
agree

[2017-10-27 11:40] nihiluis commented on #1303
bump

[2017-10-28 07:05] parlough commented on #1307
I'll take this. Will be done later today/tomorrow.

[2017-10-28 20:29] #1527 closed, assigned to nobody

[2017-10-31 01:32] #1550 closed, assigned to nobody

[2017-10-31 12:14] Katrix commented on #1555
Should this be looked into again considering that with 1.13, `minecraft:furnace[facing=north]{BurnTime:200}` for a block, and `minecraft:stick{display:{Name:"Named stick"}}` will be valid stack names.

[2017-11-03 11:28] n00b42 opened #1680 "Decaying items not firing events"
A decaying item is removed from the world without firing one of the expected events:
While ExpireEntityEvent seems logical, I was told at least an DestructEntityEvent should fire, but neither did that (at least not for decaying items)

For clarification: An decaying item is an item whose lifetime is over and is removed from the game. E.g. drops/sapling/... laying on the ground.

**Setup**
- Tried

[2017-11-03 11:35] n00b42 opened #1681 "ExpireEntityEvent not firing"
According to its documentation, ExpireEntityEvent should fire when an Entity expires from the world.

I tried both given examples: "when an Endermite expires", "Lightning expires".
I watched them expire but my listener did not catch any ExpireEntityEvent, more suprisingly it did not catch an DestructEntityEvent either.

**Setup**
- Tried both:
  - spongeforge-1.12.2-2503-7.0.0-BETA-2716, Forge ver

[2017-11-03 11:36] n00b42 commented on #1680
Maybe related #1681

[2017-11-03 12:50] JBYoshi commented on #1680
Reopen in https://github.com/SpongePowered/SpongeCommon.

[2017-11-03 12:50] #1680 closed, assigned to nobody

[2017-11-03 12:51] JBYoshi commented on #1681
Reopen in https://github.com/SpongePowered/SpongeCommon.

[2017-11-03 12:51] #1681 closed, assigned to nobody

[2017-11-06 20:08] parlough commented on #1191
@theboomer Are the SpawnTypes for these still just giving the spawn type `CUSTOM`?

[2017-11-06 21:36] theboomer commented on #1191
For which api version are you requesting, since things are different but kinda similar with cause/context refactor.

[2017-11-06 22:54] phyne opened #1682 "Request to support per-player view distance"
Referencing [this sponge thread](https://forums.spongepowered.org/t/would-it-be-possible-for-sponge-to-support-per-player-view-distance/21379/3)

Would it be possible to support per-player view distance? A method to send a certain amount of chunks based on a player's individual setting (either specified by them or the server) would be unbelievable. I stumbled upon paperspigot, and apparently they

[2017-11-06 23:25] ryantheleach commented on #1191
@theboomer What API version are you currently having issues with, I'm going to assume @Meronat is only going to work on API7 unless someone specifically requests it for API 5, due to the cause tracking changes they would essentially need to write it twice.

[2017-11-06 23:27] ryantheleach commented on #1682
Would this prevent the chunks from even loading? or is this just a move to save on serialization / sending to the player?

[2017-11-07 05:54] parlough commented on #1337
Due to the overflow issue being gone is this still an issue?

[2017-11-07 19:37] parlough commented on #1682
The related Paper patch can be found here - https://github.com/PaperMC/Paper/blob/master/Spigot-Server-Patches/0036-Add-player-view-distance-API.patch

[2017-11-07 19:52] parlough opened #1684 "Issues with Enchantment related classes/interfaces"
At the moment, `Enchantment` represents what would normally be called `EnchantmentType` in the API, and is catalogued by `Enchantments` when generally would be catalogued by `EnchantmentTypes`. Then the actual representation of an existing enchantment is `ItemEnchantment`. I may be mistaken and there may be a reason behind this, so if so, please point it out to me.

This goes against what is repre

[2017-11-09 13:04] VapidLinus commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/b8625de73a51d463b07823ed277fb1bea1e5b0e6/src/main/java/org/spongepowered/api/item/inventory/ItemStack.java#L204

[2017-11-10 07:20] #1523 closed, assigned to nobody

[2017-11-10 07:23] #1269 closed

[2017-11-10 07:59] #1348 closed

[2017-11-11 21:20] parlough commented on #1684
Will PR this later today(most likely).

[2017-11-11 21:29] parlough commented on #599
I'm fairly sure this is now easily possible with https://github.com/SpongePowered/SpongeAPI/pull/1582 now merged, correct @Faithcaio ?

So this is possible by implementing it yourself, but after talking to faith, it seems like he would like to make this even easier eventually.

[2017-11-12 20:51] parlough commented on #1435
This will be partially solved by https://github.com/SpongePowered/SpongeAPI/pull/1688

[2017-11-12 22:54] parlough commented on #1435
Taking care of `DisabledSlots` as well.

[2017-11-13 00:31] Cleardragonf opened #1689 "Entity Ghast not visible in Monster.Class when doing a getRegistry.getallof(Monster.class)"
Hi So I'm using the new spongeforge - 1.12.2-2503-7.0.0- BETA - 2710.jar

When i use the following code I notice that for some reason Ghast is not listed.

List<Class<? extends Entity>> classes = ImmutableList.of(Monster.class);
List list = Sponge.getRegistry().getAllof(EntityType.class).stream()
.fiter(x -> classes.stream().anyMatch(y -> y.isAssignableFrom(x.getEntityClass()))).collect(Collectors

[2017-11-13 00:36] ryantheleach commented on #1689
The reason why Ghast doesn't appear is that it's not technically a Monster, but a Hostile.

Although, our API has nearly no contract on what is what, apart from the built in vanilla classes.

If someone could come up with a definition on what a Monster is, vs a Hostile, and add it as a contract to the API that would be awesome, I don't know what it is personally, otherwise I would do it myself.

[2017-11-13 00:40] Cleardragonf opened #1690 "Requesting a EntityAI"
Hi so I notice that there's an NMS class EntityAIBreakDoor but no SpongeAPI counterpart....is this something that is going to be available? reason I ask is part of what I want to do is utilize the AttackLivingAITask and when say a Zombie finds a wall blocking them from getting to the Player inside...they're able to break the door down...or blocks down...or whatever is configured....can this be don

[2017-11-13 03:22] Cleardragonf opened #1691 "EntitySpawning"
Hello I'm requesting an method to check for a safe area to spawn mobs using their AABB's.  Sort of like how teleporthelper uses GetsafeLocation...I'd like to see something like that on here...as spawning things is all fun and what not...but there's not quick methods.

[2017-11-13 04:52] ryantheleach commented on #1691
Do you need additional room around the mob? Now I'm thinking about it again there might be something in the API already.

[2017-11-13 04:57] ryantheleach commented on #1691
Sorry for leading you on a bum steer on the forums. I suspect this method is what you want.

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/world/extent/EntityUniverse.java#L201

Emphasis mine

 /**
     * Create an entity instance at the given position with the **default
     * equipment.**
     *
     * <p>Creating an entity does not spawn the entity

[2017-11-13 08:58] liach commented on #1690
We will wait for zidane to implement pathfinder, then you can write one AI on your own.

[2017-11-13 09:08] ryantheleach commented on #1690
@Zidane Have you already got work in progress for exposing the path finder, or do you think that is low hanging fruit someone else can pick up on?

[2017-11-13 16:06] VapidLinus commented on #1000
The first paragraph of the docs for DamageEntityEvent describes itself as the AttackEntityEvent:
https://jd.spongepowered.org/6.0.0/org/spongepowered/api/event/entity/DamageEntityEvent.html

[2017-11-13 18:26] VapidLinus commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/item/inventory/transaction/InventoryTransactionResult.java#L212

[2017-11-13 18:28] Cleardragonf commented on #1691
Woot!!!! YES!!!! :+1:  lol after all i've already gotten the position i just needed to make sure when i used CreateEntity that it was safe for them to be placed there :+1:  Thank you!

[2017-11-13 18:28] #1691 closed, assigned to nobody

[2017-11-14 08:59] n00b42 opened #1692 "Feature: Redstone Power Event"
I suggest an event that fires whenever the redstone power level of a block changes.

Information that should be provided:
- Old power level
- new power level
- maybe: source/direction of the change.

Which blocks:
- All redstone related blocks
- but also "powered" blocks, i.e. opaque blocks with a redstone flow into them (example current: repeater/dust->block->redstone torch)

From what I read so

[2017-11-14 09:05] me4502 commented on #1692
On source, whilst this would be amazing (this’d make some things sooo much easier), it requires adding event hooks throughout a tonne of places in the code.

[2017-11-14 12:32] ryantheleach commented on #1692
Oh man, Please tell me you only want the event fired when it's stabilized to a power level?

Otherwise you could be getting a lot more events then you bargain for.

[2017-11-14 14:04] n00b42 commented on #1692
For my use case awaiting a stabilized power level would be sufficient.
My use case does not involve "flickering" currents / "redstone clock generators".
More like button/plate/whatever triggers something in a plugin based on the power level or just if ">0"

But maybe there are other use cases that would justify more granular Events, e.g. plugins that want to fiddle with the redstone mechanics itse

[2017-11-15 05:20] ryantheleach commented on #1692
This isn't what I meant, it would still trigger for clocks etc.

By stabilized I mean when depowering a redstone wire, it goes from states 15-0 and notifies all neighbours for each step, a stabilized event would only emit events when the wire is at it's final power level each tick.

[2017-11-15 16:14] gabizou commented on #1692
You should already have this in `ChangeBockEvent` considering the sources are either `BlockSnapshot`s or `LocatableBlock`s, and the `Trasaction<BlockSnapshot>`.

Unless I'm mistaken about the proper use of the event itself in the circumstance of red stone exchanges.

[2017-11-16 09:00] ryantheleach commented on #1692
I suspect it's more likely to be https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/block/NotifyNeighborBlockEvent.java

@gabizou I believe the user story is to create custom redstone reactive things.

e.g. someone builds a multiblock machine out of iron, a block with no native redstone capability, so there is no ChangeBlockEvent.

Neighbour Notify w

[2017-11-16 16:12] VapidLinus commented on #1000
The first sentence of `ParticleOptions.DIRECTION` is wrongly a copy of `ParticleOptions.POTION_EFFECT_TYPE`.

https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/effect/particle/ParticleOptions.java#L73

[2017-11-16 20:34] MkSavin opened #1694 "Can't get item with itemMeta"
I'm writing a plugin that gives the player a block / item from the **DataBase**. **DataBase** returns string like "stone:1" where stone - block / item name and 1 - metadata. I have already implemented this plugin for **Spigot**, but due to the lack of its version for **1.10.2** I switched to **Sponge**.
How i implemented it in **Spigot**:
`
m = Bukkit.getUnsafe().getMaterialFromInternalName(blockN

[2017-11-19 09:40] RiftomeR opened #1696 "Feature: dynamic MOTD."
Add way to dynamically modify MOTD and animate using API.

[2017-11-19 10:14] stephan-gh commented on #1696
Are you referring to the MOTD of the status ping? If so:
https://jd.spongepowered.org/6.0.0/org/spongepowered/api/event/server/ClientPingServerEvent.Response.html#setDescription-org.spongepowered.api.text.Text-

[2017-11-19 17:05] ryantheleach commented on #1696
Also note, that it gives all the information required to customize per client.

https://jd.spongepowered.org/6.0.0/org/spongepowered/api/network/status/StatusClient.html

[2017-11-20 07:43] NeumimTo opened #1698 "Crop trampling"
According to bloodmc https://github.com/MinecraftPortCentral/GriefPrevention/issues/525#issuecomment-345590668 its not possible to cancel block break events fired when an entity falls down on a crop-block due to missing cause/context in sponge.

[2017-11-20 08:29] ryantheleach commented on #1698
I'm assuming the best way to implement this is with a player-move cause and or context frame?

So that way crop-block, pressure plates, trip wires, redstone ore, all trigger as a collision with a player?

Crop Smushing might be slightly different... but I'd prefer if it wasn't since it conceptually makes sense somewhat.

[2017-11-21 00:06] #1583 closed, assigned to nobody

[2017-11-22 02:53] Zidane commented on #1690
@ryantheleach @liach Pathfinder or not the Vanilla AI task could still be exposed.

[2017-11-22 06:48] parlough commented on #1317
This will be solved by https://github.com/SpongePowered/SpongeAPI/pull/1688

[2017-11-22 21:54] JBYoshi commented on #1626
https://github.com/SpongePowered/SpongeAPI/commit/1e8eecda2e651ed12f8fadb33b272461fea291e4

[2017-11-22 21:54] #1626 closed, assigned to nobody

[2017-11-22 21:58] JBYoshi commented on #432
For reference: #1532

[2017-11-22 22:02] JBYoshi commented on #695
Does [`SkinData`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/manipulator/mutable/entity/SkinData.java) suffice?

[2017-11-22 22:58] parlough commented on #1590
Let's reconsider this with 1.13 once it is shown they will stick with the library for sure(especially since we're so far into the development of 1.12).

[2017-11-22 23:06] kashike commented on #1590
They are sticking with it.

[2017-11-22 23:10] parlough commented on #1590
@kashike Fair enough, do you think it would still be worth adding now in API 7?

[2017-11-22 23:15] TheRaspPie commented on #695
Say, for example, you want to prepare multiple skins with one account in advance.
You could save the signature of each one of them without needing to have a live account associated with the skins at the point where you send them to the player.
With the current version of SkinData, you can't do that.

[2017-11-22 23:21] kashike commented on #1590
I've been :+1: for it from the start.

[2017-11-23 16:27] JBYoshi commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/cc44fdf0088c65d69883b3510b30321e1aac2a0e/src/main/java/org/spongepowered/api/entity/Entity.java#L336

https://github.com/SpongePowered/SpongeAPI/blob/cc44fdf0088c65d69883b3510b30321e1aac2a0e/src/main/java/org/spongepowered/api/entity/Entity.java#L360

The Javadocs state that these methods will load the target world, so these should be `loadWorld()` i

[2017-11-24 02:04] ryantheleach opened #1701 "EntityUniverse::spawnEntities should return a list of entities spawned."
As per https://github.com/SpongePowered/SpongeCommon/issues/1365

https://github.com/SpongePowered/SpongeAPI/blob/9aeb46721b8bcaa45c96e1b73ef0ddd18c4d78ff/src/main/java/org/spongepowered/api/world/extent/EntityUniverse.java#L268

Needs to be modified to return a list of entities.

[2017-11-24 02:19] parlough commented on #1701
This is a simple enough fix but it will be breaking.

[2017-11-24 03:00] ryantheleach commented on #1304
@AlphaModder You are correct, it was meant more as a tracking issue much like events or data.

[2017-11-24 03:03] ryantheleach commented on #1492
Any idea on how 1.13 affects this?
@Faithcaio I know you have tipped your toes into this with chests recently, and @kashike that you have been looking into 1.13 snapshot code.

[2017-11-24 03:12] ryantheleach commented on #1592
@Meronat I've assigned this to you, as you already have commits in your SpongeAPI I presume there is a PR somewhere pending?

[2017-11-24 03:18] ryantheleach commented on #1613
@SpongePowered/developers
Someone with more experience with the scheduler needs to chime in and come up with either a reason to close, or a plan of what we will do to resolve this. Please note the discussion here: https://github.com/MinecraftPortCentral/GriefPrevention/pull/415

[2017-11-24 03:21] ryantheleach commented on #1614
@kashike after talking to you in discord, it's become apparent to me that this isn't what DataContexts were supposed to cover?

I'd appreciate a reply regarding this issue.

[2017-11-24 03:26] parlough commented on #1592
https://github.com/SpongePowered/SpongeAPI/pull/1674 will solve this is you want to review it :)

[2017-11-24 03:29] ryantheleach commented on #1671
@SpongePowered/developers Looking for feedback on if this should be accepted or declined.

[2017-11-24 03:34] ryantheleach commented on #1696
@RiftomeR If the above doesn't solve your problem please respond and I will reopen, but at this point this looks solved on our end.

[2017-11-24 03:57] ryantheleach commented on #1575
@Meronat This should be relatively straight forward right?

[2017-11-24 03:58] ryantheleach commented on #1696
@Minecrell On second read, I think they want to be able to keep sending additional responses in order to animate the MOTD, I've edited this to make it more clear.

[2017-11-24 04:00] parlough commented on #1575
@ryantheleach Never have looked at sleep but from Off's description it should be. We could add it to `SleepingData`. Feel free to take this or assign me and I'll get it done.

[2017-11-24 04:58] ryantheleach commented on #1157
I'm thinking this should change to a 'mega-tracking/request' thread and solve this piecemeal over time.

[2017-11-24 04:59] liach commented on #1304
I suggest putting them in the extra package.

[2017-11-24 05:16] parlough commented on #1304
Part of this will covered by attributes which is already an open PR by Kashike. It's on my list to update and merge.

[2017-11-24 06:04] ryantheleach commented on #1588
@Aaron1011 There seems to be quite a bit of discussion surrounding design.

This is slated for Milestone API7, Do you think it will be ready in time for inclusion?

Or should it be removed now considering this issue is still at the design phase and doesn't yet seem to have an associated PR?

[2017-11-24 13:25] stephan-gh commented on #1696
Animated MOTDs were disabled in Minecraft 1.8.3, therefore this is no longer relevant.

[2017-11-24 13:25] #1696 closed, assigned to nobody

[2017-11-26 04:28] amaranth commented on #1671
This feels like a situation where both possible approaches _suck_ so it's hard to decide if you should even pick one. The suggested approach hides a nasty bit of code that runs 4 times a second and gets slower every light you add. The alternative would be to allow setting block light values via API which will make this ugliness and performance pitfall apparent to the plugin developer but makes for

[2017-11-26 04:53] amaranth commented on #1613
Seems like a job for [`ForkJoinPool.commonPool()`](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/ForkJoinPool.html#commonPool--). It should only ever give `RejectedExecutionException` if you try to add a task while the VM is shutting down and by default uses `numCores - 1` max threads unless you override it via the `java.util.concurrent.ForkJoinPool.common.parallelism` property. I

[2017-11-27 03:10] aikar opened #1703 "Async Tab Complete Event"
Re: https://github.com/PaperMC/Paper/commit/147081d0ff75f17021f8499487f9065b64817542

Requesting an event that provides similar capability to Sponge.

I am going to be implementing this in [ACF](https://acf.emc.gs) so that command completion handlers can declare they are safe to run async, and if so, run them async and hopefully avoid even needing to go to main.

If I can get support like this in

[2017-11-27 10:29] turtledude01 commented on #1588
I have a small request on the topic of economy.  Currently I know of no way for a transaction to be canceled in any way.  I know it might be a small case where this is usable, but flexibility is best.  An example where this would be beneficial is where you have 3 plugins, the eco plugin, the plugin calling a transaction, and a 3rd plugin that checks each eco transaction by itself to make sure that

[2017-11-27 19:22] parlough commented on #1233
There's some other additions recently added to the game I plan on handling as well, especially relating to the _illagers_.

[2017-11-27 20:52] parlough commented on #1701
Should the `EntityUniverse#spawnEntity` method return an `Optional<Entity>` as well?

[2017-11-27 20:54] liach commented on #1233
yeah, it really helps a lot to handle minecart stuff with data api (good for mods that provide extra functionalities)

[2017-11-27 23:50] ryantheleach commented on #1701
I'd say so. Even if it's solely for consistency sake.

[2017-11-28 01:02] liach commented on #1701
I would prefer a list of some sort of transaction results in this case. Sorting out which ones are not spawned is somewhat painful and difficult.

[2017-11-28 01:16] ryantheleach commented on #1701
@liach you may want to comment that here or it will be missed: https://github.com/SpongePowered/SpongeAPI/pull/1705

[2017-11-30 22:13] rodel77 opened #1707 "Phase incompatibility detected, on changing blocks inside events"
Hello, i am trying to update a block type inside on the ChangeBlockEvent.Place, the block place correctly but it throw some errors in the console

My code:

[code]

The error:

https://pastebin.com/1tqnBq6m

Version:
 + Minecraft: 1.11.2
 + SpongeAPI: 6.1.0-SNAPSHOT-d1eb7e2b
 + SpongeVanilla: 1.11.2-6.1.0-BETA-22

Thanks ;)

[2017-11-30 22:55] liach commented on #1707
you should modify the transactions or add it to a task

[2017-12-01 00:53] ryantheleach commented on #1707
[code]

[2017-12-01 01:23] ryantheleach commented on #1707
[code]

[2017-12-01 01:29] ryantheleach commented on #1707
*correction

I should have been paying more attention, this is definitely a bug in my eyes.

I didn't notice that you were adjusting a different block then what was being set in the event.

I'm not sure it's possible to add additional blocks to the transaction, so we definitely should at least be doing something about this.

[2017-12-01 04:41] liach commented on #1707
I thought we could add more transaction in this case. Using `Sponge.getScheduler().createTaskBuiler()` and make a task for the next tick may be a temporary workaround.

[2017-12-01 06:45] #1684 closed, assigned to nobody

[2017-12-02 21:38] gabizou commented on #1707
This should be in implementation to be honest, as it's a SpongeCommon bug, not an API bug. Re-open there please.

[2017-12-02 21:38] #1707 closed, assigned to nobody

[2017-12-02 22:36] #1307 closed

[2017-12-03 01:48] parlough commented on #1646
@LXGaming This has been fixed correct?

[2017-12-03 02:24] LXGaming commented on #1646
I can confirm that this issue is fixed.

Tested on the following:
* SpongeVanilla-1.12.2-7.0.0-BETA-365
* SpongeForge-1.12.2-2555-7.0.0-BETA-2756 with Forge-1.12.2-14.23.1.2555

[2017-12-03 02:24] #1646 closed, assigned to nobody

[2017-12-03 02:45] #1595 closed, assigned to nobody

[2017-12-03 04:03] parlough commented on #1317
Fixed in 827f9009bb36d68c3de9f58b844f036a86c35fba

[2017-12-03 04:03] #1317 closed

[2017-12-04 02:07] pie-flavor commented on #1588
More thoughts: @Eufranio has given me another good example of missing functionality. The economy best practices make clear that 'ability to withdraw' is not as simple as `balance - price >= 0`. So what do you do if you want to visually indicate purchasability to the player? Your only option is to compare balance to price. I vote a `canWithdraw` and `canDeposit` method is included, so you don't hav

[2017-12-04 03:43] liach commented on #1588
Can we add a loan api?

[2017-12-04 04:06] parlough commented on #1588
@liach Can you do a little mock-up of how you think that would look?

[2017-12-04 07:13] liach commented on #1588
So first, we will have a new interface, for example, `LeaseAccount`. It can have different methods, such as `getInterestRate` (unit, such as day, specified in javadocs) `getInterestDue` `getLoanedAmount`, etc.

[2017-12-04 07:31] ST-DDT commented on #1588
IMO loans are too dynamic for an API.
Especially the interest rate can be very server specific. Lets say every day a player is connected he has only half the interest.

IMO canWithdraw/diposit is sufficient.
Where the money comes from is irrelevant for the other plugins.

[2017-12-04 11:56] ST-DDT commented on #1588
Also there might be more than one CreditProvider ...

Lets start the other way round. What would be your usecase?

[2017-12-04 17:40] liach commented on #1588
It's okay if this idea is not incorporated into the API. Yeah, not too many people will use it,

[2017-12-04 21:01] Zerthick commented on #1694
Would it be possible to store the HOCON representation of the item in the database instead? That way you wouldn't have to deal with trying to reconstruct the item after reading it out. You can view how I serialize and deserailize itemstacks to strings here: https://github.com/Zerthick/PlayerShopsRPG/blob/master/src/main/java/io/github/zerthick/playershopsrpg/utils/config/serializers/ItemStackHOCON

[2017-12-05 01:34] Flibio commented on #1588
I agree, I believe loans should be implemented into their own plugins, not the SpongeAPI.

[2017-12-07 13:01] Faithcaio commented on #1455
this was fixed quite some time ago

[2017-12-07 13:01] #1455 closed, assigned to Faithcaio

[2017-12-07 16:09] Cybermaxke commented on #1665
Got fixed in https://github.com/SpongePowered/SpongeAPI/pull/1710

[2017-12-07 16:09] #1665 closed, assigned to nobody

[2017-12-07 22:04] SimonFlash opened #1714 "Restructure Command Mappings"
## Overview

This issue is for the discussion of refactoring the command mapping system within Sponge. The primary goal of this is to establish a clear, logical, and dynamic system to handle command registration and processing.

***

## What's in a command?

Unfortunately, we don't have a standard definition of commands where we can easily identify a certain component we're interested in for every

[2017-12-07 22:17] ST-DDT commented on #1714
Could you please provide some sample code for your suggestion or at least some sample code that shows the issue?
Otherwise the suggestion sounds too vague.

[2017-12-08 00:29] dualspiral commented on #1714
So basically, what you really want it to be able to add your own sub commands to other commands that you do not necessarily own. Your use case is that you want to effectively hijack a command and warp how it might work through the use of subcommands instead of leaving the other command intact.

Take the `/tell` command. Traditionally, you would run `/tell player this is a message` to send a messag

[2017-12-08 01:45] ryantheleach commented on #1714
I think this is less about hijacking and mutating the command tree, as opposed to providing some transparency to the tree built.

Sub-Commands are nearly impossible to provide valid help for currently, by a plugin external to Sponge.

I ran into this issue when attempting to expand BetterHelp into a system that could handle sub commands and custom documents.

@SimonFlash Can you elaborate a little

[2017-12-08 02:20] SimonFlash commented on #1714
@ST-DDT
Here is an example of how you could add a new subcommand using the current API.
[code]
This proposal does away with the concept of storing mapping within the executor, which is the first and foremost thing to take away from this issue. Instead, mappings are stored in a more recursive manner. This can lead to solutions like the following:
[code]
Alternatively, we can provide some factory me

[2017-12-08 04:12] ryantheleach commented on #1714
I think you are approaching this really differently then what you should be, I don't view needing to set a cooldown as needing to set or replace a sub-command, but intercept it when it comes to it's executor being called. If someone bypasses the Sponge API you will be doomed regardless, but lets just stay inside the bounds of SpongeAPI.

In addition, cooldowns can be flawed in that you don't know

[2017-12-08 05:33] SimonFlash commented on #1714
The point isn't specifically the cooldown, so let's please not use that as a straw man argument (not that you're intending to, but it's not the focus of the discussion). There are, in my opinion, plenty of valid uses for such a system. Earlier this year when Nucleus' `/back` command required the `--force` flag due to a bug, I used this to override the `/back` command to become `/nucleus:back --for

[2017-12-08 08:00] dualspiral commented on #1714
For what it’s worth, when it comes to child commands with the refactor, recognising the problem, any command built using the builder will also be a dispatcher, decoupling children from the parameters. This will be part of `SpongeManagedCommand`. That way, it is possible, in Common, at least, to traverse the subcommand tree from parent to child. Not so much the other way because it is designed to a

[2017-12-08 08:44] SimonFlash commented on #1714
If this problem could be solved by exposing the dispatcher in `ChildCommandElementExecutor`, this issue would be a PR instead. The dispatcher can easily be gotten through reflection; it's navigating through the executor that's the problem. If you prefer avoiding methods that encourage mutating others commands, then simply don't allow any editing to mappings once they're registered and have develop

[2017-12-08 09:28] dualspiral commented on #1714
I'd read what I said and read my PR again, because as I said, I've moved the dispatcher FROM the parameters TO the main `Command` - the implementation is `SpongeManagedCommand`. Every Sponge `Command` built using the builder will be a `Dispatcher`. We can _easily_ build the tree using this approach, it is **not** going to be wrapped up in a parameter - that was one of my first goals, since I did t

[2017-12-08 11:35] SimonFlash commented on #1714
Seeing that class is definitely helping me to understand what you're getting at. I combed through as many relevant classes as I could find, however as you've said there's over 10,000 lines in just Common - chance of me finding everything and understanding it to the same degree is next to none, especially as I'm not the one who authored it.

I believe we're on the same page with regards to unboxing

[2017-12-08 15:48] dualspiral commented on #1714
The thing is, this all goes back to manipulating other commands. I know you don't alter the executor of a command, but you _are_ altering the _expectation_ of a command.

If a plugin wants to create a spanish version of a command, it will likely create an entire command node in Spanish, with Spanish translations for all the command nodes. You wouldn't have `/tiempo set day` or `/time set dia`, for

[2017-12-08 17:13] SimonFlash commented on #1714
If this is going to be so confusing, then how is it we've learned to work with this system for base commands yet cannot expand it to subcommands as well? You speak of translating the command line, and that's correct - but it's not the aliases that define how a command is executed. Nucleus overwrites many of the Minecraft commands, but this does not spark the same concern?

If you would like to use

[2017-12-09 10:46] XakepSDK commented on #1714
@SimonFlash make simple proof of concept and we will test it.
If this will work only for sponge's high level command api - this will be completely useless thing.
Look at bukkit, bukkit is **very** popular, because it's easy as a pie.

As plugin developer, i want to say, that we want just write plugins, not enterprise level apps.
Atm sponge has very hight entry level, its really hard to understand

[2017-12-09 12:43] dualspiral commented on #1714
Okay, I'm going to sum up exactly what I think here, because I think what I'm saying is now being twisted. The only reason I can see you arguing this is because you want to inject your executors as children into other's commands.

Yep, and I take ownership of that, the entire command line. I replace the default behaviour of the line, from the `/tell` to the message. If you start injecting subcomma

[2017-12-09 20:50] SimonFlash commented on #1714
@XakepSDK
I've already started separating the mapping system I use and plan on finishing it soon. It will be able to support plugins who still (for whatever reason) choose to support raw string parsing, but it would naturally be less effective than those using the high-level Command API.

While the changes presented here do sound a bit more complex, I don't personally find any more difficulty work

[2017-12-09 23:25] dualspiral commented on #1714
I'd previously left this open because I felt that it was worth discussing with other Sponge members, I am not the only person on this project and so my opinion shouldn't be the only one that counts. I went and asked the opinion of some of the Sponge team about this, and our collective feeling is that a command should only be owned by the plugin that registers it, this includes subcommands. We do n

[2017-12-09 23:25] #1714 closed, assigned to dualspiral, kashike

[2017-12-09 23:58] SimonFlash commented on #1714
Fair enough, although there are still components to this unrelated to editing subcommands. I'll play around with what you've done for API 8 when we start getting into experimental builds and see if I'll be able to implement what I need without overwriting the existing system as I do currently.

[2017-12-11 00:10] ryantheleach commented on #1714
@SimonFlash if you need inspiration, or hell, would like to port an existing effort, looking at https://github.com/EngineHub/CommandHelper it's made to be somewhat platform independent, and there was interest in the very early days of a potential port to Sponge. It's also really nicely engineered.

[2017-12-11 01:52] SimonFlash commented on #1714
@ryantheleach
Thanks for the reference, but to be perfectly honest I really don't know what I'm looking at. I do already have the majority of the implementation planned out for this, so I'm going to continue drafting that up and attach it here when it's complete in the hopes that this issue will be reopened, as I believe there was far too much focus on the idea of adding subcommands that the point

[2017-12-11 13:10] Cybermaxke commented on #1492
I would also reuse the `PortionTypes` for beds.
@ryantheleach Chests are being covered in the following PR: https://github.com/SpongePowered/SpongeAPI/pull/1704
A method in extent to get all blocks of a multiblock structure would be useful though.
`getStructureBlocks`?

[2017-12-12 18:05] MarkTwoFive commented on #1588
I just wanted to add the wish to remove business logic from the account interfaces.
While stuff like ``#getDefaultBalance`` should definitively managed by the currency the accounts itself shouldn't contain methods like ``deposit``, ``withdraw``, ``setBalanace`` and so on simply because I believe that's the job of the EconomyService and not the account representations.

On top of that most specific

[2017-12-12 19:12] parlough commented on #1337
We do not place these limits any longer, besides being with `Short.MIN_VALUE` and `Short.MAX_VALUE`, leaving it up to the plugin if there are issues with negative or large values. It is still recommended to stay within `EnchantmentType#getMinimumLevel` and `EnchantmentType#getMaximumLevel` though.

See https://github.com/SpongePowered/SpongeAPI/pull/1687 for more information.

[2017-12-12 20:07] #1337 closed

[2017-12-12 20:09] parlough commented on #1682
@dags- I saw you were working on a plugin like this. If you wanted to make PRs to Sponge or at least provide some feedback on how you'd like to see this done in the API that would be fantastic!

[2017-12-13 05:35] gabizou commented on #1658
Merged in with #1659 .

[2017-12-13 05:35] #1658 closed, assigned to nobody

[2017-12-13 06:49] ryantheleach commented on #1682
https://github.com/SpongePowered/SpongeAPI/pull/1659 has merged per world view distances FYI.

[2017-12-13 08:33] dags- commented on #1682
World and Player both have methods 'getViewDistance' which refer to different things:
- World's being the radius of chunks around a player which get sent to the client etc.
- Player's being the [clientside view-distance setting](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/entity/living/player/Player.java#L115) (clarified in [Common](https://github.c

[2017-12-13 21:00] Faithcaio commented on #1051
ChangeInventoryEvent.Transfer.Pre/Post are implemented in API 7

[2017-12-13 21:00] #1051 closed

[2017-12-15 18:52] Cleardragonf commented on #1690
Hmmmm what does that mean?

[2017-12-15 19:08] liach commented on #1690
Zidane said on irc that I may just try exposing the path finder in the api. For now, @Cleardragonf you can use forge mods to access mcp to modify ais.

[2017-12-15 22:38] Cleardragonf commented on #1690
awesome please let me know once it's exposed? 🗡

[2017-12-20 19:11] #1165 closed

[2017-12-20 19:11] #1272 closed

[2017-12-20 19:11] #1542 closed, assigned to kashike

[2017-12-20 19:11] #1647 closed, assigned to nobody

[2017-12-20 19:20] dualspiral commented on #1542
In the latest SF for API 7 snapshot, I've added method `childArgumentParseExceptionFallback` to the `CommandSpec`. You need to set this to `false` to get the behaviour you expect above, I opted to make this a non-breaking change for API 7.

[2017-12-20 19:20] dualspiral commented on #1165
In the latest SF for API 7 snapshot, I've added method `childArgumentParseExceptionFallback` to the `CommandSpec`. You need to set this to `false` to get the behaviour you expect above, I opted to make this a non-breaking change for API 7.

[2017-12-20 19:20] dualspiral commented on #1272
In the latest SF for API 7 snapshot, I've added method `childArgumentParseExceptionFallback` to the `CommandSpec`. You need to set this to `false` to get the behaviour you expect above, I opted to make this a non-breaking change for API 7.

[2017-12-20 19:20] dualspiral commented on #1647
In the latest SF for API 7 snapshot, I've added method `childArgumentParseExceptionFallback` to the `CommandSpec`. You need to set this to `false` to get the behaviour you expect above, I opted to make this a non-breaking change for API 7.

[2017-12-22 06:03] Deamon5550 commented on #1000
@JBYoshi open an issue for that one, if that is the decided case then it needs to be moved to common to check the enabled state properly.

I've fixed the other issues and have deleted their messages.

[2017-12-22 15:11] JBYoshi opened #1719 "Entity.transferToWorld inconsistency with Javadocs"
https://github.com/SpongePowered/SpongeAPI/issues/1000#issuecomment-346660025

https://github.com/SpongePowered/SpongeAPI/blob/cc44fdf0088c65d69883b3510b30321e1aac2a0e/src/main/java/org/spongepowered/api/entity/Entity.java#L336

https://github.com/SpongePowered/SpongeAPI/blob/cc44fdf0088c65d69883b3510b30321e1aac2a0e/src/main/java/org/spongepowered/api/entity/Entity.java#L360

The Javadocs state th

[2017-12-22 18:07] Deamon5550 commented on #1719
The reason I suggested an issue to track and discuss this is because it cannot simply be `loadWorld` to follow the javadoc as there needs to be an additional check for if that world is enabled.

It is a simple change though if someone wants to grab it.

[2017-12-22 18:48] JBYoshi commented on #1719
I thought `loadWorld()` already handles that check.

https://github.com/JBYoshi/SpongeCommon/blob/79410aa688649c96d60507df7e190f5985906379/src/main/java/org/spongepowered/common/world/WorldManager.java#L613-L617

[2017-12-22 23:05] parlough commented on #1556
Once I have time to update the PR it will be expanded to support more items than just chorus, for example ender pearls.

[2017-12-22 23:37] Cybermaxke opened #1721 "Inconsistent build methods in builders."
The `build` methods in builders should be more consistent in the API. Some take the `PluginContainer` and have a separate `id` method, some take `id` and `plugin`object, some take a `pluginId` and `id`, etc. This is mostly related to catalog type builders.

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/DataRegistration.java#L196
https://github.co

[2017-12-24 06:56] RiftomeR opened #1725 "Feature:punishment service."
Punishment service will replace ban service. It will use key strings, like permission service, for example "hacks.survivalfly", "chat.spam", "admin.ban". There will be two methods: punishPlayer and unPunishPlayer in this service. They will take profile and key string as arguments. The implementation will punish or unpunish players, punishment depends on the key string. Default implementation will

[2017-12-24 07:00] liach commented on #1725
I believe ban was a service because it is a part of minecraft. What's your first language?

[2017-12-24 07:03] RiftomeR commented on #1725
russian

[2017-12-27 16:30] TheE opened #1726 "Expected configuration format for SqlService is ambiguous"
Sponge's [SqlService](https://jd.spongepowered.org/6.0.0/org/spongepowered/api/service/sql/SqlService.html#getConnectionUrlFromAlias-java.lang.String-) provides managed JDBC DataSources to clients. A DataSource is requested by providing the configuration as String. The format of this String is defined in the API specification as follows:

    jdbc:<engine>://[<username>[:<password>]@]<host>/<schem

[2017-12-27 16:45] XakepSDK commented on #1726
Sponge must not parse full string, just get engine and provide given string to engine.

[2017-12-27 19:18] ShortCircuit908 opened #1727 "Allow deleting of a specific child of a Text.Builder"
Currently, there is no way to remove a specific child of a `Text.Builder`. This is particularly bothersome when creating delimited lists, where one would normally remove the trailing delimiter after the list is built. This could be achieved by introducing a `Builder.remove(int index)` method, or by making `Builder.getChildren()` return a mutable list.
Something like
[code]
could be simplified to
[

[2017-12-28 00:04] ST-DDT commented on #1727
What would be your usecase for this change/feature?

[2017-12-28 00:10] ST-DDT commented on #1727
As an alternative you could use [`Text#joinWith(Text separator, Text... texts)`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/text/Text.java#L1212).

[code]

[2017-12-30 14:39] Xfel commented on #1726
The issue here is that sponge expects the URLs to be formatted in a specific way, where it really should just allow any valid JDBC url. Changing the syntax here would definetely do more harm then good, since for now it is at least consistent with the majority of JDBC drivers. Instead, any further requirements should be lifted.

[2018-01-01 00:37] #1701 closed, assigned to parlough

[2018-01-01 06:37] #1592 closed, assigned to parlough

[2018-01-01 10:02] parlough commented on #1435
With InvulnerabilityData supporting this, refer to https://github.com/SpongePowered/SpongeAPI/issues/1358 for supporting disabled slots. Will finish my work on it soon.

[2018-01-01 10:02] #1435 closed, assigned to parlough

[2018-01-03 11:08] ryantheleach commented on #1725
I'm not against the idea, but as so far a __need__ for this service hasn't seemed to arrive, so it's hard to create user stories for the developers that would want to implement / use such a service.

I'd be interested in hearing @connorHartley 's opinion.

[2018-01-03 11:11] ryantheleach commented on #1727
Text and String joiners are the widely accepted answer for the use-case described, however there may be some utility in having the ability to drop text components.

[2018-01-03 11:25] ryantheleach commented on #1726
To future readers wanting context of the implementation: https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/service/sql/SqlServiceImpl.java#L242

[2018-01-03 12:25] TheE commented on #1726
While I agree, the problem is that [HikariCP](https://github.com/brettwooldridge/HikariCP), the library Sponge uses for connection pooling, requires username and password to be given separately from the JDBC url (see [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/service/sql/SqlServiceImpl.java#L119)). Without any specification, it would b

[2018-01-03 14:33] ryantheleach commented on #1726
@TheE If I can get confirmation from one the SpongeDevs that there isn't some alternate method that flat file databases can use, then I completely agree that this is something that needs fixing.

I'm honestly a little surprised it hasn't come up by now, but maybe people just chalked it down as not working, and accessed databases directly rather then using the aliases. It certainly would make sense

[2018-01-03 14:39] Techdaan opened #1731 "Allow sending BlockSnaphots to Viewers"
Currently the Viewer API allows developers to manipulate the world for certain Viewers only, for example using the `Viewer.sendBlockChange` method. The issue I am running into is that the `sendBlockChange` method accepts a location and a BlockState, but there is no support for BlockSnapshots.

I cannot send different signs to different players (For example, a sign with the player's name) using Blo

[2018-01-03 14:51] ryantheleach commented on #1731
I'm happy to see this in. it seems like a relatively safe addition?

[2018-01-03 15:16] XakepSDK commented on #1726
1. Add way to provide plugin directory to jdbc url(placeholder)
2. Add way to provide connection properties(`Properties` class)
3. For aliases - make complex config node, like this:
[code]
(persistence.xml! just do it! =))

[2018-01-03 19:15] gabizou commented on #1731
Yes, very safe I imagine. Just may be tricky to implement as updates to tile entities client side may not be reflected from the server.

[2018-01-04 03:36] ItsDoot commented on #1725
Perhaps represent the 'key strings' as CatalogTypes?

[2018-01-05 14:15] Katrix commented on #1725
I've actually been thinking of making a plugin that could use something like this. The basic idea was to push messages about "bad" players to somewhere else. Something like this could be useful for that.

For me though the idea of treating everything the same seems a bit harsh. For example, chat spam and survival flying just kick you in vanilla. I think something like this could benefit from some

[2018-01-05 17:53] ST-DDT commented on #1725
Maybe we can do it like this:

[code]
Optional with a message or some kind of meta data for logging/history purposes.

then the `PunishmentService` itself has some config/rules like this:

[code]

but this is actually all up to the plugin providing the punishment service itself.

By default/without custom punishment service all reports with confidence level of at least MEDIUM cause a kick, to addr

[2018-01-06 05:51] pie-flavor commented on #1278
This still isn't fixed in the API, which was my original point.

[2018-01-06 05:52] Zidane commented on #1278
I'm re-opening this because @gabizou thought that an implementation PR somehow covers a lack of an API...

[2018-01-06 22:54] Zerthick opened #1732 "Remove SpawnEntityEvent.Spawner in favor of using Causes"
With the new cause system it is quite easy to determine when an entity spawn event is a result of a mobspawner, unless additional methods are added specifically to the SpawnEntityEvent.Spawner event, I propose it should be dropped in favor of just analyzing the cause of the base SpawnEntityEvent.

[2018-01-07 01:10] parlough opened #1733 "Clean up health API"
Health is currently a mess, a lot of it was essentially copied from the damage API, and some of it may not even be necessary as in its current state it seems fairly over complicated.

Many of the javadocs are wrong and it is simply outdated. At the moment a lot of it is not even implemented, so we should clean up the API and then do so.

Right now the related classes are `HealingType`, `HealingTyp

[2018-01-07 01:11] parlough commented on #1733
@gabizou As you were the one working on the API originally, where did you plan to see it go and where would you like it go now with the current state of the rest of the API?

[2018-01-07 21:29] NeumimTo commented on #1733
Just a small question. Does current state of the api allow us to scale player health above 1000, which is limit for vanilla client.

[2018-01-07 21:38] Cybermaxke commented on #1733
@NeumimTo There is a health scale key available, so if you have 2000 health and a health scale of 0.5 would 500 hearts (100 health) be displayed.
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/key/Keys.java#L1007

[2018-01-07 23:38] gabizou commented on #1733
You can successfully set the health scale to 20 and the client will always see what is worth 20 hearts of health (10 whole hearts to be exact). The advantage here is that you can now set the maximum health to `Float.MAX_VALUE` willingly without obstructing the client with that insane value. The health scale test plugin included SpongeCommon allows for such values even.

As far as this issue goes,

[2018-01-08 01:13] caseif commented on #1000
[Return Javadoc for EntityUniverse#spawnEntities](https://github.com/SpongePowered/SpongeAPI/blob/fa3b2ab8d194bf4cd4cc69c3d8d56cf6db7f8e72/src/main/java/org/spongepowered/api/world/extent/EntityUniverse.java#L266) is incorrect

[2018-01-08 03:00] ryantheleach opened #1734 "Expose enchanting seed to plugins?"
I'd like to see `XpSeed: The seed used for the next enchantment in enchantment tables.` exposed in some form to Sponge Plugins.

This would allow plugins to have (safe) access to allow rerolling of enchantments, or change the enchanting behavior as they wish.

[2018-01-08 21:40] ShortCircuit908 opened #1735 "Bat and Ghast implementation inconsistent with other entities"
Sponge API version: 7.0.0-SNAPSHOT

`org.spongepowered.api.entity.living.Bat` and `org.spongepowered.api.entity.living.monster.Ghast` do not implement `org.spongepowered.api.entity.living.Creature`, and Ghast should(?) also implement `org.spongepowered.api.entity.living.monster.Monster`. In addition, Bat implements `org.spongepowered.api.entity.living.Ambient`, which "Represents an entity that can

[2018-01-08 22:01] SimonFlash commented on #1735
It's a reflection of how their implemented in Minecraft. Neither `EntityGhast` nor `EntityBat` extend `EntityCreature`, and although `EntityGhast` is within the `monster` package it extends `EntityFlying`, not `EntityMonster`. Likewise, `EntityBat` extends `EntityAmbientCreature`.

As much as I agree with your logic behind thinking that, it's unfortunately not something under Sponge's control.

[2018-01-09 02:11] ryantheleach commented on #1735
It's an issue of naming. The problem is working out what Creature means, or what defines a creature differently.

Ambient is an odd name as well.

My suspicion is that one of these is for 'ground based things' and the other is for 'custom physics' But I don't really know all that much about it.

[2018-01-09 02:32] ShortCircuit908 commented on #1735
`Aerial` is already an interface apparently designating flying creatures, including `EnderDragon`, `Bat`, `Ghast`, `Wither`, and `Blaze`, but not `Parrot`. It seems there is inconsistency there as well.

[2018-01-09 08:19] gabizou commented on #1735
If Mojang were to get rid of the class inheritance and make entities data driven, then we wouldn't have the silly entity hierarchy as it currently is. I think @Zidane and I at one point argued about how entities were to be represented, the cleaned up normal way, or the true to the implementation mapping of their classes and interfaces.

[2018-01-09 12:45] ryantheleach commented on #1733
@gabizou I've moved this to accepted as you didn't seem to have any overly strong objections.

[2018-01-12 01:42] ryantheleach opened #1738 "World Name API & Plugin World Storage"
@TheRaspPie https://github.com/SpongePowered/SpongeCommon/issues/1048
[code]

Current API
[code]

My Proposed API
[code]

I'm wondering if we should be avoiding exposing the world directory name directly, but if you do, that poses some issues for loading worlds.

Also some serious thought should be given about when the UUID is changed, if at all.

E.g. it should be an explicit admin action after i

[2018-01-13 13:49] Techdaan opened #1739 "Finer control of the experience bar"
Involves both Sponge 6.0.0 and 7.1.0 running on Forge.

I am currently working on a plugin which requires finer control of the experience bar. Currently, the only way is changing the `Keys.EXPERIENCE_SINCE_LEVEL` property on a player depending on the value of the key `Keys.EXPERIENCE_FROM_START_OF_LEVEL`. Sadly, this does not allow for a fine control of the experience bar, especially at low levels

[2018-01-13 14:34] ryantheleach commented on #1739
I've marked this API 8, as it's my suspicion that it will require API breakage in order to properly expose fractional experience values.

That said, I entirely agree that this usecase should be supported while possible, even if it means leaking implementation details slightly.

It's possible we could expose a `setExp(float exp)` that represents a percentage from 0 to 1 of how full the experience b

[2018-01-14 14:15] ryantheleach commented on #1282
@Faithcaio has implemented this in API7 / 1.12 stable builds.

[2018-01-14 14:15] ImMorpheus commented on #1282
Tested on 1.12 (bleeding branch)

Is implemented: ChangeInventoryEvent.SwapHand

I have no idea what that is

[2018-01-14 14:15] #1282 closed

[2018-01-16 07:43] ryantheleach commented on #1562
On the assumption that vanished players don't make noise already, and that any contextual entities / vanished entities, / hiding specific entities from specific entieies won't leak sounds.

Maybe the sounds the events are thrown for could be a limited sub-set?

E.g. global sounds, thunder, wither boss sounds, dragon sounds, player caused sounds, explosions?

Or maybe introduce a silent data, that

[2018-01-17 11:41] Faithcaio opened #1741 "Inventory API query return Type"
I see this kind of code very often:
[code]
Which is fine if you are sure you will get the specific type of inventory back.
But can also result in ClassCastException because the result can also be:
- an empty inventory
- a ResultInventoryAdapter with multiple inventories of that type

One idea to reduce confusion about this would be to return `Inventory` everywhere instead of `<T extends Inventory>

[2018-01-17 12:39] Mumfrey commented on #1741
The general idea of the pseudo-duck-typing afforded by the bounded generic was that people are likely going to query and immediately cast to the desired type, the generic just elides the explicit cast. Neither is ideal but I felt when I designed it that the duck typing was just cleaner in situations that the query is known to succeed.

* The benefits of removing the bound are that people will be e

[2018-01-17 12:54] SimonFlash commented on #1741
This is something that I've wanted ever since our conversation a couple weeks ago. The fact that this behavior isn't well documented is made worse by the improper use of generics. It's a pitfall for many people who are just starting to work with Sponge or the InventoryAPI.

My recommendation is to have an inventory containing the result that respects generics, much like the `ResultInventoryAdapter

[2018-01-17 22:42] Faithcaio commented on #1741
@Mumfrey
Plugin developers are often beginners with java so while I think there will still be some that just try to cast without knowing or checking anyways it will be clearer to them that the issue in their code because they are explicitly casting. (and getting a ClassCastException)

@SimonFlash
While I certainly could always wrap the result I feel the API gets clunky when you know what you are g

[2018-01-17 22:58] SimonFlash commented on #1741
The result *is* already being wrapped - the inventory you receive isn't an inventory per se, it's a view of the inventories returned by the query. The class returned should make it clear that A: it is *not* the same thing that was queried for, and B: it contains an unknown (non-negative) number of inventories that *is* what was queried for.

[2018-01-17 23:29] Faithcaio commented on #1741
Not always. Currently if you get a single inventory matching the query you get the inventory itself.

[2018-01-23 10:16] ryantheleach opened #1746 "TargettedLocationData JD is wrong."
https://github.com/SpongePowered/SpongeAPI/blob/dcbe2705d11a9969b129c5522409e336bf3ba409/src/main/java/org/spongepowered/api/data/key/Keys.java#L2090

[code]

1. EnderPearl should read EyeOfEnder.
2. It should be explicit that this can be applied to a (Player for a Compass) or (EyeOfEnderEntity:Projectile  for an EyeOfEnder)

Moved to OCD issue list.

[2018-01-23 10:16] #1746 closed, assigned to nobody

[2018-01-23 10:17] ryantheleach commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/dcbe2705d11a9969b129c5522409e336bf3ba409/src/main/java/org/spongepowered/api/data/key/Keys.java#L2090

[code]

1. EnderPearl should read EyeOfEnder.
2. It should be explicit that this can be applied to a (Player for a Compass) or (EyeOfEnderEntity:Projectile  for an EyeOfEnder)

[2018-01-24 04:59] Meronat commented on #1571
![dikufzsuqaeksvu](https://user-images.githubusercontent.com/18372958/35315275-1f433466-0091-11e8-893e-c57c5317a786.jpg)

[2018-01-24 07:42] MkSavin commented on #1694
Zerthick, yes, it really helped, thanks.

For visitors
--
Standard tools of Sponge API does not support meta data, more precisely this "magic" number has been replaced by types. A huge number of types for all multiple blocks. However, this is a minecraft, and it is very difficult to translate all the data in this way, so the meta remained, but "inside" the item. If you get from the ItemStack conta

[2018-01-25 18:17] #1389 closed, assigned to nobody

[2018-01-28 01:26] ryantheleach opened #1751 "GUI Custom Inventory type"
There should be a way to mark a custom inventory as virtual as opposed to a custom container / inventory.

e.g. Even if our events bug out, there should be no real backing items on the server side for it to duplicate or send to the player, it just gets the events, and makes the callbacks and simulates the events to plugins.

This would prevent dupe issues where the real items are in a real invento

[2018-01-28 02:06] pie-flavor opened #1752 "No note block event"
There is no event to indicate that a note block has been tuned or played. Bukkit meanwhile has `NotePlayEvent`.

[2018-01-28 02:56] ryantheleach commented on #1000
Breaking: @xakep_sdk "RespawnEvent.java, I think, getOriginalPlayer should be renamed into getCorpse because name can be confusing.(in api 8, in api 7 we can just mark behavior in javadoc)"

[2018-01-28 03:01] Eufranio opened #1753 "Provide a default database connection trough the SqlService"
Atm, the `SqlService` is only useful for getting a pooled connection for a separated database. It would be nice if it had a default, ready, database that plugins could use, like a Sponge.db. So, to get a new connection, we would just use `service.getConnection()` or something like that. Optionally, server owners could be able to specify the type of the connection (mysql, sqlite, h2) in the sponge

[2018-01-30 16:07] parlough commented on #596
Going to close this for now due to https://github.com/SpongePowered/SpongeAPI/pull/1728 - If anyone would still like changes or additions, please create a new issue.

[2018-01-30 16:07] #596 closed

[2018-01-30 22:13] #1515 closed, assigned to nobody

[2018-01-31 14:17] Defman commented on #1739
I can see a few problems with this, one of them being "what is exp in minecraft". It's a bar, it shows the progress of exp points until next level. This is how the minecraft client sees the exp bar, this is not something we can change. We can expose a api to set the exp as a procentage but it will depend on the players current level. If the player is level 1 and we set the bar to 50% it will resul

[2018-02-01 00:30] ryantheleach commented on #1739
@The-Defman I appreciate the sentiment, that's basically the point I was making in the post above, but the base game actually have a lot finer control over the bar then integer amounts of xp, which is why @Techdaan made the issue in the first place.

So it's more a question of abstraction then anything else.

Worst comes to worst, if we offer a setExp() method, we can adjust the xp, just make the

[2018-02-03 05:19] liach commented on #1690
@Cleardragonf You can take a look at #1758 to see if it fulfills your need.

[2018-02-03 06:50] liach commented on #1526
Which ones are still valid? `GrantAchievementEvent`, for example, no longer exists.

[2018-02-03 16:04] NeumimTo opened #1761 "Get location of currently opened anvil?"
Is it currently possible to get a location of currently opened anvil?
net,minecraft.inventory.ContainerRepair holds data related to its location but i havent found anywhere if it is exposed via api as well.

[2018-02-03 16:34] Faithcaio commented on #1761
If I had enabled the Mixins yes.
Check if the Container is a `BlockCarrier` now

[2018-02-03 16:34] #1761 closed, assigned to nobody

[2018-02-04 20:56] NeumimTo opened #1767 "Data Keys/Manipulator for RepairCost NBT for Anvil 'recipes'"
Im facing another problem when trying to work with anvil. i want to create a "recipe". Depending on the items in first and second anvil's slot i want to set itemstack to output slot

The item is set to the output slot but the player cannot interact with it.
- The event ClickInventoryEven is not even fired when clicking on the item in output slot.

I think i might have a clue:
When you try to repai

[2018-02-04 22:10] ryantheleach commented on #1767
@Faithcaio Considering this involves containers, has this been generalized by Mojang to make this possible? Is RepairCost really suitable to being data? It's my guess that Repair Cost is only used in the 'preview' and not the 'result' of the recipe as well. So maybe there is an argument to having separate previews and results?

[2018-02-05 00:04] Cybermaxke commented on #1767
Maybe `Container`s (`Inventory`s) could also be some kind of `DataHolder` to support data?

[2018-02-06 21:35] mbenoukaiss opened #1771 "Block breaking animation"
The API does not seem to implement a support for changing (and checking) the stage of the block breaking animation.

[2018-02-06 21:37] RedNesto commented on #1771
Similar to #1152

[2018-02-07 02:25] ryantheleach commented on #1771
Closed in favor of #1152 @Eyxun Feel free to add your needs onto that ticket, or to even comment that "you want this to" in order to show increased demand.

[2018-02-07 02:25] #1771 closed, assigned to nobody

[2018-02-08 03:06] LemADEC opened #1772 "ClickInventoryEvent is missing location information"
As of API7.1, I can't find an predictable way to find Locatable from the inventory attached to the SlotTransaction.
Sometime, the root inventory is a CarriedInventory which may contain an optional Carrier which may implement Locatable which gives us a location.
That's a lot of conditions and for everything else, I don't know how to get it.

Example 1: AE2 crafting terminal is a block, but Carrier

[2018-02-08 06:41] Faithcaio commented on #1772
The problem with modded containers is that we don't really have a way to know what block they belong to.
I already try finding it:
https://github.com/SpongePowered/SpongeCommon/blob/921d2295a31fd06bb3f0c4dd525ec0baf807dc64/src/main/java/org/spongepowered/common/item/inventory/util/ContainerUtil.java#L480-L501

I quickly looked at the Containers:
AE2 ContainerCraftingTerm: no idea how to get a Loca

[2018-02-08 23:54] LemADEC commented on #1772
Turns out the existing approach in prism was only looking for CarrierInventory on parent. I've modified it to check if parent and root are Locatable instances before looking for if root is a CarrierInventory.
This new approach solved 2 cases (player dropping from hotbar and crafting from inventory).

After one day usage, I've collected the following behaviors:
**Case 1:** some blocks have carriers

[2018-02-08 23:58] LemADEC commented on #1772
Does the cause tracker include the block that was activated by the player? could we recover it from the ClickInventoryEvent and ChangeInventoryEvent.Pickup events?

[2018-02-09 07:41] Faithcaio commented on #1772
CarriedInventory is mixed into all Containers because in some cases we can provide a Carrier.
All we can do with those modded inventories is trying to find the TileEntity so that we can extract the location from it.

BlockCarrier and MultiblockCarrier should be present for the Vanilla Inventories that are not TileEntities (Workbench, Anvil) and the DoubleChest.

For all opened inventories the root

[2018-02-09 08:36] Defman opened #1773 "ServerService"
This will expose a ServerService which would be implemented by a plugin that would create a bridge between a proxy and the ``ServerService``, the proxy might be BungeeCord.

[code]
[code]

The Server would also implement some sort of message broker.

I'm also proposing changes to ``Extent`` to allow ``Location`` to work across servers.

It might also be useful to implement methods for configuratio

[2018-02-09 08:59] Defman commented on #1753
I dont see the need for a default connection, this could be solved by custom plugins. The idea of the Services and SqlService as I see it, is to allow a single plugin to controlle the connection pool and other plugins can hook in to it by using the SqlService.

I might very well be mistaken but that my thoughts.

[2018-02-09 09:04] ryantheleach commented on #1773
I'd love to see this in the base API, but I worry about how much extra work it is in order to get deep enough integration.

The ServerService would need to provide a little more information in order to get Locations to work as you want, and this could potentially have some ramifications depending on how deep integration is expected to be.

At minimum, I see that teleporting (cross world teleportin

[2018-02-09 09:18] Defman commented on #1773
Currently the ``Location<E ? extends Extent>`` just contains a Vector3d that may exist in a extent. What if ``Location`` was changed to the ``Location<E ? extends ServerExtent>``. Where extent stays as it is but ServerExtent only contains a reference the ServerUUID and ExtentUUID and make some.
The above is just a stream of thoughts and inputs are more than welcome.

[2018-02-09 09:55] dualspiral commented on #1773
**This is personal opinion and does not hold the views of Sponge in general.**

API hat: An API that doesn't have an implementation in Sponge should only be reserved for popular operations where it makes sense to unify them and maintain the standard, such as permissions and economy, as many plugins make use of these. This is an API only few plugins and server owners would really make use of, I thi

[2018-02-09 11:22] Defman commented on #1773
@dualspiral I agree with you 90% of the way. A Service should not be implemented in any way that it would break plugins. The entire point of Services is that they are optional and may or may not be implemented by custom plugins. And therefor the idea of implementing it with Location should be dropped. But I still think we need a ServerService; I believe theres a need for this i some way. The idea

[2018-02-09 14:03] ryantheleach commented on #1773
Yes, I was thinking slightly ambitiously, as for cross-server events, no I wouldn't ever think of doing that with a Mojang based server.

Remote worlds are similarly too difficult.

However cross world/server teleporting I think, is one of (very few) areas I feel I would be ok in having support.

But designing API that can handle that seems tricky.

Common things that people need out of bungee.

C

[2018-02-09 14:10] dualspiral commented on #1773
I know what the point of services are. The problem I have is that by having this service, you're putting the onus on _other_ plugin developers to use this service if it exists - and it's a service that won't normally be populated. You change the entire assumption of the plugin ecosystem by saying "hey, you may need to consider a linked server now, but not always". That just feels wrong to me.

Spl

[2018-02-09 19:34] RedNesto opened #1774 "THROWER and PROJECTILE_SOURCE EventContextKeys"
During the implementation of the LaunchProjectileEvent, I saw there were two `EventContextKeys` that can be used for the same event: `THROWER` and `PROJECTILE_SOURCE`.

What is the difference between these?

I don't see any to be honest. For me, `PROJECTILE_SOURCE` is more general than `THROWER` (which may imply a projectile launched by hand to me, but still a _projectile_), so if we need to remov

[2018-02-09 20:01] ImMorpheus commented on #1774
From what I see, `PROJECTILE_SOURCE` is only used [here](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/event/SpongeCommonEventFactory.java#L736) as the second parameter of the method `handleCollideImpactEvent`.
This method is called:
[MixinEntityThrowable](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowere

[2018-02-10 00:40] tylerbucher opened #1775 "Meager documentation for loadChunk and loadChunkAsync"
**Issue**
Meager documentation for [loadChunk](https://github.com/SpongePowered/SpongeAPI/blob/d5f1171eb1ede4fe12efe731271eb3ad5a7cf48d/src/main/java/org/spongepowered/api/world/World.java#L178) and [loadChunkAsync](https://github.com/SpongePowered/SpongeAPI/blob/d5f1171eb1ede4fe12efe731271eb3ad5a7cf48d/src/main/java/org/spongepowered/api/world/World.java#L220)

**Explanation**
As the title says,

[2018-02-10 02:10] LemADEC commented on #1772
I see BlockCarrier has a getLocation() method but doesn't implement Locatable. Any reason for that?

EnderChest doesn't seem to have BlockCarrier for the slot parent nor root nor carrier.

[2018-02-10 03:34] ronaldburns opened #1776 "Extra Utilities 2 Unexpected World Change"
When breaking any compressed blocks from extra utilities 2, this is spammed in console. It doesn't happen on the break. It happens while it's breaking, so even just tapping it causes this.
Don't know if it's an EU2 issue or sponge.

[code]

[2018-02-10 04:36] gabizou commented on #1776
There's more to the exception you're not including, can you include the full exception?

[2018-02-10 04:36] gabizou commented on #1776
~moveto sf

[2018-02-10 04:37] gabizou commented on #1776
~move to sf

[2018-02-10 04:37] limbo-app commented on #1776
Hey @rojo8399! I've moved your issue to [SpongePowered/SpongeForge#1997](https://github.com/SpongePowered/SpongeForge/issues/1997).

[2018-02-10 04:37] #1776 closed, assigned to nobody

[2018-02-10 06:26] Zidane commented on #1735
Its an implementation leak but we elected to follow Mojang's decisions on what constitute as what. Its a hand we've been dealt with the logic behind the base game.

We really need data driven Entities finally..

[2018-02-10 06:26] #1735 closed, assigned to nobody

[2018-02-10 06:27] Zidane commented on #1774
We need to just go with Projectile_Source for API 8.

[2018-02-10 06:37] liach commented on #1257
I think we should mainly focus the comparison on `ItemStackSnapshot`s since they are immutable, making them safe for usages in a sorted data structure, etc.

[2018-02-10 09:01] Faithcaio commented on #1772
~I forgot to add Locatable.~ fixed

EnderChests are not BlockCarriers. The player should be carrier for an EnderChest Inventory.

[2018-02-10 14:53] DarkArc commented on #1257
It seems silly to have to allocate all the structures required to make a snapshot, just to do a valid comparison.

[2018-02-10 17:08] gabizou commented on #1257
It boils down to sponge needing to ditch the implemented comparators and move them to implementation where we can compare for mentioned use case. Likewise in 1.13, damage values are going away entirely, and tags will be a thing.

[2018-02-10 23:23] jd1378 opened #1778 "Add an event for block break start , end and abort"
what i tried was InteractBlockEvent.Primary.MainHand , which is getting fired on every tick (i guess) when mining the block , so its not possible to get when the player started digging without listening for the packet .
adding this will be nice

[2018-02-11 06:58] ryantheleach commented on #1778
@jd1378 What is your usecase?

Some use cases I can think of off the top of my head that may or may not want to be considered.

1. Anticheat plugin that needs to log/know everything to make smart decisions, usually monitor only.
2. A plugin that wants to cancel / create / manipulate the block breaking effects.
3. A plugin that wants to warn a player as early as possible about protected areas, but

[2018-02-11 07:03] ryantheleach commented on #1774
Should we deprecate thrower asap then, with the note that Projectile_Source replaces it in API 8 ?

[2018-02-11 13:07] RedNesto commented on #1778
Where should be the event? In `ChangeBlockEvent.Break`? like `ChangeBlockEvent.Break.Start`/`Stop`/`Abort` ?

[2018-02-11 13:29] ghost commented on #1773
Have to agree with @dualspiral here. Server clustering with multiple running implementations of SpongeAPI is probably a bad idea for the project. Not a bad idea in general, but the API has never been built with distribution in mind. You're going to end up running multiple instances of the plugins across the network, one copy per node. That's a lot of resources.

[2018-02-11 14:00] Faithcaio commented on #1772
added location for BlockCarrier on block interact / inventory open
also BlockCarrier is Locatable now
So this should work in most cases now.

[2018-02-11 14:00] #1772 closed, assigned to nobody

[2018-02-11 14:15] Schuwi commented on #1515
Am I correct in assuming that this issue has been addressed in bfd7f774a040448907b816f446f331d3cd84710b as it was closed without further comment?

[2018-02-11 14:36] ryantheleach commented on #1515
There's been several commits relating to crafting events over the past month, and I was involved with testing several of them with faith. This should be well and truly addressed and fixed.

[2018-02-11 23:20] jd1378 commented on #1778
@ryantheleach 1 and 4 are my usecase,
@RedNesto I don't know exactly where the event should be in the API, but IMO it is not necessarily changing the block , while its related to changing the block ,but anyway, what you suggest seems fine to me

[2018-02-12 00:49] ryantheleach commented on #1778
It won't be ChangeBlockEvent as the block isn't being changed until it finally breaks.

[2018-02-12 05:41] jd1378 commented on #1778
Since there is Key for Sneaking and Sprinting , why not add the key for these ?
Or there can be a new PlayerActionEvent with both entity action and player digging ?  `PlayerActionEvent.Start.Sneaking`/`Sprinting`/`Mining`....?

[2018-02-12 06:49] RedNesto commented on #1778
The `Player` part of the event name can be too restrictive, so I'll ask here what I asked you in PM: Can Humans/Humanoids dig?

The another issue with the event you are giving us is that the last sub-events (`Sneaking`, `Sprinting`) are already accessible via the Keys so what about just a `DiggingBlockEvent` with sub-event like `Start`/`Stop`/`Abort`?

[2018-02-12 09:44] gabizou commented on #1778
I'd keep it named as `Action` `Target` `Event` as the API follows, like `ChangeBlockEvent` or `DestroyLivingEvent`, etc. Since the action is always constant, the target can change, and we don't use the source in the naming convention since it is included already in the cause.

I'm in favor of `DiggingBlockEvent` with `Start` / `Stop` / `Abort` and possibly `Complete` if it's possible in implementa

[2018-02-12 13:14] jd1378 commented on #1778
@RedNesto in answer to your question , i think it depends on the implementation of the humanoid , while it can start digging  , there's actually little to no benefit in doing so imo , since the swing and interaction should be handled separately ?

[2018-02-12 14:36] ryantheleach commented on #1778
@RedNesto Many entities in modded Minecraft can dig, not just humans.

[2018-02-12 16:09] RedNesto commented on #1778
I only used humans as an example for vanilla. I also was in a hurry and haven't had the time to add reference to mods :3

[2018-02-13 15:40] Eufranio opened #1780 "InteractItemEvent provides a snapshot instead the real ItemStack"
When we are listening to Interact**Item**Events, we're probably expecting to do something with the ItemStack in use. In the current API, the event only provides a ItemStackSnapshot, so we cannot modify the ItemStack. An workaround would be getting the item in the hand of the player, but there's another problem where the interact may still have an ItemStack, but wasn't directly caused by a player.

[2018-02-13 15:53] Eufranio opened #1781 "Add a new Key to represent shulker box contents"
Right now, I don't think we have a way to know which items are inside a Shulker Box ItemStack, only getting the items from the TileEntity. It'd be useful to have a `Keys.SHULKER_CONTENTS` or something so we know the items that are in the shulker box.

[2018-02-13 17:16] Faithcaio commented on #1780
With an ItemStack you cannot change the type.
So probably a setter is better here.

[2018-02-13 17:20] Eufranio commented on #1780
So, if we want to simply decrease the stack size for example, we'd do `event.setItemStack(event.getItemStack().setStackSize(event.getItemStack().getStackSize() - 1))`?

[2018-02-13 17:32] Faithcaio commented on #1781
`Keys.REPRESENTED_TILEENTITY` ?
would then handle all items with `BlockEntityTag` on them

[2018-02-13 17:43] Eufranio commented on #1781
Wouldn't the TileEntity data be not accurate or invalid if there's no TileEntity in the world?

[2018-02-13 17:45] Faithcaio commented on #1781
Well its position would probably not be correct

[2018-02-13 20:58] gabizou commented on #1781
This should be implemented by the InventoryItemData, which so far is not implemented as of yet. Since @Faithcaio knows a great deal about the inventory implementation, that would be the best route. Of course, we can also offer to provide an `Optional<TileEntityArchetype>` and potentially expose it as a possible carrier where you can also do `Optional<Inventory>` to retrieve a direct indexed invent

[2018-02-14 00:39] ryantheleach commented on #1781
I think TileEntityArchetype makes sense for 'middle ctrl click creative' shulker boxes, but not for regular shulker boxes. Basically whenever `attached NBT` is on the item, as opposed to just an item holding an inventory?

[2018-02-14 00:41] ryantheleach commented on #1780
Maybe something like this method?

https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/event/block/InteractBlockEvent.java#L92-L106

[2018-02-14 05:03] ryantheleach commented on #1640
@Himmelt Was your issue solved?

[2018-02-14 05:06] ryantheleach commented on #923
My understanding is that the way that Ore signs is completely different to the forge jar signing system?

Will need someone to look into this if we plan on supporting it.

Personally, the large reason I think forge jar's were being signed was to prevent mod rehosting modifying the jar files, and having different mods and authors back each other up.

Do we have this problem yet? And if we did, I'm

[2018-02-14 07:10] ronaldburns commented on #1731
This would be very useful for creating personal signs and holograms.

[2018-02-14 07:37] Faithcaio commented on #1781
@gabizou usually (at least for vanilla) the TileEntity itself is also the inventory.
Quick try loading a fake TE worked see: https://github.com/SpongePowered/SpongeCommon/pull/1801
Opening the fake TileEntity Inventory works too.

The other option would be to create a "custom" inventory and fill it with the items from nbt (Similar to what I did for offline User Inventory), but which may be differe

[2018-02-14 11:15] mosemister commented on #1731
This is very cool and would be useful for my Ships plugin. There is a feature where all the blocks of the ship turn to bedrock to you only (so you can see what the tracking system has found) however when reverting back the signs have no text on. So adding this into it the process, it would correct the signs

[2018-02-14 12:32] ryantheleach commented on #1781
You might be right faith, I havn't looked at the code, just basing it off instinct from vanilla.

![image](https://user-images.githubusercontent.com/141554/36204238-6d7fa132-11da-11e8-96e2-d1573b4965f8.png)

![image](https://user-images.githubusercontent.com/141554/36204244-73ba4b92-11da-11e8-82e4-31d13a603034.png)

[code]

[2018-02-14 17:56] Defman commented on #1773
When I original wrote this, I few days ago I was not sure what I wanted entirely, witch in result created this unclear issue. Personal I see the pros and cons of a StandardService and I just want a discussion. I'm going to implement something on my own to take care of my needs, but if I have the need someone else out there might also. I'm going to implement my own bridge between what ever proxy I

[2018-02-15 00:01] ryantheleach commented on #1773
@The-Defman I still think it was a valuable discussion / topic regardless. It's hard to judge what people think without discussing it, so thanks for creating the issue.

I'm planning on leaving this open for about 2 weeks without a reply / consensus, then close if a resolution hasn't been made.

[2018-02-15 03:03] ronaldburns commented on #1731
Was there a PR attached to this issue, or has/hasn't it been implemented yet?

[2018-02-15 13:13] Techdaan commented on #1731
@rojo8399 I haven't made an implementation for this feature, which is why there's no PR attached. I don't think anything has been implemented considering this issue's still open.

[2018-02-15 15:44] Eufranio opened #1782 "Add getLocation to User"
It would be nice if we could retrieve the last location of a User by using `User#getLocation()`. It doesnt seem that hard, since the location of the player is saved to NBT.

[2018-02-15 15:58] Faithcaio commented on #1782
related https://github.com/SpongePowered/SpongeAPI/issues/1475
ping @gabizou

[2018-02-15 16:00] Eufranio commented on #1782
Right.

[2018-02-15 16:00] #1782 closed, assigned to nobody

[2018-02-15 16:01] Eufranio commented on #1475
`User#getLocation()` and `User#setLocation()` would be nice.

[2018-02-17 06:56] Katrix opened #1783 "Provide a LanguageAdapter that plugins can use to customize how to get Plugin instance"
Currently, all `Plugin`s have to be a class annotated with `@Plugin`. This is fine for Java which only has `class`, but for languages like Scala and Kotlin which has things like `object`, this can be inconvenient. The goal here is something similar to Forge's `ILanguageAdapter`. This would allow plugins made in such languages to use an `object` for their `@Plugin` instance, instead of a `class`.

[2018-02-17 07:06] SimonFlash commented on #1783
As someone who has limited experience with Kotlin and Forge (and none with Scala), I'd like to ask for some clarification on how this would affect existing Java plugins as well as any design changes to new ones. Is this a breaking change? What would our plugin classes look like if this were to be merged?

Additionally, I would recommend touching on how this would benefit developers working with Ko

[2018-02-17 07:35] kashike commented on #1783
Rough outline:
https://github.com/SpongePowered/SpongeAPI/compare/feature/plugin-construction
https://github.com/SpongePowered/SpongeCommon/compare/feature/plugin-construction
https://github.com/SpongePowered/SpongeForge/compare/feature/plugin-construction

[2018-02-17 07:45] Katrix commented on #1783
It would change nothing for existing plugins using what exists today. The main advantage for Scala and Kotlin devs is that they can treat a class which is a Singleton as an actual Singleton.

For the simplest case, just switch out class with object when defining the plugin entry point. This would then mean that you don't need to bother with a static field to refer to the plugin from outside as wel

[2018-02-17 22:46] JBYoshi commented on #1739
My thought is that this would be more of an issue for contextual data, once that comes out.

[2018-02-18 04:18] ryantheleach commented on #1739
I honestly don't see how it relates to contextual data at all, aside from purposely causing a server/client desync. @JBYoshi Could you elaborate?

[2018-02-19 07:13] realGWM opened #1784 "Feature Request: Analog of TargetReason (from Bukkit)"
Bukkit has TargetReason which allows to check, why agent (entity) selected target (other entity).
Sponge's SetAITargetEvent doesn't have such analog.
It makes impossible to discover why entity selected other entity as target.
Bukkit link: https://github.com/Bukkit/Bukkit/blob/master/src/main/java/org/bukkit/event/entity/EntityTargetEvent.java#L79
Also, there is no EventContextKey for it.
(Continua

[2018-02-19 15:41] JBYoshi commented on #1739
Contextual data is primarily intended for making different players see different data on an object. However, I also see it as a way to set client data that differs from the server data. That's what this appears to be requesting.

[2018-02-20 23:46] ryantheleach commented on #1739
I mean, you could construe it that way, but I think most people would be happy enough just being able to see the granularity of experience of a player between level 0 and 1. At the moment because of the rounding and it being measured in discrete points on Sponges side, it's hard to control the bar accurately.

I definitely see it being contextual data if you want to manipulate it independently of

[2018-02-22 22:24] gabizou commented on #1475
Thought about this for a bit, we can't realistically use a `Location` since you can have a player in an unloaded world (let's think about multi-dimensions). At most we can provide a position and world id, but certainly not a `Location` for offline Users. And @Faithcaio I'd rather it not be data, but it was an intention long ago when first writing the Data API and @Zidane shot me down on the idea :

[2018-02-23 06:34] Faithcaio commented on #1475
so smth like `setLocation(Vector3d, WorldProperties)` `WorldProperties getOfflineWorld` `Vector3d getPosition`?

[2018-02-23 07:28] ryantheleach commented on #1475
WorldProperties or would it be a dimension id :-S

[2018-02-23 08:54] gabizou commented on #1475
Why world properties? I thought you could get a world or world properties or whatever you wanted with just a uuid, so why wouldn't we want to use a `UUID`? It doesn't make sense to me to use anything different (especially how world properties can be created without having an actual world of which to focus on setting a player location for a world that doesn't exist.

[2018-02-23 09:45] Faithcaio commented on #1475
I guess UUID would be fine.
But UUIDs can also be created without having a world backing it up and the UUID is also not what is saved in the Player.

[2018-02-23 16:01] gabizou commented on #1475
What is saved on the player for their location?

[2018-02-23 16:02] Faithcaio commented on #1475
[code]

[2018-02-23 16:45] Faithcaio commented on #1475
how about this @gabizou ? ^

[2018-02-23 18:13] #1586 closed, assigned to nobody

[2018-02-23 18:15] Faithcaio commented on #1257
If there are specific comparators you want make a new issue.
In future API8+ they will NOT be implemented in API.

[2018-02-23 18:15] #1257 closed

[2018-02-24 21:49] parlough commented on #1590
The current stance is that this is going to happen for now, due to the immense size of the library, and it not being desirable to require an implementation to include fastutil.

This may be revisited in the future if there is enough desire.

[2018-02-24 21:49] #1590 closed, assigned to nobody

[2018-02-26 23:35] Eufranio opened #1788 "Add getAliases to CommandSpec"
Right now, we don't have a way to get the name or alias of an CommandSpec (correct me if I'm wrong), and that turns registering dynamic commands a bit tricky. It'd be nice if we had a `List<String> getAliases()` on CommandSpec (*or CommandCallable?*).

[2018-02-27 01:05] Eufranio commented on #1780
hum?

[2018-02-27 01:07] Eufranio commented on #1753
Then you would need one main plugin to provide the public connection and others would have to hook into it. By having a default open, public database, we wouldnt need to have this custom main plugin.

[2018-02-27 03:48] SimonFlash commented on #1788
Neither `CommandSpec` nor `CommandCallable` store names or aliases, so I really don't know what you're trying to accomplish with this. You'd need to make multiple changes to `CommandSpec` and `CommandManager` if you wanted them to store that information (`CommandCallable` isn't going to change). This may not be breaking, but I don't think it's usefulness justifies the time spent to make these chan

[2018-02-27 06:36] SawFowl opened #1789 "Incorrect work of the event MoveEntityEvent."
`      @Listener

	public void playerMoveEvent(MoveEntityEvent e){

		Player player = (Player) e.getTargetEntity();

               // We do something with the player, for example, teleport when a certain position is reached. }`

When the sphere of experience appears, the following error appears in the console. https://pastebin.com/tJaxvDJ9

I do not understand why it reacts to the sphere of exper

[2018-02-27 07:35] kashike commented on #1789
You aren't checking if the `Entity` is actually a `Player` before casting.

[2018-02-27 07:35] #1789 closed, assigned to nobody

[2018-02-27 07:38] SawFowl commented on #1789
I also tried this option.
Living living = (Living) e.getTargetEntity();
		if(living instanceof Player) {
                //Action.
}

[2018-02-27 07:42] liach commented on #1789
@Mr-Krab a minecart can move, too!

[2018-02-27 07:43] SawFowl commented on #1789
Yes, but I'm trying to track only the player.

[2018-02-27 07:47] liach commented on #1789
@Mr-Krab I mean if the target entity is a minecart, your "alternative option" would crash.
Do this instead:
[code]

[2018-02-27 07:54] SawFowl commented on #1789
Thanks, works as it should. There are no errors. I think after finalizing I'll make a public version of my plugin.

[2018-02-27 07:55] liach commented on #1789
That is what @kashike said at first. I suggest you go to discord or Russian forums for help in the future for such minor issues.

[2018-02-28 11:05] Katrix commented on #1783
BTW, do you make sure that stuff is still classloaded in the correct order when doing it that way? I think I remember Forge having some problems there.

[2018-02-28 13:21] Xenmai opened #1790 "Unable to Give RespawnLocationData to a Player"
Hi there. I'm having a problem when giving respawn locations to a player in version 1.12.2 and API 7.1.0.

I've tried two methods: using the RESPAWN_LOCATIONS data keys, and the RespawnLocationData manipulator. Both methods can be summarized as getting the current respawn locations from the player, transforming it, and offering it back to the same player. After doing this, I get the respawn locati

[2018-03-01 00:37] gabizou commented on #1790
~move to sc

[2018-03-01 00:37] limbo-app commented on #1790
Hey @Xenmai! I've moved your issue to [SpongePowered/SpongeCommon#1824](https://github.com/SpongePowered/SpongeCommon/issues/1824).

[2018-03-01 00:37] #1790 closed, assigned to nobody

[2018-03-02 16:51] kory33 opened #1791 "Incorrect data bounds comparison in AbstractBoundedComparableData"
Value checks in [these lines](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/manipulator/mutable/common/AbstractBoundedComparableData.java#L82-L83):
[code]
should be incorrect(either bounds or inequality signs flipped).

According to [the Comparator's JavaDoc](https://docs.oracle.com/javase/7/docs/api/java/util/Comparator.html), `compare(this.lowe

[2018-03-02 17:07] Eufranio commented on #1788
Let's say I have a command and a subcommand. I wanted to be able to populate pagination list with the usage of those commands, but `CommandSpec#getUsage` doesn't return the **name** of the command, only the rest. So, if I have a `/foo bar <arg>` command, `barSpec.getUsage()` would ONLY return `<arg>`.

That way, I cannot properly get the usage of those commands. My wish was to get a clean way of d

[2018-03-02 18:42] SimonFlash commented on #1788
Because a `CommandSpec` doesn't have a *concept* of a command having an alias. The `CommandSpec` only contains information relevant to the processing of that command, such as the arguments, and not the aliases it is registered under.

The limitation of `CommandMapping`s only knowing their own aliases is a limitation of how the system is structured and the [mis]use of the `ChildCommandElementExecut

[2018-03-03 08:37] #1475 closed, assigned to nobody

[2018-03-03 14:02] ryantheleach commented on #1788
I looked into this a while back whilst trying to create BetterHelp (Which was a long time ago) I remember hitting snags.

Anyway, the `Dispatcher` has a getCommands() function on it that allows you to get the mappings.

However ChildCommandExecutors don't readily expose their dispatchers.

Also note the CommandManager is a Dispatcher.

It would be relatively simple to expose the dispatcher of Chil

[2018-03-03 14:38] dualspiral commented on #1788
While that's all correct, first thing to mention that the command spec, and its replacement, don't have knowledge of their registrations. This is by design - the separation of concerns add flexibility and simplicity to the implementation. The command manager only cares about "root" commands, subcommands are handled by the parent.

Not that this is ideal, but you can do what you want now somewhat d

[2018-03-08 14:09] Eufranio opened #1792 "Build TextTemplate just like Text"
Right now, TextTemplates can only have 1 color, more colors should be specified within children texts. It'd be nice if TextTemplate was able to build a Text like the `Text.of()`, on `TextTemplate.of()`. So, we would be able to do `TextTemplate.of(TextColors.RED, "Hello ", TextColors.GREEN, " world!")` instead `TextTemplate.of(TextColors.RED, "Hello ", Text.of(TextColors.GREEN, "world"))`.

[2018-03-08 18:58] gabizou commented on #1753
Personally I don't want to go down the route of offering a default service, much like the h2 db service bukkit provided. Not sure how @Zidane or @SpongePowered/developers feel about it.

[2018-03-09 03:09] JBYoshi commented on #1753
The problem of offering a default database service is determining which databases to support.

On the one hand, users would (ideally) want to get support for their favorite SQL implementation out of the box. If we support MySQL, SQLite, and H2, why not PostgreSQL? Why not Microsoft SQL Server? Why not DBYoshi (besides the fact that it doesn't exist)?

On the other hand, we shouldn't bloat the down

[2018-03-09 17:13] mosemister opened #1793 "Fly event"
Just a quick report that ChangeDataHolderEvent.ValueChange is not fired with some data values. Ill create a list here of what keys work with it.

- [ ] IS_FLYING

[2018-03-12 20:54] parlough commented on #1793
There's quite a few keys it still does not fire for, but it is on our radar to implement the event for more keys as time goes on.

[2018-03-12 20:55] parlough commented on #1793
~move to sc

[2018-03-12 20:55] limbo-app commented on #1793
Hey @mosemister! I've moved your issue to [SpongePowered/SpongeCommon#1829](https://github.com/SpongePowered/SpongeCommon/issues/1829).

[2018-03-12 20:55] #1793 closed, assigned to nobody

[2018-03-12 21:01] mosemister commented on #1793
Thanks

[2018-03-13 17:32] Zerthick opened #1794 "Language File Service"
A common request users have of plugin developers is to provide some kind of language file where they can translate all of the strings of a plugin.  As far as I know, there is currently no standard way to do this and all plugin developers must implement their own solution.  I think it would be very useful for Sponge to provide a uniform API and file format specification for accessing and defining l

[2018-03-15 05:21] kashike commented on #1794
This is coming with the new version of the text api.

[2018-03-15 05:21] #1794 closed, assigned to nobody

[2018-03-15 18:16] Zerthick commented on #1794
@kashike Is there a link to a relevant discussion somewhere on this topic?

[2018-03-16 18:00] SimonFlash opened #1795 "Apply order to Inventory#offer"
[This commit](https://github.com/SpongePowered/SpongeCommon/commit/ca2896841a9b3aa2008208af99c4a20199929874) changed the order of the `GridInventory` to be before the `Hotbar` in the `Main PlayerInventory`. As a result, offering an item to the player's inventory now tries to send it to their storage first rather than the hotbar. This has been reported as a bug a couple of times, as even though it'

[2018-03-23 21:31] Evolht opened #1796 "Abstract methods in 'spongepowered.api.world.extent.InteractableVolume.java'"
Found a few abstract methods during development.

`
    boolean digBlockWith(int x, int y, int z, ItemStack itemStack,GameProfile profile);
`

`java.lang.AbstractMethodError: Method net/minecraft/world/WorldServer.digBlockWith(IIILorg/spongepowered/api/item/inventory/ItemStack;Lorg/spongepowered/api/profile/GameProfile;)Z is abstract
	at net.minecraft.world.WorldServer.digBlockWith(WorldServer.jav

[2018-03-24 05:22] gabizou commented on #1796
~move to sc

[2018-03-24 05:22] limbo-app commented on #1796
Hey @Evolht! I've moved your issue to [SpongePowered/SpongeCommon#1841](https://github.com/SpongePowered/SpongeCommon/issues/1841).

[2018-03-24 05:22] #1796 closed, assigned to nobody

[2018-03-27 03:30] codeHusky opened #1797 "Command Arguments causing ClassCastException"
**Related Changes**
- https://github.com/SpongePowered/SpongeAPI/commit/6059354741a815cd2a86b63274ba97f8530de84c#diff-325508c3a8ee152cf222a18a16566a37R1137
  - Also this commit in general. Pushed in ~4 days ago as of writing.

This is affecting versions since **1.12.2-2611-7.1.0-BETA-2984** at the earliest reported.

Error log one.
https://gist.github.com/codeHusky/8831213c5224022e11dacc89d8d10695

[2018-03-27 05:55] codeHusky commented on #1797
Relates to #1660

[2018-03-27 09:18] #1797 closed, assigned to dualspiral

[2018-03-27 10:02] dualspiral commented on #1797
FYI: that second problem is a different one to the first and wasn't linked to #1660 - that part of the code wasn't touched. It's probably an informational error but I'd have to take a closer look to know what is going on. I'm gonna open a new issue with it to remind me to look at it.

[2018-03-27 10:07] dualspiral opened #1798 "Incorrect reporting of source player in command errors."
From #1797 (thanks to @codeHusky) - current builds of SF for API 7

---

Second error here.
https://gist.github.com/codeHusky/0960e169eb931bec54179ab56c6c274c

The second error log reports a mismatch between the person running the command and the person who's the "source" of the command, iirc.
KBearZen ran the command meanwhile source EntityPlayerMP['runescapejon'/157...

I confirmed with the repo

[2018-03-27 23:09] #1640 closed, assigned to nobody

[2018-03-29 00:35] codeHusky commented on #1795
As it is right now, you currently need to use work-around code to get this ordering functionality that was incidentally present API 6 and before. Major props to whoever is able to take this up.

[2018-03-29 07:48] NeumimTo opened #1799 "Event when user changes selected hotbar slot?"
Is there any event for this action?
Tried those but they seems to be not implemented, or are not firing.
ChangeEntityEquipmentEvent.TargetPlayer
ClickInventoryEvent.NumberPress

[2018-03-29 09:14] Faithcaio commented on #1799
try `ChangeInventoryEvent.Held`

[2018-03-29 11:09] NeumimTo commented on #1799
that worked.

the class name NumberPress - it will be possible in future to distinguish between mouse scroll and number key press?

[2018-03-29 13:02] Faithcaio commented on #1799
ClickInventoryEvent.NumberPress is a ClickInventoryEvent those happen on open containers.

[2018-04-02 16:10] NeumimTo opened #1801 "Custom data & itemstacks"
Custom data gets purged from any itemstack after throwing it out of inventory.

[2018-04-02 16:33] XakepSDK commented on #1801
https://github.com/SpongePowered/SpongeCommon/issues/1353
Well known issue.

[2018-04-02 19:25] #1801 closed, assigned to nobody

[2018-04-03 15:21] Lemmmy opened #1802 "Passing invalid username to optional user arg causes error while parsing command"
Somewhere between SpongeForge 2990 and 2996, this code:
[code]
no longer works as it should.

## Before updating Sponge
`/pay Lemmmy` - works properly. `user` arg is set.
`/pay foo@bar` - works properly. `address` arg is set.

## After updating Sponge
`/pay Lemmmy` - works properly. `user` arg is set.
`/pay foo@bar` - errors - says `Error occured while executing command: Invalid username foo@bar`

[2018-04-03 15:36] dualspiral commented on #1802
Yep, that needs to be wrapped up in an `ArgumentParseException`.

[2018-04-03 17:18] Faithcaio commented on #1802
Or maybe not throw exceptions when getting a user by invalid name?
We have Optional.empty.

[2018-04-03 17:36] Lemmmy commented on #1802
@Faithcaio it used to return `Optional.empty()`; I believe a recent commit changed this behaviour (possibly accidentally).

[2018-04-03 17:40] dualspiral commented on #1802
Yeah, it's accidental. It's because I try to get an exact match before doing pattern matching to improve performance. I'm working on it now.

[2018-04-03 18:00] #1802 closed, assigned to dualspiral

[2018-04-05 21:46] mbroomfield-r7 opened #1803 "Readme could list implementations"
It would be nice if the readme mentioned all known implementations of the Sponge API.

I know there's SpongeVanilla and SpongeForge, but I remember someone in the community was making an open source server which was Sponge compatible

[2018-04-05 22:24] Lemmmy commented on #1803
https://github.com/LanternPowered

[2018-04-12 13:13] NeumimTo commented on #1799
Answered, closing

[2018-04-12 13:13] #1799 closed, assigned to nobody

[2018-04-15 07:02] #1334 closed

[2018-04-19 22:16] Dykam opened #1806 "`OptionalValue` is missing `.asImmutable()`"
`OptionalValue` seems to be missing `.asImmutable()`, while `ImmutableOptionalValue.asMutable()` exists.

The implementation however seems correct, as the returned `ImmutableValue<Optional<*>>` can be casted to `ImmutableOptionalValue<*>`.

[2018-04-19 22:33] gabizou commented on #1806
What? An Immutable value is already immutable... And no, your second sentence **can** be casted, but it won't work directly in production as they are two different types....

[2018-04-19 22:33] #1806 closed, assigned to nobody

[2018-04-21 12:38] githubl0ver69 opened #1809 "World generator crashes at large world sizes!"
[Referred to you from the Nucleus team @  #1136](https://github.com/NucleusPowered/Nucleus/issues/1136)

**My problem:**

**Nucleus's response:**

[2018-04-21 12:40] phit commented on #1809
~move to sc

[2018-04-21 12:40] #1809 closed, assigned to nobody

[2018-04-21 12:40] limbo-app commented on #1809
Hey @githubl0ver69! I've moved your issue to [SpongePowered/SpongeCommon#1883](https://github.com/SpongePowered/SpongeCommon/issues/1883).

[2018-04-22 13:08] SanderKnauff opened #1812 "ClickInventoryEvent Slots have no properties"
When reading the slot from a ClickInventoryEvent, none of the properties seem to have any value.

Example code which causes issues:
[code]

I've also attempted this with the following method combinations:

[code]

None of them return anything

### Environment
SpongeAPI 7.0.0
SpongeVanilla 7.1.0
(Also had this problem on SpongeForge 2655)

[2018-04-22 22:10] Cybermaxke opened #1814 "Replace integer ticks durations with Duration across the API."
Originally @Meronat's idea

I've noticed issues where plugin developers misinterpret the parameter and it will be better for our implementation anyway.

All the usages of ticks would be replaced by Duration, or other time API related objects (which fit the usecase). Ticks is widely used across the API, this change will cause a lot of breaking changes.

Thoughts?

[2018-04-22 22:34] parlough commented on #1814
For where we accept integers, we can deprecate those more easily, but return types are a bit more challenging and will cause breaking changes.

Switching to `Duration` provides less confusion for developers as they often misinterpret the parameter or return type, even with proper javadocs. It is also a better choice as not all implementations will necessarily limit the game to 20 tps.

[2018-04-22 22:42] dualspiral commented on #1814
I think we need to do this, as an addition, as I got caught out by it. [I mentioned at the time that a Duration version may be a good idea](https://github.com/NucleusPowered/Nucleus/issues/1122#issuecomment-379586153), though it slipped my mind as I was at work at the time so forgot to bring it up later here. I'm glad someone else remembered to do so.

It is important to note throught documentatio

[2018-04-23 06:43] ryantheleach commented on #1814
Whilst I agree, I think ticks are a relatively fundamental game design concept, let alone something fundamental to Mojang derived Minecraft servers, so it wouldn't be strictly terrible to leak.

Generally when someone schedules something on a tick basis, as opposed to time they are either using the wrong abstraction, or wish to do something periodically in game for performance reasons, as opposed

[2018-04-23 20:07] Faithcaio commented on #1812
you could try checking it on `slot.transform()` which returns the slot in the Inventory (as opposed to in the Container)

[2018-04-23 21:48] SanderKnauff commented on #1812
I also tried this without results unfortunately. I'll update the issue to reflect this

[2018-04-24 04:00] parlough commented on #1488
~move to sc

[2018-04-24 04:00] limbo-app commented on #1488
Hey @ghost! I've moved your issue to [SpongePowered/SpongeCommon#1890](https://github.com/SpongePowered/SpongeCommon/issues/1890).

[2018-04-24 04:00] #1488 closed, assigned to nobody

[2018-04-24 04:07] parlough opened #1815 "Handle Structures more thoroughly in the API including as a schematic format"
https://github.com/SpongePowered/SpongeCommon/commit/265417b5d9f78c6668007b07e019c480d05697f2

[2018-04-25 02:37] Aaron1011 opened #1816 "Allow mapping RemoteConnection to Player"
Currently, Sponge's [MessageHandler](https://github.com/SpongePowered/SpongeAPI/blob/8d7ef614ec38b00099a5d33b5bf14175465fe044/src/main/java/org/spongepowered/api/network/MessageHandler.java#L44) only provides the `RemoteConnection` that was responsible for the message being handled. On the server, it's often useful to determine which player sent a custom message. However, Sponge currently requires

[2018-04-25 02:39] Zidane commented on #1816
@Aaron1011

They cast to PlayerConnection then

[2018-04-25 02:46] Aaron1011 commented on #1816
Well, this is a little embarrassing :)

[2018-04-25 02:46] #1816 closed, assigned to nobody

[2018-04-25 04:15] ya-evgeniy opened #1817 "Scoreboard team"
I'm creating a team using this code.
`Team redTeam = Team.builder()`
`                    .name("red")`
`                    .color(TextColors.RED)`
`                    .allowFriendlyFire(false)`
`                    .prefix(Text.builder(" ").color(TextColors.RED).build())`
`                    .build();`

And I add players to it. They can not beat each other, as expected. BUT after the first dea

[2018-04-25 22:04] Zidane commented on #684
This was solved for the Player's inventory and their ender chest inventory a long time ago.

[2018-04-25 22:04] #684 closed

[2018-04-26 02:35] Aaron1011 commented on #1817
@JekaRUS: This should be fixed in the latest SpongeForge and SpongeVanilla. For future reference, any issues that occur in-game should be opened in an implementation repository (SpongeVanilla, SpongeForge, or SpongeCommon).

[2018-04-26 02:35] #1817 closed, assigned to Aaron1011

[2018-04-30 16:19] parlough commented on #973
I believe this can be handled with other events and the improvements of cause and contexts. If the dragon egg needs more special handling, a different issue can be opened with more specific features as well due to its unique behavior.

[2018-04-30 16:19] #973 closed

[2018-04-30 16:21] parlough commented on #1358
I completely forgot about this and I had two solutions ready to go API wise. I will try to get to this soon once summer starts and before 7.1 is released!

[2018-05-07 01:45] Aaron1011 opened #1820 "Move Living#lookAt implementation to SpongeCommon"
Recently, [I fixed a bug in `Living#lookAt`](https://github.com/SpongePowered/SpongeAPI/commit/1a24d8f17e37d337fd8f42aa198a892fa1b9965b) which caused an entity's rotation values to be set to `NaN` if the source and target positions overlapped.

It turns out that `Living#lookAt` also appears to have a yaw-related bug - if the z-distance between the two locations is 0, then [the method will end up d

[2018-05-07 02:36] kashike commented on #1820
The implementation of this method should also be moved to SpongeCommon.

[2018-05-07 02:46] liach commented on #1820
is that method even necessary? i recall windy added it.

[2018-05-07 23:57] evanpenner opened #1821 "Add getMaxCapacity to fluid tank API"
Could a method be added to the fluid API which returns the max capacity/volume a tank can hold. This would be useful to have.

[2018-05-08 08:58] parlough commented on #1821
This will end up being a property of sorts. Looking at this quickly, I noticed our API has not really changed at all to reflect the changes in Forge. When I get a chance, hopefully this weekend, I will look at getting this in and doing some other non-breaking cleanup.

Thanks for the suggestion!

For my future reference: https://github.com/MinecraftForge/MinecraftForge/blob/16bfd8cef1d12ee9ca0de11

[2018-05-09 01:27] BrainStone opened #1822 "Missing Key `Keys.POTION_TYPE`"
I'm missing a key to set the potion type (`Potion` NBT tag) of a potion, as very weird things happen when the tag is missing.

Also it should be set to `minecraft:water` by default.

Also the potion effect types are missing:

- Empty
- Water
- Thick
- Awkward
- Mundane

See: https://minecraft.gamepedia.com/Potion#Item_data

[2018-05-09 10:08] Defman opened #1823 "Upgrade Guice from version 4.1.0 to 4.2.0"

[2018-05-09 10:11] parlough commented on #1823
This is planned for the API 8 release. Could maybe move it forward to 7.1 if someone has a good enough reason.

[2018-05-09 10:42] Defman commented on #1823
The only reason i brought it up was that I shadowed multibindings 4.2, and noticed the readme that informed me that it was empty due to the fact it is included in guice by default. Happened to be guice 4.2 and not 4.1, so just had to change the version of multibindings. Just thought I might mention it here, since theres no "breaking" changes.

[2018-05-09 23:51] BrainStone commented on #1822
Looking at the NBT data, I think it would be worth to create another data type for the potion types.

As extended and amplified potions have their own type (See attached screenshot). So I'd suggest adding a `PotionType` interface and `Keys.POTION_TYPE`.

![ss 2018-05-10 at 01 43 44](https://user-images.githubusercontent.com/4106544/39845186-b60fe6da-53f4-11e8-89e0-5db2d9751ef0.png)

[2018-05-10 05:21] gabizou commented on #1822
But we already have `PotionType`, just not data as such. Would you say then that each potion type should have it's own potion item tag? Does it get affected by the potion list in game if you change the types? Does it add on to it?

[2018-05-10 06:55] kory33 opened #1824 "Type inconsistencies in implementations of ValueContainer#getValue?"
Hello, I have a question on Data API.

I wanted to implement my own version of abstract data manipulator. I've already verified that it works for simple data constructs. While writing type proofs, I've found that it is not easy to ensure that the return value of `getValue` is `Optional<V>`. The question is; is it OK to return `Optional<Value<E>>` or `Optional<ImmutableValue<E>>` instead of `Option

[2018-05-10 14:42] gabizou commented on #1824
It's never OK to return a weaker type. The abstract implementation provided in the API is a lose contracted and *semi functioning* implementation to provide developers ways to implement their own Data without having to write all of the boilerplate code themselves. It's been intended to strip away the abstract implementation in #1198, but it's not completed as other priorities take precedence.

To

[2018-05-10 16:37] kory33 commented on #1824
Thank you for the reply. Now I see why the signature is like that.

I'm not yet clear with the (currently provided) implementation of Abstract(Immutable)Data.
If I'm not mistaken, `AbstractData#getValue` *always* returns a `Value` wrapped in `Optional`, and `AbstractImmutableData#getValue` *always* returns an `ImmutableValue` wrapped in `Optional`(I recognize that ensuring `E` is upto the plugin d

[2018-05-10 16:56] gabizou commented on #1824
You're confusing the *declared type* versus the *instance type*. Yes the internal `Map` declares the entries as `Supplier<Optional<Value<?>>` etc. but the actual return type has the contract of *at least returning the type `Value`* whereas the actual implementation of many [differs based on the `Key` used as demonstrated in some implementations](https://github.com/SpongePowered/SpongeCommon/blob/b

[2018-05-10 19:22] BrainStone commented on #1822
Currently there's only `PotionEffectType`. And I suggest adding `PotionType`, for all items that support it (I think that's Potion, Splash Potion, Lingering Potion and Tipped Arrow). When the `Potion` tag is set it determines the name of the potion and also adds an effect. The PotionEffects in the `CustomPotionEffects` tag are added on top of it.

[2018-05-10 19:49] kory33 commented on #1824
hmm, I've tried the following code in `spongevanilla-1.12.2-7.1.0-BETA-22`(it's Kotlin code but I don't think that matters much):
[code]
Declared types of those `val` variables are all inferred types. As the types suggest, I would expect `MutableBoundedValue` to be in both optionals.
However, what is logged is
[code]
Therefore at the last line, `ClassCastException` is thrown. Is this still what is

[2018-05-10 23:17] Cybermaxke commented on #1822
Yeah, `PotionType` isn't available in the API. I already implemented it in lantern, in case someone wants to port it over:
https://github.com/LanternPowered/LanternServer/blob/master/src/main/java/org/lanternpowered/server/effect/potion/PotionType.java
https://github.com/LanternPowered/LanternServer/blob/master/src/main/java/org/lanternpowered/server/effect/potion/PotionTypes.java

[2018-05-11 00:03] gabizou commented on #1824
Yes... You'd still get a `ClassCastException` because you're declaring the type as `ImmutableBoundedValue<Double>`, which is what the [return type would be](https://github.com/SpongePowered/SpongeAPI/blob/7ac34cb45149e3891e79d005e2a36f4ac7bb0d76/src/main/java/org/spongepowered/api/data/value/mutable/MutableBoundedValue.java#L38) (the pointer is to the latest commit that has edited the file, so tha

[2018-05-11 01:31] kory33 commented on #1824
I see.

So that goes back to my original question; is this implementation ok?

[edit] by "this implementation", I mean the implementation in which the mutable manipulator returns `Optional<Value<E>>` and the immutable manipulator returns `Optional<ImmutableValue<E>>` both casted to the former type when `getValue` is called with `Key<Value<E>>`.

[2018-05-11 15:24] Himmelt opened #1825 "Is there no BlockType ORANGE_GLAZED_TERRACOTTA in BlockTypes ?"
I can get the BlockType of minecraft:orange_glazed_terracotta in game by `BlockState#getType` , but why there is no constant field for this type ?

[2018-05-12 18:30] kory33 commented on #1824
Let me rephrase the question...

Suppose I have an implementation of immutable manipulator which returns `ImmutableValue<E>` wrapped in the `Optional` when inquired a value with `getValue(Key<Value<E>>)`. Should such an implementation be avoided and should it *always* return `Value<E>` wrapped in the `Optional`, unlike the code in SpongeCommon does currently?

[2018-05-13 09:14] Faithcaio commented on #1795
You can now get an inventory with different ordering using `Inventory#transform`.

[2018-05-13 09:14] #1795 closed, assigned to nobody

[2018-05-16 01:45] BrainStone opened #1829 "Allow accessing and modifying of NBT data (through a DataContainer)"
I am missing the possibility modify data of objects that is not built in the API. For example if I wanted to modify ItemStacks of modded items, then there's no easy way to modify their NBT data without having to cast them to MC ItemStacks.

I suggest adding a key like `Keys.RAW_DATA` that returns the NBT of the object as a DataContainer (should also allow setting).

Possibly related: SpongePowered

[2018-05-16 02:05] BrainStone opened #1830 "Provide more getters and setters for data that is genuinely connected to the corresponding objects"
The issue at hand is that to access and modify data of objects (like ItemStacks) you have to make use of the data API. While having this is really useful it seems very very clunky for data that is genuinely interconnected with the respective object.

Examples of this would be enchantments of ItemStacks. While an ItemStack might not always have enchantments, enchantments are still very closely conn

[2018-05-16 02:12] BrainStone commented on #1825
I just checked myself and infact this particular one is missing.

[2018-05-16 14:25] BrainStone commented on #1825
@kashike Who would be bes suited for this?

[2018-05-16 14:58] BrainStone commented on #1822
@Cybermaxke would you mind making a PR? Considering most of the code is already available.

[2018-05-16 20:02] parlough commented on #1825
Fixed in 9ce554433725f204aebd9b6d2daa5eeaa6a03ef6

[2018-05-16 20:02] #1825 closed, assigned to parlough

[2018-05-18 11:27] Himmelt opened #1831 "Interface SpectralArrow dose not extends Arrow ?"
`org.spongepowered.api.entity.projectile.arrow.SpectralArrow` should extends from `org.spongepowered.api.entity.projectile.arrow.Arrow`.

[code]

[2018-05-18 16:53] #1831 closed, assigned to nobody

[2018-05-18 18:22] gabizou commented on #1830
I'm going to have to shut this down as in the past, we've seen where API's have to change, for good or for bad. While our deprecation policy is pretty good in terms of deprecating and removing the next major API version, I don't see the benefit of introducing what would be considered guarantees to various objects. The only reason why these guarantee methods exist on `Entity` interfaces is due to t

[2018-05-18 18:22] #1830 closed, assigned to gabizou

[2018-05-18 22:09] parlough commented on #1774
This has been solved with https://github.com/SpongePowered/SpongeAPI/pull/1779

[2018-05-18 22:09] #1774 closed, assigned to nobody

[2018-05-18 22:13] parlough commented on #1496
The following is connected: https://github.com/SpongePowered/SpongeAPI/issues/1287 (magma from walking on)

[2018-05-19 01:45] gabizou commented on #1829
@BrainStone and I think @pie-flavor I think it's time to officially call [DataHolder#setRawData()](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/DataHolder.java#L68) to officially work properly. Considering that the API is not designed to re-invent the storage query wheels, I'd be willing to expose the raw data container output such that the full

[2018-05-19 01:50] gabizou commented on #1694
Seeing as we're at a standstill due to how mods treat damage values, the item meta is accessible through the `DataContainer` if you were to deserialize with an appropriate damage value as shown [here in the implementation](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/item/inventory/SpongeItemStackBuilder.java#L172). Fortunately, 1.13 is bringin

[2018-05-19 01:50] #1694 closed, assigned to gabizou

[2018-05-19 02:01] gabizou commented on #1731
Looking at this issue now, I'm looking at how to implement the changes, due to the requirement to create the `TileEntity` and then have it create the packets and then remove the tile entity without mod issue is somewhat worrisome, but I can give it an attempt with all the vanilla tile entities, and then proceed to try with some modded tile entities.

The issue is that a majority of tile entities h

[2018-05-19 02:03] gabizou commented on #1485
Just going to close this out as our deprecation policy has been applied and API 6 is no longer supported.

[2018-05-19 02:03] #1485 closed, assigned to gabizou

[2018-05-19 02:10] parlough commented on #1821
https://github.com/SpongePowered/SpongeAPI/tree/feature/tank-max-capacity
https://github.com/SpongePowered/SpongeCommon/tree/feature/tank-max-capacity
https://github.com/SpongePowered/SpongeForge/tree/feature/tank-max-capacity

[2018-05-19 02:14] gabizou commented on #436
I don't believe we'll be able to get to rewriting our configuration system this soon to make an API 7 release. Perhaps on API 8?

[2018-05-19 02:17] gabizou commented on #760
To summarize, all of this issue has been resolved, except the bother of whether Players are considered for sleep and nearby mob spawning. AI can already be tricked to not track the player, and collision detection has already been written in.

[2018-05-19 02:19] gabizou commented on #975
Not sure what the point of the API resulted in, but PortalAgents are exposed, and with mods, we aren't able to take advantage of over half of these issues. Going to close as the PortalAgent can be created by plugins to manage their own portals with entry and exit points, and our events are powerful as is to modify portal teleportation. Unless other objections are brought up, I'll keep the issue cl

[2018-05-19 02:19] #975 closed

[2018-05-19 02:20] gabizou commented on #599
This has long been implemented with #1582. Closing.

[2018-05-19 02:20] #599 closed

[2018-05-19 02:22] gabizou commented on #598
Not sure what happened with this issue, but I'm of the opponent that the data management for this would be either using a combination of a `List<UUID>` of entities to avoid drawing towards, or add something similar to the target event where the experience orb is moving towards the player. Or can make it a value on the `Player` to avoid picking up experience orbs. Client would glitch out for sure,

[2018-05-19 08:22] Cybermaxke commented on #1821
Where do we have fluid "tanks" in the API? The only thing I can see is `FluidStack`s.

[2018-05-19 14:50] gabizou commented on #1821
[FluidTankData](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/extra/fluid/data/manipulator/mutable/FluidTankData.java#L43) has been available as long as `FluidStack`s have been around. The data manipulator was made to accommodate Forge's fluid API at the time it was written, which meant it had directional interfacing, but no real "tank" status. I coul

[2018-05-19 15:28] treyzania commented on #436
Copying what I posted in the Sponge discord earlier today as it's somewhat relevant to this discussion:

[2018-05-20 05:29] Faithcaio commented on #1443
https://github.com/SpongePowered/SpongeAPI/commit/43d84967ccc730c54015dcedde612ad4d43424ee

[2018-05-20 05:29] #1443 closed, assigned to nobody

[2018-05-20 06:26] Faithcaio commented on #1812
Try again.
Comment on https://github.com/SpongePowered/SpongeCommon/issues/1912 if its not working as expected.

[2018-05-20 06:26] #1812 closed, assigned to nobody

[2018-05-20 19:24] 14mRh4X0r opened #1835 "BlockState.MatcherBuilder#build() throws a NegativeArraySizeException when no traits are specified"
This can be fixed by removing the ` - 1` part in `new BlockTrait<?>[this.traits.size() - 1]`.

(Creating an issue instead of a PR because it is a trivial change)

[2018-05-24 23:32] pie-flavor opened #1837 "No Key for the armor stand property DisabledSlots"
(Empty issue description)

---
**Edit:**  (ryantheleach)
https://minecraft.gamepedia.com/Armor_Stand#Entity_data|

https://bugs.mojang.com/browse/MC-77737

https://www.reddit.com/r/Minecraft/comments/2czu1p/armorstand_disabledslots_flag_system/

[2018-05-25 19:54] Xenmai opened #1838 "EntityArchetypes not accepting Data Keys properly"
Hi there.

I'm having an issue when giving keys to entity archetypes. I've tried both inside the builder using `EntityArchetype.Builder#set(Key, Value)` and with an already built **EntityArchetype** using `DataHolder#offer(Key, Value)`. The latter returns an **unsuccessful DataTransaction**, even though I'm checking if the **DataHolder supports the key** first (and it does).
So it seems **EntityAr

[2018-05-25 23:09] gabizou commented on #1838
~move to sc

[2018-05-25 23:09] limbo-app commented on #1838
Hey @Xenmai! I've moved your issue to [SpongePowered/SpongeCommon#1927](https://github.com/SpongePowered/SpongeCommon/issues/1927).

[2018-05-25 23:09] #1838 closed, assigned to nobody

[2018-05-26 20:10] ST-DDT opened #1839 "Economy's Accounts still require a cause for their actions"
While checking whether the code examples in SpongeDocs actually compile I stumbled upon some outdated parts. While trying to update these snippets I found that [Account](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/service/economy/account/Account.java#L58) still require an explicit cause (argument) for each action.
For the rest of the API this concep

[2018-05-26 20:30] parlough commented on #1839
I believe this is intentional to allow economy stuff to be done off the main thread, but I'm not sure.

[2018-05-26 20:36] gabizou commented on #1839
Pretty sure it was for the ability to have off threaded ness for account management. Since for example, you can have a server account that is being altered by other servers (bungee networking) to get changes.

[2018-05-26 20:42] #1839 closed, assigned to nobody

[2018-05-26 21:00] ST-DDT commented on #1839
Just to be sure how is this supposed to work, is the given code correct / the recommended way of doing it?

[code]
This would only work on the main Thread.
For the async usage we would probably have to use this piece of code:

[code]

[2018-05-27 06:01] gabizou commented on #1824
Re-opening because I may end up breaking Values API by splitting up the different types into immutable base types and then mutable types where `asMutable()` will be available (by default, all values would be immutable in a small regard, unless casting is considered), but we will have strict `Immutable` types still. This way we can provide the guarantee based on the `ValueContainer`s mutability pre

[2018-05-27 15:48] #1773 closed, assigned to nobody

[2018-05-29 12:39] JBYoshi commented on #1741
How about making `ResultInventoryAdapter` a `final` class with generic typing? Then the compiler won't even let you *do* a cast (without casting to `Object` first, which most people don't know about).
[code]

[2018-05-29 14:55] hsyyid commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/entity/living/player/Player.java#L104

`openInventory` doesn't take a cause argument so the description for the exception doesn't make sense

[2018-06-01 00:46] Aaron1011 opened #1840 "Generate separate artifact for annotations processors"
In Gradle 5.0, [any annotations processors on the compile classpath will be ignored](https://docs.gradle.org/4.7/userguide/java_plugin.html#sec:java_compile_avoidance). To ensure that plugins can choose to upgrade to Gradle 5.0, we should generate a separate jar containing our annotation processors.

For plugins using SpongeGradle, we can make this change completely transparent by adding the prope

[2018-06-09 15:59] XakepSDK opened #1842 "Rename DataManipulator 'from' to 'fill' or 'fillFrom'"
Data classes contains method named `from(...)`, maybe rename to `fill(...)` or `fillFrom(...)`?

[2018-06-09 15:59] XakepSDK commented on #1842
@gabizou

[2018-06-09 19:41] gabizou commented on #1824
Closing as this will be resolved when #1843 is merged.

[2018-06-09 19:41] #1824 closed, assigned to nobody

[2018-06-12 19:44] bloodmc commented on #1546
@lucko I agree with option 2

`Require that ContextCalculators are thread safe, and do not access any non-thread safe aspect of Sponge or the server.`

For GriefPrevention, I make a ton of permission calls async that require active contexts in order to make sure the proper permission are checked. It wouldn't make sense to only support permission calls async without active contexts.

The plugins im

[2018-06-14 02:56] ryantheleach opened #1845 "Improve PlayerJoinData to support extra data."
History:

https://github.com/SpongePowered/SpongeCommon/issues/1282
https://github.com/SpongePowered/SpongeCommon/pull/1710

PlayerJoinData is inconsistent and impossible to fix correctly without API breaks due to badly named & semantics in API7.

It is planned, that the following data is going to be added to PlayerJoinData.

hasplayedbefore, firstjoined, lastjoined, lastplayed

This will clear up

[2018-06-14 19:51] randombyte-developer commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/bf0c2f269920f6ebebad701948976a4af3c31f3d/src/main/java/org/spongepowered/api/event/network/ClientConnectionEvent.java#L58

`the this`

[2018-06-15 21:30] #1355 closed

[2018-06-17 12:50] NeumimTo opened #1847 "Current inventory API (and its implementation)"
I would like to bring up a discussion related to current state of queryable inventory api.

First of all i understand that inventories, are poorly desinged by mojang and writing an abstraction layer on top of that for sponge and/or forge is not easy task to do, but i belive that current api/impl brings more problems than actual features.

I'm not sure how other plugin developers feel about this, b

[2018-06-17 13:06] NeumimTo commented on #1847
update: fixed some typos

[2018-06-17 13:45] XakepSDK commented on #1847
I think, querying slot indexes is broken.
Just look at these examples:
Code:
[code]
Result: https://puu.sh/AGT9k/649da70c99.png
[code]
Result: https://puu.sh/AGTaz/9d2ca8bad8.png
[code]
Result: https://puu.sh/AGTbp/8c4a04ff2d.png
[code]
Result: https://puu.sh/AGTcC/01ed6cb87c.png
[code]
Result: https://puu.sh/AGTdw/7cec408a8f.png

So, because it returns not just 1 slot, but set of slots, it return

[2018-06-17 17:05] ryantheleach commented on #1847
I have to strongly disagree with 1 part.

IF a mod has supported, identifiable slots, Sponge should absolutely make best effort to support them.

Yes some things are going to be unexpected / impossible to support without building per-mod support, but the large bulk of modded inventories **can** be easily handled.

[2018-06-17 17:25] XakepSDK commented on #1847
@Faithcaio

[2018-06-17 17:35] Faithcaio commented on #1847
Yep. Thats why I plan to break it all in API8.

I will move methods from OrderedInventory up to Inventory so you will be able to just call getSlot.

I don't like it either.

Think about it. Slots really are just Inventories of size 1.

I had to add a method like this so you can deal with a Slot having multiple parents. (Container and the real inventory)
If someone has a good idea, give it to me.
`

[2018-06-17 18:41] Cybermaxke opened #1849 "More inventory peek/poll/set actions."
In lantern I introduced new peek actions for inventories, this was added for the following actions:
* `offer` -> `peekOffer`
* `set` -> `peekSet`
* `poll` -> `peekPoll`

Using these actions would give a possible successful result that isn't applied to the inventory, but gives all the `SlotTransaction`s that would occurr if it was successful, and being able to apply these transactions afterwards.
T

[2018-06-17 18:41] Cybermaxke commented on #1849
@Faithcaio thoughts?

[2018-06-17 18:43] parlough commented on #1498
Replaced by https://github.com/SpongePowered/SpongeAPI/issues/1849

[2018-06-17 18:43] #1498 closed, assigned to nobody

[2018-06-17 18:43] parlough commented on #1849
I would love something like this as it would allow for removing a lot of duplicated and bug-ridden code from plugins. I first brought it up here - https://github.com/SpongePowered/SpongeAPI/issues/1498

[2018-06-17 20:40] NeumimTo commented on #1847
If the slots are inventories of size 1 I still cannot find a reason why they should inherit Iterable<Inventory>. I guess the initial intetion was here to because of duck typing?

Another thing what confuses me is why the Inventory's signatre looks like?

    public interface Inventory extends Iterable<Inventory>, Nameable {

I would expect it to be

    public interface Inventory extends Iterable<

[2018-06-18 01:12] ryantheleach commented on #1847
Collections that contain a single element are still iterable.

Collections that are empty are iterable.

Why should Slot be iterable from a users point of view?

For consistencies sake, so the same code that filters an inventory can filter a single slot without adaption.

Because you are iterating over the inventories, not the slots.

Potentially you could end up iterating through an inventory tha

[2018-06-18 05:31] XakepSDK commented on #1847
What we currently need:
1. Better api documentation
2. More documentation inside implementation, for experienced users, who want to understand, how it works without thousand hours of reverse engineering
3. Documentation for spongedocs
4. Do something with queries, because they are too big(`InventoryQueryTypes.MY_BEST_QUERY.of(MyBestQueryClass.of(MyBestQueryValue))`)
Maybe add reverse mechanism to

[2018-06-18 05:54] Faithcaio commented on #1849
Also stuff thats already on my list :)
I'd name it smth. like `tryOffer`
The TransactionResult will get all SlotTransactions that occured so that you can do stuff with it similar to the inv-events.

[2018-06-18 05:59] ryantheleach commented on #1849
tryOffer sounds like it's going to throw.

[2018-06-18 06:07] Faithcaio commented on #1847
correct ryan.

Best example for that is a queryresult:
If you query for `InventoryRow` you'll get an Inventory containing all those Rows. The rows then consist of slots.
To get the slots there is `Inventory#slots` (that is getting changed to actually return Slot in API8`

Takes time. That I don't have.

How about this: https://github.com/SpongePowered/SpongeAPI/blob/2f32e54f3014e2cd309de8777274876

[2018-06-18 06:23] Faithcaio commented on #1849
Maybe just keeping the methods on Inventory like they are and instead make InventoryTransactionResults more usefull.
[code]

[2018-06-18 06:43] NeumimTo commented on #1847
I think it would be enough to remove deprecated annotation from query(slotindex) query(slotpos) to reduce the boilerplate code for simple yet common queries

[2018-06-18 06:48] ryantheleach commented on #1000
Document how to save schematics on the Schematic JD, or otherwise provide a helper method.

https://github.com/SpongePowered/Cookbook/blob/master/Plugin/CopyPasta/src/main/java/org/spongepowered/cookbook/plugin/CopyPasta.java

[2018-06-18 14:36] XakepSDK commented on #1847
My way allows to chain queries.

[2018-06-18 15:17] Cybermaxke commented on #1847
@Faithcaio I prefer `Inventory query(InventoryProperty property)` over `Inventory queryIn(Inventory inventory)`, the query methods should be in the same place IMO (for this case).

[2018-06-20 01:09] pie-flavor commented on #1847
I don't really care how the API looks, since verboseness clarifies intent. I will however say that the current behavior of `transform()` is very unwieldy and non-obvious. The default should be the most common use case, and I can't think of a single use case for the union inventory, whereas a very common interaction is to just get the top inventory. I much preferred Bukkit's system, where `Inventor

[2018-06-20 05:46] Faithcaio commented on #1847
Here have some use-cases for having the Container instead of the "top" inventory in the event:
`You click in the bottom Inventory.` `You shift-click into the bottom Inventory`

When a Player interacts with an open Container all the Slots he can click are inside that one View.

Bukkit only had to write wrappers for 100% known inventories, we also try to support all modded inventories.
What does "to

[2018-06-20 15:31] Zidane commented on #1847
We're not changing the API to be a Vanilla Inventory API.

[2018-06-20 15:33] Zidane commented on #1847
Also, if you dislike breakages @NeumimTo then you really aren't going to like API 8. I never, in the history of this project, ever gave implied stability to plugins. Sometimes shit breaks, @Faithcaio is human just like you and the Vanilla inventory system is, as of 1.13, the worst part of the codebase by hundreds of miles. Then once you throw in mods its a miracle that @Mumfrey / @Faithcaio ever m

[2018-06-23 15:11] Faithcaio commented on #1600
will get adressed in https://github.com/SpongePowered/SpongeAPI/pull/1848

[2018-06-23 15:11] #1600 closed, assigned to nobody

[2018-06-23 15:12] Faithcaio commented on #1849
see https://github.com/SpongePowered/SpongeAPI/pull/1848 for improved InventoryTransactionResult

[2018-06-23 15:12] #1849 closed, assigned to nobody

[2018-06-24 02:08] Aaron1011 opened #1851 "GenericArguments.userOrSource never selects command source"
Currently, `GenericArguments.userOrSource` always requires a username to be passed as an argument. Omitting the argument will never cause the running player to be chosen as a source.

Test plugin demonstrating the bug:

[code]

Running `/user-test` as a player produces the following output:

[code]

[2018-06-24 09:29] ST-DDT commented on #1851
AFAICT the [`UserCommandElement#parseValue(CommandSource, CommandArgs)`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/command/args/GenericArguments.java#L1139) is missing the `args.hasNext() && this.returnSource` check that is present in [`PlayerCommandElement#parseValue(CommandSource, CommandArgs)`](https://github.com/SpongePowered/SpongeAPI/blob/bl

[2018-06-24 09:37] dualspiral commented on #1851
[That is being taken care of here](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/command/args/GenericArguments.java#L1143).

It's actually missing `!hasNext()` in the [if statement in the first line of `parse`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/command/args/GenericArguments.java#L1168). It's o

[2018-06-24 09:43] #1851 closed, assigned to dualspiral

[2018-06-24 22:24] Aaron1011 opened #1852 "GenericArguments.userOrSource consumes element, even when source is returned"
If `GenericArguments.playerOrSource` ends up using the command source instead of a command element, the non-player command element is still available for use by the next `CommandElement`. However, this is not the case for `GenericArguments.userOrSourcd`:

[code]

Running `/user-parse 0` fails with

[code]

However, the same invocation succeeds if `GenericArguments.userOrSource` is replaced with `G

[2018-06-24 23:07] dualspiral commented on #1852
Ugh, missed a state check/set. On it now.

[2018-06-24 23:11] #1852 closed, assigned to nobody

[2018-06-26 11:11] ST-DDT opened #1853 "Marker for classes that should not be referenced directly"
Based on https://github.com/SpongePowered/SpongeCommon/issues/1956.

Currently the information about stale/leaked references is present only in the [Docs: Storing References](https://docs.spongepowered.org/stable/en/plugin/practices/bad.html#storing-references). It would be nice if we could add some kind of marker that the user will see during development time that references should not be stored.

[2018-06-26 11:37] XakepSDK commented on #1853
Annotation + support for that annotation in javac and/or support in idea plugin.
https://github.com/minecraft-dev/MinecraftDev

[2018-06-27 14:03] ustc-zzzz opened #1854 "Conversion between NBTs and Strings losslessly"
Is there any way to convert between `NBTTagCompound`s (maybe `DataContainer`s in SpongeAPI) and `String`s losslessly? For example, in forge mods we can use `net.minecraft.nbt.JsonToNBT#getTagFromJson` and `net.minecraft.nbt.NBTTagCompound#toString` to complete the conversion between those two types, but in SpongeAPI I could not find methods which look like they could do these things.

I have consi

[2018-06-27 14:13] Cybermaxke commented on #1854
Converting `Container`s is done by using `DataFormats`:
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/persistence/DataFormats.java#L32
No idea if all data types are persisted in the JSON and HOCON formats.

[2018-06-27 14:21] ustc-zzzz commented on #1854
@Cybermaxke well, `org.spongepowered.api.data.persistence.DataFormats#NBT` seems OK...It's a binary format, maybe I should escape some weird characters or just apply base64 on it...so is there other solutions for human-readable strings, or can we just add another field for human-readable strings (it can be named `NBT_UTF_8_STRING` or something else) to SpongeAPI and implement it?

[2018-06-27 19:30] bloodmc opened #1855 "TextTemplate does not support multiple colors"
[code]

Here is a screenshot showing output of the above text template.

![bug](https://i.imgur.com/mVP9LWT.png)

The issues I see are as follows

1. You cannot use multiple colors as the last specified seems to win.
2.  `TextColors.GREEN` should make argument green. I know you can set the arg color on the template itself but this shouldn't be required.
3. TextTemplate args should support passing

[2018-06-27 21:35] randombyte-developer commented on #1000
Double empty line: https://github.com/SpongePowered/SpongeAPI/blob/d11dd158943f96c0ca1d91ebe53d9296baf4199d/src/main/java/org/spongepowered/api/event/cause/entity/damage/source/DamageSource.java#L153

[2018-06-28 01:30] ryantheleach commented on #1854
We should consider having a 'mojangson' option for outputting and parsing, DataContainers to NBT, to string left up to the implementation to implement.

This would be the most portable and well recognized option in the MC community.

Or are there still ambiguous serialization cases with it?

@Cybermaxke Lantern et all, could either recreate it, or use their own format when using this serializer?

[2018-06-28 11:49] Cybermaxke commented on #1854
@ryantheleach I don't really have a true mojangson parser in lantern atm, but I will try to implement it and then port it over to sponge.

[2018-06-28 11:54] ryantheleach commented on #1854
@Cybermaxke my suspicion, at least for SpongeCommon is that it would be easier to just go to NBT then let Minecraft turn it into Mojangson.

My hesitations about adding it to the API were:

1. if it would explicitly state it to be Mojangson.
2. our (lack of) control over Mojangson.
3. whether implementations would be allowed to differ.

We could say it's just a format that has the same capabilitie

[2018-06-28 12:01] Cybermaxke commented on #1854
Plugin devs may not expect different output types when using a specific data format. This is something that should be consistent across implementations, if you want a different format, provide a new one. Another option is to provide the same parser across implementations and make it compatible with mojangson, but we can add our own custom parsing capabilities (if desired).

I am also directly pars

[2018-06-28 12:03] ryantheleach commented on #1854
I'd shy away from adding customized parsing capabilities, I'm keen to see something that's portable from vanilla communities.

I'm not sure of the maturity of the projects, but they may be a starting point as they are MIT Licensed.

https://github.com/momothereal/Mojangson
https://github.com/Eisenwave/eisen-nbt

Edit: Just realized I might be coming off a bit unrespectful of the existing code in L

[2018-06-28 12:53] Cybermaxke commented on #1854
LanternNBT doesn't have any Mojangson parsing capabilities, at least not atm. If I support it for LanternNBT, I am going to add custom parsing capabilities to support all its data types, while retaining vanilla compatibility if the data gets serialized.

[2018-06-28 14:34] Cybermaxke commented on #1854
@ryantheleach The parser I was working is mostly done, maybe more error handling. And I need to do more testing, you can checkout my progress here:
https://github.com/LanternPowered/LanternServer/pull/59

[2018-06-30 18:27] NeumimTo opened #1856 "TextTemplate needs simpler serialization structure."
https://docs.spongepowered.org/stable/en/plugin/text/templates.html

If you dump current text template into a json string it outputs an unreadable mess, which is not suitable to use in any plugin configuration where you need to have parametrized text.

Its simply too overcomplicated object structure, if you are having more parameters/different text styles in one TextTemplate the output string is a

[2018-07-02 05:29] ItsDoot commented on #1000
Needs capitalization after `@return`:

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/util/ban/Ban.java#L108

Also, there seems to be some inconsistencies in the file, where sometimes it is referred to as `this ban`, and sometimes as `the ban`.

[2018-07-02 13:49] XakepSDK opened #1857 "Optional<ItemStack> to empty itemstack(ItemStack.empty())"
ArmorEquipable interface has many methods to get/set items in armor slots and hand. These methods return optionals, but there is empty itemstack. Maybe change these methods to return just ItemStack, because api has empty itemstack?
Also, replace every Optional<ItemStack> in api to just ItemStack.

[2018-07-02 14:26] gabizou commented on #1857
Pretty sure #1848 is going to resolve a lot of that, right @Faithcaio?

Also, we can't blindly replace every `Optional<ItemStack>` with an `ItemStack.empty()` guarantee as the optional might mean something different now (like an inventory not having a slot).

[2018-07-02 16:01] Faithcaio commented on #1857
For API8 empty Optional means that the Slot does not exist. So replacing all Optional wont work.
E.g. `inv.peek(slotIndex)` is the same as `inv.getSlot(slotIndex).map(Slot::peek)`

So in theory I could remove the Optionals on ArmorEquipable.
Will have to check if all implementing it actually have all those Slots.

Also `ArmorEquipable` should maybe be renamed. Its not only armor but also main and

[2018-07-02 17:07] XakepSDK commented on #1857
Good point. Some mod can modify hand types or remove/add some slots in ArmorEquipable. I did not think about that.

[2018-07-02 17:07] XakepSDK commented on #1857
So, if you want to talk about `ArmorEquipable` renaming here, you can just reopen this issue.

[2018-07-02 17:10] Faithcaio commented on #1857
I'm actually fine with removing Optional on the ArmorEquipable.
Only stuff that provides all slots implements it.

[2018-07-02 17:17] XakepSDK commented on #1857
And what if some mod removes some armor slot?

[2018-07-02 19:44] Faithcaio commented on #1857
Then we have a problem anyways. But probably the mod would hide the slot instead.

[2018-07-03 00:56] Aaron1011 opened #1858 "GameProfileManager#getAll methods are nearly useless"
`GameProfileManager#getAllById` and `GameProfileManager#getAllByName` return a collection of `GameProfiles`, despite the fact that not all UUIDs/names in the input may have associated `GameProfiles`. This makes it impossible to properly use the result of the method if any of the lookups fail.

These methods should be brought into line with their corresponding methods in `GameProfileCache` - they s

[2018-07-03 19:05] randombyte-developer opened #1860 "Add Scoreboard / Objective change events"
Just realized and confirmed by @Aaron1011 that there is no event for scoreboard changes.

[2018-07-04 07:20] ryantheleach commented on #1860
Are you interested in an event when the **actual, real** backing data gets changed? When the 'main' scoreboard that is persisted to a world, is changed.

Or an event when **any** scoreboard is modified?

**Edit:** I guess what I'm really asking for is usecases, so you don't get stuck in a loop of scoreboard updates.

[2018-07-04 08:00] randombyte-developer commented on #1860
I don't know my way around scoreboards really. I was asking for someone else. It is about a mod which displays stats to the players on the scoreboard. We were looking for a way to get notified for changes of these stats. In the end we found a work around (or rather the proper way of doing it): the mod fires an event for these kind of data changes.

So I don't have a use-case anymore.

[2018-07-06 23:48] xcube16 opened #1861 "Problems with DataView"
Lets jump right into some of the problems and things I dislike about Sponge's DataView system,
then look at some solutions.

## Major Problems with DataView

* set() allows any object in, even the ones that can't be broken down into primitives. This may be one of the biggest problems that DataView is facing. This means a nearly unlimited number of types can come out of get() causing serializers (D

[2018-07-07 14:42] #1857 closed, assigned to nobody

[2018-07-07 14:43] Faithcaio commented on #1857
https://github.com/SpongePowered/SpongeCommon/pull/1946

[2018-07-10 01:27] mbax opened #1862 "API for plugins to consult if stats collection is enabled"
Passes plugin to the method, so Sponge can include each plugin separately in the config (updating as it gets new plugins), for per-plugin as well as global settings.

Code possible suggestions:

[code]

Example usage
[code]

Config examples:

[code]

[code]

[code]

### Other thoughts

* Plugin devs will want a way to allow easy enabling
  * Proposal: General Sponge command. `/sponge stats <enable

[2018-07-10 06:25] ST-DDT commented on #1862
Does this stats API refer to a MCStats.org like stats service/feature?

(Would it be SpongePowered? Is it possible to help developing it?)

[2018-07-10 07:26] Yeregorix commented on #1862
I don't think Sponge must be responsible of the configurations. I would let this for the different stats collection systems as long as they follow our minimum requirements. Because, otherwise they might still use their own config files, even if Sponge has already one, to have different options and users will be lost between the different files.

[2018-07-10 08:02] liach commented on #1862
FYI this feature is mainly added for ore. The major issue with the feature is that it is almost completely useless outside of the ore environment.

[2018-07-10 12:33] Yeregorix commented on #1862
This does not seem to be a problem. If you don't want to use it then don't use it. You will just be rejected from Ore which is okay if you don't want to post your plugin on Ore.

[2018-07-10 14:50] mbax commented on #1862
@ST-DDT This is based on discussion of how to better enable server operators to control which of their plugins send stats data to external services (mcstats, bstats, etc.). At present there is no plan for Sponge to operate our own stats service. Though it would be awesome, we don't presently have the resources (in particular our web-based dev resources are pointed strongly at Ore right now).

@Yer

[2018-07-10 21:13] liach commented on #1862
`@mbaxter` if that becomes a config, in china or places where people do not grab from ore (or for premium plugins), server owners might think this config option to disable stats work but it actually doesn't.

This is not quite the case. Ore places many restrictions on the plugins, one of them is that plugins must be free. Of course, there are premium plugins in sponge as in spigot. If one such sta

[2018-07-10 21:27] liach commented on #1862
Since the official stance of sponge is that sponge cannot afford another stats site, sponge might consider adding bstats, etc. natively and control their usage through the newly added hook.

[2018-07-10 22:45] gabizou commented on #1862
Yeah no. Not depending on yet another third party library that is going to get outdated and bug fix maintained poorly like Timings has already been done with sponge.

Since when has this been a conversation about plugins distributed outside of Ore? Premium plugins not respecting the rule is not our job, let alone a worry for us as the server administrator has, at that point, accepted literally all

[2018-07-10 23:41] liach commented on #1862
Agree. I would support a simple approach like this given the authority of ore once it is published.

[2018-07-11 08:27] ST-DDT commented on #1862
Please let me confirm whether I got it right.

Statistics-Website:
* wont be created (for now due to a lack of development resources)

Statistics-API/Servive:
* will not use a ThirdParty impl to avoid it becoming outdated
* has no own impl so there need for it yet

Statistic-Config:
* yes, plugins that send stats must check it before sending stats (if they want to be on Ore).

[2018-07-11 08:44] dualspiral commented on #1862
Yes, all this proposes is that we expose whether a server admin has given permission for metrics collection, either globally or on a per-plugin basis via some config option. It does not provide a service for stats plugins to implement (like economy or permissions) and does not perform any data collection itself. It is purely a central way to determine if a server owner has given permission for the

[2018-07-11 09:02] Yeregorix commented on #1862
Here is a config example that looks slightly simpler and clearer IMO:
[code]

[2018-07-11 19:06] mbax commented on #1862
Maybe an additional comment there saying you can wipe the `plugins` section entirely to reset all plugins to the new default state.

[2018-07-12 20:43] SimonFlash opened #1863 "Inconsistent behavior with InteractItemEvent interaction point"
The interaction point of an `InteractItemEvent` when clicking on a block has two related issues:

 - Though the interaction point is a `Vector3d`, components are always rounded down. My expectation is that, as a `Vector3d`, it would contain the actual hit position of the raycast rather than only the block position as a double. This may be more of an implementation issue than api.
 - As a result of

[2018-07-15 01:58] FerusGrim opened #1865 "Allow specificity within InvisibilityData (or by other means)"
Currently, a Player's VANISH state is binary: Off or On

There seems to be no way to specify to whom a player should be hidden.

I think I speak for a number of people when I say this is a pretty important feature for the API - I'm honestly surprised no one else has made an issue for this.

[2018-07-15 02:03] FerusGrim commented on #1865
After a more thorough searching of issues (including closed), it seems as though this is a duplicate of #1461.

Although, I'm unsure of why #1461 would have been closed when the related PR (#1046) hasn't been merged. This is still, obviously, an issue.

[2018-07-15 07:23] gabizou commented on #1865
@FerusGrim The issue was closed because the PR is going to resolve the issue. It doesn't make sense to continue discussion when the PR itself is requiring discussion. There's quite a few cases where we've closed API issues because a PR that is *expected* to be maintained and merged into the API would completely resolve it (also keeps multiple discussions and potentially outdated information out of

[2018-07-15 07:23] #1865 closed, assigned to nobody

[2018-07-16 10:01] Macil commented on #1263
I'm really interested in this so I could port [NonEuclid](https://github.com/AgentME/NonEuclid) from Spigot to Sponge. In NonEuclid, depending on a player's location, I want them to see one of two possible hallways (neither of which actually exist in the world). Using sendBlockChange() doesn't cut it because anything that causes the real block or chunk to be resent to the client causes the fake ha

[2018-07-18 09:43] thomas15v commented on #1263
You might want to look at https://github.com/Yeregorix/Mirage I think it uses the same concept I explained here (since the plugin is based on my old NoXray plugin).

Pinging @Yeregorix.

[2018-07-18 10:19] Yeregorix commented on #1263
Since the view will be different for each player I think the best solution is to mixin in `PlayerChunkMapEntry` to listen for block changes or packet sending and to modify these packets. However it's not very simple, you can also wait for an API but you may wait a very long time.

[2018-07-18 18:18] Zidane commented on #1863
@SimonFlash

The first point is an implementation issue. Namely where this is called is basically passing off what Vanilla is giving us at this time. We could raytrace always, that has came up before but we never settled on either way.

Secondly, I don't want to add a getInteractionBlockPosition namely because we're not trying to make the assumption here that an InteractItem means a block position

[2018-07-18 20:39] dualspiral commented on #1192
8976964c1038066d3555ac6fb613ed3839037090

[2018-07-18 20:39] #1192 closed

[2018-07-18 20:39] dualspiral commented on #1294
8976964c1038066d3555ac6fb613ed3839037090

[2018-07-18 20:39] #1294 closed

[2018-07-19 02:31] ryantheleach commented on #1863
@Zidane

Could we make ray tracing easier for plugins that need it then? I'm not sure what a plugin attempting to do it manually would look like at the moment.

[2018-07-19 05:28] SimonFlash opened #1867 "Ensure resetting the state of CommandArgs reverts and inserted/removed arguments"
*related to [SpongeCommon#2006](https://github.com/SpongePowered/SpongeCommon/issues/2006)*

The state of `CommandArgs` does not include the current list of arguments, so when setting the state any inserted or removed arguments from parsing will remain. The most notable example of this in use is with [CommandFlags](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepo

[2018-07-19 05:50] SimonFlash commented on #1863
Adding a ray trace from the plugin end is easy enough, but it has to be done carefully to consider things like the player's reach. Either way, I don't believe this is something the developer should be responsible for; it should be on the API to provide that location.

If the worry is that the name `getInteractionBlockPosition` implies that an actual block is being interacted with, then change it.

[2018-07-19 12:41] dualspiral commented on #1867
That's the better option and is the one I would rather pursue.

As `getState/setState` return/use `Object`, I could just update those. However, as the impl is part of the API, I'm wary about changing the current impl from an integer to a snapshot because there will be someone, somewhere that relies on that.

Basically:

* If we consider that the API is simply based on the intention of the signatur

[2018-07-19 14:21] ryantheleach commented on #1867
Talking to zml when I made some early PR's to commands leads me to believe that's ENTIRELY the reason why it was an object return type.

It's an implementation specific memento.

[2018-07-19 14:29] dualspiral commented on #1867
I get that, it was the impression I got too. However, just because that's the _intention_ doesn't mean it matches with reality. The question I'm asking is whether we regard the API (that is, what is regarded as the guaranteed behaviour) as only the signatures, or the contents of anything implemented in there - if it's the latter, then it doesn't matter that the signature is based on the "Object" t

[2018-07-19 15:49] Zidane opened #1868 "BreedEntityEvent is entirely wrong"
(This issue is being made to basically remind me to fix this for API 8).

Basically, the entire event composition is wrong. It assumes breeding starts at Player interaction which is correct from a Vanilla perspective but falls apart with Mods. While the Cause can have some interaction-specific information, such as item used, it cannot be enforced.