[2016-09-13 03:40] ryantheleach commented on #1353
I was wondering why I was having issues with this.

Isn't this why we have CommandContext::getOne and CommandContext::getAll

[2016-09-13 03:42] kenzierocks commented on #1353
Hmm, you actually might be right about that. I'm looking at the implementation and it looks like it specially handles Iterables. I'm going to double-check.

[2016-09-13 03:55] kenzierocks commented on #1353
`getAll` does indeed handle this. I misread the implementation.

[2016-09-13 03:55] #1353 closed

[2016-09-13 17:33] kenzierocks opened #1355 "API for scoreboard tags"
It looks like there's no API for [scoreboard tags](http://minecraft.gamepedia.com/Scoreboard#Tags_commands). I'd like to have one added before #1270 is merged, since there's also a new selector type based on it.

[2016-09-13 19:47] gabizou commented on #1345
I believe this event would best fit in the `ChangeValueEvent`, at which point can be subclassed specifically for the type of data being changed. Closing as it's yet another event to add with #596

[2016-09-13 19:47] #1345 closed

[2016-09-13 19:50] gabizou commented on #596
@Zidane I'm going to go ahead and re-open this as an issue for the various sub events with direct actions as there's some discussion I would like on where the events themselves would be located (somewhat partial to them being under the `api.event.data` package).

Currently, what I have in mind:
- [ ] Changing dye of a Sheep
- [ ] Renaming an entity with a `NameTag` item
- [ ] Changing a `MobSpawne

[2016-09-14 06:23] ryantheleach commented on #596
When an entity catches on fire?
When a player starts crouching?

[2016-09-15 15:03] VcSaJen opened #1358 "Provide the way for modifying DisabledSlots flags of ArmorStand"
ArmorStand have modifiable DisabledSlots NBT tag. It's used for locking specific slot's interaction. For example, disabling placing a helmet, or replacing boots, or removing chestplate or held items, etc.

This issue is for providing the way for reading and changing this data through API.

[2016-09-16 11:31] Minecrell commented on #1331
Configurate will be updated once a new version was released, there is no newer release yet.

[2016-09-16 11:36] Minecrell commented on #1196
Since `Exception` itself has several `@Nullable` methods, it would be quite confusing if only some of them used optional. So basically it would be confusing if you would have to check for null for some methods, and the optional for the others.

[2016-09-16 15:22] Zidane commented on #1331
@Minecrell

Overriding this decision and reopening this. Either get @zml2008 to push a new release or bump to a specific snapshot.

[2016-09-17 05:53] Minecrell commented on #1331
@Zidane
We can't bump to a snapshot unless we upload the snapshots to our Sponge repo because it will otherwise break dependency resolution for plugins using SpongeAPI with Gradle. In that case a new configurate release would be probably easier.

@zml2008 Is there anything holding back the new release?

[2016-09-19 05:47] Deamon5550 opened #1361 "Add WorldGenFossils populator"
Add the missing WorldGenFossils populator, added in 1.10.2.

[2016-09-19 21:08] liach commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/b88f5eba36f8f62892b10f17ea094d5bcb884ea1/src/main/java/org/spongepowered/api/item/inventory/entity/PlayerInventory.java#L48

Change that one to
[code]
(case issue), and the below ones' return javadoc are incorrect.

[2016-09-19 21:33] jamierocks commented on #1000
https://github.com/SpongePowered/SpongeAPI/commit/b88f5eba36f8f62892b10f17ea094d5bcb884ea1#commitcomment-19077993

[2016-09-20 19:02] randombyte-developer commented on #1000
Something to mention for the Zombie Pigman renaming which already is listed above: In the Minecraft snapshot for 1.11 the id for Zombie Pigman is `zombie_pigman` so the api should be changed to that name.

[2016-09-20 19:42] caseif commented on #1000
The [JavaDoc](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/entity/AffectEntityEvent.java#L49-L52) for `AffectEntityEvent` class includes a grammatical fragment.

[2016-09-21 01:18] kmecpp commented on #1051
I would think this action should fire the ChangeInventoryEvent.Transfer but it does not.

[2016-09-21 15:19] Bammerbom commented on #1000
https://github.com/SpongePowered/SpongeAPI/commit/b88f5eba36f8f62892b10f17ea094d5bcb884ea1#commitcomment-19077520

https://github.com/SpongePowered/SpongeAPI/commit/b88f5eba36f8f62892b10f17ea094d5bcb884ea1#commitcomment-19077522

https://github.com/SpongePowered/SpongeAPI/commit/b88f5eba36f8f62892b10f17ea094d5bcb884ea1#commitcomment-19077524

[2016-09-23 04:08] Maxqia opened #1365 "Missing Effects"
While working on PoreRT, I noticed that the Sponge API is missing some effects that Bukkit has...
https://hub.spigotmc.org/javadocs/spigot/org/bukkit/Effect.html
- [x] MOBSPAWNER_FLAMES
- [ ] ENDER_SIGNAL
- [x] VILLAGER_PLANT_GROW
- [x] DRAGON_BREATH
- [x] END_GATEWAY_SPAWN
- [x] STEP_SOUND (No easy way of getting the correct sounds for breaking/placing/stepping from a BlockType)
- [ ] RECORD_PLAY

[2016-09-24 10:59] Miclebrick commented on #596
When a player starts crouching, please :P

[2016-09-24 12:16] #1212 closed

[2016-09-24 17:31] kmecpp opened #1366 "Causeable Interface"
It would be nice if there was a `Causable` interface, or something of a similar name, that contained a default `asCause()` method that wrapped the current object in a Cause. Classes such as Entity could implement it and plugin authors could use it on their main plugin classes, or any other class they use as a cause. It would improve clarity as classes marked as Causable are clearly intended to be

[2016-09-25 02:42] ryantheleach commented on #1366
Doing this as per your example you lose the "names" part of the cause.

[2016-09-25 10:49] jamierocks commented on #1365
The sound types are over [here](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/effect/sound/SoundTypes.java).

[2016-09-25 11:31] Maxqia commented on #1365
Number 1-5 are Particles ..., and for Number 6, look again :P

[2016-09-25 12:38] ryantheleach commented on #1365
In order to fix this issue, I instead ran a comparison against the tab completion in Vanilla.

![image](https://cloud.githubusercontent.com/assets/141554/18815326/41841a66-836c-11e6-9539-8920340a28a0.png)

Missing: DragonBreath, SweepAttack, DamageIndicator, FallingDust, End Rod

Whatever the others are, arn't available as particles in Vanilla. So looking for it in other parts of the API is possib

[2016-09-25 12:57] kmecpp commented on #1366
@ryantheleach It would be easy to provide overloaded methods to support more functionality.

[code]

[2016-09-25 15:29] Cybermaxke commented on #1365
The missing particle types are added in: #1222
This issue is referring to hardcoded effects, the ones that can be send through: http://wiki.vg/Protocol#Effect

[2016-09-25 17:04] kashike commented on #1365
There are many different sounds for blocks, should have a `BlockSounds` interface to represent them, which would be mixin'd to `net.minecraft.block.SoundType`:
[code]
[code]

[2016-09-25 18:58] VcSaJen opened #1367 "Factory method for archetype volumes"
Currently, archetype volumes can only be created by copying cuboid from Extent. More complex shapes or manual creation is not possible. Factory method for archetype volumes or something like that would be nice for that purpose.

[2016-09-25 19:16] #1367 closed

[2016-09-25 19:24] ryantheleach commented on #1365
@Cybermaxke You are right, I should have checked the protocol information.

I was getting particles confused with "effects"

http://wiki.vg/Protocol#Particle

[2016-09-25 19:54] ST-DDT commented on #1365
@kashike Well if we add block sounds, than we should add entity sounds as well.

And to keep it more "generic" we could change the method interface to
`Optional<SoundType> getSound(SoundTypeCategory)`

`BlockSoundTypeCategories`
* STEP
* FALL
* HIT
* PLACE
* BREAK
* OPEN (Door/Chest)
* CLOSE
* ...

`EntitySoundTypeCategories`
* SCREAM/BARK
* TALK
* HURT
* DIE
* ...

[2016-09-26 02:28] AlphaModder opened #1368 "Overhaul BlockTraits System"
I was looking through the block traits, and noticed that for some reason, for traits that are shared between several blocks, we have a specific version for each type of block with the trait. For example, the trait for an open fence gate has six versions for some reason: `ACACIA_FENCE_GATE_OPEN`, `BIRCH_FENCE_GATE_OPEN`, `DARK_OAK_FENCE_GATE_OPEN`, and so on. (Also, the oak one is just `FENCE_GATE_

[2016-09-26 02:31] kashike commented on #1368
Exactly.
[code]

[2016-09-26 03:07] AlphaModder commented on #1368
The `BlockTrait` rabbit hole deepens!
I can't see the point of `EnumTrait`s at all currently.
With a few exceptions, like `Direction`, we tend to avoid enums entirely in Sponge.

Since there are no exposed enums, there is no useful way to do anything with the values of `EnumTraits`. They do seem to have corresponding `CatalogType`s, for example `DIRT_VARIANT` and `DirtType` (inconsistent naming!),

[2016-09-27 02:59] gabizou commented on #1366
Could you clarify what the point of it is? None of the methods that currently use `Cause`s are meant to have single objects within the `Cause`...

[2016-09-27 04:02] liach opened #1369 "Target location events"
Several events in the API have `Location<World>`s in which they are fired. Here I suggest the addition of an event interface, probably named `TargetLocationEvent`, which will have a method available for getting the list of `Location<World>`s involved in the event. In my opinion, this can be just done by adding default methods in interfaces that get the location from blocks or entities available, o

[2016-09-27 04:06] liach commented on #1369
I just post this for discussion instead of asking for implementation.

[2016-09-27 04:19] liach commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/906f7ab5f35836dbaa3d276bd4d0a17553096939/src/main/java/org/spongepowered/api/block/tileentity/carrier/Chest.java#L38

Spacing issue of the javadoc

[2016-09-27 05:22] AlphaModder commented on #1355
Is there any reason to attach this to the scoreboard API in any way rather than just a `DataManipulator` on entities? As far as I can tell, other than sharing a base command, these tags have nothing to do with scoreboards whatsoever.

[2016-09-27 06:37] DemonWav opened #1371 "No API to retrieve a world's sea level"
Unless I'm blind, there isn't an API for it. @Deamon5550 wasn't able to find one either, so blame him if I'm wrong.

[2016-09-27 11:41] ST-DDT commented on #1371
Is this changeable?

[2016-09-27 14:52] Deamon5550 commented on #1371
@ST-DDT In theory, mojang made an effort to replace all hard codings of it with a field in the `1.9` update (although they missed a few places). No reason why it can't be settable though.

[2016-09-27 15:00] Zidane commented on #1371
@Deamon5550

What are some of the things that this is used for in the Vanilla code?

[2016-09-27 16:01] DemonWav commented on #1371
Looks like it's used in some mob AI / spawning checks (bats, ocelots, and squids from what I saw). It's used in BiomeMesa as well for terrain gen, and in chunk for lighting checks, and in a few ChunkProviders. Just the few usages I found after a quick search in IntelliJ.

[2016-09-27 22:51] Maxqia commented on #1365
Added RECORD_PLAY, even though it isn't as much of an issue

[2016-09-28 02:14] kinggoesgaming opened #1372 "Don't claim @Plugin in annotation processor"
Currently at https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/ap/java/org/spongepowered/plugin/processor/PluginProcessor.java#L120, the processor returns `true` if everything went through.

Although at first sight it seems logical as the processor is claiming that annotation was handled by it, however this locks out any other processor to access `@Plugin` annotation. Oracle too recomme

[2016-09-28 04:26] kashike commented on #1372
https://docs.oracle.com/javase/8/docs/api/javax/annotation/processing/AbstractProcessor.html#process-java.util.Set-javax.annotation.processing.RoundEnvironment-

[2016-09-28 14:45] ryantheleach commented on #1355
@AlphaModder The multiple scoreboard support maybe? How else would you handle people potentially creating tags in multiple scoreboards.

[2016-09-28 14:47] ryantheleach commented on #1369
I think the problem is when multiple locations are involved in a single transaction, whether that be entities, or blocks.

[2016-09-28 14:49] liach commented on #1369
have `Location<World>`s in which they are fired.

They are already plural.

[2016-09-28 15:13] #1372 closed

[2016-09-28 20:01] AlphaModder commented on #1355
@ryantheleach That's the only thing I could think of as well, but as you say, it doesn't really have a meaning, since the reason for multiple scoreboards is that we can show different scoreboards to different players, but tags are not visible to players.

[2016-09-28 23:33] windy1 commented on #1369
You can just have the events implement `Locatable` instead. No need for YetAnotherInterface<sup>™️</sup>

[2016-09-29 00:40] liach commented on #1369
@windy1 Well in some events like a batch of block change, one location is obviously not enough.

[2016-09-29 16:07] ryantheleach commented on #1355
Yeah, the only thing I can really think of is if it's used for client side prediction anywhere, doubtful though.

[2016-09-29 18:19] #1347 closed

[2016-09-29 18:26] #832 closed

[2016-09-29 18:27] #1196 closed

[2016-09-30 04:25] ryantheleach opened #1373 "Introduce #targetplace (or equivalent)"
https://github.com/SpongePowered/SpongeAPI/pull/1360 being merged means that the old behaviour of #target being the coordinates of the block

![image](https://cloud.githubusercontent.com/assets/141554/18980607/34ff3ac6-8715-11e6-929d-b55cf9df7ca9.png)

Will now do

![image](https://cloud.githubusercontent.com/assets/141554/18980617/4a43a4b2-8715-11e6-9c72-0c0de79c7b62.png)

Should #target have the

[2016-09-30 14:03] DDoS commented on #1373
I think that the "#target" behaviour should be that of image number 2 (what it was corrected to). A second target kind called "#targetplace" can be added for the behaviour in image number 1 (what it was previously).

The "#targetplace" position can be computed from "#target" position by adding to it the offsets obtained from `BlockHit.getFaces()`.

[2016-09-30 17:44] Cybermaxke commented on #1365
I added the following effects to the pr #1222:
BREAK_BLOCK - Plays the break effect with sound
DRAGON_BREATH_ATTACK - Plays the dragon breath attack effect with sound
ENDER_TELEPORT - Ender pearl effect (I think, will have to recheck)
FERTILIZER - The bonemeal effect
MOBSPAWNER_FLAMES
SPLASH_POTION
I didn't add:
END_GATEWAY_SPAWN - Is just and LARGE_EXPLOSION and a sound
STEP_SOUND - Should be add

[2016-09-30 23:00] Maxqia commented on #1365
STEP_SOUND is the block breaking effect :P

[2016-10-01 05:49] AlphaModder commented on #1000
There are many instances of using "An" when "A" is proper in javadocs when the article is just before an `{@link}` tag, since we read it as "at-link" in the source.

[2016-10-01 14:51] ryantheleach commented on #1000
https://github.com/SpongePowered/SpongeAPI/commit/5ffe017603ad2c9874115197b7187a246ffb6932#diff-6465f1b99c02dc355955b64306e30232L259

[2016-10-01 17:24] kmecpp commented on #1366
Originally I thought this would be useful as just the root of the cause, but with more causes its impact becomes less significant.
[code]

So I'm not really sure its worth it anymore. as the relative amount of code saved decreases the longer the cause chain is.

[2016-10-01 17:44] kmecpp opened #1375 "Get Highest Block at Specific Location"
In Bukkit there was a `World.getHighestBlockAt(Location)` and `World.getHighestBlockYAt(Location)` method, which returned the highest non air block at the given location and the Y position of that block respectively.

Unless there is some other really easy way to do this, I think these methods should be added to API

[2016-10-01 17:44] gabizou commented on #1366
I feel like people also forget that the `Cause.Builder` literally provides easier methods to avoid having to make `NamedCause`s every time:

[code]

[2016-10-01 17:48] kmecpp commented on #1366
Did not realize that sorry, closing the issue.

[2016-10-01 17:48] #1366 closed

[2016-10-01 17:59] liach commented on #1369
Could anyone help add a tag [Events]?

[2016-10-01 23:38] Cybermaxke commented on #1365
You can easily recreate the 'END_GATEWAY_SPAWN' effect by creating a 'LARGE_EXPLOSION' particle and playing the 'BLOCK_END_GATEWAY_SPAWN' sound, so I don't think that it's worth to add it.

[2016-10-02 00:16] Maxqia commented on #1365
True ...

[2016-10-02 00:27] Maxqia commented on #1375
PS for any devs looking at this, Internally it is net.minecraft.world.getHeight(BlockPos)

[2016-10-02 00:55] Zidane commented on #1375
@kmecpp

Out of curiosity, what were these generally used for?

[2016-10-02 02:08] ewized commented on #1375
I used them for optimizing things that needed to check for specific actions in blocks that may be intensive other wise.

[2016-10-02 03:08] jelaw21 opened #1377 "Console Error or Warnings"
I am running the Forge 2092 and sponge for the same version. I have this console output. Any Ideas?

Sponge Unable to find InventoryPacketState handler for click window packet: CPacketClickWindow{windowId=4, slotId=-999, usedButton=4, actionNumber=12, clickedItem=null, mode=QUICK_CRAFT}
01.10 23:03:47 [Server] Sponge Unable to find InventoryPacketState handler for click window packet: CPacketClick

[2016-10-02 03:09] Aaron1011 commented on #1377
Duplicate of https://github.com/SpongePowered/SpongeForge/issues/925. You can safely ignore these for now.

[2016-10-02 03:09] #1377 closed

[2016-10-02 03:18] me4502 commented on #1375
I used it in CraftBook for Bukkit in the Snow feature, to determine where the snow should form. It's basically a convenience method.

[2016-10-02 03:23] ryantheleach commented on #1375
I would use them to check whether skylight is accessible for our old servers teleport system, it would "beam up" players as a balance check against people teleporting out of mineshafts.

It's also useful for working out where to teleport people to when given 2d co-ordinates.

[2016-10-02 04:43] Maxqia commented on #1001
Erm ..., Can you remove these events from the event implementation progress tracker?

[2016-10-02 05:06] Zidane commented on #1001
@Maxqia

Update the list for us and post as a comment on the tracker. We will then update the OP.

[2016-10-02 07:10] me4502 commented on #1375
I'm not at a computer to check right now, but what does this do internally? Does it just iterate over the column?

It does make sense to mirror this if it does anything different like caching.

[2016-10-02 07:14] Deamon5550 commented on #1375
There is no caching it simply iterates.

[2016-10-02 07:36] ST-DDT commented on #1375
Then there is no need to expose this.

Well there a too many too easy to implement features connected to this.

* Highest block below height X,
* Also ignore leaves or grass
* ignore floating blocks
* ...

So it should be the plugins job to do this. If the plugin needs help it can use the block ray for help. Maybe we can add a helper method for column iterating there if necessary.

[2016-10-02 08:25] Minecrell commented on #1375
`World.getHeight(BlockPos)` does not iterate, it returns the current value from an internal height map of the chunk.

[2016-10-02 09:51] me4502 commented on #1375
In that case, it makes sense to expose this.

[2016-10-02 21:56] Deamon5550 commented on #1375
@Minecrell that value is useless almost by the time that the populators run

[2016-10-03 01:38] m0pt0pmatt opened #1378 "Item Frame missing from BlockTypes"
It doesn't seem like there is a BlockType for an Item Frame.

[2016-10-03 01:39] AlphaModder commented on #1378
Item Frames are not blocks, they are entities.

[2016-10-03 01:41] #1378 closed

[2016-10-03 01:41] m0pt0pmatt commented on #1378
:) my mistake

[2016-10-03 13:53] ryantheleach commented on #1375
Honestly most of the time getting the highest skylight block is what people want, they are just not thinking about it.

If the two methods were in and documented, it would make people think twice about choosing which one.

Additionally if you make people iterate themselves, you have the problem of cubic chunks, whilst Minecraft might not make any optimizations for highest block, cubic chunks would

[2016-10-04 02:56] zml2008 commented on #1331
Configurate 3.2 has been pushed to central and will be available within the next few hours

[2016-10-04 08:06] #1331 closed

[2016-10-04 17:35] advancid commented on #462
How would you detect a player that is jumping? If I remember correctly, in the vanilla client when you press the jump key, it changes your velocity without telling the server.

[2016-10-05 05:37] theboomer commented on #1375
iterating thru a column is poorly inefficient compared to a binary greater-than-less-than search anyways - maximum of 8 guesses vs iterating up an average of 80 from base, or down an average of 170 from the top, etc :)   But at least this value is in the minecraft data as-is.

[2016-10-05 05:57] #1166 closed

[2016-10-05 06:00] theboomer opened #1382 "Request Event for player-feeds-entity"
Re-requesting this event, and hoping it can be in with the API 5.0 version

Can an event PLEASE be created that is thrown when an animal consumes a bone/fish/seeds/carrot/etc whichever is appropriate to make it happy-heart particle spawn? This is **more** than just an interact-entity event, as it involves consuming the correct item out of inventory, for the mob which must be adult and not during t

[2016-10-05 06:08] Deamon5550 commented on #1375
@theboomer except that you can't binary search for the height because you have no idea if the actual height is greater than or less than your current search position.

[2016-10-05 06:10] Deamon5550 commented on #1382
We accept PRs.

There was absolutely zero point to creating a new issue just to bump your old issue (ref #1166) and it is very annoying. If you want this event then write it an PR it otherwise wait for someone else to find the time around their other priorities for what is a very low priority task.

[2016-10-05 07:40] theboomer commented on #1375
not as directly, but you can if looking for a location with some extreme value that then is different later.   If its got the value needed, its that height or lower; if its the compliment, its higher than that value.  You'd have to track the "sofar minimum and maximum" possibly, to know if you checked in the wrong direction and backstep the other way to envelope the point. So maybe max of 9 or 10

[2016-10-05 12:58] theboomer commented on #1375
Just for completeness sake: A quasi-binary quasi-recursive search for boundary blocks like this.  Find a way to describe a boundary in terms of a binary-test condition that transitions as it would iterating from one end or the other, and it can be found this way, 100% of the time in exactly 8 tests for 256 spaces.

http://image.prntscr.com/image/2ef726ba28c9450a8e0701df22e1c02c.png

[2016-10-05 14:50] Barteks2x commented on #1375
There are actually 2 height values that may be useful, one of them is the one that ignores transparent blocks (including glass) and the other that is called precipitation heightmap which ignores non-solid blocks like tall grass or torches but doesn't ignore glass.

Both of them make sense in different situation.

[2016-10-05 22:44] Maxqia commented on #1375
So getHightestLitBlock and getHighestBlock?

[2016-10-06 01:34] JBYoshi commented on #1375
I'd say `getHighestOpaqueBlock` and `getHighestSolidBlock`, respectively.

[2016-10-06 01:51] ryantheleach commented on #1375
@theboomer The problem is communication, I'm pretty sure most people are aware of what a binary search is.

Deamon's assumption was that people were looking for the true highest block, not the highest non-transparent block.

[2016-10-08 07:17] ryantheleach opened #1383 "PermissionsService Documentation & Stricter Specifications."
It's come to my attention that the PermissionsService documentation is a little lacking in some areas, So I've created this issue to collect comments relating to what needs improving.

https://forums.spongepowered.org/t/luckperms-an-advanced-permissions-system/14274/106
- [ ] When you call a #hasPermission method on a Subject (for example), should it include inherited permissions?
- [ ] Should it

[2016-10-08 07:19] ryantheleach commented on #1383
Replying to distinguish the list from my opinion.

- [ ] When you call a #hasPermission method on a Subject (for example), should it include inherited permissions?
Yes. hasPermission is essentially a query that consumers will be using to check to see if an action will take place.
- [ ] Should it resolve wildcards?
Yes.
- [ ] Should it just include the permissions the Subject explicitly has?
No, it

[2016-10-08 09:22] ST-DDT commented on #1383
* Whose job is it to apply wildcard rules?

Wasn't there somewhere the rule that you always inherit the children permissions of a permission?

The user has the following permission:
* plugin.foo

Then he also has
* plugin.foo.bar

Thus `plugin.foo` and `plugin.foo.*` are either the same by definition or `plugin.foo.*` is a strangely named permission that is by no means a wildcard permission.

* Sh

[2016-10-08 13:31] Daniel12321 commented on #1282
I need this badly.

[2016-10-08 15:28] Aaron1011 commented on #1383
@zml2008: What are your thoughts on this?

[2016-10-08 15:52] ryantheleach commented on #924
I think that plugin defaults shouldn't be handled directly by plugins, and instead should be assigned to roles via Permission Descriptions.

@bloodmc suggested on the forums that it may even be worth having a plugin container reference.

Combining the two ideas, could allow for a Role that is plugin container aware, so roles could be split to say "griefprevention.staff" instead of just generally a

[2016-10-08 16:32] lucko commented on #1383
To add onto what's been mentioned here already, I feel stricter guidelines about how defaults should work needs to be included.

In the #hasPermission and equivalent checks, are defaults to be resolved too? There's also some confusion as to whether defaults should be persisted or not.

If they do persist, and you allow server administrators to modify them, then care should be taken to inform plugi

[2016-10-08 18:31] ryantheleach commented on #1383
I think the original goal behind PermissionDescription was to provide templates, + tab-completion for permissions that hadn't yet been filled into a permissions plugin.

[2016-10-08 19:21] ST-DDT commented on #1383
`PermissionDescription` provide a description what the permission is actually good for, so the permission plugin can create some kind of central documentation for server owners. Its pure informational. It also can be used to create some kind of default list so the server owner knows which permission he has to assign. But if he does not assign any permissions the user does not have them.

The probl

[2016-10-08 19:32] lucko commented on #1383
Ah yes, that does make sense.

I don't think that being added secretly is an issue. It's just something that can be included in plugin's documentation, informing admins that they don't have to manually give the permissions, and to remind them that they might have to override the defaults if they disagree with the plugin author's selection.

I think that therefore is makes more sense that defaults

[2016-10-08 20:39] Aaron1011 opened #1384 "Expose `Block#getItem` to allow plugins to get the proper `ItemStack` for a location"
`Block#getItem` is used by the pick block mechanic, in order to preserve the damage value and NBT, as necessary, for the block being picked. We should expose this through a `Property` of some sort, to allow plugins to properly reconstruct an `ItemStack` from a block.

Note that the underlying method requires a `World`, `BlockPos`, and an `IBlockState`. We'll probably want to expose this through `B

[2016-10-08 21:10] Zidane commented on #1384
BlockSnapshot actually may not have the data...Location is Optional in it.

Also:

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/block/BlockType.java#L71

[2016-10-08 21:56] Aaron1011 commented on #1384
@Zidane: That method is different - it just uses the default itemstack, and can't take into account damage or NBT. I suppose we could provide an overload that takes in a `Location` and a `BlockState`, but that doesn't really seem to fit with our property/data system for getting block information.

[2016-10-09 19:02] randombyte-developer opened #1386 "Boolean command choices"
[Code](https://github.com/SpongePowered/SpongeAPI/blob/d3240cb977f65b67e39f58ae739bfa887d71b007/src/main/java/org/spongepowered/api/command/args/GenericArguments.java#L825)
I understand that's funny(`vermuchso`, `notatall`) but I feel that's confusing and unnecessary when seen in tab completion.

[2016-10-10 03:35] ryantheleach commented on #1386
Honestly 1 and 0 are more confusing to people that havn't programmed before then verymuchso and notatall

[2016-10-10 03:43] #1386 closed

[2016-10-13 16:49] gravityfox commented on #1175
From the perspective of someone who's maintaining a plugin with a region system, I would really REALLY like an API that will allow people to use my regions without having to add my plugin as a dependency. It also will allow me to make use of region systems introduced by other plugins. I think this is a good idea.

A Region API doesn't need to be anything more than a way to expose the regions of di

[2016-10-14 00:45] ryantheleach commented on #1175
So the main usecases can be summarized as:

(Sorted by level of controversy)

Region Query API
 - A Region Query API would support the minimum that gravity fox suggests, A registry of regions that can be queried by location (maybe polygon/aabb ?), and return an identifier, the owning plugin, Maybe some way of fetching data/meta? Maybe some way of fetching Collisions / Bounding Boxes.
Region Event

[2016-10-14 02:43] ZephireNZ commented on #1175
I'm all for this.

The only thing I think is vital is that it's relatively abstract. We shouldn't force AABBs, for example.

[2016-10-14 03:16] gravityfox commented on #1175
So let's say you can query for any region. I make the regions in FoxGuard visible through this API.

Now a permission plugin can use those regions for region specific permissions, without a dependency on my plugin.

Also, AABB's are nice for many calculations, however they should be allowed to be "best guess".
The only requirement for an AABB is that it completely surrounds the region, with none o

[2016-10-14 14:36] simon816 opened #1388 "Data serialization inconsistencies in MemoryDataView"
There are a few inconsistencies when seralizing an object with a registered `DataSerializer`/`DataTranslator`

Test 1 serializes as expected
[code]
With SpongeForge 1762 (4.2.0)
[code]
With SpongeForge 1798 (5.0.0)
[code]

Test 2 serializes as expected
[code]
With SpongeForge 1762 (4.2.0)
[code]
With SpongeForge 1798 (5.0.0)
[code]

Test 3 - Fails on 1.8.9
[code]
With SpongeForge 1762 (4.2.0)
[cod

[2016-10-14 17:08] gabizou commented on #1388
Aside from the class cast exception that @Deamon5550 fixed in https://github.com/SpongePowered/SpongeAPI/commit/52ae682fa2605b47b017aebba6411ec421cfc7ea, there's no real difference between the two mappings.

[2016-10-14 18:49] simon816 commented on #1388
Test 4 is broken on both versions.

Also, if I try to set a data on a `DataView` with an empty `DataQuery`, it throws an IOOBE. What's the use of an empty query?
[code]

[2016-10-14 19:24] gabizou commented on #1388
@simon816 you can't set anything on an empty `DataQuery` since that is the "self" object.

[2016-10-15 06:15] gabizou commented on #1388
@simon816 I don't see how this isn't working....

[2016-10-15 09:40] simon816 commented on #1388
So test 4 is a list with a map with an entry value of a list with a vector
(i.e. `List [ Map { String->List[ Vector ] } ]`)
I've traced through the steps:
`set(DataQuery, Ojbject)` Entry point
[`setCollection(String, Collection)`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/MemoryDataView.java#L275) Unwraps the list
[`ensureSerialization(Map)`]

[2016-10-16 01:16] RobertHerhold commented on #1384
Could the method just return `Optional<ItemStack>` since `Location` is also an `Optional` in `BlockSnapshot`?

[2016-10-16 15:31] Cybermaxke opened #1389 "The fertilizer effect doesn't work on air blocks in 1.11"
This is just something that should be added to the particle types documentation once the sponge api 1.11 targets. The particle can only be spawned at the location of solid blocks, or the particles won't show.
(Tested on Minecraft 16w41a/snapshot)

This could be fixed by sending every particle separately from the server side, and not using the effect packet.

[2016-10-17 05:44] Solidflip opened #1390 "KeepInv + Sponge 1.10.2 - 5.0.0-BETA-1808"
Players who die keep their inventory even when Gamerule KeepInv is set to false. This happens in all worlds and with no mods/plugins or with them as well.

Saw a guy on the forums with the same problem that wasnt resolved: https://forums.spongepowered.org/t/items-kept-on-death/14436

[2016-10-17 05:46] #1390 closed, assigned to nobody

[2016-10-17 05:47] Solidflip commented on #1390
wrong github, moved to sponge common. my bad

[2016-10-18 05:22] Deamon5550 commented on #897
Not having this method isn't going to stop plugins from writing terrible threading code, but it sure does help when writing more abstract threading infrastructure like the linked issue from @kashike just now. I don't see the harm now.

[2016-10-18 05:27] Deamon5550 commented on #1259
This is not going to be a thing after #1370

[2016-10-18 05:34] #701 closed

[2016-10-18 07:02] ZephireNZ opened #1392 "ItemStackBuilder does not accept negative quantities"
`ItemStack`s are allowed to have negative quantities, and `Inventory#query(ItemStack)` relies on quantity being -1 to ignore stack size differences.

`ItemStack` itself does not set a lower limit, however its builder does. This should be change to make like a bit easier when querying inventories.

[2016-10-18 09:06] Mumfrey commented on #1392
Actually, given that "item stack with negative size" is actually a bit of a weird concept, and - as you identified - only certain negative values have meaning, effectively making those values semaphores. It would seem to make more sense for the builder to support setting the semaphore via an `ItemStackBuilder::anySize()` or similar setter which _internally_ sets the quantity to -1, but decouples t

[2016-10-18 11:20] simon816 commented on #1392
An issue was made on spongecommon regarding negative stack sizes
SpongePowered/SpongeCommon#150

[2016-10-22 09:17] Yeregorix opened #1394 "Custom inventory with archetype MENU_GRID do not implements GridInventory"
Hi, I'm creating a custom inventory using this method:
`Inventory.builder().of(InventoryArchetypes.MENU_GRID).property("inventorydimension", new InventoryDimension(width, height)).property("inventorytitle", new InventoryTitle(title)).build(myPlugin);`
and I get an ClassCastException when I try to cast the inventory to GridInventory. I was thinking that since the archetype is MENU_GRID, the result

[2016-10-22 09:24] ST-DDT commented on #1394
@Yeregorix Can you include the stacktrace please?

[2016-10-22 09:46] Yeregorix commented on #1394
http://pastebin.com/Sfd645nf

[2016-10-22 10:01] Faithcaio commented on #1394
You should be able to query for a GridInventory.
`inventory.query(GridInventory.class)`

[2016-10-22 10:25] Yeregorix commented on #1394
I did not know, its working thanks !

[2016-10-22 10:25] #1394 closed, assigned to nobody

[2016-10-22 23:23] ryantheleach opened #1395 "Expose method to make a player spectate an entity."
Kane_Hart on IRC was requesting a plugin to allow admins to be able to spectate and scroll through players.

For best results a plugin should probably use the vanilla spectator mechanic as opposed to vanishing people and constantly updating their position.

[code]

[2016-10-23 03:04] ryantheleach commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/entity/Entity.java#L278

I'm not sure that TargetedLocationData is actually equivalent to calling this method...

[2016-10-23 17:45] ryantheleach opened #1396 "GenericArguments.enumValue assumes capitalized names."
Using an enum that goes against Java naming conventions creates the following exception.

[code]

`GenericArguments.enumValue(effectTypeKey, EffectType.class),`

[code]

[2016-10-23 19:04] kashike commented on #1396
A possible solution could look something like:

[code]

[2016-10-24 01:16] ryantheleach commented on #1396
In addition, not sure if it's a bug with firstparsing, literal, or enum value.

[code]

Doesn't tab complete or parse "random" at all.

[2016-10-25 07:49] gravityfox opened #1398 "Can't get list of accounts from EconomyService"
The service lets me get/create accounts and check if accounts exist, but doesn't let me get a list of all unique and virtual accounts.

It should.

I need access to arbitrary virtual accounts, but i don't know what they are, which means i can't tab complete their identifiers.

[2016-10-25 21:54] Katrix opened #1399 "Register serializer for TextTemplate earlier"
Currently the `TypeSerializer` for `TextTemplate` is registered once the class is loaded. This can cause problems if a plugin has a `TextTemplate` in a config file, and tries to load that file (thus trying to deserialize a `TextTemplate`) before the `TextTemplate` class has been loaded, because the serializer hasn't been registered yet.

https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src

[2016-10-26 08:11] gravityfox commented on #1395
I think there could be use cases for this beyond just for a spy plugin. Minigames could make use of this.

Like how in some games when you die, you can spectate your teammates.

[2016-10-27 03:00] TheoKah opened #1400 "ExperienceOrb from mob_spawners problem"
When breaking a spawner, we get the SpawnEntityEvent event of the EntityXPOrb BEFORE we get the ChangeBlockEvent.Break event of the mob_spawner, meaning if we cancel the break, experience is still spawned.

Moreover, the source cause of the ExperienceOrbs event in that case is considered a "Placement" from the EntityPlayerMP that breaked the spawner instead of the spawner itself, making it hard to

[2016-10-27 03:02] kashike commented on #1400
Could you re-open this on the [SpongeCommon issue tracker](https://github.com/SpongePowered/SpongeCommon/), please?

[2016-10-27 03:02] #1400 closed, assigned to nobody

[2016-10-28 21:58] kashike commented on #897
https://github.com/SpongePowered/SpongeAPI/commit/f247c803524f44f2dc1431c976dca87c5789d2e9

[2016-10-28 21:58] #897 closed

[2016-10-31 19:41] Cybermaxke commented on #1399
The same should be done for the Text serializer:
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/text/Text.java#L88

[2016-11-01 10:23] me4502 commented on #669
Is this still unresolved? Since this was merged, https://github.com/SpongePowered/SpongeAPI/pull/1340, DismountEntityEvent is cancellable. Are there any other vehicle events that need creation?

[2016-11-01 19:28] #669 closed

[2016-11-03 10:31] Cybermaxke opened #1401 "Cherry-pick: Add methods to ChannelRegistrar for getting existing channels"
The PR https://github.com/SpongePowered/SpongeAPI/pull/1354 still needs to be cherry-picked and merged back into the `bleeding` branch from the `release-4.2.0`. This came up a while ago on the irc, but it hasn't been resolved yet, this is just as a reminder.

[2016-11-03 21:06] simon816 commented on #1401
oh I wrongly assumed bleeding would get merged into master and therefore inherit the commit

[2016-11-03 23:40] ZephireNZ commented on #1401
There is no master anymore - all changes go to bleeding and then any relevant to older API versions go into stable-x branches.

[2016-11-03 23:58] kashike commented on #1401
@simon816 Are you going to handle this?

[2016-11-04 04:05] simon816 commented on #1401
https://github.com/SpongePowered/SpongeAPI/commit/bd88c9166c9625e2c7500c1c02a9187523d7d266

[2016-11-04 04:05] #1401 closed, assigned to nobody

[2016-11-04 04:39] Favorlock opened #1402 "Event/Notification Support for Pemission Subjects"
Was talking with @ryantheleach and he mentioned that this would be something that could potentially be implemented into the API. Enjin Minecraft Plugin is heavily reliant on live notifications from plugins to ensure that ranks synchronize between the server/website as soon as possible, so it would be nice to have this in the API to further eliminate the need to rely on plugin implementations.

An

[2016-11-04 06:00] kinggoesgaming commented on #1402
[code]

🤔😅

[2016-11-04 19:06] dogboy21 opened #1403 "Cancelling DropItemEvent.Dispense destroys item"
When cancelling the dispense event the item doesn't drop but it is also being removed from the player inventory.

I'm currently using the latest SpongeForge version from Github

[2016-11-05 02:25] Favorlock commented on #1402
@kinggoesgaming I'm stating a fact that it will be beneficial to a plugin I maintain... or do you believe that people shouldn't have a reason to suggest an addition to the API? Other people may find this addition useful as well, but I'm not asking on their behalf. If they wish to +1 this request they can. As far as I'm concerned your comment is completely uncalled for and in no way contributes to

[2016-11-05 03:34] ryantheleach commented on #1402
@Favorlock Knowing KingGoesGaming from IRC, it's likely not meant as offensive, probably some obscure reference or something I'm not understanding.

[2016-11-05 04:08] kinggoesgaming commented on #1402
@Favorlock yup it was a joke, sorry if it sounded as if it came that way

[2016-11-05 04:10] Favorlock commented on #1402
@ryantheleach @kinggoesgaming Ah, ok. I'm rarely ever on IRC, so I thought it was just someone being rude and trolling.

[2016-11-05 10:00] zml2008 commented on #1402
There is a branch where permissions events are being worked on, https://github.com/SpongePowered/SpongeAPI/tree/feature/perms-update -- so events are happening, we're just working on the best way to implement them. It seems like a lot of perms plugins have this functionality, so it makes sense to bring it into sponge's permissions API

[2016-11-05 10:01] zml2008 commented on #1396
Text.of("random", "random") should be Text.of("random"), "random"

[2016-11-05 13:36] ryantheleach commented on #1396
Yeah sorry, silly mistake. the first one still stands though.

[2016-11-05 20:52] Musician101 opened #1404 "Player.closeInventory() does not close inventory."
As the title states, running Player.closeInventory() does not close an opened inventory despite the method returning True. Currently affects Vanilla and Custom inventories both in 5.1.0-SNAPSHOT and 6.0.0 bleeding.

My method for recreating this is, create a command that closes all players' open inventories and print the result in the console for each player.

[2016-11-06 16:37] randombyte-developer commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/d3240cb977f65b67e39f58ae739bfa887d71b007/src/main/java/org/spongepowered/api/util/blockray/BlockRay.java#L579
and
https://github.com/SpongePowered/SpongeAPI/blob/d3240cb977f65b67e39f58ae739bfa887d71b007/src/main/java/org/spongepowered/api/util/blockray/BlockRay.java#L598

Typo: to -> do

[2016-11-06 17:29] ST-DDT commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/item/merchant/TradeOffer.java#L96
and
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/item/merchant/TradeOffer.java#L107
Typo: `offer a re limited` -> `offer are limited`

[2016-11-06 17:34] ST-DDT commented on #1383
While we are at it we should also fix his:

Just for reference: https://github.com/SpongePowered/SpongeAPI/issues/1000#issuecomment-171689016

[2016-11-07 06:49] ghost opened #1405 "Typo in the InventoryDimension?"
https://github.com/SpongePowered/SpongeAPI/blob/ec86e3c83311490d482cb038f1d09101efa411ca/src/main/java/org/spongepowered/api/item/inventory/property/InventoryDimension.java#L39

Maybe typo?

[2016-11-07 22:21] caseif opened #1406 "ClickInventoryEvent.Drop and all subclasses are never fired"
To my knowledge, all sub-events of `ClickInventoryEvent` are implemented besides subclasses of `ClickInventoryEvent.Drop`. This particular event type seems to never be triggered.

[2016-11-08 00:49] Deamon5550 commented on #1406
This should be on SpongeCommon as it is not an api issue.

[2016-11-08 00:49] #1406 closed, assigned to nobody

[2016-11-08 01:09] caseif commented on #1406
Sorry, wasn't thinking when I made the issue.

[2016-11-09 10:48] gravityfox opened #1408 "ExplosionEvent should extend Cancellable"
All of the sub-events of ExplosionEvent extend Cancellable in some way, shape or form.

It would make sense to declare ExplosionEvent as Cancellable to make it easier to work with if a listener is just listening for the base event.

[2016-11-11 21:06] Yeregorix opened #1409 "Modify SendCommandEvent"
Currently `SendCommandEvent#getResult()` always returns an empty `CommandResult` since the event is thrown before the command is executed. The method is almost useless. I propose to split `SendCommandEvent` in `SendCommandEvent.Pre` and `SendCommandEvent.Post` and move the current method to `SendCommandEvent.Pre#getResult()`

[2016-11-12 10:06] ryantheleach commented on #1409
Related: https://github.com/SpongePowered/SpongeAPI/pull/1333

Note that there is a usecase for having getResult on the pre-event, it's the result in the case that the event is cancelled currently.

As noted on that PR I don't know if this is behaviour we should be keeping, or if it's an intentional design feature, that can't be replicated any other way.

[2016-11-14 21:53] Cybermaxke opened #1412 "Proper Horse, Mule, Donkey and Llama structure."
The current Horse api expansion (in the 1.11 branch) is done in a way that allows it to backwards compatible. But with the introduction of the Llama's, I don't really the like the structure that the api ends up with: `Llama extends Horse`, and this doesn't make a lot of sense in the way that Llama's aren't even a part of the horse family. So I propose the following structure changes:

![untitled d

[2016-11-15 00:59] Deamon5550 commented on #1412
They are in minecraftia.

[2016-11-15 01:26] gabizou commented on #1412
@Cybermaxke the goal of the API has never been to say what _should be_ versus _what is_. If Minecraft's base engine is dictating that `Llama`s are extensions of `Horse`s, then so be it. This is what we had to decide on a year and a half ago with regards to our entity hierarchy structures diverging from the vanilla base game. @Zidane and myself spoke about this at length and agreed on the decision

[2016-11-15 01:27] #1412 closed, assigned to nobody

[2016-11-15 10:39] gravityfox commented on #1412
This is amazing.

Can we pin this issue?

It has a flowchart.

I like flowcharts.

[2016-11-15 12:33] Cybermaxke commented on #1412
@gabizou There can always be an additional interface which represents the `Horse`s, `Donkey`s, `Mule`s and `Llama`s. Naming the base class `Horse` seems like a bad idea and may lead to confusion.

[2016-11-15 12:36] gravityfox commented on #1412
@Cybermaxke This is a design decision that has been made multiple times, and will not be reversed.

If you have a problem with hierarchies, go complain to Mojang.

[2016-11-15 19:28] gabizou commented on #1412
There's a very good reason to keep it named `Horse`: Backwards compatibility and exact representation of the underlying structure. As I said before closing the issue, this was a decision made in the past that isn't going to be changed.

[2016-11-16 23:27] KazWolfe opened #1413 "Add some way of getting the command executed"
## Synopsis

When a command is executed, `CommandCallable#process()` is called, but the command name itself is not passed. This is problematic, because it encourages code re-use for trivial applications that can all be handled in one master command without problem. Similarly `SendCommandEvent` does not have a way of figuring *who* executed the command, only that a command has been executed.

## Ex

[2016-11-17 01:49] Deamon5550 commented on #1413
The cause contains the source as the root element.

[2016-11-17 06:54] Maxqia commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/key/Keys.java#L339
Javadocs are wrong, should just be @see ExtendedData#extended()

[2016-11-17 15:53] ghacproductions commented on #1000
Tiny error in language:

https://github.com/SpongePowered/SpongeAPI/pull/1415

[2016-11-17 19:12] ST-DDT commented on #1413
I'm not sure whether there is really much code duplication due to this behaviour.

First of all you could share the same code for the different `GameMode` commands you only have to use a field+constructor to create the command for different `GameMode`s.

Your command registration may look like this then:

[code]

(This is pseudocode, please refer to the [command  docs](https://docs.spongepowered.o

[2016-11-18 03:33] KazWolfe commented on #1413
Okay, here's an example that demonstrates more of the code re-use issue, then.

I'm writing a command to allow players to select a kit, let's call the parent command `/kit <kitname>`. However, I also need to make all of the kit names accessible as a command, so `/<kitname>`.

With the current way of using Sponge to do this, I need to register a new command for every single kit, which I can't do dy

[2016-11-18 18:48] rexbut commented on #1335
Pull resquest : https://github.com/SpongePowered/SpongeAPI/pull/1410

[2016-11-19 14:13] gravityfox commented on #1413
So i think you're confused as to how commands work...

Commands have a critical problem when placed on the root level. (`/tp` and `/give` are root level commands) Namespace collisions. That is why you generally don't dynamically allocate commands at the root level.

You want to be able to dynamically bind and unbind command aliases from the root level. This is problematic in and of itself, but let

[2016-11-19 21:54] windy1 opened #1418 "Long flags not working for non-valued flags"
Long flags only seem to work with values attached

I am unable to create a simple boolean long flag (i.e `--myflag` vs `--myflag=true`). You should be able to. I registered the flag as the documentation says you should (pseudo-code):

[code]

I tried the following executions.

`mycommand --myflag`
`mycommand -myflag`

But the flags is never picked up with

[code]

However when I change the flag to

[2016-11-19 22:00] windy1 commented on #1418
Whoops ignore this, 'twas an error on my end.

[2016-11-19 22:00] #1418 closed, assigned to nobody

[2016-11-19 22:01] kashike commented on #1418
What was your error?

[2016-11-19 22:04] windy1 commented on #1418
I had stored the flag in a static variable and was trying to receive it with the `-` lol :P

[2016-11-20 01:16] liach commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/53f2e6d7c28e2bce1440813d9d033fbf6b42b6a2/src/main/java/org/spongepowered/api/GameRegistry.java#L145

Incomplete Javadoc.

[2016-11-20 09:49] ryantheleach commented on #1413
Are you certain?

I've previously unregistered and registered commands, so unless something has changed you should still be able to do so?

[2016-11-22 18:53] ghost opened #1420 "Send BookView"
When sending a bookview to a player in 1.11 nothing appears.
Code I used to test:
[code]

[2016-11-22 19:50] ST-DDT commented on #1420
This is an implementation issue as far as I can tell.
Which server implementation do you use? SpongeForge or SpongeVanilla
If you used SpongeForge reopen the issue there. If you used SpongeVanilla reopen the issue there.
If its affects both reopen it in SpongeCommon. Please also add the build versions that you used for testing.

Is there a stacktrace or anything in the logs that might help fixing

[2016-11-22 20:30] ghost commented on #1420
I will move this over to spongevanilla. Closing issue.

[2016-11-22 20:30] #1420 closed, assigned to Aaron1011

[2016-11-22 20:37] kashike commented on #1420
https://github.com/SpongePowered/SpongeVanilla/issues/285

[2016-11-25 00:37] kashike commented on #1267
Is this still an issue?

[2016-11-25 03:53] gravityfox commented on #1267
I'm not sure. When this came up in my plugin, I had trouble reproducing it personally, but when i joined someone's server, name was clearly coming up null.

[2016-11-25 06:09] kashike commented on #1267
If this is still an issue someone can open a new ticket.

[2016-11-25 06:09] #1267 closed

[2016-11-25 16:49] windy1 commented on #457
Use Asset API for this.

[2016-11-25 16:49] #457 closed

[2016-11-25 16:51] windy1 commented on #794
@kashike Can this be closed?

[2016-11-25 16:55] windy1 commented on #916
Can verify this is now possible.

[code]

[2016-11-25 16:55] #916 closed

[2016-11-25 16:59] #1139 closed

[2016-11-25 21:04] #794 closed

[2016-11-27 00:52] KazWolfe commented on #1413
Closing as per suggestion of @gravityfox. I'd still prefer to have the exposed command name called in the command method (especially when the alias is known), but it's probably better to abandon the Bukkit way of registering commands that we were using previously.

[2016-11-27 00:52] #1413 closed, assigned to nobody

[2016-11-28 19:50] windy1 commented on #1404
Fixed in https://github.com/SpongePowered/SpongeCommon/commit/a0e0fb0c302df092af762c1d2e8b41379f037730

[2016-11-28 19:50] #1404 closed, assigned to windy1

[2016-11-28 23:29] windy1 commented on #1403
I cannot reproduce this, are you still experiencing this?

[2016-11-28 23:30] windy1 commented on #1405
This should go in the OCD list: https://github.com/SpongePowered/SpongeAPI/issues/1000

[2016-11-28 23:30] #1405 closed, assigned to nobody

[2016-11-29 00:40] kashike commented on #1000
I've cleaned most of the issues up, and deleted the corresponding comments.

[2016-11-29 10:38] kashike commented on #1253
https://github.com/SpongePowered/SpongeAPI/commit/14fab8a1a9c8cb13b964814028e9bda949224d53

[2016-11-29 10:38] #1253 closed

[2016-11-30 01:06] kashike commented on #1327
https://github.com/SpongePowered/SpongeAPI/commit/049f558aa7d8a879626bf120635ef0f9cef6e368

[2016-11-30 01:06] #1327 closed

[2016-11-30 18:19] dogboy21 commented on #1403
Yes, I'm still experiencing this

[2016-11-30 20:37] caseif commented on #1000
`Inventory#next` has [an incorrect JavaDoc](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/item/inventory/Inventory.java#L89) (children -> siblings).

[2016-11-30 22:50] pie-flavor opened #1423 "EntityArchetype's apply() does not return a reference"
Though I know that it is a limitation of extending `Archetype<EntitySnapshot>`, `EntityArchetype`'s `apply()` method does not return a reference to the created `Entity`, and it is then impossible to actually know which one was spawned. I am then forced to use `toSnapshot(location).restore()`, which is bad for a couple of reasons. First of all, it creates a useless object along the way - the snapsh

[2016-12-03 00:53] kashike commented on #1338
https://github.com/SpongePowered/SpongeAPI/commit/eb4a79b997e44d7ebd3e4b9144cb06bf2b6c01fa

[2016-12-03 00:53] #1338 closed

[2016-12-04 21:07] Katrix commented on #1312
So as someone that recently implemented a Text system inspired by Sponge's system where I completely bypassed this problem, wouldn't a better and simpler solution just be to make `Text.Builder#append` less stupid? Now yes, that is just one set of methods, but from what I've seen, literally everything is done using `append`. If it knew when to combine to simple texts into one simple text I think th

[2016-12-04 21:15] kashike commented on #1312
I don't think that should be done.

:+1:

Feel free to submit a PR, I'd be interested, and I'm sure others would be too.

[2016-12-04 21:26] gravityfox commented on #1312
The problem with doing this is that it would be a breaking change in some ways.

That's why i say make it a specialized function.

The problem that my suggestion is trying to solve is oversized text packets, otherwise it wouldn't matter much at all.

[2016-12-04 21:32] ST-DDT commented on #1312
IMO everything should either become simplified when appended or nothing at all, thus both should be done or none. @kashike Mind sharing the reason for only doing one of both?

If the empty text is intended as structural thing that gets extended later on then the same will be possible for the none-empty text. If it is not intended as structural thing then there is no point adding an empty text at a

[2016-12-04 21:33] kashike commented on #1312
Sending empty text is one case - special casing for empty shouldn't really happen, as chances are when empty *is* appended it was done intentionally.

[2016-12-04 21:38] ST-DDT commented on #1312
Well the same goes for any (Literal-)Text. It could have been split in two pieces for a special reason... (e.g. a placeholder for an infix.)

That's why I would prefer a new method.

[2016-12-04 21:41] gravityfox commented on #1312
I prefer a method for Text: trim()

It would effectively traverse the text tree, and start merging leaves as it sees fit.

[2016-12-04 21:45] windy1 commented on #1312
That already exists @gravityfox. Currently it just removes empty children from the beginning and end. Feel free to make adjustments in a PR if you think you can improve it.

[2016-12-04 22:00] Katrix commented on #1312
Ok so a appendSimplified methods sounds like a good, idea, but how would you specify if you wanted it the Text simplified or not when using `Text.of(stuff)`?

[2016-12-04 22:08] ST-DDT commented on #1312
@gravityfox: IMO `trim()` is a prejudiced term (throw away whitespace at the end and beginning. Such a method should never do something to the inner parts). I would go for simplify() or alike.

@Katrix- Maybe using a new method called: `Text.simplifiedOf(stuff)`? (That better than adding a boolean param in a var arg `Object` method) as an alternative we could go for `Text.of(stuff).simplifiy()`.

[2016-12-04 22:32] gravityfox commented on #1312
I don't really like an append simplified method, because to doesn't solve the problem of just using Text.of().

Trimming should really be a post processing function, as it would be a lot more effective.

[2016-12-06 13:17] KieronWiltshire opened #1425 "New & improved ban service proposal"
This proposal is an attempt to currently improve the current ban service so that it may be extended further.

- The current service assumes that there is only one ban per one game profile, what if I want to add multiple bans to a single game profile, this could be an example of where a moderator decides to ban a player for hacking, and later on this guy is using offensive language on the forums, I

[2016-12-06 13:43] JBYoshi commented on #1425
1. Bans are only designed to be used for the server itself. However, it is possible to make a ban service using an external service that stores bans for more than just the server.
2. IP bans and player bans are not so much different types of bans as different types of targets. One ban applies to an account, the other applies to the IP address they log in from. Both ban types behave exactly the sam

[2016-12-06 23:27] KieronWiltshire commented on #1425
@JBYoshi I know all of this already, I was asked to propose this by @me4502

1, 2: I already know.
3: I didn't know that.
4: Notes wouldn't be used instead of a reason, but essentially what I'm proposing is ban meta data, so that something like "notes" could be applied.

In regards to bans only being designed for the server itself, I get that Sponge is implementing it that way, but this is what th

[2016-12-07 03:27] me4502 commented on #1425
My thoughts on this were to basically extend the bans service to technically support multiple bans per profile, but have the default implementation just understand a single ban per profile.

This would involve adding new methods that are aware of multiple bans per profile. Behaviour of the single ban methods would either get all bans, remove all bans, etc, based on what the method does.

[2016-12-07 04:00] kashike opened #1426 "CatalogTypes needs updating"
[CatalogTypes](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/CatalogTypes.java) is out of date and needs to have all missing catalogue types added, and deprecated types annotated with `@Deprecated`.

[2016-12-07 12:57] KieronWiltshire commented on #1425
@me4502 I think that's exactly what should be done 😂

[2016-12-08 05:52] kashike commented on #1251
The radius (yield) and whether or not it can create fire is in the API. I don't think this needs to remain open.

[2016-12-08 05:52] #1251 closed

[2016-12-08 05:54] kashike commented on #1294
Is this still an issue?

[2016-12-08 06:01] #1320 closed

[2016-12-08 06:05] kashike commented on #1399
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/text/BookView.java#L56

[2016-12-08 09:17] #1426 closed, assigned to kashike

[2016-12-09 01:10] zachoooo opened #1427 "Attempting to register commands with an alias that contains a space should throw an error of somekind"
When you're using the command manager, it should raise an exception when you enter an alias that contains a space like this:

`Sponge.getCommandManager().register(this, myCommandSpec,"myplugin reload");`

Due to the fact that the command parser utilizes spaces as a separator, a plugin could not use an alias like this. The command parser would interpret this as the command /myplugin and would consi

[2016-12-12 11:42] Xfel opened #1431 "Method to check if a player is real"
There should be a method to check if a `Player` is real or a fake player. Right now, there is no reliable, efficient way to do this in sponge.
There is a method for this in SpongeCommon (https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/SpongeImplHooks.java#L79), but unfortunately this isn't exposed to the API.

[2016-12-13 22:04] liach commented on #1014
The entity artificial intelligence of Minecraft has some assigned bits. Different bits are actually available under different entity conditions.

[2016-12-14 01:31] liach opened #1432 "Entity AI should always have an owner"
In vanilla Minecraft, entity AIs are constructed with an owner. Currently, in Sponge API, an `AITask`'s method for accessing the owner only gives an `Optional` one.

Reasons to always give an owner:
1. In the API, AIs are always built with owners. The owner always exists from the API's side.
2. Some careless modders may assign an AI from one entity to another of the same type (horrible experience)

[2016-12-14 03:50] MattBDev commented on #393
I'm a bit disappointed that after two years of this issue being opened that no progress at all has been made to add this to the api. Instead many things have been completely rewritten and a lot of other things I won't mention.

[2016-12-14 03:55] Deamon5550 commented on #393
@MattBDev If you want it then go open a PR, otherwise I guess you'll just have to wait for someone else to spend the time on it or there to be few enough higher priority issues for someone on the core team to get to it. Complaining about it doesn't do shit and you can take that attitude elsewhere.

[2016-12-14 04:39] liach commented on #1432
Although in `EntityAIBase` in MCP, there isn't a field containing the owner of the AI, all vanilla AIs have a field for its owner. For mods, most of them do because modders learn from vanilla.

[2016-12-14 07:01] gabizou commented on #1432
While vanilla is somewhat true,

This is where you wholeheartedly can never make assumptions, ever.

[2016-12-14 07:01] #1432 closed, assigned to nobody

[2016-12-16 05:40] Maxqia commented on #1431
I'd like to add that I'd like the method to be moved to the Player (EntityPlayerMP) class while anyone's at it. (I might take a crack at it myself)

[2016-12-16 05:56] Maxqia commented on #393
I almost opened an issue that a duplicate of a duplicate of this, so I'll just post what I was going to post there

-- start of post --
Personal Player Time/Weather :
I'd like to propose personal player times, mainly for the convenience factor. I'd rather not have mixins providing this feature multiple times and have it in the API. This would be useful for personal player preferences like, for exa

[2016-12-16 16:31] Limeth opened #1435 "Some keys for ArmorStand are missing."
As [this utility](http://haselkern.com/Minecraft-ArmorStand/) suggests, there should be an `Invulnerable` and `DisabledSlots` key in the `Keys` catalog.

[2016-12-16 18:20] gabizou commented on #1435
Is this for 1.11 or 1.10.2? 1.10.2 doesn't show any of this currently.

[2016-12-18 20:07] vectrixdevelops opened #1436 "ShulkerBox missing from BlockTypes"
As the title suggests.

[2016-12-18 20:18] kashike commented on #1436
As a note to whoever adds this: each shulker box colour is it's own `BlockType`.

[2016-12-22 14:08] #1436 closed, assigned to stephan-gh

[2016-12-23 09:07] theboomer opened #1441 "API 6.0.0 .. ShulkerBoxes not in BlockTypes"
Using Api 6.0.0 (Shaded #28) for porting plugins to 1.11 server...
There are no shulker-boxes listed as the enum/constant list for BlockTypes, yet there are shulker-boxes returned as block-type data in sponge.

[2016-12-23 09:39] stephan-gh commented on #1441
It was added in https://github.com/SpongePowered/SpongeAPI/commit/da8e70012f96bab9891ac391eba573584005807b, we will update the builds on the Maven repository and downloads page as soon as possible. You can build SpongeAPI locally if there are changes that haven't been pushed to the Maven repository yet.

[2016-12-23 14:32] stephan-gh commented on #1441
A new build with the latest commits is available now.

[2016-12-23 14:32] #1441 closed, assigned to stephan-gh

[2016-12-25 17:52] windy1 opened #1442 "PaginationList does not count newlines as list lines."
When adding `Text` with newlines to the `PaginationList`, the text is treated as one line.

[2016-12-26 10:06] Maxqia commented on #973
ChangeBlockEvent.Pre + NamedCause.LIQUID_FLOW should do this (dunno about the dragon egg part though)

[2016-12-27 04:52] codeHusky opened #1443 "Can't set inventory's name"
It's impossible to set an Inventory's name unless you create an entirely new Inventory through an InventoryBuilder. This is kind of delaying development of one of my plugins, and I don't see an actual reason why we couldn't change the inventory's name on demand.

[2016-12-27 09:56] Maxqia commented on #393
BTW, while going through your method list (implementing it), I noticed that getCurrentMoonPhaseFactor is listed twice :P

[2016-12-27 13:53] Yeregorix opened #1444 "CollideBlockEvent.Impact should work on non-projectile entities."
All the entities can be projectiles, it only depends on the usage we have of them. For example, I need to launch an `Item` like a `Projectile` (with a `Player` as the `ProjectileSource`) and I need to listen to `CollideBlockEvent.Impact` but its only called for `Projectile`s.
It would be nice if we can do a kind of generalization of the `Projectile` interface for all entities. It would be an optio

[2016-12-27 14:42] codeHusky commented on #1444
Well, in base Minecraft nothing is a projectile that doesn't need to be, really.

[2016-12-27 23:51] simon816 commented on #1444
The `Projectile` interface is really used more for classification. In the vanilla code, there's not really much of a classification for this (other than `EntityThrowable`). When you call `launchProjectile` on a `ProjectileSource`, the behaviour is specific to the source/projectile combination.
If you try to launch an item from a player in the same way a player launches an arrow, the item would not

[2016-12-29 09:21] Yeregorix commented on #1444
I can throw an item with an appropriate velocity, like a projectile but I still need to listen `CollideBlockEvent.Impact` but its only called for "real" projectiles.

[2016-12-30 17:47] ronaldburns commented on #596
Hoping for this. Would help to check food level changes

[2016-12-30 18:25] Favorlock opened #1445 "TextStyle#negate has incorrect order of parameters"
https://github.com/SpongePowered/SpongeAPI/blob/871fcd1b9cddc82fefce9fdecc1ac690ae6762dd/src/main/java/org/spongepowered/api/text/format/TextStyle.java#L326

The order should be:

1. bold
2. italic
3. underline
4. strikethrough
5. obfuscated

[2016-12-30 18:50] #1445 closed, assigned to kashike

[2016-12-30 18:51] kashike commented on #1445
https://github.com/SpongePowered/SpongeAPI/commit/402597804d55404e59dbdaabda8516a0656eb6e6

[2016-12-30 19:17] JBYoshi commented on #596
Related to https://github.com/SpongePowered/SpongeCommon/issues/742. I started working on an implementation some time ago (see that issue), but I'm waiting for some bleeding changes to be (hopefully) merged into what will eventually be API 7. As `bleeding` is still for API 6, which is solely for Minecraft updates, the PR I need is still on hold.

[2016-12-31 16:04] JonathanBrouwer opened #1446 "JoinData is this the first time the player joined?"
I would like a method, which returns whether the current connection of a player is the first one.
So in other words, whether the player joined for the first time.

I think the JoinData class would be best for this. Maybe JoinData#isFirstTime?

[2016-12-31 16:06] simon816 commented on #1446
There's a method in `Player`, [`hasPlayedBefore`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/entity/living/player/Player.java#L224)

[2016-12-31 16:07] JonathanBrouwer commented on #1446
Couldnt find it, I am stupid. Better searching next time.

[2016-12-31 16:07] #1446 closed, assigned to nobody

[2017-01-01 22:47] drakmirv opened #1447 "GenericArguments: Long Command Flags not tab completing."
SpongeAPI/src/main/java/org/spongepowered/api/command/args/CommandFlags.java

On line 271, I can see my long command being added to the retStrings collection.

However, that is never returned.  Instead, after the if check passes to line 280, it moves down to a "return null" statement.

My proposal is to add a "return retStrings;" after line 279.

[2017-01-02 11:34] JonathanBrouwer opened #1448 "QueryServerEvent motd"
The QueryServerEvent.Basic#getMotd() returns a String.
This should be a text because it supports colors, formatting, etc.

Also for anyone who wants to test with it, keep in mind it is not implemented.

[2017-01-02 16:28] #1448 closed, assigned to nobody

[2017-01-03 09:55] gravityfox opened #1450 "Event for players modifying command blocks."
I'm aware that ChangeDataHolderEvent should be able to cover this, but that event isn't exactly implemented yet. On creative servers where users might want to use command blocks, it is important to be able to moderate what commands players can set for command blocks, lest they do things like promote themselves.

[2017-01-04 04:34] xcube16 opened #1451 "When a world directory is deleted, the world's gets config is reset!"
When a world directory is deleted, the next time the server is started, that world's config in config/sponge/worlds gets reset!
This can be very annoying for admins that want to reset there world, only to have to reconfigure it also.
And it gets worse! Configurations that effect generation will not be applied to the spawn chunks, as they are generated before the admin has a chance to modify the ne

[2017-01-04 04:38] xcube16 commented on #1451
I should add that I am using the stable-5 branch (MC 1.10.2).

[2017-01-04 17:15] randombyte-developer opened #1452 "Confusion of arguments and parameters in TextTemplate"
I think there is a confusion of arguments and parameters in [TextTemplates](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/text/TextTemplate.java).
As [this SO answer](http://stackoverflow.com/a/1788926) says, arguments are the values and parameters are the variables.
Now seeing that an [`Arg`](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/s

[2017-01-05 15:33] hqppyz commented on #1396
I found the same bug, did someone fixed that? Cause it's still a problem for me, i cant call any EnumPokemon :/

[2017-01-06 22:45] axle2005 opened #1453 "Initializing EntitySnapShot Error."
I'm trying to grab an EntitySnapShot from inside a listener (Block Drop). I have the order set to Order.Pre, as required by initializing the snapshot and it constantly errors saying it can not be initialized after Pre.

Error: http://pastebin.com/DDAfvUnH
Code: http://pastebin.com/RhR2MBwh
FML Log: https://gist.github.com/axle2005/605350a7fdb01ac909a31e3d09eebaf1

I used SpongeAPI 5.0.0, and also

[2017-01-07 02:00] Musician101 opened #1454 "Experience desync when cancelling ClickInventoryEvent in Anvil."
When clicking the result slot in an Anvil and cancelling the click via an event that extends ClickInventoryEvent doesn't update the experience on the client. If the player disconnects and reconnects, the desync will be fixed.

[2017-01-07 03:31] Musician101 commented on #1454
I neglected to mention this occurs in the SpongeVanilla 1.10.2-5.1.0 Beta 366 jar.

[2017-01-07 09:21] Musician101 opened #1455 "Virtual Anvil Does Detect Result."
Using SpongeVanilla 1.10.2-5.1.0 Beta 366.

Using the Inventory Builder to create a custom Anvil Inventory and opening it for a player does not properly calculate the final result of any items put into it. The client is able to see what the result is supposed to be, but when it is clicked, the inventory acts as if the click event is cancelled and the text field to change an item's name is reset to

[2017-01-07 15:04] XakepSDK commented on #1453
Try DropItemEvent.Pre event

[2017-01-08 06:32] kosakriszi opened #1456 "API does not expose block or item metadata, heavily limits modded minecraft oriented plugins."
A precursor: I understand that the developers of the API decided to not expose the above information due to their dwindling usage in the Minecraft game proper, but please hear me out.

I am working on an ore alert plugin, one that notifies certain permission holders if an ore is mined, and would like to make it configurable. I am writing the plugin to primarily be used in a heavily modded environm

[2017-01-08 06:39] Zidane commented on #1456
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/block/BlockState.java#L140

There is no way a mod can NOT use BlockStates 1.8+. You can literally know all the BlockStates at any time by printing:

[code]

By reading the feedback of that above code and the link I linked you, you can get the properties easily. As for Items, we expose:

https://github.com/

[2017-01-08 06:39] #1456 closed, assigned to nobody

[2017-01-08 06:47] kosakriszi commented on #1456
Awesome, thank you!

[2017-01-08 10:21] #1392 closed, assigned to nobody

[2017-01-08 10:22] #1074 closed

[2017-01-08 12:39] Faithcaio commented on #1455
This happens because the logic for setting the output is inside the Container.
Currently all custom inventories are using a custom container without any logic.

[2017-01-08 13:21] Musician101 commented on #1455
I'm guessing the logic is on the TODO list.

[2017-01-08 23:34] drakmirv opened #1457 ".."

[2017-01-08 23:36] #1457 closed, assigned to nobody

[2017-01-08 23:58] kinggoesgaming commented on #1457
This gotta become a sponge meme x.X

[2017-01-09 00:02] liach commented on #1457
What happened?

[2017-01-09 00:05] simon816 commented on #1457
..

[2017-01-09 00:19] Mumfrey commented on #1457
.. ..-. / -.-- --- ..- / -.-. .- -. / .-. . .- -.. / - .... .. ... --..-- / - .... . / --. .- -- .

[2017-01-09 00:47] ewized commented on #1457
@Mumfrey How dare you, I was winning for a long time. :confused:

[2017-01-09 08:20] drakmirv commented on #1457
I'm sorry, not sure how this got opened by me.  It was not my intention to open an empty issue.

[2017-01-09 10:32] randombyte-developer commented on #1399
This was a serious problem when I wanted to register my own serializer for `TextTemplate`s. My registration was to early which resulted in an overwrite by Sponge with its own serializer. To fix it for me I did `Class.forName(TextTemplate.class.getCanonicalName())` which executes the static block of `TextTemplateConfigSerializer`.

[My fix](https://github.com/randombyte-developer/kosp/blob/master/s

[2017-01-09 11:02] srs-bsns commented on #1457
This issue is now hamsters.

![hamsterdance](http://www.nihilism.ca/misc/images/hamsterdance.gif)
![hamsterdance](http://www.nihilism.ca/misc/images/hamsterdance.gif)
![hamsterdance](http://www.nihilism.ca/misc/images/hamsterdance.gif)
![hamsterdance](http://www.nihilism.ca/misc/images/hamsterdance.gif)
![hamsterdance](http://www.nihilism.ca/misc/images/hamsterdance.gif)
![hamsterdance](http://www

[2017-01-09 13:12] Katrix commented on #1399
You should probably register it locally yes.

https://docs.spongepowered.org/master/en/plugin/configuration/serialization.html

[2017-01-09 18:40] gabizou commented on #1456
Just be prepared that if you try to get all `BlockState` instances, you will have a giant list: https://gist.github.com/gabizou/679d8b5946b319928215 as an example with 3 mods added to the game ;)

[2017-01-10 17:08] JessiahC opened #1458 "World Save Method not implemented"
Class org.spongepowered.api.world.World;

save() Method is not implemented, results in:

`java.lang.AbstractMethodError: Method net/minecraft/world/WorldServer.save()Z is abstract
        at net.minecraft.world.WorldServer.save(SourceFile) ~[ls.class:?]`

[2017-01-10 18:00] #1399 closed, assigned to windy1

[2017-01-10 19:37] gabizou commented on #1458
Re-open in SpongeCommon, not SpongeAPI.

[2017-01-10 19:37] #1458 closed, assigned to nobody

[2017-01-12 14:39] aviaoh opened #1459 "coveralls.io leaks your information"
hi @Zidane,
I recently saw your commits in my coveralls.io account:
![image](https://cloud.githubusercontent.com/assets/22256371/21893720/f4438d26-d8e4-11e6-965e-eb7b3630dd0f.png)

I also opened issue: https://github.com/lemurheavy/coveralls-public/issues/909
FYI.

[2017-01-12 23:12] axle2005 commented on #1453
DropItemEvent.Pre worked fine.

[2017-01-12 23:12] #1453 closed, assigned to Aaron1011

[2017-01-14 12:21] samuelbsource opened #1460 "Simplifying the procedure of sending message through MessageReceiver interface."
It would be very good to simplify this process by adding another method into this interface.
The method could look like `default void sendMessage(Object... message)` and then process all the objects using Text.of method to later use the default sendMessage method to handle it.

[2017-01-14 19:42] Bammerbom commented on #1000
The { and @ symbols are switched.
https://github.com/SpongePowered/SpongeAPI/blob/996ff43c0bb23773a539b160ed41a94be42c7b87/src/main/java/org/spongepowered/api/event/item/inventory/InteractItemEvent.java#L32

[2017-01-15 16:42] kashike commented on #1460
You're too lazy to do `sendMessage(Text.of(...))`? I don't agree with adding such a method at all.

[2017-01-15 18:41] samuelbsource commented on #1460
Well I will just give a link to the discussion on forum: https://forums.spongepowered.org/t/lets-simplify-messagereceivers-method-sendmessage

[2017-01-17 21:11] stephan-gh commented on #1460
I personally agree with @kashike here. In my opinion, a method like this would be only useful for temporary debugging. In all other cases you should either:

- Define a static constant for the `Text` or `TextTemplate` instead of recreating it every time the message is sent.
- Load the messages from a configuration to allow users to change (e.g. to translate) them.

Another reason against the new m

[2017-01-17 21:11] #1460 closed, assigned to stephan-gh

[2017-01-18 22:59] Jimmeh94 opened #1461 "Per-Player Viewing/Spawning"
I'm coming from a couple years of developing on Bukkit and Spigot, and must say, I really like what Sponge is doing! One thing that I think would be amazing is having per-player viewing and spawning. Let me give an example:

In Spigot, there was a Player#hidePlayer(Player toHide). The "toHide" player then couldn't be seen specifically by the first Player object. This is incredibly handy. I think i

[2017-01-18 23:36] Deamon5550 commented on #1461
Yeah this should be covered by #1046 which will eventually get some love.

[2017-01-19 00:10] Jimmeh94 commented on #1461
Ah okay. Here's hoping it's sometime soon! Until then, back to NMS

[2017-01-19 03:10] #1461 closed, assigned to nobody

[2017-01-20 00:14] Wundero opened #1462 "TextTemplate args should have actions"
`TextTemplate` has the `Arg` subclass, which represents an argument that can be replaced. `Arg` currently stores the key, the open and close strings, the format (color and style), whether it is optional, and a `@Nullable` default value (as a `Text`). I think that it should also include a `ClickAction<?>`, `HoverAction<?>` and `ShiftClickAction<?>` as well, to make it more customizable. This should

[2017-01-20 00:21] windy1 commented on #1462
Adding an empty `Text` object (or adding these actions to the supplied text) should achieve what you're looking for.

[2017-01-20 00:48] Wundero commented on #1462
Perhaps it might be effective to have a `TextOptions` class, which holds both a `TextFormat` and the actions for a text, as optionals.

[2017-01-20 02:15] kmecpp opened #1463 "Improvement Suggestions for Command API"
# Preface

One thing I really hated about Bukkit was their command API and plugin.yml file. It forced me to create my own command system that acted as a wrapper for Bukkit's and used NMS to directly register commands, in addition to an API to easily create my custom commands, etc. I'm sure many plugin developers are familiar with this from Bukkit, whether from their own projects or others'.

Unfor

[2017-01-20 07:29] kashike commented on #1463
https://github.com/SpongePowered/SpongeAPI/pull/1201

[2017-01-20 07:48] zml2008 commented on #1463
Ok, there's a lot of issues here.

- WorldEdit (as well as some others) uses its own command system because it's platform-independent, not because of the goodness or badness of Sponge's command system
- Your first proposal is essentially identical to the way CommandSpec works when it's used properly -- for example:
[code]
No extra classes, just one builder object. Unfortunately, a lot of plugin de

[2017-01-20 07:48] #1463 closed, assigned to zml2008, kashike

[2017-01-20 13:14] Katrix opened #1464 "Get the hand state"
It would be nice if there was some way to get the hand state of a player. What I mean with this is to get if a hand is being used (rightclicking). In forge you have stuff like `player.isHandActive()` or `player.getActiveItemStack()`. One example of a use for this would be to do something special if a player is using a shield.

While it is possible to do something similar using `UseItemStackEvent`

[2017-01-20 13:43] Cybermaxke commented on #1464
I would add a key `Key<OptionalValue<HandType>>` to represent the active hand and you should be able to get the `ItemStack` through the inventory api. A helper method would still be nice though.

[2017-01-20 13:55] Katrix commented on #1464
What I was thinking as well. Even though from what I've seen vanilla keep the two concepts seperate I can't think of any case where that would really matter.

[2017-01-20 14:29] kashike commented on #1464
related:
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/entity/ArmorEquipable.java#L125-L145
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/property/entity/DominantHandProperty.java
https://github.com/SpongePowered/SpongeAPI/search?utf8=%E2%9C%93&q=HandType&type=Code

@ZephireNZ was working on hand stu

[2017-01-20 15:44] Bammerbom commented on #1000
Creating a CommandSpec with an empty children list (instead of null) bugs out the usage.
It adds a | in front of the usage.

[2017-01-21 11:32] stephan-gh commented on #1459
I don't know why these commits show up on your coveralls.io account, but it is definitely not a commit from a private repository: https://github.com/SpongePowered/SpongeVanilla/commit/b51d36c.

It's also quite interesting that the commit of https://github.com/kainosnoema/rack-lineprof/issues/5 was on exactly the same day as our commit above.

[2017-01-21 11:32] #1459 closed, assigned to nobody

[2017-01-21 20:17] Katrix opened #1465 "Provide multiple TypeSerializerCollection for different use cases."
I'm sure many people here have either felt it first hand or heard other people complain about it. Sponge uses it's data API for serializing various objects to configs. This works great when working with just serializing data to a text file, and not worrying too much about it, but when asking for something in a config, suddenly it doesn't work so great.

ItemStacks for example requires an item type

[2017-01-21 20:40] Katrix opened #1466 "Get all blockstates valid for a set of traits"
At the moment if you create a blockstate and assign a few (not all) traits to it, the rest of the fields stay as their default value. This is fine when we are talking about two concrete blockstates, but when we are comparing them it doesn't always work as well. For example if you are looking at leaves, and want to only get all the leaves in the area that check if they can decay and also doesn't de

[2017-01-22 12:32] NeumimTo opened #1468 "Add method for returning currently targetted entity"
[code]

With current implementation of the api it is possible to achieve simply with

[code]

However in some cases developer would like to get targetted entity - which means the closest/first entity ray intersects, and entity which matches predicate, if defined. (optionally with possibility to define block filter, so we can check whenever a targetted entity is behind a wall)

The current implemen

[2017-01-23 03:40] #1466 closed, assigned to nobody

[2017-01-23 03:40] gabizou commented on #1466
Closing as it's been added to both API 5.1.0-SNAPSHOT and API 6.

[2017-01-26 22:18] turtledude01 opened #1471 "Combat Swing delay"
Add the ability to modify, or completely disable the swing delay in combat.

[2017-01-27 00:29] parlough opened #1472 "No populators for most structures"
I am looking to use populators for many of the Minecraft structures, but they seem to be missing from the API, right now it seems there are only `Dungeon`s. It would be nice to be able to modify and then populate desert temples, jungle temples, mineshafts, nether fortresses, ocean monuments, strongholds, villages, witch huts, and igloos.

[2017-01-27 01:52] Deamon5550 commented on #1472
Yes this is something I will get to at some point.

[2017-01-27 13:46] rexbut opened #1473 "ItemStack#setQuantity(int) thrown IllegalArgumentException"
Since commit https://github.com/SpongePowered/SpongeCommon/commit/629b59f3c1bf57a2c6df57a179b2473965713f72,

The exception IllegalArgumentException which is thrown by the "[ItemStack#setQuantity(int)](https://github.com/SpongePowered/SpongeCommon/commit/629b59f3c1bf57a2c6df57a179b2473965713f72)" function  became useless.

Would it be possible to remove it?

[2017-01-27 22:50] gabizou commented on #1473
Stacktrace?

[2017-01-27 23:17] rexbut commented on #1473
I meant that it was now useless to leave the exception "IllegalArgumentException" in the header of the function because it is never launched.

[2017-01-27 23:22] kashike commented on #1473
this should go in the OCD issue

[2017-01-27 23:22] #1473 closed, assigned to nobody

[2017-01-29 06:26] ryantheleach commented on #1461
I thought this was already covered by the vanish API's? I'm probably wrong though, been out of it a while.

[2017-01-29 07:07] Deamon5550 commented on #1461
@ryantheleach yes the vanish apis handle this if you want to hide someone from every player but this is about hiding one player specifically another player while still letting them be visible to others.

[2017-02-01 14:52] Dragoncall opened #1475 "No way to set the location of an offline player"
Currently there is only one way to alter the position of an offline player, which is by writing to the NBT's. As this is really unhandy and (IMO) unspongy, I would request another option to do this.
I've looked into the User class, which is the class that resembles an offline player. In this class there are ways to set/get the inventory,... but no way to alter the location of the player. If this i

[2017-02-01 18:38] #1447 closed, assigned to nobody

[2017-02-01 18:39] kashike commented on #1447
https://github.com/SpongePowered/SpongeAPI/commit/320df402f83d6a75da2715e8a2a9cb1598413543

[2017-02-09 23:48] Aaron1011 opened #1482 "Document Keys"
Many of the fields in `Keys` are either missing javadocs entirely, or could be elaborated on greatly to make things easier for plugin developers.

It might also be helpful to link to the corresponding `Key`s in each `DataManipulator` and vice-versa.

[2017-02-12 18:41] DDoS commented on #546
Don't think this will ever happen. Closing it.

[2017-02-13 02:45] mcmonkey4eva opened #1485 "Deprecate key changes properly"
In 6.0.0 some keys were changed.
EG, `armor_stand_marker` is now `is_marker`.

Those should be deprecated safely in such a way that the old keys still exist and point at the new keys.
That way code compiled for 5.0.0 can still run on 6.0.0 - or also just code authors using 6.0.0 can use the only documentation that is publicly available, IE 5.0.0 documentation.

[2017-02-13 08:16] bloodmc commented on #1431
FakePlayer is a forge only concept, use internals if you want to check for it.

[2017-02-13 08:16] #1431 closed, assigned to nobody

[2017-02-13 08:55] ghost commented on #1485
@gabizou should I do this in #1484 or would that broaden my scope too much?

[2017-02-13 09:08] gabizou commented on #1485
@saladoc As long as you can solve it soon. I was going to work on merging the check style changes into stable-5 and bleeding tomorrow.

[2017-02-13 22:00] Dragoncall commented on #1475
Is there any update on this? :)

[2017-02-15 13:36] ghost opened #1488 "JoinData should be available from Users as well"
Currently `JoinData` can only be obtained from a logged in `Player`.
However that information would be useful for plugin functions like a `/lastseen` command or automatically cleaning up player-related structures after they have not connected to the server for a time, so it should be made available from `User` objects as well.

[2017-02-15 17:32] dogboy21 opened #1489 "Negative number arguments are interpreted as flags"
Numeric arguments in commands, such as `GenericArguments.doubleNum` or `GenericArguments.integer` with a negative number are interpreted as a short flag, not as a negative number. This causes the command to throw an exception.

**Example:**
![Example](https://ss.myftb.de/FQs2y_8R.png)

[2017-02-15 18:51] zml2008 commented on #1489
Did the setUnknownFlagBehavior method on the flag builder ever make it in? You'd have to set that to ignore for negative number arguments to work with flags.

[2017-02-15 19:02] ghost commented on #1489
Maybe it would be wise though to disallow flags starting with a number. I can see how this would be confusing.

[2017-02-16 16:04] Blackbird1604 commented on #1000
In CompanionData there is a writing misstake: contianer -> container

[2017-02-17 14:29] JonathanBrouwer opened #1492 "Bed data (Which half + Direction of other half) + More generic way to get blocks of multi-block structure"
It is currently impossible to get which part of a bed a certain bed block is, and which direction the other part is.
Should we use PortionTypes.BOTTOM/TOP to obtain which part of a bed the block is?
And maybe Keys.CONNECTED_DIRECTIONS for the direction? Altough the beds aren't visually connected like for example fences, so a new key might make more sense.

Also I would like a more generic way to g

[2017-02-17 20:56] gabizou commented on #1492
It's an oversight, missed the opportunity to add a bed portion catalog type.

The sad part about Minecraft and multipacks is there IS no generic way to understand them without using what was added. a while ago as [`BlockTrait`s](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/block/trait/BlockTrait.java), since that is a direct exposure of block states

[2017-02-19 07:58] Wundero opened #1493 "TextTemplate serializer problems"
In the [TextTemplate serializer](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/text/serializer/TextTemplateConfigSerializer.java#L84-L86), three lines have problems that prevent it from properly deserializing.

The first two lines should, in the `getNode` call, have the nodes be prefixed with `NODE_OPTIONS`, because the serialization method does that

[2017-02-21 07:04] parlough commented on #1321
This is not necessary anymore. You can offer the `EntityType` to an `ItemStack` of `ItemTypes.SPAWN_EGG` with `SpawnableData`.

[2017-02-21 07:04] #1321 closed

[2017-02-21 14:26] SjsolisZXA opened #1495 "[6.0.0][1.11.2] UseItemStackEvent.Start and LaunchProjectileEvent Not Functioning"
Sponge Build: spongeforge-1.11.2-2227-6.0.0-BETA-2159
Sponge API Build: 6.0.0-20170217.091623-41
Forge Build: forge-1.11.2-13.20.0.2227-universal
Java Version: 1.8.0_121-b13

Hello, I have the following listeners that do not function at all. Unless I'm doing something wrong, I would like to know if this can be looked at. Thanks!

    @Listener
    public void onPlayerConsumption(UseItemStackEvent.

[2017-02-23 07:52] gabizou opened #1496 "Expose 1.10+ added DamageSources"
In 1.10-1.10.2, a few new internal `DamageSource`s have been added. I'll put up a table for both versions as they need to be added to each API branch respectively.

1.10.2 | Description
------ | -------
`FLY_INTO_WALL` | Flying into a wall horizontally
`DRAGON_BREATH` | EnderDragon specific damage (currently not used however)

1.11.2 | Description
------ | -------
`FIREWORKS` | Apparently, firewor

[2017-02-24 08:11] leelawd opened #1497 "Removing player specific prefix option with null?"
Attempting to remove a player specific prefix with the following code does not work:

player.getSubjectData().setOption(SubjectData.GLOBAL_CONTEXT, "prefix", null);

This method works with all permissions plugins besides LuckPerms. As far as i am aware.
I was referred here by LuckPerms since this was an api issue. https://github.com/lucko/LuckPerms/issues/194

If there is a better way to achieve t

[2017-02-24 19:15] parlough opened #1498 "No way to check if an item stack will fit in an inventory"
I think a useful addition to the `Inventory` interface would be `willFit(ItemStack stack)`, `hasSpace(ItemStack stack)`, or some similar method to see if an an item stack you want to offer will fit in the inventory. Right now you actually have to offer it and then check if all of them fit, then if not take them back out.

[2017-02-25 10:54] Cybermaxke commented on #1498
I would prefer `peek` methods to get all the `SlotTransaction`s that would occur when perform `set`, `offer`, etc. And also give it methods to check if it was successful, the rest items that weren't added and maybe a method to easily apply the complete result or a specific `SlotTransaction`.

[2017-02-25 21:30] Aaron1011 opened #1500 "Allow determining if an unload chunk has been generated"
Currently, it's necessary to attempt to load a chunk (`World#loadChunk`) to determine if it's already generated - performing an necessary chunk load if the plugin simply wanted to know if the chunk already existed. We should add a method such as `World#chunkExists` to check if a chunk has been generated without needing to load it.

[2017-02-25 21:42] #1497 closed, assigned to nobody

[2017-02-26 00:42] turtledude01 opened #1501 "Allow EconomytransactionEvent to be cancelable"
It would be nice to be able to cancel the transaction for various reasons, the main one being the idea behind my plugin ServerEco.  It listens for the transaction and would cancel it if another account cant handle it.

[2017-02-26 02:26] turtledude01 commented on #1501
I'm not sure myself on this, but if canceling the event were to cause the ResultType to be ResultType.canceled I believe that would allow plugins to do handling depending on what the economy plugin/listener does specifically.  I believe more flexibility would be good.  And this would also not cause most well made plugins currently to break, since most either just listen for the ResultType.SUCCESS

[2017-02-26 12:31] NeumimTo opened #1503 "Cancelled ClickInventoryEvent still sends a packet to client"
- Create an inventory and fill it with some items
- Listen to InventoryClickEvent and cancell the event

[code]
- Player shiftclicks the item in opened inventory. Event is cancelled but player still receives packet which informs the client about item transfer.
- For a tiny fraction of second the clicked item is present in player's inventory.
- If the player hits escape (close the inventory) in a c

[2017-02-26 15:46] Aaron1011 commented on #1503
That's not the result of the client receiving a packet. The container click logic gets executed on both the client and server, meaning that the client will have already performed the shift-click action locally before the server even receives the packet. To see this in action, try setting a thread-only breaking in the server click packet handler, and shift-click an item. You'll notice that the item

[2017-02-26 17:34] Limeth commented on #1503
Maybe this is something the client-side Sponge mod would help with in the future. Would be great getting rid of these little nuisances.

[2017-02-26 18:12] #1503 closed, assigned to nobody

[2017-02-26 20:00] randombyte-developer commented on #733
@zml2008 Should be closed because it was added: https://github.com/SpongePowered/SpongeAPI/commit/e5a7785fd62359299580a321020165be37be8e47

[2017-02-26 20:11] #733 closed

[2017-02-27 07:12] gabizou opened #1504 "Error Reporting in the API"
Currently, it's a well known fact that the CauseTracker does provide a lot of information with regards to providing exceptions and debugging information for Sponge developers to be able to fix bugs in the implementation. Be it that those bugs are directly our fault, or bugs that are interactions with other mods at play. The issue however, is that there is no way to expose this for plugins to provi

[2017-02-27 07:21] gabizou commented on #1504
Replaced by the actual PR: #1505.

[2017-02-27 19:26] simon816 commented on #1504
Having a border is kind of redundant if this is just going to go into its own file anyway.

[2017-02-27 22:36] gabizou commented on #1504
Literally read the description.

[2017-02-28 21:42] SjsolisZXA opened #1506 "ChangeBlockEvent.Place Doesn’t Detect Block Changes Caused By Pluggin"
So I'm trying to track block changes, specifically when blocks are placed, so I can later undo them. I have an executioner that creates blocks in a specified location, but those block changes are not being detected by my listener. In the listener below, I expected to receive spam messages telling me what blocks were being changed by my executioner, but the event was not fired.

    private final s

[2017-03-01 01:29] Noobslayer09 opened #1507 "API Request -Add event for fed mob ready-for-love"
The State of Sponge video says to get the api requests in pronto...

Can an event be added to the api that is thrown when a mob is fed and the heart-particles get thrown?  That prevents from having to track interactions with entities and checking the hand being held being right food, etc by catching the mob being fed with the correct material at right time; event trigger when particle-throwing tri

[2017-03-01 01:45] liach commented on #1507
There is already one...

https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/event/entity/BreedEntityEvent.java#L43

[2017-03-01 09:17] Noobslayer09 commented on #1507
That event is thrown when a new mob is about to be born - I mean if I feed a single lone sheep he eventually is heart-ready even without other sheep around to spawn a baby

[2017-03-01 15:15] liach commented on #1175
Agrees with @gravityfox

[2017-03-02 02:18] axle2005 opened #1509 "TabList Request - A way to disable Autosort."
Just looking for a way to disable the Auto sort :P even if its a boolean option or something...

[2017-03-02 02:41] minecreatr opened #1510 "ClientSettingsEvent doesn't work for custom locales."
If a client connects to a server with a custom localization, or changes their localization to one, the ClientSettingsEvent will not be called, as well as an error will be printed to the console. The main fix I can see would be to not force languages to conform to a preset list, but I wanted to report this as it was preventing me from implementing a major feature in a plugin that involves custom la

[2017-03-02 03:57] kashike commented on #1509
This is done on the client, not the server, and is based on player usernames, team names, and gametypes. Sorting isn't exposed currently, but I'll look into it.

[2017-03-02 03:59] kashike commented on #1510
You know, it would help if you were to provide said error.

We don't. We simply expect locales to match the expected pattern.

[2017-03-02 05:52] minecreatr commented on #1510
Im sorry about forgetting to provide the error, here it is though http://pastebin.com/FxUecj7Y .

[2017-03-02 08:37] Faithcaio commented on #1000
[Wrong error message in FluidViscosityProperty ](https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/extra/fluid/data/property/FluidViscosityProperty.java#L48)

[2017-03-02 10:53] kashike commented on #1510
Yeah, we aren't going to support random strings.
- The language code must be lowercase.
- The country code must be uppercase.
- The separator must be an underscore.
- The length must be correct.

[2017-03-02 10:53] #1510 closed, assigned to kashike

[2017-03-03 18:26] stephan-gh opened #1511 "Move Text XML out of SpongeAPI"
Text XML is a custom text serializer included in SpongeAPI that allows writing text using a XML syntax. It was originally added in https://github.com/SpongePowered/SpongeAPI/pull/708.

While it is certainly useful, in my opinion it is out of scope for SpongeAPI. SpongeAPI should expose the official text formats (so primarily the official JSON syntax) since these will work everywhere, even when usi

[2017-03-04 19:52] ghost commented on #282
How about the API be something like this (note that this hypothetical API would allow both per-player AND per-world borders):
* `Player`/`Entity` and maybe `World`/`Extent` inheriting from a supposed `Borderable` interface which contains some methods like `getBorder()` returning an `Optional<WorldBorder>` and `setBorder(WorldBorder)`, or a single method called `border()` returning some sort of `Bo

[2017-03-04 22:58] lesbleu opened #1512 "PaginationService : FontSize"
Hi,
To use Unicode's Private Use Area,
I need to modify the size of caracters because the default value is 0.

Can you create a function to modify this variable ?
[PaginationCalculator.java](https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/service/pagination/PaginationCalculator.java#L54)

[2017-03-06 02:28] hsyyid commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/scoreboard/objective/Objective.java#L155

`objective` spelled `objectie`

[2017-03-08 11:24] XakepSDK commented on #574
What about this?

[2017-03-10 22:30] malte-laukoetter opened #1515 "Crafting Events"
Currently there is no easy way to do something if an item is crafted in a crafting table or burned in a furnace.

The only way i found to do something similar is by using the AffectSlotEvent but that only really works for blocking the crafting but doesn't allow to get the items that are crafted, because its already fired in the moment the items are in the grid and not in the moment the items are c

[2017-03-11 09:37] #1361 closed

[2017-03-12 00:32] lesbleu opened #1518 "Add Cause : when entity trample farmland"
Hi,
Can you create a new cause when player trampled farmland for event "ChangeBlockEvent.Place" and "ChangeBlockEvent.Break".

[2017-03-12 05:48] gabizou commented on #1518
You can listen to `ChangeBlockEvent.Post` to get the trampled farmland destruction and cancel it that way. Since it's still a player, you can use some simple logic to figure out whether it's "trampling" of land etc.

To be more precise to the issue itself, causes are an implementation thing, not an API thing (as to what goes in the cause is from the implementation).

[2017-03-12 05:48] #1518 closed, assigned to nobody

[2017-03-12 14:11] NeumimTo opened #1519 "Proposal - Use ASM to generate classes required for custom data"
..asm or javassist, or any other bytecode manipulation framework, which is sponge/forge already using
Every "custom data" requires you to write ridiculous amount of code which is almost always +- same.

It would be helpful to have some kind of preprocessing, which generates required classes during sponge startup. (data builder, immutable(builder),. .., Keys...)

It should be enough to specify only

[2017-03-12 18:47] Deamon5550 commented on #1519
I swear there is an issue somewhere for this already but I can't find it. But yes this is something we've planned for a long time and have been working towards building the required parts for.

[2017-03-12 19:03] kashike commented on #1519
@Deamon5550 #1168 / #1198

[2017-03-12 20:32] dogboy21 opened #1520 "Multiple flags in a command leading to errors"
I'm currently using the lastest SF version from Github

Sponge command parsing seems to be confused when a command has multiple flags.

**Example:**
[code]

When only the first flag is used, everything is fine:
![Only first flag](https://ss.myftb.de/nw9QS_EN.png)

When the second flag is used it throws an exception:
![Second flag](https://ss.myftb.de/rdn3WhaR.png)

Using both flags also doesn't wo

[2017-03-13 05:16] #1519 closed, assigned to gabizou

[2017-03-13 05:17] gabizou commented on #1519
As @kashike already mentioned, there's a PR that has this already, there's a few steps I need to take for the implementation prior to it being achievable (since it does break a lot of things).

[2017-03-13 17:59] Deamon5550 commented on #1507
Duplicate #1382

[2017-03-13 17:59] #1507 closed, assigned to nobody

[2017-03-14 08:59] randombyte-developer commented on #1000
Very minor issue, two spaces after the dot: [here](https://github.com/SpongePowered/SpongeAPI/blob/b1aa5e04aae06a86d50b646daad06bab697d1707/src/main/java/org/spongepowered/api/data/value/mutable/ListValue.java#L74).

[2017-03-16 14:57] #1292 closed

[2017-03-17 11:26] randombyte-developer commented on #1452
Is this simple but breaking change planned for API 6?

[2017-03-18 05:16] #1427 closed, assigned to nobody

[2017-03-21 17:51] randombyte-developer opened #1523 "Difference between ItemStack.Builder#add and ItemStack.Builder#keyValue"
What's the difference between [ItemStack.Builder#add(..)](https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/item/inventory/ItemStack.java#L210) and [ItemStack.Builder#keyValue(...)](https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/item/inventory/Ite

[2017-03-23 16:36] VapidLinus commented on #1307
Has any progress been made on this?

[2017-03-23 19:53] SocraticPhoenix commented on #1175
I've been looking at this thread and thinking about this a lot, and I've come to some conclusions that I want to get out there. You may not agree with me, but please explain why if that is the case. Without further ado:

Disclaimer: these conclusion are based on the assumption that one plugin created a region, and another is accessing it. Most are invalid if the region was solely being used by one

[2017-03-23 21:40] gravityfox commented on #1175
So my thoughts on your thoughts:

1. I like this idea. I'm not sure what a good way to implement this is though. However we could do some unofficial community collaboration for what flags would mean what things. Implementing DataHolder is neat, but I don't think it's the right thing to do, especially if plugins are serializing their own regions.
2. Regions should definitely have fancy shapes, but

[2017-03-23 22:07] SocraticPhoenix commented on #1175
My thoughts on your thoughts on my thoughts:

1. I'm wondering if flags could just be a catalog type... furthermore, the sponge api could then provide a bunch of default flags, with implementation for flag behavior up to plugins.
3. It certainly makes sense to provide more than one type of region. I'm thinking there is a region service that allows region objects to be set, while a plugin can choos

[2017-03-23 22:25] ST-DDT commented on #1175
1. Implementing DataHolder is no that complex for a region you just have to make sure that all serializers have been registered for all used data. What happens in the case of no protection plugin being present, does this result in no protection for my region? Or does my plugin have a dependency for an implementation of region service. How do I handle exceptions to the defined rules? Has everything

[2017-03-28 07:31] #1204 closed

[2017-03-28 14:44] Rob5Underscores opened #1525 "Region not unloaded after all of its chunks unloaded"
Hi.

Attempting to unload all chunks within a region so that the region will unload. I'm unloading them all (and have even tried unloading all chunks in the world), however, the region file is not unloaded from memory (and therefore doesn't respond to changes to the file directly).

Is there a way to unload a region or even trigger a cleanup that might do it?

Thanks

[2017-03-29 22:41] simon816 opened #1526 "A few issues with SpongeEventFactory"
The following events are unable to be created with the factory:
`achievement.GrantAchievementEvent`
`data.ChangeDataHolderEvent`
`entity.ExpireEntityEvent`
`entity.HarvestEntityEvent`
`statistic.ChangeStatisticEvent`

The following events have `createX()` methods but shouldn't (these are 'base' events):
`action.InteractEvent`
`action.CollideEvent.Impact`
`block.TargetBlockEvent`
`entity.AffectEnti

[2017-03-30 03:20] Magi1053 opened #1527 "StopSound integration"
There is functionality for playSound, found in the Viewer interface, however searching the entire project I was unable to find any mention of it's counterpart stopSound.
http://minecraft.gamepedia.com/Commands#stopsound

[2017-03-30 07:33] ryantheleach opened #1528 "Config Serializable State Matchers"
https://github.com/SpongePowered/SpongeAPI/commit/abd6fa8fee5c0f86845e80dd4f9980395aaa0388#diff-c00b1420115c3cf9601763262c66ddbdR307

Awesome work guys, StateMatchers are a good step towards making better configs for blocks :)

Would you consider accepting a PR that made them config serializable in some form, so we had a standard way of specifying "loose blocks" in configs?

[2017-03-30 21:06] gabizou commented on #1528
Potentially, yes. It would be interesting to see if it can work based on either traits or data keys as well.

[2017-04-02 14:17] TheRaspPie commented on #1000
Wrong javadocs for Order: https://jd.spongepowered.org/6.0.0-SNAPSHOT/org/spongepowered/api/event/Order.html
`BEFORE_POST` and `POST` say they can be cancelled, but the class description says they cannot be cancelled.
File: https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/Order.java

[2017-04-05 15:22] SjsolisZXA opened #1529 "Tab List Improvement"
Hello, I'd like to suggest an improvement for TabLists. If a method called `.clear()` could be added when one calls `player.getTabList`, it would be greatly appreciated. It would allow programmers such as myself to easily clear a TabList.

[2017-04-05 17:50] ST-DDT commented on #1529
@SjsolisZXA What is your expected result of the `clear()` call.
Remove only all player entries or remove headers/footers as well?

A `reset()` method would be nice as well.
(Reset the TabList to a vanilla `TabList` showing online players)

[2017-04-05 20:42] therealmikz opened #1530 "(issue to delete) Frozen chunk on map generated by Minecraft with Sponge API"
This issue can be removed, I reposted it in project that it concerns: https://github.com/SpongePowered/SpongeCommon/issues/1285

[2017-04-05 21:56] SjsolisZXA commented on #1529
@ST-DDT My expected result would be to clear all entries in the Tab List while keeping the footer and header. Would your suggested `reset()` method restore the Tab List to how it looks like when you log into the server?

[2017-04-06 07:52] RedNesto commented on #1000
[Pitch and Volume are inversed](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/block/BlockSoundGroup.java#L35-L47)

[2017-04-06 11:02] therealmikz commented on #1530
https://github.com/SpongePowered/SpongeCommon/issues/1285

[2017-04-06 11:02] #1530 closed, assigned to nobody

[2017-04-06 11:46] ST-DDT commented on #1529
Yes.

[2017-04-06 13:33] SjsolisZXA commented on #1529
In that case, I think both methods would be great.

[2017-04-09 23:30] VapidLinus opened #1533 "Fire an event when a ServerBossBar is created/modified"
It would be great with an event that fires when a ServerBossBar is created or modified, as well for when a player is added or removed from one.

See the first and last posts in this thread:
https://forums.spongepowered.org/t/solved-serverbossbar-retrieval-help/18268/5

[2017-04-10 06:42] mosemister commented on #1533
The original post suggests that you also want a way so you can retrieve bossBars from the player such as one of the following ways

    List<BossBar> list = Player.getBossBars();

Or

    List<ServerBossBar> list = Sponge.getServer().getBossBars();
    //From there filter bars with the player

[2017-04-10 08:19] VapidLinus commented on #1533
@mosemister Yes that's correct.

I was thinking though if the Sponge team didn't want to do that for whatever reason, then having events fired when they're created/joined/left would be enough for a plugin to track that by itself.

However, having both the events and `player.getBossBars()` and `server.getBossBars()` would be the best.

[2017-04-12 17:28] gaeqs opened #1535 "ItemStack#set(Keys.TREE_TYPE, TreeType) throws failure result."
When I try to edit the TreeType of a ItemStack the DataTransactionResult throws FAILURE even if the ItemStack supports the key TREE_TYPE.

Proof:
http://prntscr.com/evn0n1
http://prntscr.com/evn0xa

[2017-04-12 17:56] gabizou commented on #1535
Use gist.github.com instead of screenshots..... And, this isn't an issue for the API, this is an issue for SpongeCommon.

[2017-04-12 17:56] #1535 closed, assigned to nobody

[2017-04-12 21:12] kashike commented on #1396
https://github.com/SpongePowered/SpongeAPI/commit/27f9b2891ad342d672c24b802abf13b78712e766

[2017-04-12 21:12] #1396 closed, assigned to kashike

[2017-04-12 21:19] kashike commented on #1294
@ryantheleach

[2017-04-13 13:28] ryantheleach commented on #1294
Sorry been out of it for a while.

Tested just now, on Bleeding 726992c2595aab5d2fa9d80a5efb4bf52033035b.

![image](https://cloud.githubusercontent.com/assets/141554/25006604/b6486014-209c-11e7-967a-6cd5ae31e46a.png)

[2017-04-13 17:20] ryantheleach commented on #1533
@VapidLinus we have been discussing what the possible API would look like for this, and were wondering what the usecase was, so we can make sure that whatever gets proposed would suit.

Some brainstorming we came up with:

Renaming withers to say who spawned them.
editing the text to have a countdown timer for how long the wither will last.
Stopping the bars being displayed for riding enderdragons

[2017-04-13 17:23] kashike commented on #1533
You can obtain the `ServerBossBar` for a `Wither` now: https://github.com/SpongePowered/SpongeAPI/pull/1534/files#diff-96e1f3b357e27049ddf52fd33571cadfR63
Access to the dragon bossbar is coming later.

[2017-04-13 20:07] stephan-gh opened #1538 "Make Game.getGameDictionary() optional?"
Currently `Game.getGameDictionary()` is only implemented in SpongeForge. On SpongeVanilla the method will always throw an exception. I'm not sure if it actually makes sense to implement it in SpongeVanilla, so we should consider changing the method to return an `Optional`.

[2017-04-13 21:02] kashike commented on #1538
:+1:

[2017-04-17 20:16] chefexperte commented on #1307
This really needs to be implemented!

[2017-04-18 02:03] #1097 closed

[2017-04-18 02:27] #1047 closed

[2017-04-18 03:10] #1375 closed

[2017-04-18 03:16] gabizou commented on #923
I'm curious whether this is still valid to contain in the API. As I can see at the moment, many things have changed since 2015, and while Ore does have a system to verify the validity of a plugin's jar being signed, I'm not sure whether we should be relying on plugin jars being verified as signed and opening remote connects to grab the signature files for verification. @windy1 may have more input

[2017-04-18 03:25] #1087 closed

[2017-04-21 14:10] Xfel opened #1542 "Child command argument parse error handling"
If using a command spec with child commands and a fallback handler, the behaviour in case of an argument parse error is confusing. If I specify the child command name correctly, but have an error in the child command's arguments, the argument parser will fall back to parse the arguments for the fall back handler.

[2017-04-21 14:17] Xfel opened #1543 "Child data views and maps"
When putting a list of DataViews to a data view, serializing it using DataFormat.HOCON and reading it again, it becomes a list of Maps. This appears to be an issue with MemoryDataView: If the set method is passed a simple map, it is stored as a DataView internally. If passing a list of maps, however (which is what the HOCON translator does), it will remain a list of maps.

[2017-04-22 18:34] #1423 closed, assigned to Deamon5550

[2017-04-24 21:56] blablubbabc opened #1545 "Entity pre-death event"
This is basically the same idea as behind this 2 year old issue: https://github.com/SpongePowered/SpongeAPI/issues/898

However, with minecraft 1.11 and the addition of the 'totem of undying' some justification behind the decision of the linked ticket might have changed by now. A pre-death event might make sense in order for plugins to be able to implement features similar to that of the totem of

[2017-04-25 06:46] gabizou commented on #1545
The totem checks are still performed *after* damage events are handled, so the event will still know whether the damage dealt will cause death.

It's very much the same as how vanilla handles it currently, it sets the entity health to `1.0D` and then applies some potion effects, and removes the now "used" totem from inventory.

It's still possible, you just have to do the same check as vanilla, ch

[2017-04-25 12:38] blablubbabc commented on #1545
I was refering to the willCauseDeath-method here: https://github.com/SpongePowered/SpongeAPI/blob/766022b54cd5a5db9ef87d29855887dda3f9ae7f/src/main/java/org/spongepowered/api/event/impl/AbstractDamageEntityEvent.java#L178
As you pointed out, plugins currently have to additionally reimplement minecraft's logic: Checking if the player is holding a totem somewhere in their hand slots. This might not

[2017-04-25 13:03] ryantheleach commented on #1545
@blablubbabc Thing is, the damage does "cause death" (in the extreme abstract) otherwise the totem wouldn't activate and intervene. at that stage I think of it as multiple systems fighting for priority.

If you can describe a Usecase / User Story for the API, that can't be achieved using the current API I'm sure people will be more sympathetic.

*if it's fast respawning, without the death screen,

[2017-04-25 14:06] blablubbabc commented on #1545
I see the chain of events to be like this:
- some entity action (getting hit, walking into a cactus, plugin action,  .. )
- start of damage handling: damage event
- check: damage event cancelled?
    - yes: no damage gets applied, chain ends
    - no:
        - damage gets applied (including armor damage, damage tracking, etc.)
        - check: entity health reached zero?
            - no: chain e

[2017-04-25 20:04] lucko opened #1546 "Thread safety and Context Calculators"
According to the SpongeDocs, "there are a few parts of Minecraft [and the API] that you can work with asynchronously". One of the given examples is "**permissions handling**".

It was also stated by zml in a permissions implementation document that:

That was certainly also my understanding until now.

However, it was perhaps overlooked that the permissions API also depends on other systems within

[2017-04-25 20:06] bloodmc commented on #1546
@zml2008 please review

[2017-04-26 03:26] ryantheleach commented on #1545
Sorry if I wasn't clear.

What I was interested in reading was a hard example of a plugin that wouldn't be possible (or incredibly hard to implement) without the proposed changes.

e.g.

"The plugin I am developing is an arena plugin, in order to make combat fast, I want to automatically respawn the player without them ever hitting the death screen, making it similar to twitch arena shooters, in o

[2017-04-26 11:02] blablubbabc commented on #1545
You already gave 2 usecases with this. Though the 'custom totem' usecase might be more suitable here to make my point, because 'fast respawn' might indicate that the player first has to die and gets respawned afterwards. This however is about intervening right before the death is actually handled, just like minecraft's totem does it.

I already tried to explain what issues there are with trying to

[2017-04-26 21:07] #1029 closed

[2017-04-27 21:59] parlough opened #1547 "No way to modify spawnable lists within biomes"
If I am not mistake there is no way to modify these lists within Biomes. I think it would be a great addition to the API and implementation to allow us to make biomes more unique or simply have more control over them. I believe there are four different lists, a monster list, a creature(friendly) list, a water creator list, and a cave creature list.

[2017-04-29 17:06] gabizou commented on #1261
Having seen the addition of MoveEntityEvent and the teleportations working correctly, this is likely to be cleaned up in regards to causes with #1370.

[2017-04-29 17:06] #1261 closed

[2017-04-29 17:08] gabizou commented on #1259
I believe we've resolved this issue over the last few months with various method changes. Closing.

[2017-04-29 17:08] #1259 closed

[2017-04-29 18:48] ghost opened #1548 "Sponge Tracking crashing servers at late hours needs fixing ASAP"
[New folder (2).zip](https://github.com/SpongePowered/SpongeAPI/files/966330/New.folder.2.zip)

[2017-04-29 18:52] parlough commented on #1548
What is inside the zip? That's not the best method for including relevant information as some devices cannot open zipped folders and some will not feel comfortable downloading it.

I recommend including more information on when this happened, the crash log, your Sponge version, information about the server's environment all within this issue and using gist or pastebin for the logs.

[2017-04-29 18:54] stephan-gh commented on #1548
Additionally, implementation related issues should be opened on https://github.com/SpongePowered/SpongeForge or https://github.com/SpongePowered/SpongeCommon (depending on the type of problem).

Please re-upload the logs (or whatever is in the ZIP) to http://gist.github.com, share some information about your environment (e.g. Sponge version, installed mods, ...) and re-open it on one of the implem

[2017-04-29 18:54] #1548 closed, assigned to nobody

[2017-04-30 22:05] jaymsDooku opened #1549 "negative potion amplifiers not allowed"
There are some potion effects that accept a negative amplifier such as the Jump Boost Potion Effect, but I'm unable to build a Potion Effect with a negative amplifier because the builder does not accept negative amplifier values.

[2017-05-01 20:43] #1268 closed

[2017-05-01 20:43] #1335 closed

[2017-05-02 07:35] #1511 closed, assigned to stephan-gh

[2017-05-02 07:39] stephan-gh commented on #1511
The old implementation code is available at https://github.com/SpongePowered/SpongeCommon/tree/5409aef39d4b6c1ee2db8484d9d92a0e0acfc69a/src/main/java/org/spongepowered/common/text/serializer/xml in case someone wants to maintain it as a library/plugin.

[2017-05-03 13:44] Katrix opened #1550 "StateMatcher can't be created without any traits"
`BlockState.StateMatcher` doesn't check if the traits for the StateMatcher is empty. Found this while writing a config serializer and deserializer for `StateMatcher`.

The fix should be trivial.
https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/block/BlockState.java#L289

[2017-05-03 16:06] stephan-gh commented on #1550
For me it looks like the actual problem is that it is creating the array with one element less than required, it should just create the array using `this.traits.size()`.

[2017-05-03 16:19] Katrix commented on #1550
Guess I looked too long at it :P. Would it also be an idea to expose the inner fields in the matcher to allow for easier serialization (have to use reflection at the moment)?

[2017-05-03 16:24] stephan-gh commented on #1550
You can open an issue about that. If anything, we could consider making it `DataSerializable` since that is how we expose serialization.

[2017-05-03 23:37] axle2005 opened #1551 "A way to: getPluginDirectory"
Much like the getSaveDirectory.

Since server owner's can define where plugins exist, a simple way of getting that directory without having hoops to jump through would be wonderful.

[2017-05-04 00:07] parlough commented on #1551
I'm curious what is your use case for accessing the plugins/mods folder?

[2017-05-04 01:05] axle2005 commented on #1551
I personally am using it to check timestamps on certain files within it, more or less for clean up purposes... I also just realized this very thing can be obtained by injecting the Default config direction and using the Path...

[2017-05-04 01:05] #1551 closed, assigned to nobody

[2017-05-04 01:27] simon816 commented on #1551
You can do something like
`MyPlugin.class.getProtectionDomain().getCodeSource().getLocation().toURI().getPath()`
to get the jar file path of your plugin

[2017-05-06 04:10] parlough commented on #1313
Good idea, but does this need its own event? Could this simply fire the `AffectItemStackEvent`? If the original is a book and quill and the replacement is a written book in the transaction you know it has been signed.

I'd be willing to implement either of them so just looking for some feedback here.

[2017-05-11 12:20] XakepSDK opened #1555 "How to get itemstack by string representation"
I have string like:
`ic2:te[type=geo_generator]`
How can i get this item?

[2017-05-11 17:07] lesbleu opened #1556 "[SpongeAPI 7.0] Add TeleportTypes for Chorus Fruit"
Hi,
when player eat chorus fruit, the TeleportCause return TeleportTypes.UNKNOW
Can you add a new TeleportTypes for chorus fruit ?

[2017-05-11 20:49] lesbleu opened #1557 "Transform#addTranslation() doesn't save Scall and Rotation"
Hi,
The function Transform#addTranslation return Transform without Scall and Rotation.
[Transform.java](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/entity/Transform.java#L348)

[2017-05-12 17:10] XakepSDK opened #1558 "Events with only one transaction"
Implement some default methods for events, that usually only have one transaction.
In ClickInventoryEvent we need to write this:
`event.getTransactions().get(0).getSlot().getProperty(SlotIndex.class, "slotindex").get().getValue();`
to get clicked slot. It will be really good, to write something like this:
[code]
If i understood right.

[2017-05-13 17:48] PorPit opened #1559 "ChangeBlockEvent.Break event hava some problem"
when i break a ore block and evert setCancelled
the ore block cant to broken ,but falling experience。
look like this

http://i2.muimg.com/508137/d6d7ae64969da44d.png

this is a bug?

spongeapi 5.2.0 - 2322

[2017-05-13 18:54] Yeregorix commented on #1558
I disapprove, `event.getTransactions().get(0)` is a bad practice. To ensure that all transactions are treated you should make a big loop at the root of the method, it's like handling many events of one transaction. I don't see the difference and I don't see why we should add such shortcut methods. These methods would encourage this bad practice.

[2017-05-13 23:57] theboomer opened #1560 "Request: Rain-reachable Y-location"
There is no clean way to determine if a player is being rained on (or any location is recieving any precipitation on it)

The Extent#getHighestYAt() will return the highest solid block that is recieving light, aka, grass blocks under tree canopies, or anything under a glass roof just above or high in the sky.   {At least on SpongeVanilla 6.0.0-Beta-1 this is the implimentation...}

Yet minecraft m

[2017-05-14 08:26] Faithcaio commented on #1558
I agree that getting the first transaction without checking is bad practice.
But an eventfilter could do all the checking for you!
So if you only care for events that affect a single slot you don't have to:
[code]
Instead just add a `@SingleTransaction SlotTransaction transaction` to the method signature. (name is not final^^)

[2017-05-15 17:14] gabizou commented on #1403
Why has this persisted so long in the API repository. This should've been made on SpongeCommon ages ago...

[2017-05-15 17:14] #1403 closed, assigned to nobody

[2017-05-15 21:11] RobertHerhold commented on #1515
Is there any progress on this? It seems pretty important for a lot of plugins (including one I'm working on)

[2017-05-15 21:13] gabizou commented on #1559
This isn't a bug with the API, re-open in SpongeCommon with a bit more detail, like your event listener code, any debugging information as well.

[2017-05-15 21:58] #1559 closed, assigned to nobody

[2017-05-16 10:56] widd opened #1561 "Setting spectator mode is incomplete(?)"
`player.offer(Keys.GAME_MODE, GameModes.SPECTATOR);`
will result in a somewhat "incomplete" spectator state:
* Player is entirely invisible rather than a transparent head box being shown
* Player does **_not_** have no-clipping ability

Setting the gamemode manually via `/gamemode 3` works normally even if the player is in this pseudo-spectator state.

[2017-05-16 21:30] parlough commented on #1498
@dualspiral suggested the idea of introducing a `revert` method to `InventoryTransactionResult`, which I think could be a great alternative solution. The problem here is I imagine duplication could occur somehow, so I think the "theoretical" methods are still a better choice.

[2017-05-16 22:48] Deamon5550 commented on #1561
This should be opened in https://github.com/SpongePowered/SpongeCommon/issues

[2017-05-16 22:48] #1561 closed, assigned to nobody

[2017-05-19 13:10] ryantheleach opened #1562 "Cancellable Sound + effect events."
I'd like to see events for when a server side effect / sound is sent to the client, it would make it possible to cancel the boss sounds to clients outside a configurable radius, among other use cases.

[2017-05-20 20:40] Katrix opened #1564 "Add some way to control plugin initialization order"
Up until now I've always believed that the dependency field in the `mcmod.info` file controlled in what order plugins are initialized. After talking to minecrell today I learned that what it actually controls is the classloading order. If a plugin is specified as a dependency, then it can be sure that the classes in the plugins in depends on are loaded (except with forge where it doesn't always wo

[2017-05-21 09:49] stephan-gh commented on #1564
Duplicate of https://github.com/SpongePowered/SpongeAPI/issues/1070, please comment there.

[2017-05-21 09:49] #1564 closed, assigned to nobody

[2017-05-21 12:13] ryantheleach commented on #1465
With this, there are hardly any opportunities where someone wants to specify exactly only one blockstate.

Unless setting this block in the world, they often want to supply a blockstatematcher instead, which can recognize multiple blockstates. e.g. minecraft:leaves[variant=spruce] should match against all types of spruce leaves, player placed, or naturally grown.

[2017-05-21 12:38] ryantheleach commented on #1512
@lesbleu unless these values are not matching on the server, I believe you would also need to update them on the clients. Reading Mojira bug reports has me believing that specifying them in a server resource pack wouldn't be enough.

Yes it's an issue, one we could probably solve by recreating these values if a serverside resource pack was specified, but it's a lot of work.

The Unicode Private Us

[2017-05-21 13:03] ryantheleach commented on #1529
.clearEntries() over .clear(), if it's only clearing the entries.
.reset()

[2017-05-23 02:14] JBYoshi commented on #1000
Typo in `DamageModifierTypes.SWEAPING` (should be `SWEEPING` with an E)

[2017-05-23 05:56] gabizou commented on #1562
This would potentially flood a metric ton of events. I'm not quite sure whether I like the idea of the amount of events potentially being thrown, especially when it has to combine a full list of entities being sent the sound event.

What would you propose as an event structure?

[2017-05-23 06:02] gabizou commented on #1555
@XakepSDK The issue with this is that it's not a proper item stack representation since you're trying to represent a `TileEntity` from IC2. It's more likely you'll be able to get a `BlockState` and create the `ItemStack` based on the block state.

What I can imagine doing is allowing the creation of `ItemStack`s based on `BlockState`s, and of course, allowing `BlockState#createItemStack()` etc.

W

[2017-05-23 10:29] XakepSDK commented on #1555
Good solution. But i need manually parse this string, yes? Is it possible, to make built-in deserializer?

[2017-05-23 16:15] gabizou commented on #1555
You wouldn't have to manually parse the string, since it looks like you're asking for a block state, you can get the block state with `GameRegistry.getType(BlockState.class, customString)` and verify that it's a valid block state.

[2017-05-30 05:25] ryantheleach opened #1567 "Player#getLocale should return the server default (by configuration) if not ready."
https://github.com/SpongePowered/SpongeCommon/issues/1145

Would it be feasible to replace the method with an optional returning method, instead of defaulting to en_US? That + documentation would make it crystal clear to people attempting to use it on join.

[2017-05-30 12:41] kashike commented on #1567
A locale **must** be available, as it is possible to send messages before the server is aware of the client's *real* locale.

[2017-05-30 14:56] ryantheleach commented on #1567
Sure it's possible to send messages, but that doesn't mean it needs to be exposed to plugins while it's potentially incorrect.

If they want to send messages, they can already without the Locale.

If they want to send localized messages, before they have the players locale, then they can make their own assumption or use a configured default?

If people are against the idea, another option could be

[2017-05-30 15:36] kashike commented on #1567
@ryantheleach Do keep in mind that plugins can send translated messages, in which case a locale is **always required**.

A default locale option wouldn't be extremely useful, seeing as it'd only be useful when first logging in.

[2017-05-30 15:36] kashike commented on #1567
thoughts @Minecrell?

[2017-05-30 19:25] parlough commented on #1567
I feel like making it return an `Optional` is unnecessary, and kind of a pain. There is no problem defaulting to something for the short time where it is not set, as messages may need to be sent and some systems need a locale, and _in most_ cases English is used anyway.

This will just make it so there's a bunch of `player.getLocale().get()` calls everywhere whenever the locale is needed, since 99

[2017-05-31 01:08] ryantheleach commented on #1567
@Meronat more like player.getLocale().orElse(Locales.Default) but I understand your point, which is why I offered that maybe Sponge should be able to offer a non US based default, by configuration.

[2017-05-31 01:08] kashike commented on #1567
I think adding a comment to `getLocale` for `Player`s is a good idea.

[2017-05-31 01:11] parlough commented on #1567
Offering a configuration option for a default language is not a bad idea, as it could be of use elsewhere in Sponge and in plugins.

[2017-05-31 05:31] ST-DDT commented on #1567
I think so too. We should either default to a configurable or the system locale and add a comment in the javadocs. Maybe we should also state that plugins that want to use the locale should use the scheduler and wait x/a few ticks for it to become available.

I also considered using a locale that represent the absent/unset locale like xx_yy. But i guess this requires special handling as using Opti

[2017-05-31 06:05] Sir-Will commented on #556
Is there a reason that his is only available in api 6 and not 5?

[2017-05-31 06:24] ryantheleach commented on #556
Because 5 < 6 and we are up to 7?

5 is too far back now, unlikely to see it added.

It probably depended on other breaking changes, but it's far enough backwards that even if it wasn't a breaking change, I don't see it being added, so I'm not going to spend time to investigate on something that happened a year and a half ago.

[2017-05-31 09:55] simon816 commented on #556
@Sir-Will This was added just before the version 3 release and has not changed since. It's [still available](https://github.com/SpongePowered/SpongeAPI/blob/af4f1afcaabc1630236f0f78f7c5f68229cef631/src/main/java/org/spongepowered/api/world/extent/InteractableVolume.java#L178-L200) in the same interface.

[2017-05-31 09:57] Sir-Will commented on #556
@simon816 hm, I thought it's not implemented as I'm getting `AbstractMethodError` using it. What else could cause that error?
[code]

[2017-05-31 11:20] simon816 commented on #556
That's because the API is not implemented in the current builds. See https://github.com/SpongePowered/SpongeCommon/pull/86

[2017-05-31 18:33] Sir-Will commented on #556
I'm confused, I thought you said it is implemented.
So it's implemented in the API but that API part is not implemented in SpongeCommon?

[2017-05-31 18:50] simon816 commented on #556
The methods have been defined in the API, but are not yet implemented in SpongeCommon

[2017-06-01 09:39] Sir-Will opened #1568 "Using setLocation() and transferToWorld() in MoveEntityEvent.Teleport.Portal causing issues"
I'm trying to teleport the player to a different dimension if he enters the nether portal. For that I'm using and canceling the `MoveEntityEvent.Teleport.Portal` event.
The issue is that if I use `setLocation()` or `transferToWorld()` in that event it will bug out (chunks not loading, /getpos still shows the previous world (nucleus command)) until the player reconnects.

[2017-06-02 00:27] ryantheleach commented on #1568
Are you cancelling it or modifying it? I don't understand how doing both is useful?

My understanding is:

Cancelling the event should cancel the teleport, you stay in the same world as you left.

Transferring someone to a world after cancelling should throw a teleport event again, with a plugin cause.

Modifying the transforms in the event, would normally change the location you are heading to, b

[2017-06-02 02:34] Sir-Will commented on #1568
Canceling. Instead of teleporting the player to the nether and creating an portal in that dimension I want to teleport the player to a world spawn of a different world.
That's how it basically looks:
[code]

If I only change the location with `setToTransform()` it will probably create a nether portal in that world or am I wrong?

[2017-06-02 04:11] ryantheleach commented on #1568
SpongeCommon shouldn't be bugging out with the code you have shown. it's an implementation bug I think.

@trentech have you come across anything like this?

" creating an portal in that dimension "
For cleaner code / giving the server admins more control I'd suggest using a portal agent. The portal agent to be used can be configured in the server settings.

[2017-06-02 04:48] Sir-Will commented on #1568
Create an issue in SpongeCommon.

Hm, I don't want to create any portal only teleport the player.
How I already tried it is the best way to do that I think.

[2017-06-02 07:19] dualspiral commented on #1568
Just to point out, he's not doing it after - he's transferring someone _during_ the event's lifecycle. The portal event handling code still has to fire - he'll raise an event whilst another teleport event is still in progress (even though it's cancelled), in theory, this could be uncancelled later too. I've not looked into the code that does this, and maybe there is an implementation bug that coul

[2017-06-02 07:43] ryantheleach commented on #1568
I've always known where in the code the events get thrown, but that's the first time that I've thought of it this way conceptually from a plugin POV. Now the trick of firing stuff on the next tick doesn't seem like as much of a hack as I previously thought it was, and understand some of the reasoning behind Sk89q's callback proposal.

This is really something that should be covered in some depth s

[2017-06-02 09:53] Sir-Will commented on #1568
Just tested `setToTransform()` and it creates an portal. Seems to even create a end portal if you change the location to the end.

[2017-06-02 10:31] Sir-Will commented on #1568
Ok, using a delay prevents this issue.

[2017-06-02 10:34] dualspiral commented on #1568
I think the solution is to update the documentation on any `MoveEntityEvent` events to note that any changes to the player position must be done via the event `setToTransform` method. Maybe an API method is also needed on the portal event to prevents the creation of a portal. Don't know what anyone else thinks, though.

[2017-06-02 15:12] ryantheleach commented on #1568
In my mind, if you are transferring between worlds and want to override the portal creation behavior, that's exactly what portalagents are designed and exposed for.

Otherwise if a method to the event is added, custom portal agents need to respect the result, and I'm not sure how hairy that gets, maybe the implementation could never call the create/find portal methods though...

[2017-06-02 20:40] ghost opened #1569 "Crash with Doomlike Dungeons Spawners"
When entering one of these dungeons the server will crash as soon as you get close enough for a mob to spawn.

https://pastebin.com/QvZ7KVpg

[2017-06-04 03:41] #1569 closed, assigned to nobody

[2017-06-04 04:36] PaulBGD opened #1571 "Security concerns with the API"
Basically, #1570 solved multiple security issues that are currently present in the software. I run it on my server and it works great, so I think closing it without discussion was very immature.

[2017-06-04 04:39] parlough commented on #1571
It's not funny at all, just annoying. Does not help anyone and wastes the time of project developers and maintainers.

[2017-06-04 04:39] #1571 closed, assigned to nobody

[2017-06-04 09:06] Sir-Will commented on #1568
Found another weird issue with this.
Doing `player.getLocation()` before `event.setCancelled(true);` will give you the coordinates of the destination (nether) but the world of the start position (overworld, where I entered the portal).

How can I get the start/enter location when I don't cancel the event?

[2017-06-04 09:36] dualspiral commented on #1568
Report that to Sponge Common.

[2017-06-06 22:28] Sir-Will opened #1573 "Storing ItemStackSnapshot in an object looses ImmutableDisplayNameData"
I turned an `ItemStack` into an `ItemStackSnapshot` to store it immutable in a object.
When I then get the ItemStackSnapshot from the object and try to get the DisplayName it returns null.

I tried it with those ways:
`snapshot.get(ImmutableDisplayNameData.class).get()`
`snapshot.createStack().get(DisplayNameData.class).get()`

[2017-06-06 23:01] parlough commented on #1472
@Deamon5550 As this is something I would really like to see, I think I am going to give it a shot myself, but some guidelines on how to go about this would be very helpful.

[2017-06-07 10:00] Sir-Will commented on #1573
Nvm, found the issue.

[2017-06-07 10:00] #1573 closed, assigned to nobody

[2017-06-08 01:03] MarkHerhold commented on #1515
$50 Bounty created: https://www.bountysource.com/issues/42904385-crafting-events

[2017-06-08 18:35] EmanYm opened #1574 "Structure block permission"
I know there are permission nodes for command blocks and minecart command blocks.  Has there been any talk about structure block permissions?
The permissions `minecraft.command.give` and `minecraft.command.setblock` only cover obtaining the structure blocks.  It doesn't restrict editing.
I guess restricting creative mode would be an option, but I allow my lead mod to gain temporary creative mode i

[2017-06-10 11:39] Faithcaio commented on #1475
@gabizou shouldn't this be data?

[2017-06-11 08:19] OffLuffy opened #1575 "Provide DataManipulator to control player's SleepTimer NBT"
Players have an NBT tag called SleepTimer (I believe generally ranges from 0 to 100) representing the ticks a player has been in a bed. At the end of the SleepTimer's range, the player wakes up.

In order to control how long the player can stay in a bed or when to kick the player out of bed, it'd be helpful to allow modification to this value.

[2017-06-11 09:00] johnfg2610 commented on #1575
you can edit any NBT data using DataFormat nbt would be DataFormat df = DataFormats.NBT then you can convert to and from data containers

[2017-06-11 17:55] NeumimTo opened #1576 "Inventories and slot indexes"
I need to check if a player has item on exactly n. th slot in hotbar.

With current api i can access the first slot (from left side) with slot index of 0
Optional<Slot> slot1 = hotbar.getSlot(new SlotIndex(0));
the second with slotindex of 1 and so on.

However if there is at least one empty slot accessing items in hotbar like this simply stops work.

See pic related

![2017-06-11_19 44 56](https:

[2017-06-11 21:10] #1557 closed, assigned to nobody

[2017-06-12 09:08] #282 closed

[2017-06-12 09:34] #1538 closed, assigned to nobody

[2017-06-12 09:57] #1371 closed

[2017-06-12 11:22] #1310 closed

[2017-06-12 11:27] stephan-gh commented on #1336
Our scheduler API is not really capable of scheduling in years or even eras so I'm not sure if it really makes sense to use `TemporalUnit` for it. `TimeUnit` limits it to units that make sense.

[2017-06-12 11:29] stephan-gh commented on #1277
Fixed in https://github.com/SpongePowered/SpongeAPI/pull/1484

[2017-06-12 11:29] #1277 closed

[2017-06-12 11:34] stephan-gh commented on #1482
Fixed in https://github.com/SpongePowered/SpongeAPI/pull/1484

[2017-06-12 11:34] #1482 closed, assigned to nobody

[2017-06-14 00:18] jmiahman opened #1579 "Fishing Broke with Latest 1.12-7.0.0-BETA-281"
Looks like the latest sea level changes has broke Fishing. I can cast once and after I catch something can no longer cast. I have to log out and back in.

[00:18:14 INFO]: Plugins (8): Minecraft, SpongeVanilla, GriefPrevention, LuckPerms, SpongeAPI, Nucleus, Mod Coder Pack, Total Economy

If you would like me to run in a debug mode or something let me know.

[2017-06-14 11:47] #1579 closed, assigned to nobody

[2017-06-14 11:48] stephan-gh commented on #1579
Please report implementation problems on [the SpongeCommon issue tracker](https://github.com/SpongePowered/SpongeCommon/issues) the next time. Thanks!

[2017-06-14 20:21] johnfg2610 opened #1580 "Fluid events"
Hey,

So ive been working on a plugin and have noticed that fluids being placed(using buckets etc etc) dont seem to be recorded i was hoping for a FuildBlockChange event or something intergrated into the ChangeBlockEvent

Thanks
Johnfg10

[2017-06-14 21:44] johnfg2610 opened #1581 "AffectItemStackEvent/AffectSlotEvent calling all slots in inventory"
Hey,

whilst developing a block tracking plugin i noticed something a little weird it seems that every time you change anything in your inventory all inventory slots call the AffectItemStackEvent event im fairly sure this isnt intended behaviour as it makes very little sense to me. below i have the first 4 pages out of 10 where it calls the AffectItemStackEvent without the stack actuly being touch

[2017-06-15 13:56] Rubbertjuh commented on #1515
Added $25 to the Bounty
Would love to see this being added asap ^^

[2017-06-15 14:01] Brend-Smits commented on #1515
Added 25$ on top of the 50$ bounty.
Would love to see this being added soon. This is currently holding us back from completing a project that we're working on.

[2017-06-15 14:56] Zidane commented on #1495
Re-open this on SpongeCommon.

[2017-06-15 14:56] #1495 closed, assigned to nobody

[2017-06-15 15:01] Zidane commented on #1351
Closing as this is a none issue and @Deamon5550 is spot on the mark.

[2017-06-15 15:01] #1351 closed

[2017-06-15 15:02] Zidane commented on #1028
Closing as there is now a PR for this. Comment on it.

[2017-06-15 15:02] #1028 closed

[2017-06-15 15:02] Zidane commented on #1027
Closing as there is now a PR for this. Comment on that.

[2017-06-15 15:02] #1027 closed

[2017-06-16 23:09] Xenmai opened #1583 "player.getOpenInventory() returning unexpected values (never an empty optional)"
I've been working on inventory stuff lately and I've encountered a somewhat unexpected behavior when using "player.getOpenInventory()". Since it returns an optional, I'd assume it'd be an empty optional if the player doesn't have an open inventory.
What I've noticed, on the other hand, weirdly enough, is that the optional is never empty, even when the player is not currently seeing any inventory.

[2017-06-17 01:14] JBYoshi commented on #1583
See SpongePowered/SpongeCommon#1011.

[2017-06-17 16:11] Wolfizen opened #1584 "[Request] New Key to mark entities as transient - not saved after unload"
This feature would add a new `Key` that controls whether an entity is saved after it is unloaded. Practically, this key would be read when serializing an in-memory chunk. This flag is useful for plugin-created entities that do not (or should not) need to be saved on the world. Examples are: pets, marker armor stands, quest NPCs. When the flag is present, the entity will exist until after `ChunkUnl

[2017-06-18 10:07] Faithcaio opened #1585 "Recipe API Enhancements"
https://github.com/SpongePowered/SpongeAPI/pull/1582 covered building basic recipes with the builder and registering custom implemented Recipes.
The following points are some things that were not covered by the PR.

 - [ ] Diable mirroring in ShapedRecipes.
 - [ ] Create Ingredients that are not used up in the recipe.
 - [ ] Create a ResultCalculator than can compute the recipe result based on inp

[2017-06-18 17:33] Faithcaio opened #1586 "CustomData and toContainer()"
When implementing custom data people very often forget to implement toContainer().
probably because `AbstractData#toContainer` implements the Interface only adding the version.

Can we do something about this?

@gabizou

[2017-06-18 18:40] gabizou commented on #1586
We can definitely provide an abstract method in bleeding and finalize the toContainer method. It was previously part of the class generation goal to eliminate this sort of issue.

[2017-06-18 22:59] parlough commented on #463
@faithcaio was this solved with your PR?

[2017-06-20 02:44] Magi1053 commented on #1527
Any update on this feature?

[2017-06-20 20:21] Deamon5550 commented on #1527
We accept pull requests, otherwise you'll just have to wait for a contributor to find the time to add this.

[2017-06-21 02:12] Aaron1011 opened #1588 "Economy API refactor"
There's been some discussion recently about refactoring the Economy API. The following changes have been proposed:

* Combine VirtualAccount and UniqueAccount into one. All accounts would have:
 * A unique UUIDs (**not** the same as a player's UUID).
 * A list of UUIDs of owners of the account. These would usually be player UUIDS, but could also be provider-supplied UUIDS with provider-defined sem

[2017-06-21 02:44] Zerthick commented on #1588
So one thing that I've always been curious about is that the Economy API currently provides the means for getting and creating accounts but not deleting them.  This can lead to cases of "orphaned" accounts that no longer have an owning entity associated with them.  For example, in my playershop plugin each shop is given its own account to store its funds, however if a shop is deleted I have no way

[2017-06-21 02:45] ryantheleach commented on #1588
I don't think deleting accounts that have a balance other then zero is a good idea. server admins may want to view them afterwards to fix things up.

[2017-06-21 02:46] Zerthick commented on #1588
True, but that seems like something that would be enforced by the implementing plugin, not the API itself.

[2017-06-21 19:36] ericgrandt commented on #1588
I'm 100% for unique accounts and virtual accounts becoming one. Currently both the unique and virtual account classes are doing the same exact thing for the most part, they are just identified differently (UUID or String identifier). So why not combine them? I think this would simplify the handling and storage of accounts, not that's it too terribly complicated now, but I do think this would be a

[2017-06-21 19:42] Aaron1011 commented on #1588
My idea is that we could have two overloads of the creation method - one which takes a UUID, and one which auto-generates one.

[2017-06-21 21:45] Flibio commented on #1588
I agree with Erigitic, everything mentioned sounds good to me. It will require modifying data storage (at least in EconomyLite), but overall I think it will still work out for the better.

[2017-06-22 13:59] MarkTwoFive commented on #1588
@Erigitic I would go as far as forcing all accounts to have a friendly name for administrative purposes.

[2017-06-22 15:50] Zerthick commented on #1588
I also support merging unique and virtual accounts into one class. My shop plugin for example generates a unique UUID for each shop, it seems silly to not utilize that for a unique account, even though it seems the "correct" way to handle it would be to create a virtual account for the shop.

[2017-06-22 16:47] ItsDoot commented on #1588
I'd like to also propose adding versions of the methods in EconomyService and Account that return CompletableFutures, similar to #1524.

[2017-06-23 02:20] ryantheleach commented on #1588
https://github.com/SpongePowered/SpongeAPI/blob/871fcd1b9cddc82fefce9fdecc1ac690ae6762dd/src/main/java/org/spongepowered/api/service/economy/transaction/TransactionResult.java

and

https://github.com/SpongePowered/SpongeAPI/blob/b1aa5e04aae06a86d50b646daad06bab697d1707/src/main/java/org/spongepowered/api/service/economy/transaction/TransferResult.java

are due for a rename, since Transactions are

[2017-06-23 14:04] Meibisu opened #1589 "Region Regeneration with World Edit?"
So..There is still no improvements to api for region regeneration working to 1.10 Sponge Server? Tried World Edit Sponge from http://builds.enginehub.org/job/worldedit/last-successful?branch=feature/sponge-1.10.2 and SpongeForge 1.10.2-2281-5.2.0-BETA-2407. //regen still not working :C

[2017-06-23 15:20] wizjany commented on #1589
have you tried with forge worldedit? it's not even implemented in sponge worldedit, regardless of what the api supports.

[2017-06-23 15:25] Meibisu commented on #1589
I tried forge worldedit too, regen is working, but very badly, regenerate only very small (20x20 blocks) region, when you take bigger it just crash server with error (tick=60 seconds)

[2017-06-23 22:06] yannicklamprecht commented on #1589
How many ram did you assign to the server?

[2017-06-24 01:50] Deamon5550 commented on #1589
Duplicate #574

For issues with worldedit you should take that to their issue tracker.

[2017-06-24 01:50] #1589 closed, assigned to nobody

[2017-06-24 20:52] parlough opened #1590 "Include fastutil as API dependency?"
Since Minecraft is including the full, original fastutil(version 7.1.0) library now, it would be nice to have it in the API as a dependency like Guava so we can have a guarantee as a plugin developer that all Sponge implementations are including it, so we can use it safely ourselves.

[2017-06-24 20:56] parlough commented on #1590
@Cybermaxke I know you use fastutil in LanternServer, but don't bundle the whole thing at the moment I believe. What is your opinion on including the entire library in the API and then as a result, your implementation.

[2017-06-25 11:59] Cybermaxke commented on #1590
I think developers can take benefit from the fastutil library. The libraries are in the LanternServer included in the final jar, and the fastutil is currently being minimized to only include the used classes.
But when we start deploying artifacts to a maven repo, I am going to change the system a bit that all the libraries are also uploaded and downloaded from this repo. Reducing the size of the L

[2017-06-25 20:26] parlough opened #1592 "No method to retrieve(or set in builder) increase in exhaustion from DamageSource"
In Minecraft `DamageSource`s can cause an increase in exhaustion in the attacked player, but this amount does not seem to be accessible from Sponge's `DamageSource`. I think it should even be possible to set this with the builder as well.

**Edit:** So this actually increases exhaustion, so MCP's name of hunger damage is a little misconceiving. See attached picture:

![image](https://user-images.g

[2017-06-26 03:35] parlough opened #1593 "Post events to a specific plugin"
This would need a slight addition to the API, but most of the work would be in common.

I could not find an issue for this already there, so I think it would be useful to be able to post events to a specific plugin. An example directly related to Sponge would be it allowing the reload event to be dispatched to only the plugin the user specifies.

[2017-06-26 04:14] ryantheleach commented on #1593
I'm not sure if this should be exposed.

Yes it could be useful for the reload plugin, but that's a pretty niche usecase that could be covered by exposing methods to send a reload event to a specific plugin.

vs the amount of trouble it could cause if people sent other events to hard coded plugins.

[2017-06-26 05:26] gabizou commented on #1593
Specifically for reloading yes, it can be exposed, but allowing specific plugin registered listeners being called non-expectantly is a good way to break plugins. Sponge non-specific, what is the use case here?

[2017-06-27 03:21] pie-flavor commented on #1588
I support option 2 of @Aaron1011's original suggestion. I would also say that a use case not covered by the current API, which I ran into in Pieconomy, is that `TransferResult` does not indicate _which_ player the transfer failed on.

[2017-06-27 03:36] pie-flavor opened #1594 "ItemStackSnapshot is not Translatable"
`ItemStack` is translatable, and for good reason. One can't simply translate its `ItemType`, since various things (mods, data values, etc) can affect what the resulting translated name of the item is. And yet to accomplish this functionality with `ItemStackSnapshot`, one must call `createStack()`. I'm curious whether this would be a good idea given the implementation, and if not, why.

[2017-06-27 12:30] ST-DDT commented on #1594
While it is a good idea the main problem is in the impl. Because the current impl relies on the itemstack itself we would have to create it in the impl anyway.

See https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/mixin/core/item/MixinItemStack.java#L232

[2017-06-27 13:18] MarkTwoFive commented on #1588
I would build upon @ryantheleach s suggestion. Each account having a U(U)ID and a ``Set<UUID>`` named ``owners`` would solve the problem of differentiating between virtual and player accounts. Player accounts can use the UUID of the player as their ID while virtual accounts have their own.
This also allows ANY account to have multiple owner allowing account sharing for friends and groups without h

[2017-06-28 00:30] ryantheleach commented on #1588
@MarkL4YG "Player accounts can use the UUID of the player as their ID while virtual accounts have their own."

The usecases need to have different methods in order to disambiguate the account type. I'm tempted that account type should be a catalogue type, with 2 defaults.

This would allow the economy provider to know the difference between accounts, make them tax exempt, or whatever.

E.g. some t

[2017-06-28 11:06] MarkTwoFive commented on #1588
@ryantheleach As I said: Having the account have a players UUID would uniquely specify the account as a player account. While the opposite clearly makes it a virtual one.

Another method would be making a ``Account`` interface with multiple subinterfaces like ``PlayerAccount``, ``SharedPlayerAccount``, ``ShopAccount``, ``BusinessAccount`` and/or ``FactionAccount``

Oh and just fyi: We have fancy q

[2017-06-29 03:44] ryantheleach commented on #1588
A UUID is a UUID. We can't accurately predict the difference between a 'player' uuid and a uuid of something else.

Yes there are some oddities with the way that Mojang have their UUID scheme that makes it more likely to _guess_ correctly, but that would still mean relying on the cache, relying on a user being online, or having logged into the server previously.

The whole mess can be avoided by h

[2017-06-29 03:52] parlough commented on #1593
I do agree with you guys now thinking about it more. It would best be left alone as an internal function for reloading. Plugins should not have to worry about stray events they are not necessarily expecting to occur, and just for them.

[2017-06-29 03:52] #1593 closed, assigned to nobody

[2017-06-29 09:00] stephan-gh commented on #1594
@ST-DDT `ItemStackSnapshot` already maintains a private stack we can use for that: https://github.com/SpongePowered/SpongeCommon/blob/bleeding/src/main/java/org/spongepowered/common/item/inventory/SpongeItemStackSnapshot.java#L74

[2017-06-29 15:22] Erigitic commented on #1588
@ryantheleach Couldn't we determine if a UUID is that of a player using: https://jd.spongepowered.org/6.0.0/org/spongepowered/api/Server.html#getPlayer-java.util.UUID-.

[2017-06-29 16:14] ericgrandt commented on #1588
@ryantheleach How inaccurate is it to use [getPlayer(UUID)](https://jd.spongepowered.org/6.0.0/org/spongepowered/api/Server.html#getPlayer-java.util.UUID-)? I've gotten nothing but accurate results from using it. Yes it relies on a user "having logged into the server previously", but the question is why would they have an account if they were not logged into the server before? I don't think they w

[2017-06-29 16:20] ST-DDT commented on #1594
Well if we already have a itemstack instance anyway then i would really agree on adding such a method.

[2017-06-29 16:30] ST-DDT commented on #1588
@Erigitic well you have to consider the situation where there are to distinct servers (pvp & build) that only share the economy database.
User A only plays pvp thus he never joined the build server. However User B might want to send User A some funds while he is on the build server.

In that case the server would wrongly report the account as virtual although the player exists. Similar issues migh

[2017-06-29 17:14] pie-flavor commented on #1588
@Erigitic The problem with that is that it requires that the implementation be able to distinguish between different types of UUIDs. And simply saying that getPlayer can be used makes the big assumption that that's appropriate for all economy plugins, while keeping there from being an alternative that needs a different system. An important thing to remember is that the API must cover as many use c

[2017-06-29 19:48] ST-DDT commented on #1588
How about we just use String(16) ids for the accounts? If we start using UUIDs the users might just end up mixing them up with player UUIDs. In the following example I explicitly use Strings to separate it from player UUIDs,

Using `String` ids has the benefit, that you might use some meaningful account ids: "Bank_of_Minecraft" should be as valid as "012345678-9abcd-ef01-23456". (Or using P as pre

[2017-06-29 20:20] pie-flavor commented on #1588
What do you mean here? Depending on the plugin, virtual and player accounts could be treated vastly differently.

Why is there a stipulation that every player has an account?

Also, these ADMs should involve Contexts.

[2017-06-29 20:38] ST-DDT commented on #1588
Could you give me an example?

Maybe I phrased that wrong. Every player that needs an account will automatically get one created, if needed.

Yeah, thats also an option.

[2017-06-30 15:24] Cybermaxke opened #1595 "Add missing InstrumentTypes"
A lot of new instrument types were added in 1.12 and the `InstrumentTypes` enumeration should be updated.
http://minecraft.gamepedia.com/Note_Block
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/type/InstrumentTypes.java

[2017-07-02 00:04] parlough opened #1596 "Cannot check if an enchantment is a "treasure" enchantment"
There are some Minecraft enchantments that cannot be obtained from enchanting in an enchantment table. Internally there is a method to check this and I think it would be good to expose this in the Enchantment interface, so plugin developers can check if vanilla or forge added enchantments are of this type.

I'd PR this, just looking for some input to see if it should be exposed. It would probably

[2017-07-02 01:54] gabizou commented on #1596
I'd be willing to add such a method. Since it's abstract enough, we don't need to expose which enchantments are treasures specifically, but the method will expose it to plugin developers. Good shout.

[2017-07-02 02:41] codeHusky opened #1597 "No simple way to apply NBT data to an item, entity, etc."
After looking through the forums and documentation for a long time, there seems to be no easy way to apply a valid NBT JSON object to something that should be able to take it. This is rather annoying because to do this you need to interact with containers, which really isn’t the best when you’re working with entities that already exist. Allowing developers to directly write to and read the NBT tag

[2017-07-02 22:53] ST-DDT commented on #1597
Just to be sure: You want to use NBT and not something similar to it as DataContainers?

If you use pure Impl stuff like NBT why don't you use pure impl stuff to apply it to the objects as well?

If it is merely about applying json data, then [DataTranslator](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/persistence/DataTranslator.java)s might be

[2017-07-03 00:19] gabizou commented on #1597
Set raw data should be usable. It has been available since the original Data API. I wouldn't think using unsafe data is too much trouble and doesn't really do anything different than using underlying NBT.

[2017-07-03 07:53] codeHusky commented on #1597
The only way I’m aware of is translating the object into a container, interacting with the unsafe data object and pushing it back into an object, then replacing it with the old one. It’s just annoying and it would be better if you could just interact with the NBT without having to duplicate the entity.

[2017-07-03 08:38] #1596 closed, assigned to nobody

[2017-07-03 19:08] gaeqs opened #1599 "HealEntityEvent is not fired."
I'm trying to call the event HealEntityEvent, but it seems it's not fired!

I'm not the only one who is having this issue: https://forums.spongepowered.org/t/cancel-any-entity-healing-excluding-healing-by-my-plugin/15926

[2017-07-04 05:29] gabizou commented on #1599
Not really an API issue. Refer to the SpongePowered/SpongeCommon#41. If you're willing to make a PR to implement said event, we do accept PR's for it.

[2017-07-04 05:29] #1599 closed, assigned to nobody

[2017-07-04 15:28] parlough commented on #1595
Along with this I think it would be good to add an `InstrumentTypeProperty` for blocks to show-case what kind of instrument type they are that note-blocks use.

[2017-07-05 14:57] ryantheleach opened #1600 "Ambiguous Inventory Results?"
https://github.com/SpongePowered/SpongeAPI/blob/a4aaeec0007ebd9c3570e41382454e81f875e0a1/src/main/java/org/spongepowered/api/item/inventory/transaction/InventoryTransactionResult.java

    /**
         * The actual result of the operation is undefined, this probably
         * indicates that something went wrong with the operation that the
         * inventory couldn't handle or didn't expect. The

[2017-07-05 22:14] pie-flavor commented on #1588
https://github.com/pie-flavor/Pieconomy

Again, though, that should be left up to the implementation. What if a player needs a permission to have an account? What if there are no player accounts? You're thinking of what is convenient for the most common use-case, but if we want to prevent Vault-like plugins from existing, we need to cover as many use-cases as possible.

---

Another general sugges

[2017-07-06 17:24] XakepSDK commented on #1576
In this screen only slots with index 1,2,8 are non-empty. Its ok.

[2017-07-06 17:34] ST-DDT commented on #1588
Sorry to be blunt but your example is not usefull at all. It doesnt even become clear what is a virtual or none virtual account in your plugin.

If i assume the inventory to be a player account and the servers account to be a virtual account, then under which circumstances is it important that i can differentiate between them being virtual or not?

Is the server not charged any taxes? What about g

[2017-07-06 17:40] XakepSDK commented on #1558
Some news?

[2017-07-06 17:44] pie-flavor commented on #1588
I'm sorry, by "your" I thought you meant "the implementing plugin's", not "the using plugin's". However the implementing plugin, in that case, not only needs to know the difference upon use, but upon creation as well.

But this conveys nothing meaningful and plugins will be unable to handle the case on its own. What is the advantage over returning an Optional?

Could be fiddly, but you could embed

[2017-07-06 18:26] gabizou commented on #1558
@Deamon5550 I think I have an idea on how to implement this with a `@SingleTransaction` annotation as the method argument. Something that can be fast byte code wise. I'll give this a shot at some point.

[2017-07-06 19:48] dualspiral commented on #1588
Just as a thought, you could make the result enum a catalog type that implements a few methods:

* `boolean isSuccessful()`
* `default Optional<Text> getErrorMessage() { return Optional.empty() }`

Plugins that care about the specific error can check to see if the specific `CatalogType` was returned, either through an ID check or just the object, and plugins can add their own catalog types if they

[2017-07-07 01:07] ryantheleach opened #1601 "Listener annotations on classes implementing EventListener?"
Listener annotations / filtering annotations should ideally have an API exposed method of accomplishing the same goals as annotating classes with `@Listener`

At the moment it doesn't seem possible to filter cancellation status of classes implementing EventHandler.

Not sure if this is an API design issue, or an implementation issue at this stage.

@wolfizen

[2017-07-07 01:19] Wolfizen commented on #1601
Yea. I have a use case where I want to both use Event Filters (`@IsCancelled` specifically) and dynamic registration `registerListener(plugin, T.class, EventListener<T>)`. This should of course be extended to any filtering annotation, not just cancellation.

An example of how I think this would work:
[code]

Any annotation on the implemented interface method `handle()` would be treated the same as

[2017-07-07 02:59] GrandPanda commented on #1000
There's quite a few instances of nullable fields not being annotated as such,

[2017-07-07 05:34] ST-DDT commented on #1588
Oh. I see that my choice of words was confusing as well. I'm sorry.

Thats why i have the `getOrCreateFor(Player)` methods as well.
AFAICT there is no need for more than one pure/physical player account (creating more accounts and granting the player access is still possible).

[2017-07-09 13:30] ghost opened #1603 "Cannot set item in hand when spawning entity"
See: https://forums.spongepowered.org/t/spawning-skeleton-with-item-in-hand/19794/4

It looks like unimeplemented yet.

[2017-07-09 14:46] ryantheleach opened #1604 "Change createEntity to use generics?"
At the moment using createEntity from EntityTypes gives you an Entity back.

Is it feasible / a good idea to generic that so that the return type reflects the type of entity being created?

Otherwise you need to cast, and rely upon the programmers knowledge in order to access methods on the entity specific interfaces, or even set their handslots / armor.

I'm guessing the need for this will be red

[2017-07-09 14:47] ryantheleach commented on #1603
This is an implementation issue. Please close it and post on: https://github.com/SpongePowered/SpongeCommon/ .

[2017-07-09 14:49] #1603 closed, assigned to nobody

[2017-07-09 17:30] gabizou commented on #1604
I distinctly remember EntityType generics being discussed at some point. We elected to avoid it since the raw type usage throughout would be necessary in many cases (think about looking up Keys through the registry). I have to find it somewhere at some point to be able to link it to you, unless someone else can find it. I believe I was discussing it with @ST-DDT, but this discussion had to have ta

[2017-07-09 20:02] ST-DDT commented on #1604
I searched for that discussion too, but could not find it.

There is one problem with the above proposal, the generic type would be derived and not explicit.

* `<T extends Entity> T createEntity(EntityType type)`

So both of the following would compile, but only one would work.

[code]

The code would then display a ClassCastException on either the `return` line of the method in (Sponge's code) o

[2017-07-09 22:59] simon816 commented on #1604
Don't know if this is the issue you're thinking of but I made a PR a couple years ago https://github.com/SpongePowered/SpongeAPI/pull/496 where it was decided this wouldn't happen.

[2017-07-10 00:17] ryantheleach commented on #1604
with the example : `<T extends Entity> T createEntity(EntityType type)` is there any other difference then the syntax to the current API with these 2 code examples?

[code]

[2017-07-10 00:24] gabizou commented on #1604
But you're forgetting that it would turn into:

[code]
due to it being `static final EntityType<Zombie> ZOMBIE = DummyObjectProvider.foo;`

I'm less lean on the strict generics than with the cast.

[2017-07-10 03:39] pie-flavor commented on #1588
Another note on the API - something like [this](https://github.com/pie-flavor/Pieconomy/blob/master/src/main/kotlin/flavor/pie/pieconomy/AccountElement.kt) would be nice to put in the API contract. Very useful for plugins which use commands, and applicable to almost all use cases of the API.

[2017-07-10 06:50] #463 closed

[2017-07-11 14:00] ryantheleach commented on #1175
To revive this.

Use cases I see:

1. Change data e.g. membership / ownership of a region by id / name.

 - Changing flags, selling regions etc.
Basic level ownership / membership can be a Key defined in Sponge. Set of Permission Subject

2. Query for Data based on Key for a location.

This would be able to have a single answer for each data/region/protection plugin. Something would need to mediat

[2017-07-12 23:18] Zidane commented on #1597
Modifying NBT with the API is un-supported and the Data API is meant exactly for this. If something doesn't work or isn't implemented then it needs to be addressed.

[2017-07-12 23:18] #1597 closed, assigned to nobody

[2017-07-12 23:24] Zidane commented on #1604
Any approach with generics is muddy. While the cast is annoying, the sub interfaces and the data-like methods in them are for convenience. In most cases, not being of the type of sub-interface isn't an issue.

[2017-07-12 23:24] #1604 closed, assigned to nobody

[2017-07-12 23:50] Zidane commented on #1558
I disagree on this change.

The point of events HAVING transactions is understanding that the changes happening might be multitudes at a time. Whereas it seems easy to just have the concept of getting a single transaction, how does this benefit you? How are you better off having the transaction at element 0 than element 3? It doesn't and can lead to plugins not functioning 100% correctly because t

[2017-07-12 23:50] #1558 closed, assigned to nobody

[2017-07-12 23:55] Zidane commented on #1454
This is the API. If still an issue, reopen on SpongeCommon.

[2017-07-12 23:55] #1454 closed, assigned to nobody

[2017-07-12 23:58] Zidane commented on #1451
This is the API. If still an issue, re-open on SpongeCommon.

[2017-07-12 23:58] #1451 closed, assigned to nobody

[2017-07-13 02:11] connorhartley commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/cause/Cause.java#L59

"to accurately the describe"

[2017-07-13 09:23] Faithcaio commented on #1558
@Zidane
This is not for getting one transaction when there are multiple but instead filtering events that have only one transaction so you do not have to check it yourself.
Most Events only have a single transaction and its a pain to check and unpack it every time even if you do not care about events with multiple transactions.

[2017-07-13 11:48] ryantheleach commented on #1558
I don't understand under what circumstances you only care about 1 transaction?

The only situation I see, is for click gui?

either you want to cancel it, because it was an action with multiple slot changes by default, or you want to get the slot someone clicked.

[2017-07-13 13:17] Faithcaio commented on #1558
exactly

[2017-07-13 13:36] Zidane commented on #1558
@Faithcaio

This is purely a plugin issue then. The API contract says there will be transactions and gives you no impression that there could simply just be one. I'm all for sugaring but this filter encourages developers to be lazy and not think about how they are handling the event. Remember that this isn't just for SpongeCommon, an implementation may very well fire an event with multiple transac

[2017-07-13 13:41] Faithcaio commented on #1558
Well then we should provide a way for plugins to register new event filters.

[2017-07-13 14:03] Zidane commented on #1558
@Faithcaio

Now that is something I can get behind as should you do so in your own projects, you take responsibility for that change. Create a new issue for that aspect alone :).

[2017-07-13 14:58] Faithcaio opened #1606 "Additional Event Filters"
Add the ability for Plugins to register custom EventFilters.

https://github.com/SpongePowered/SpongeAPI/issues/1558

[2017-07-13 16:40] jamierocks commented on #1590
Since 1.12 Minecraft has the whole thing - the API should reflect that.

[2017-07-14 11:35] parlough commented on #1585
Something else that should probably be considered is the brewing stand and creating potions.

[2017-07-14 11:40] parlough commented on #1580
I believe this was fixed in https://github.com/SpongePowered/SpongeCommon/commit/e4438fd5ebc340a371c8b00f6c6a516584dcda38

Give it another go

[2017-07-14 13:22] Cybermaxke commented on #1365
The `ENDER_SIGNAL` particle in the api is `ENDER_TELEPORT`, I used a wrong name.
And for the `RECORD_PLAY`, this isn't really a particle and uses some special behavior. This would require some separate methods, because you can start/stop a record at a specific block position.

[2017-07-14 15:18] Cybermaxke commented on #1595
I am currently working on this, also implementing `InstrumentType`s in general.

[2017-07-15 05:40] parlough opened #1611 "TextStyles.RESET does not work properly"
For example this code -

[code]

Causes the underline to remain on the following white text

![chat](https://cdn.discordapp.com/attachments/334992597779218433/335617478187024386/unknown.png)

While this code causes there to be no underline, using `Text.of()` instead and not resetting the style.

[code]

[2017-07-15 06:20] ST-DDT commented on #1611
The issue of the code here is that the white text is structually inside of the  underlined Text thus inherits that properties. (The reset does not know that there have been underlines in the first place.) The second example properly gives the Text an equal hierarchy.

The RESET would work if everything is created in one `Text.of()`.

[2017-07-16 13:46] KaiKikuchi opened #1613 "Single threaded asynchronous executor suggestion"
Currently, `Sponge.getScheduler().createAsyncExecutor(plugin)` seems to wrap a [Executors.newCachedThreadPool()](https://github.com/SpongePowered/SpongeCommon/blob/2178bf4508669514595116157b07c880f02ea1cd/src/main/java/org/spongepowered/common/scheduler/AsyncScheduler.java#L47).

This forces plugin developers to rely on `Executors.newSingleThreadExecutor()` instead of the SpongeAPI's asynchronous

[2017-07-16 18:40] NeumimTo commented on #1282
Any progress so far? It still seems to be unimplemeted

[2017-07-17 08:22] Cybermaxke commented on #1613
Can't we just limit the amount of `Thread`s that can be created by the `ExecutorService`?

`ExecutorService service = new ThreadPoolExecutor(0, maximumPoolSize,
                                      60L, TimeUnit.SECONDS,
                                      new SynchronousQueue<Runnable>(),
                                      threadFactory);`
When calling `Executors.newCachedThreadPool()` is t

[2017-07-17 08:28] KaiKikuchi commented on #1613
Yes, definitely.

The `Executors.newSingleThreadExecutor()` is, for the most part, just a `Executors.newFixedThreadPool(1)`, as stated on the [Javadoc](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/Executors.html#newSingleThreadExecutor()).

The only thing that I am not sure about is [this part](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/Executors.html#newSingl

[2017-07-17 08:35] Cybermaxke commented on #1613
Yes, they will also be executed sequentially. Because there is only one `Thread` to execute the tasks, so everything has to be executed on that thread. Not sure why you would create a `CachedThreadPool` in this case.

[2017-07-17 11:16] randombyte-developer commented on #1000
wrong javadoc: https://github.com/SpongePowered/SpongeAPI/blob/995a3bd8ea68c49fff33cd1a039c50c0aa2284a0/src/main/java/org/spongepowered/api/boss/BossBarOverlays.java#L42

[2017-07-17 11:48] KaiKikuchi commented on #1613
No, actually `Executors.newCachedThreadPool(1)` is not even a thing! Honestly I am unsure of the real usefulness of using a CachedThreadPool on Sponge, but for a single thread pool it has to be a FixedThreadPool.

[2017-07-17 11:51] Cybermaxke commented on #1613
A `CachedThreadPool` cleans up `Thread`s when they are no longer used, a `FixedThreadPool` will keep them all active even though they are not used. I would use a `CachedThreadPool`, but limit the maximum amount of `Thread`s that can be created.

[2017-07-17 11:59] KaiKikuchi commented on #1613
I think that a custom implementation of a FixedThreadPool is necessary.

Anyway, this was just a suggestion, I'm sure you will figure out how to limit the number of threads (as it's not possible with the current CachedThreadPool implementation) and avoid resource issues.

Also please let it respect the order of insertion, as it would be nice in a lot of cases, like I/O operations.

[2017-07-17 12:03] Cybermaxke commented on #1613
You can easily limit the amount of maximum threads, you just have to use the constructor instead of the helper methods in `Executors`.
`ExecutorService service = new ThreadPoolExecutor(0, maximumPoolSize, 60L, TimeUnit.SECONDS, new SynchronousQueue<Runnable>(), threadFactory);`

[2017-07-17 12:06] KaiKikuchi commented on #1613
~~Actually I don't think a CachedThreadPool is a good idea.~~

~~I checked how the CachedThreadPool is implemented, and basically it'll discard any thread that is waiting for more than 60 seconds. This means that this is not a good idea if you want to execute stuff that take a long time to complete.~~

~~I would keep using a `Executors.newSingleThreadExecutor()` in some case.~~

Ignore this. I thi

[2017-07-17 12:37] KaiKikuchi commented on #1613
A SynchronousQueue cannot be used, because it would not queue the tasks. A RejectedExecutionException is thrown if you try to submit a task to the ThreadPoolExecutor you wrote above if the pool is full.

I would use a `ExecutorService service = new ThreadPoolExecutor(0, maximumPoolSize, 60L, TimeUnit.SECONDS, new LinkedBlockingQueue<Runnable>(), threadFactory);` instead, so it would remove the unu

[2017-07-17 20:58] mosemister opened #1614 "Sending single client data"
In a early State of Sponge there was talk of client only entities. This got me thinking about plugins I had made for Bukkit. But here is what I'm after.

[ ] Player only Time (feature in Bukkit's API)
[ ] Player only Weather (feature in Bukkit's API)
[ ] Player only Entity (Ability to hide Entities was in Bukkit)

Sponge does have Player only Block support with Player.sendBlockChange(Vector3i, Blo

[2017-07-18 00:15] ryantheleach commented on #1614
The team wanted to do all 3 in a consistent manner, as well as being able to send client only data/anything.

The term they have been using to refer to that is Data Contexts

[2017-07-18 20:30] Zerthick commented on #1588
So one use case that I commonly run into (particularly in shop-type plugins) is I want to exchange an item in the player's inventory for funds in their balance. Currently, the only way to do this is to first withdraw the funds from the player's account, check to see if it succeeds.  If the transaction is a success, offer the items to the player's inventory, then check to see if that succeeds (for

[2017-07-19 03:47] pie-flavor commented on #1588
@Zerthick I think that's something to fix in inventories rather than economies, tbh. Reversible transactions on inventories have much wider application.

[2017-07-19 15:11] Faithcaio opened #1615 "Check if inventory contains slot"
It is a pain to try and find out if a slot in inside an inventory in an event.
E.g. Check if clicked slot is in player inventory.

Therefore I propose adding `Inventory#containsSlot(Slot)` (or Inventory?) to the API

@Mumfrey @Zidane

[2017-07-19 15:21] Mumfrey commented on #1615
I'd personally prefer `hasChild(Inventory)` because it's consistent with the general contract of inventories (eg. that everything is an inventory) but also has utility in case you have any other kind of subinventory.

[2017-07-19 15:28] Faithcaio commented on #1615
hasChild would only be for direct subinventories?

[2017-07-19 15:30] randombyte-developer commented on #1614
https://github.com/SpongePowered/SpongeAPI/pull/1046

[2017-07-19 15:33] Mumfrey commented on #1615
My interpretation would be that it means the child is anywhere in the descendent tree of the inventory, and that it could be used to determine whether a Slot appears in an Inventory, a Row appears in a Grid, etc. a Row appears in an Inventory, etc.

Your stated goal is "is Slot in Inventory", but the general case of that is "is Inventory in Inventory" is what I was saying. If you prefer `Inventory

[2017-07-19 15:35] Mumfrey commented on #1615
I suppose the question at that points is whether `containsInventory` respects the identity function. Eg. does `someInventory.containsInventory(someInventory)` return true?

[2017-07-19 15:45] Faithcaio commented on #1615
so that should work too?
`inventory.query(firstrow).containsInventory(inventory.query(stoneitems))`
basicly checking if each slot is contained in the other inventory

[2017-07-19 15:58] Mumfrey commented on #1615
The contract of query states that if the query matches every child of a particular inventory, then the inventory is returned. So in your example above the `inventory.query(stoneItems)` were to return a single slot or multiple slots there are two possibilities for the contract of `containsInventory`:

1. That `containsInventory` returns `true` if the supplied `Inventory` is anywhere in the inventor

[2017-07-19 16:22] Faithcaio commented on #1615
Why not both?
But instead going into another direction for the second one:
As Inventories are a bit like Sets
why not add
`Inventory#intersect(inventory)` returning slots that are present in both (wrapped in an inventory ofc)
and also
`Inventory#union(inventory)`. returning all slots in both inventories

[2017-07-19 16:26] Mumfrey commented on #1615
Indeed, would be pretty cool because then you can satisfy the latter using `inv.query().intersect(inv.query()).isEmpty()`

I like that in that it keeps the contract of `containsInventory` much simpler but also allows some more powerful procedures to be run in an expressive way.

[2017-07-20 04:54] DawnTheFawn1 commented on #1588
I'm all for UniqueAccounts and VirtualAccounts becoming one. While I was implementing the EconomyService I saw no need for them to have different behaviors in handling transactions.
It's also confusing (at least to me) on which one you should be using. It's definitely clear that VirtualAccounts would be Accounts which is shared amongst multiple players. In the javadocs it shows an example of a Vir

[2017-07-20 11:09] randombyte-developer opened #1617 "Confusion of arguments and parameters in commands"
Same issue as #1452:

`GenericArguments` should be `GenericParameter`, `SingleArg` should be `SingleParam` and so on.

[2017-07-20 11:30] dualspiral commented on #1617
In #1587, `GenericArguments` will become part of (via some heavy changes) `Parameter`s for that reason - that would be correct - the are part of the definition of the command. However, I believe that the name `SingleArg` is _correct_, because it represents the data going into the command, and not the definition of the command. Same with `CommandArgs`, that doesn’t contain the definition, it contai

[2017-07-20 13:04] randombyte-developer commented on #1617
Ah, yeah, I forgot about the large PR. Looking forward to that!

[2017-07-20 13:04] #1617 closed, assigned to nobody

[2017-07-20 15:50] TBlueF opened #1618 "Checking if a player (or entity?) is currently elytra-flying (DataManipulator)"
There has to be a way to detect if a player/entity is currently flying with an elytra.
Something like:
[code]

[2017-07-21 02:16] ryantheleach commented on #1618
player.get(Keys.SUPER_STEVE)? @Meronat

ELYTRA_FLYING mode should probably be in the API in some manner, @connorhartley will need it for guardian.

@Meronat Do you know if you can set this independently of the player wearing elytra in Minecraft? I know it's possible to tell that to the client at least thanks to Lantern.

I'm wondering if it would be a failable data, or if it's more like a property

[2017-07-21 02:22] parlough commented on #1618
Super Steve to the rescue! @ryantheleach

I agree blue. This is a key we have in lantern, and it would be useful in Sponge. Shouldn't be too hard to add either, I'll do it :)

What data manipulator should I put it in though? `FlyingData` or a new `ElytraFlyingData`?

@ryantheleach Hmm I will have to look into that. There is this method, not sure what it actually does yet though -
![image](https://

[2017-07-23 08:03] Faithcaio commented on #1334
ChangeInventoryEvent.Held exists and works afaik

[2017-07-23 08:04] #1576 closed, assigned to nobody

[2017-07-23 08:09] Faithcaio commented on #1581
I'm not sure what to do with this plugin output.
Anyways if this problem still happens reopen an Issue on SpongeCommon
with more information.
e.g. include a copy-pasteable Listener for us to reproduce it with.

[2017-07-23 08:09] #1581 closed, assigned to nobody

[2017-07-23 09:53] randombyte-developer commented on #1334
@Faithicaio That's right but it's not the same as "change selected slot". The held event gets only fired when the actual item you are holding changes. If you don't have anything in your hotbar the held event is useless. I had to workaround by filling the player's hotbar with some garbage items to detect scrolling.

[2017-07-25 23:35] Cybermaxke commented on #1336
Can this issue be closed? Or is it still desired to use `TemporalUnit`s in the scheduler API?

[2017-07-25 23:37] kashike commented on #1336
We could simply add a sanity check to ensure only "valid" `TemporalUnit`s are used.

[2017-07-26 01:02] pie-flavor commented on #1336
@kashike What is "valid"?

[2017-07-26 01:35] kashike commented on #1336
not one of (or so):
- `ChronoUnit.CENTURIES`
- `ChronoUnit.DECADES`
- `ChronoUnit.ERAS`
- `ChronoUnit.FOREVER`
- `ChronoUnit.MILLENNIA`
- `ChronoUnit.YEARS`

[2017-07-26 01:43] pie-flavor commented on #1336
Seems legit. Maybe keep it to a blacklist, though, since the point of TemporalUnit is that people can define their own.

[2017-07-26 04:55] ryantheleach commented on #1336
`return unit.getDuration().compare(maxDuration) > 0`

[2017-07-26 17:16] Deamon5550 commented on #1580
If its still an issue then reopen the issue in spongecommon, otherwise 👍

[2017-07-26 17:16] #1580 closed, assigned to nobody

[2017-07-26 17:51] Deamon5550 commented on #1601
We could definitely support the method level annotations like `@IsCancelled` but I'm not sure how we could/should support parameter annotations in a clean way?

[2017-07-27 02:31] Wolfizen commented on #1601
I see the point. Since the goal of an EventListener is to provide an interface, supporting arbitrary method parameters would prevent that. Looks like if this does get implemented it will have to be for method annotations only.

[2017-07-27 13:30] 5igm opened #1619 "About experience"
The event ChangeEntityExperienceEvent had not fired when a player gains EXP.And never been fired.

[2017-07-29 03:11] 5igm commented on #1619
Hi! Is there anyone who can help me with this question?

[2017-07-29 04:25] DenWav commented on #1619
Patience doesn't appear to be a virtue of yours is it.

[2017-07-29 09:17] ryantheleach commented on #1619
@5igm The only method to speed this up, is to provide test plugins demonstrating that it's not fired, as well as debug logs to back up your claim including versions tested.

Github Issues are not a support forum.

If you have happened across a bug, or something unimplemented, This is also the wrong GitHub repository.

**SpongeAPI** Repository contains only the API, reporting issues and bugs here i

[2017-07-29 09:47] #1619 closed, assigned to nobody

[2017-07-30 10:21] Yeregorix commented on #1263
We should add a kind of ChunkTranformer that would edit the chunk data when the chunk is going to be sent to the client (without loading it ?)

[2017-07-31 11:50] thomas15v commented on #1263
Well it's [possible](https://github.com/thomas15v/NoXray), slightly buggy tho.

[2017-07-31 21:53] Yeregorix commented on #1263
Yes but you're using mixin, it would be nice if the API would allow us to edit chunks when packets are generated. I've also seen you got a performance issue because you're loading a lot of unloaded chunks, to avoid loading them, the API should provide us a kind of raw data of the unloaded chunks being sent

[2017-08-01 08:46] thomas15v commented on #1263
Yeah, and so will Sponge 😉. Although the chunk issues are caused by the way I calculate the obfuscated blocks.

I think the neatest thing that should be in the API in some sort of "Player World" (this is about the same what my api in noxray does). So we could do the following for example:
[code]
Also with have the following events:
* NetworkBlockSendEvent: Sends a block to a certain location
* Net

[2017-08-02 19:59] Yeregorix commented on #1263
Nice work! It would be nice if a similar API could be added in SpongeAPI. It could be a ClientBlockVolume, a ClientEntityUniverse, and many others client side stuffs, also, it might be related or an alternative to Contexts and Contextual data #1046
However, is the copy of the viewable chunk a copy of the whole chunk or only the modified blocks ? Is it really necessary to keep this copy ?

[2017-08-03 07:58] thomas15v commented on #1263
Maybe it shouldn't be. But upon modifying this "NetworkWorld" it's important that the blocks in the world (world data) remain unchanged. Problem with have some sort of link with the core blocks to avoid copying, will modify them if you call the method. Unless sponge has some sort of immutable class that can pass for a block, I don't think this would be a good idea.

![untitled diagram 2](https://u

[2017-08-03 10:44] Yeregorix opened #1621 "Add a way to force fluids to flow during world generation"
Currently, blocks of water or lava set by a populator are not flowing.
To fix this issue, we should either force `Extent#setBlock()` and `Extent#setBlockType()` methods to tick the new block or either add a new method in SpongeAPI similar to `World#immediateBlockTick()` called by vanilla fluid populators.

[2017-08-04 14:33] JBYoshi commented on #1263
Try `BlockState`s for the block storage, and `EntitySnapshot`s and `TileEntitySnapshot`s for the entities and tile entities.

[2017-08-04 18:47] #1365 closed

[2017-08-05 10:15] ryantheleach commented on #1365
@Zidane @Cybermaxke I believe this has been incorrectly closed automatically by github?

[2017-08-05 10:47] Cybermaxke commented on #1365
@ryantheleach Everything in this issue should now be covered in the API.

[2017-08-05 12:00] NeumimTo opened #1623 "Get current world time/moon phase"
Seems like we cannot get/or set current world time, nor phase of the moon.

[2017-08-05 21:03] gabizou commented on #1623
Duplicate of https://github.com/SpongePowered/SpongeAPI/issues/393

[2017-08-05 21:03] #1623 closed, assigned to nobody

[2017-08-07 20:07] modwizcode commented on #1000
Wrong Javadoc:
https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/event/entity/MoveEntityEvent.java#L63

Teleport doesn't have to be in a changing World.

[2017-08-08 15:27] #1615 closed, assigned to nobody

[2017-08-09 20:46] Faithcaio opened #1625 "Filter StartsWithPredicate first?"
https://github.com/SpongePowered/SpongeAPI/blob/300807f0c87a17a611effb74125d7cf4af595b98/src/main/java/org/spongepowered/api/command/dispatcher/SimpleDispatcher.java#L346

I'd say filtering out the commands starting with another string is way faster than doing permission checks.