[2018-07-19 17:05] gabizou commented on #1867
I'm putting my vote for:

I personally believe in not abusing vague ambiguity with this where plugins can presume to have an object other than an int for state. I'd rather we actually correct this and for the eventual break of commands in 1.13, we don't have to worry about remembering to remove broken stuff that we patched to fix correctly.

[2018-07-19 17:08] dualspiral commented on #1867
I’m happy with that. This will be incoming within the hour.

[2018-07-19 17:56] #1867 closed, assigned to dualspiral

[2018-07-23 01:34] virustotalop opened #1872 "org.spongepowered.api.item.inventory.Slot.getStackSize reporting incorrect size"
The getStackSize method in Slot is reporting the wrong stack size. According to the documentation when a slot is empty the method should return -1, however when running a plugin on spongevanilla-1.12.2-7.1.0-BETA-93 the stack size that is being reported is 0. This occurred when referencing a player's main inventory and iterating through each slot. I would have opened a pull request but I am not su

[2018-07-23 02:39] gabizou commented on #1872
~move to sc

[2018-07-23 02:40] limbo-app commented on #1872
Hey @virustotalop! I've moved your issue to [SpongePowered/SpongeCommon#2016](https://github.com/SpongePowered/SpongeCommon/issues/2016).

[2018-07-23 02:40] #1872 closed, assigned to nobody

[2018-07-24 14:03] XakepSDK opened #1873 "Make ChangeServiceProviderEvent generic"
Make `ChangeServiceProviderEvent` generic event, so we can directly listen for specific provider change.

[2018-07-24 17:46] FerusGrim commented on #1862
I like the idea of having a simple, global configuration for this.

[2018-07-24 21:33] Aaron1011 opened #1874 "Cannot unregister Inventory listeners"
Currently, Sponge allows registering inventory listeners with `Inventory.Builder#addListener`. However, there is no way to un-register these listeners, since the internal class `CustomInventoryListener` is actually registered on the event bus. Over time, this will lead to a large number of useless event listeners firing on every single `InteractInventoryEvent`

[2018-07-24 21:37] Faithcaio commented on #1847
Check out the Inventory API in bleeding branch.
If you got more stuff you feel needs changing make a new issue.

[2018-07-24 21:37] #1847 closed, assigned to nobody

[2018-07-25 07:08] wysohn opened #1875 "Inconsistent behavior in Inventory API?"
Hi, I'm working on GUI menu ish thingy

I registered Listener to get InteractInventoryEvent.Open event.

And I want to manipulate the custom inventory via this event.

For example, I first create new custom inventory with Inventory.builder(), and I open it with player.openInventory(). I tested it, and it's working without a problem. I checked that getTargetInventory() correctly return the custom i

[2018-07-25 07:42] Faithcaio commented on #1875
Please provide some example code so I can reproduce it easier.

[2018-07-25 11:58] XakepSDK opened #1876 "Permission api - no way to reorder parents"
There is no way to reorder parents! Only one way is to get all parents in all contexts, find required context, create mutable copy of parents list, order it in a correct way, clear all parents in a context and then re-ad them in a loop using
[code]
Suggestion: add method `setParents(Set<Context> contexts, List<SubjectReference>);` to set all parents directly.
Why? You can say, that i can just writ

[2018-07-25 11:58] XakepSDK commented on #1876
@lucko

[2018-07-25 16:13] lucko commented on #1876
Does the order even matter?

[2018-07-25 16:24] XakepSDK commented on #1876
Parents are in `List`, list is ordered, so, order matters.
3 parents allow permission `my.best.perm` and third denies it.
How it calculates, what to apply?

[2018-07-25 17:18] lucko commented on #1876
It depends on the implementation

[2018-07-25 18:10] Faithcaio commented on #1875
I cant reproduce the query returning an empty Inventory.

Because the GridInventory only exists if you query for it.

I'll try to explain a bit how this works:

When you create your inventory:
`Inventory inv = Inventory.builder().build(plugin);`
Based on an `InventoryArchetype` we create a custom inventory with a certain internal structure.
The default `CHEST` InventoryArchetype consists 27 slots.

[2018-07-25 19:11] XakepSDK commented on #1876
Ok. Btw, method to set parents in given context may be useful.

[2018-07-25 23:07] wysohn commented on #1875
Hi, thank you for the detailed documentation! it helped me a lot. Specially, the part where inv.query would create a whole new Inventory instance with its items inside, not it already contains the child instance in it.

However, I conducted an experiment and faced a weird result.

---

Environment:

![image](https://user-images.githubusercontent.com/8789836/43231864-05c72aca-9023-11e8-8afd-ce33aa2

[2018-07-26 06:31] Faithcaio commented on #1875
You queried the open Container, the result contains multiple Grids but is itself not a grid.
[code]

VanillaAdapter is another pseudo inventory which wraps around each inventory viewed in the Container.
One for the top and one for the bottom inventory.
This is because a Container does not always view the entire inventory.
Your armour and offhand slots are not available when viewing a chest.

[2018-07-26 19:28] XakepSDK opened #1877 "MessageEvent does not implement Cancellable, but allows to cancel event"
MessageEvent has 2 methods: `isMessageCancelled` and `setMessageCancelled`, but doesn't implement cancellable interface!
Should be fixed in 7.1 or 8.0.
Annotation `IsCancelled` will not work with this event, because event strictly must implement `Cancellable` interface.

[2018-07-26 19:41] Cybermaxke commented on #1877
MessageEvent is most of the time extended by a other event, this getter/setter is to only cancel the message, and not the whole event.
For example a advancement achieve event implements this one, cancelling the achieve event will cancel that. When a advancement is achieved, it will also display a message to that player, cancelling the message will only prevent that message event. Cancelling the wh

[2018-07-26 19:56] XakepSDK commented on #1877
Understood. Thanks for explanation.

[2018-07-26 19:56] #1877 closed, assigned to nobody

[2018-07-26 21:05] wysohn commented on #1875
Wow that makes things very clear now

It was confusing as the return type seemed to be a Container, yet the method name was getTargetInventory()

Anyway, thank you!

[2018-07-27 03:16] wysohn commented on #1875
@Faithcaio

Hi, Thank you for the reply last time

Do you mind help me out one more time?

So I was able to get the gridinventory I want

but it seems I can't set item in the slot that is already occupied

for the empty slot, I can set ItemStack without problem, but if I try to set it on the slot that is not empty, it doesn't work.

getSlot() on the non-empty slot would return Optional.empty, and

[2018-07-27 09:32] Lignium opened #1878 "Missing CatalogedBy in cataloged interfaces"
Not all of cataloged interfaces have the CatalogedBy annotation. So it was conceived?
For example, the interface Key, or first on the list the Advancement.

[2018-07-27 10:10] ryantheleach commented on #1878
@Cybermaxke @ST-DDT I know you guys are fairly familiar with the Catalog system, Can you help me resolve this if no one else does?

[2018-07-27 13:53] Cybermaxke commented on #1878
Not being on `Key` is something that should be fixed. For `Advancement`s isn't one because they can be reloaded, removed, etc. so it's not possible to list them

[2018-07-27 16:12] Faithcaio commented on #1875
`getSlot` returns the slot. If its Optional.empty the slot does not exist.
Maybe you reversed x and y?

[2018-07-27 16:12] #1875 closed, assigned to nobody

[2018-07-27 18:26] ST-DDT commented on #1878
I just scanned the API and these are all direct children of `CatalogType` without `@CatalogedBy`:

Class | Catalog | Comment
--- | --- | ---
org.spongepowered.api.advancement.Advancement |  |
org.spongepowered.api.advancement.AdvancementTree |  |
org.spongepowered.api.block.BlockState |  | Too many possibilities (IIRC >>100)
org.spongepowered.api.block.trait.BlockTrait |  | Subclasses cataloged
or

[2018-07-27 19:17] Cybermaxke commented on #1878
Yeah, recipes shouldn't be cataloged in 1.13.
null` would never be the case when a catalog is missing, a dummy would be used instead (how the fields are initialized).

[2018-07-27 20:25] ST-DDT commented on #1878
I agree, a better way to search for recipes would be nice though (Which is offtopic).

Well, but that is not what the API contract states (Which may need an update as well).

IMO the dummy solution is not good/better than null because you get something and you have no way of telling whether it is hazardous (explodes on first use) or not. But this is probably offtopic again.

[2018-07-28 03:51] wysohn commented on #1875
You are right :/

I reversed x and y

I was thinking it as a matrix, but the method accepts x first

Thank you for the help!

[2018-07-28 20:32] wysohn opened #1879 "Simple question about DestructEntityEvent.Death"
https://github.com/SpongePowered/SpongeAPI/blob/dbe3cb0af588137bfd4fe2d6582ad1af8a87d234/src/main/java/org/spongepowered/api/event/entity/DestructEntityEvent.java#L65

So I can clearly see that the keepInventory method exists in the DestructEntityEvent.Death, but if I look at the javadoc, https://jd.spongepowered.org/7.0.0/org/spongepowered/api/event/entity/DestructEntityEvent.Death.html

I can't

[2018-07-28 20:37] SimonFlash commented on #1879
This method was added after 7.0.0 and is thus part of the 7.1.0 API.

https://jd.spongepowered.org/7.1.0-SNAPSHOT/org/spongepowered/api/event/entity/DestructEntityEvent.Death.html

GitHub issues aren't really the place to be asking questions like this. Instead, I would recommend sticking to the forums or joining the [Sponge Discord](https://discord.gg/PtaGRAs) (or irc, if that's your thing) for ge

[2018-07-28 20:59] #1879 closed, assigned to nobody

[2018-07-29 15:10] Cybermaxke commented on #1849
@Faithcaio This doesn't cover `peekPoll` operations, `poll` doesn't return a `InventoryTransactionResult` so you cannot restore it. And offering the stack back may result in putting the stack to different slots.

[2018-07-29 17:04] gabizou commented on #1878
Advancements aren't going to be catalogued as Cyber mentioned.

BlockStates are too numerous.

BlockTrait by itself is not a proper type, the subclasses are, which is why they are catalogued.

DataRegistration is as it's name lends itself, a registration for data, used by the implementation to link to deserializers and serializers for custom data to be stored onto entities etc.

Keys is the only o

[2018-07-29 17:45] ryantheleach commented on #1305
From Discord:
"
SquidDev - Today at 1:11 AM
Hello! I've recently had an weird cross-mod interaction which, while no mod is really at fault, probably counts as a bug. Just thought I'd chuck it here to see if anyone had any thoughts.
Nucleus has a "staff chat" system, which forwards chat messages to a separate MessageChannel. However, posting messages will also fire Forge's ServerChatEvent - this wi

[2018-07-29 17:45] Faithcaio commented on #1849
I don't quite get what you want `peekPoll` to do.
Just do peek before poll if you want to know what you get.

If you want offer to not affect all slots of an inventory query for the slots that should be affected before.

[2018-07-29 17:47] ryantheleach commented on #1305
Given causes, would it be worth firing the chat event intertwined with another event, with the OG event as the cause?

This would let people filter chat events for death etc to do death formatting.

This would have the added advantage of the chat event being able to be cancelled as well.

[2018-07-29 17:49] pie-flavor commented on #1305
We could definitely do with a way to mark message channels as "for chat-related modification" and "for chat-related global readability".

[2018-07-29 19:56] randombyte-developer commented on #1855
Possibly related to https://github.com/SpongePowered/SpongeCommon/issues/1152

[2018-07-30 18:13] XakepSDK opened #1880 "API8 Inventory: Adding offer(SlotIndex, ItemStack) to Inventory Interfaces."
New inverface has `offer(ItemStack)` but there is no `offer(SlotIndex, ItemStack)`.
@Faithcaio

[2018-07-31 02:19] lucko commented on #1876
I don't understand what you mean

[2018-07-31 03:13] Aaron1011 opened #1881 "Add 'title scheduler' to allow plugins to display multiple sequential titles"
Currently, the API allows plugins to send individual `Title`s to plugins. However, sending a title while another title is in progress will cause one of the titles to be immediately overwritten.

Sponge should provide a utility class to allow a plugin to schedule a sequence of titles to be displayed to the client. This class would take care of scheduling titles to be sent as soon as possible, while

[2018-07-31 05:55] kashike commented on #1881
The same is true with other things in the game:
- titles
- scoreboard data
- action bar

[2018-07-31 05:59] ryantheleach commented on #1881
I was thinking this was near useless honestly and that plugins could handle it themselves.

But then I realized it may be needed for cross plugin queuing.

[2018-07-31 06:23] XakepSDK commented on #1876
API has this method: https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/service/permission/SubjectData.java#L182
`clearParents(Set<Context> contexts)`
But there is no `setParents(Set<Context> contexts, List<Subject> parents)` method.

[2018-07-31 14:52] Aaron1011 commented on #1881
@kashike: I don't see how scoreboard data fits here - nothing that's displayed on a scoreboard is ephemeral the way that titles and action bar messages are.

[2018-07-31 14:55] XakepSDK commented on #1881
At least we can check, if scoreboard exists, but we can't do this with titles+action bar.

[2018-07-31 19:52] gabizou commented on #1876
It makes sense that if you're using a `List`, it implies that there's an order, and potentially duplicate entires in said list. If the order is not supposed to matter, or that having duplicate entities is not supposed to happen, then the signature should be changed to use a `Set`.

This is the point I believe is trying to be made.

[2018-07-31 22:44] lucko commented on #1876
Indeed a Set would be a more reasonable way to store parents.

I don't see why a set method accepting the full list is necessary, no such method exists for permissions or options.

[2018-08-01 12:49] XakepSDK opened #1882 "LogVariant"
In api you can easily get/set stone variant using `StoneVariant`, but why there is no `LogVariant` for logs?

[2018-08-01 13:11] XakepSDK commented on #1882
nvm, fount it - `TreeType`.

[2018-08-01 17:44] #1882 closed, assigned to nobody

[2018-08-01 19:05] benjaminmordaunt opened #1884 "Create new Extent subinterface to represent unloaded Worlds"
When adding the `setLocation` and `getLocation` methods to the User interface, to allow offline players' locations to be changed, the implementation needed to be modified to accept a Vector3d and world UUID. I believe an UnloadedWorld interface would be more appropriate here, to represent a world on disk which is not currently loaded. Alternatively, the World interface could be adapted to cover bo

[2018-08-01 19:09] Zidane commented on #1884
WorldProperties already exists.

[2018-08-01 19:09] #1884 closed, assigned to nobody

[2018-08-01 19:35] ghost opened #1885 "Add ways to check whether player is shielding or eating something"
I couldn't find anything related to checking if player is currently shielding or eating something. It might helpful in the process of some sort of anti cheats or any other plugins creation that needs to for example calculate something differently if player is currently slowed down by either shielding or eating.

Methods (isShielding/isEating), Keys (IS_SHIELDING, IS_EATING) or any other viable way

[2018-08-02 19:15] gabizou commented on #1874
Why is this an API issue? Wouldn't it make sense to have this in implementation handling the actual automatic unregistration once the custom inventory is closed or "finished"?

IT does make sense though that likewise the Key listeners that are created aren't being unregistered either or "allowed" for unregistration.

What about the possibility of passing an object to find out if it's a listener so

[2018-08-02 21:11] XakepSDK opened #1886 "Change how Configs are Injected to Plugins"
1. ~~Replace `ConfigDir` and `DefaultConfig` with `Config`~~

2. ~~Add option to choose configuration impl. (hocon/yaml/toml/xml/smth else)~~

3. ~~Allow to choose config name in annotation~~(superseded by p.6)

4. Inject `ConfigurationLoader<ConfigurationNode>` instead of `ConfigurationLoader<CommentedConfigurationNode>`

5. Drop `File` injection support. `File` has bad design and many newbies do

[2018-08-03 06:20] Faithcaio commented on #1874
You can open a custom inventory multiple times.

[2018-08-03 10:03] ryantheleach commented on #1886
I don't see the point of injecting a wildcard? Wouldn't it be better to just inject the concrete type of what they want?

We could, but it was my understanding that the annotated injected versions were supposed to be "easy mode" and for anything more complex or harder the developer would be expected to do it themselves.

Basically a way of biasing the community towards whichever standard Sponge pr

[2018-08-03 10:07] ryantheleach commented on #1885
You are muddying a few different issues.

Do you

1. want a way to see if the current speed is different.

or

2. want a way to see if the player is eating or shielding for some other purpose? (Plugins? Spells? Damage?)

[2018-08-03 10:07] jamierocks commented on #1886
Afraid that choosing the config name in the annotation isn't currently possible using Guice. :(

Wanted to do the same thing with another project

[2018-08-03 10:23] TheBrambleShark opened #1887 "Commands with TypeReaders and Preconditions"
This is a suggestion which will include its own PR. I'll edit this post once the PR is posted for convenience.

It should also be noted that, should this be accepted, this will be a **breaking change**. The recommendation is based on the system provided by the [Discord.NET API by RogueException](https://github.com/RogueException/Discord.Net), licensed under the MIT license.

Currently within the S

[2018-08-03 10:26] XakepSDK commented on #1886
At this moment i can't just inject `ConfigurationLoader<ConfigurationNode>`, i should explicitly inject `ConfigurationLoader<CommentedConfigurationNode>`. Will wildcard injection allow this?(iirc, yes)
We have 2 annotations to do nearly same thing. For now `ConfigDir` support injecting `File` and `Path`, why not replace these 2 annotation with just `Config` annotation?

[2018-08-03 10:29] dualspiral commented on #1886
*Nearly*, but *not* the same. There are valid use cases for both, we shouldn't drop one or the other.

[2018-08-03 10:29] jamierocks commented on #1887
Judging from your source example, what your after is an annotation-based command system.

One very similar to your example would be [ACF](https://github.com/aikar/commands), and there's an [existing pr here](https://github.com/SpongePowered/SpongeAPI/pull/1201) for one.

[2018-08-03 10:34] XakepSDK commented on #1886
They inject config path or config loader, they have same `sharedRoot` field, why there should be two annotation for nearly exact same thing?

Also, i propose drop for `File` injection, because so many hello-world coders don't know how to use it correctly and they hardcode things like path separetor.
(`new File("dir1/dir2" + confDir)`) `confDir.resolve("dir1").resolve("dir2")` looks 100 times bette

[2018-08-03 10:36] TheBrambleShark commented on #1887
I'll go ahead and close this issue then. Seems we already have something in the works.

[2018-08-03 10:36] #1887 closed, assigned to nobody

[2018-08-03 10:48] ryantheleach commented on #1070
@Katrix as you created a duplicate issue, and I've not seen anyone else mention this in the wild, Do we want to try to get this in for API8 or can it hold off?

[2018-08-03 10:51] ryantheleach commented on #564
We are hoping to finally have the Text Implementation internal to Sponge come API 8, which will pave the way to this and other translations working nicely finally.

[2018-08-03 10:54] ryantheleach commented on #695
https://github.com/SpongePowered/SpongeAPI/commit/a3431307f06996321489b69664b16202e8806042 on Bleeding.

@Aaron1011 Does this cover this issue?

[2018-08-03 11:01] ryantheleach commented on #1854
Other options are SNBT (Mojang) or NBTT (MinecraftDev IntelliJ plugin)

[2018-08-03 11:02] ryantheleach commented on #1854
For lack of a better place to organize this, I'm putting it under Commands due to Vanilla commands and Brigadier having support for parsing SNBT in 1.13

[2018-08-03 11:05] ryantheleach commented on #1567
Has the situation changed at all with the packet sequence for logins under 1.13?

[2018-08-03 11:10] ryantheleach commented on #1174
There was talk in a different issue that BlockState's Shouldn't be a CatalogType? Just because of the sheer number of them?

Experimentation needed, but Brigadier may make this crazy easy.

[2018-08-03 11:19] ghost commented on #1885
I believe shielding and eating do change or at least should change `Keys.WALKING_SPEED` value.

As an example, I want to detect whether player is currently shielding/eating to properly block suspicious/impossible movement (like sprinting with shielding and so on). Someone from the staff showed me a workaround - listen to `UseItemStackEvent` and then do something if player is actually shielding/eat

[2018-08-03 11:20] dualspiral commented on #1886
Because they both target a `Path` or `File` and return different paths?

To be honest, I'm not seeing overwhelmingly good reasons for dropping the annotations you suggest. If your strongest argument is that they are nearly the same, then I don't see that gaining traction. They both have uses. You may be dynamically generating config files with unknown names at runtime (extreme module system or som

[2018-08-03 11:24] ryantheleach commented on #1876
Possibly tangentially related to https://github.com/SpongePowered/SpongeAPI/issues/977

[2018-08-03 11:29] ryantheleach commented on #1444
So essentially you want CollideBlockEvent.Impact to be valid for all entities, not just projectiles?

[2018-08-03 11:36] ryantheleach commented on #1868
Could this incorporate https://github.com/SpongePowered/SpongeAPI/issues/1382 Zidane?

[2018-08-03 11:37] ryantheleach commented on #1842
I don't see significant difference between the names. Maybe better Java Docs?

I'm all for breaking the API necessarily, but at some point you need to draw the line.

[2018-08-03 11:40] ryantheleach commented on #1853
Sounds good to me, maybe start this by creating a summary of what classes should be annotated, and people can bikeshed about the specifics later?

[2018-08-03 11:45] ryantheleach commented on #1611
As far as I was aware, this is works as intended.

You are appending a child composite text. If you were appending each of those, without constructing a child text it would be fine.

[2018-08-03 11:45] #1611 closed, assigned to nobody

[2018-08-03 11:50] ryantheleach commented on #1698
I'm not sure the API needs additional events to deal with this, and it might be easily handled purely in implementation.

[2018-08-03 11:52] XakepSDK commented on #1842
In my opinion, `from` will create new instance of something from DataView, but actually it just fills object with DataView.

[2018-08-03 11:58] ryantheleach commented on #1562
Related: https://github.com/SpongePowered/SpongeAPI/issues/1752

[2018-08-03 12:00] ryantheleach commented on #1803
I think it would be fair to mention Lantern, just make sure that it's clearly specified as not a 'Sponge Powered' Project.

[2018-08-03 12:04] XakepSDK commented on #1886
Good opinion. Now i can agree with you. See first post edit for.

[2018-08-03 12:05] ryantheleach commented on #1698
~move to sc

[2018-08-03 12:05] limbo-app commented on #1698
Hey @NeumimTo! I've moved your issue to [SpongePowered/SpongeCommon#2041](https://github.com/SpongePowered/SpongeCommon/issues/2041).

[2018-08-03 12:05] #1698 closed, assigned to nobody

[2018-08-03 12:11] ryantheleach commented on #1886
5. Whilst there needs to be correct escaping for various file platforms, using `/` isn't terrible.

https://stackoverflow.com/questions/2417485/difference-between-file-separator-and-slash-in-paths/2417546#2417546

[2018-08-03 12:23] XakepSDK commented on #1886
@ryantheleach this is win nt feature, iirc. `fs.normalize(String)` just removes extra separators.
From `UnixFileSystem`:
[code]

[2018-08-03 12:33] XakepSDK commented on #1886
Oracle says, that `File` is legacy and has many issues.
https://docs.oracle.com/javase/tutorial/essential/io/legacy.html

[2018-08-03 12:52] Yeregorix commented on #1444
That's it mainly. I think ~~`ProjectileSource#launchProjectile` can also be modified to accept all entities and~~ `Projectile#getShooter/setShooter` can be moved to `Entity#getShooter/setShooter` or maybe replaced by a data key/manipulator. That's just my point of view and it's open to debate.

Edit: `ProjectileSource#launchProjectile` for all entities is a bad idea. I think `Projectile` should on

[2018-08-03 13:41] Katrix commented on #1070
Seeing as API8 will completely throw out the mcmod.info file anyway, if we want to do it, that's probably the best place.

Also, for me, the only times this has been a problem is under the server initialization, where plugin X relies on the fact that plugin Y has been initialized. IMO once the server is loaded, the order should be a good enough. In other words, from my point of view, this is somet

[2018-08-03 13:44] Aaron1011 commented on #695
Yes, this is now possible in bleeding.

[2018-08-03 13:44] #695 closed

[2018-08-03 14:07] gabizou commented on #1174
Pretty sure the fuzzy matching to auto completion on block state properties is the end goal, but seeing as 1.13’s auto completion already handles this, it will be exposed.

@ryantheleach they shouldn’t be cataloged as fields, because there’s over 7 Thousand last I counted. But BlockState will always be a first class citizen of CatalogType.

[2018-08-03 16:02] ryantheleach commented on #1174
Yeah that makes sense and removes my confusion, thanks.

[2018-08-03 16:29] kashike commented on #1567
No, @ryantheleach.

[2018-08-03 19:20] ryantheleach commented on #1884
@subylan You may find this method on User helpful.

https://github.com/SpongePowered/SpongeAPI/blob/dbe3cb0af588137bfd4fe2d6582ad1af8a87d234/src/main/java/org/spongepowered/api/entity/living/player/User.java#L107

[2018-08-03 20:55] benjaminmordaunt commented on #1884
@ryantheleach Huh? This is the method I'm talking about in the issue, which I believe could be cleaner with an interface overhaul. But considering the issue is closed, never mind now.

[2018-08-03 21:46] Zidane commented on #1884
What interface overhaul? WorldProperties = world data on disk.

[2018-08-03 21:50] benjaminmordaunt commented on #1884
I understand that, but wouldn't it make sense if there were some container which represents a location in an unloaded world/chunk/extent? At the moment, passing `Vector3d` and `UUID` doesn't seem very clean. A new `Extent` subinterface or otherwise? We can't exactly do `Location<WorldProperties>` 😋

[2018-08-03 22:49] parlough commented on #1885
The PR above that I created will handle this in a more generic fashion where you can check what the active item is, so that could be a shield or food or whatever. `player.get(Keys.ACTIVE_ITEM).orElse(ItemStackSnapshot.NONE).getType().equals(ItemTypes.SHIELD)` or something along those lines.

[2018-08-04 02:50] fingoltin opened #1889 "Filter or only display particles to certain players"
There doesn't seem to be anything related to this in the Viewer interface. Is this functionality possible?

[2018-08-04 07:25] ryantheleach commented on #1889
Not currently in the API. IMO it's kind of weird that the Viewer interfaces show it to all nearby players, I would have expected spawning particles in the world to do that, not spawning them on a viewer.

https://github.com/SpongePowered/SpongeAPI/blob/a1418ae3fccbfa1fbc56e05d2f3375dcd1344e1c/src/main/java/org/spongepowered/api/effect/Viewer.java#L49-L68

[2018-08-04 08:03] Cybermaxke commented on #1889
Every `Player` is a `Viewer`, so you can just send it to a specific player.

[2018-08-04 11:55] fingoltin commented on #1889
In that case the docs should reflect the difference between players and worlds.

[2018-08-04 12:02] Faithcaio commented on #1880
just get your Slot and offer to it

[2018-08-04 12:24] mosemister commented on #1880
While I agree on the fact you should get the slot and then set the itemstack to that slot. I would also like to see something like to see something like this added to the inventory api, even if it does just get the slot and set the itemstack to the slot in SpongeCommon or on the Inventories interface.

I personally think it would help new users (developer users) grasp the inventory api

[2018-08-04 12:36] XakepSDK commented on #1880
Current bleeding interface has `poll`, `peek`, `set` with SlotIndex, why not add `offer`?

[2018-08-04 12:50] #1880 closed, assigned to nobody

[2018-08-04 15:22] ryantheleach commented on #1889
(I know it's not entirely relevant to the API, but this is possible with vanilla commands in 1.12 (as of which version it was possible, I'm not sure))

`/particle angryVillager ~ ~ ~ 1 1 1 1 1 normal ewoutvs_` Will show a particle around the command source, that only shows to ewoutvs_ .

<s>I feel like the location for the behavior of showing particles to users is definitely on the Viewer interfac

[2018-08-04 16:22] Cybermaxke commented on #1880
@Faithcaio I feel like the `Inventory`is getting a bit bloated with all the `SlotIndex` methods, especially because they are also visible in `Slot`, but are useless for slots.

[2018-08-04 17:19] kashike commented on #1886
:+1:

Use case?

:+1: - down with HOCON!

:+1:, for API 8.

e.g. `String[] path() default {};` - injects path.resolve(path()) result.
`@DefaultConfig(sharedRoot = false, path = {"my", "subdir", "config.conf"})`
Restrictions for `path` array argument - alphanumeric chars, underscore, dash. `[a-zA-Z0-9_-]`

Use case? Personally, I'd go for something like:
- `sharedRoot = true`: `config/<id>.<extensi

[2018-08-04 18:05] XakepSDK commented on #1886
6. \- you can directly inject required loader without manually creating it. I find it useful, it gives ability to lessen you code for 3-4 lines.
Also, if 3. will be implemented, file extension may be automatically appended by implementation.(e.g. forces loader-specific extension yml/conf/json/toml/xml)

[2018-08-04 19:19] Ewoutvans opened #1890 "TextTemplate not working correctly ?"
When using `TextTemplate` adding Color, String, Color, String isn't given the desired output when serialized or converted to Text.

Here are some examples:

`TextTemplate.of(TextColors.GRAY, "[", TextColors.RED, "MAIN", TextColors.GRAY, "] ")`

Output:
[code]

Wrapping it in a Text gives a different output but still not what we expect.

`TextTemplate.of(Text.of(TextColors.GRAY, "[", TextColors.RED

[2018-08-04 19:44] ryantheleach commented on #1545
Another thing that I've run into recently, whilst investigating mini-games.

A lot of mini-games will prevent death **just** for the performance benefit, and other gameplay comes as a side effect.

Respawning the player requires re-syncing the world and resending chunks, where if you just change them to spectator, or teleport them nearby, it can reduce the amount of chunks that need to be resent.

[2018-08-04 20:47] ryantheleach commented on #1890
Text templates have numerous issues, but I think this is a direct duplicate of : https://github.com/SpongePowered/SpongeAPI/issues/1855

[2018-08-04 20:47] #1890 closed, assigned to nobody

[2018-08-04 21:09] ryantheleach opened #1891 "TextTemplate Redesign"
# WIP - Work in Progress

I'm looking for feedback from plugin and Sponge devs to come up with the list of goals and usecases to effectively design this, and someone to champion this after / with the Text moving to implementation.

# Why Redesign?

Text Templates have numerous reported issues:

https://github.com/SpongePowered/SpongeAPI/issues/1856 Complex Serialization Structure, making them a pa

[2018-08-04 21:17] XakepSDK commented on #1891
I like how formatting code serializer works. Really simple and short output. Maybe somehow fit that serializer for text templates?

[2018-08-05 07:46] ST-DDT commented on #1891
It would be nice if the arguments itself can be context aware. Such as calculating a players groupname without providing it explicitly. This context needs to be aware of both the reciever and the values being send.

Example:

[code]
Everything after the pipe would be a globally registred transformation function which is reciever aware and can take static parameters.

The above example would then y

[2018-08-05 07:50] Faithcaio commented on #1880
True but I'd say its better than not having indexed access on all inventories.
It was near to impossible in API7 to get a single OrderedInventory consistently.

[2018-08-05 07:54] XakepSDK commented on #1880
Haha, then just redesign everything back. Current inventories seems be ok for me, but i have questions with events. I'll ask you bit later.

[2018-08-05 08:24] Faithcaio commented on #1880
see https://github.com/SpongePowered/SpongeAPI/issues/1847

[2018-08-05 21:25] benjaminmordaunt opened #1892 "Better javadocs for CommandElements, especially those which can return multiple instances"
The documentation for many of the `CommandElement`s should be updated to inform the programmer that they are capable of returning multiple instances. In some cases, the vocabulary used suggests directly that only a single instance can be returned.

This is especially important as the method signature gives no information about the type(s) it stores (as it just returns a `CommandElement`).

For exa

[2018-08-06 02:04] ryantheleach commented on #1892
You should not use an onlyOne wrapper unless it is impossible for your plugin to accept more then one player, instead you should be acting upon all users passed in.

Otherwise you prevent your users from being able to use Minecraft Selectors, among other things.

That said, your issue about the JD is valid.

[2018-08-06 11:40] benjaminmordaunt commented on #1892
Slip of the tongue, amended.

[2018-08-07 14:43] ryantheleach opened #1893 "typesafe.config shading issues."
Using a brand new MinecraftDev IntelliJ gradle project, and the following class:
https://gist.github.com/ryantheleach/906a0f965ef18c98d73410cb506063e9

Will cause

[code]

at runtime in a production environment.

SpongeForge shades it to avoid a conflict with forge:

https://github.com/SpongePowered/SpongeForge/blob/stable-7/build.gradle#L115

This makes it very hard to use the more serious featur

[2018-08-07 14:57] ryantheleach commented on #1893
Duplicate of : https://github.com/SpongePowered/SpongeCommon/issues/1391

I should learn to search better.

[2018-08-07 14:57] #1893 closed, assigned to nobody

[2018-08-08 10:11] ejm commented on #1567
Why not have something along the lines of `Optional<Locale> getLocaleSafe()` for those who need to know whether or not a player is actually in the default locale and then something along the lines of

[code]

This way you don't break existing code but you also make it clear to those who need to know whether or not the language presented is actually the language of the client or the default?

[2018-08-08 19:32] kashike commented on #1567
The client *always* sends a language. It is impossible to know if a user has explicitly chosen `en_us` or if it is the default.

[2018-08-09 14:22] fingoltin commented on #1889
I assume this goes for all Viewer methods, @ryantheleach?

[2018-08-11 02:39] Shmeeb opened #1894 "Inventory NoSuchElementException error"
![image](https://user-images.githubusercontent.com/141554/43991790-fad16ebc-9db2-11e8-8976-d653e42e6e89.png)

![image](https://user-images.githubusercontent.com/141554/43991794-07838cc6-9db3-11e8-808f-ab852d0f3ad7.png)

Running:

![image](https://user-images.githubusercontent.com/141554/43991796-0e8a5982-9db3-11e8-872b-7ae24d18bf16.png)

[2018-08-11 12:42] ryantheleach commented on #1894
In future, having the text is immensely more helpful then images of text.

It allows the developers to copy the text, search for things in the text, and scan/read it in the format they prefer, with the browser styles they prefer, AND REMAP the obfuscation mappings.

Luckily the logs you posted didn't **have** obfuscated mappings, so in this specific case it's almost bearable.

Images hosted elsewh

[2018-08-11 12:46] ryantheleach commented on #1894
~move to sc

[2018-08-11 12:46] limbo-app commented on #1894
Hey @Shmeeb! I've moved your issue to [SpongePowered/SpongeCommon#2057](https://github.com/SpongePowered/SpongeCommon/issues/2057).

[2018-08-11 12:46] #1894 closed, assigned to nobody

[2018-08-15 07:59] dualspiral commented on #1862
Oh, I had something for this, but didn't end up pushing it. Let me put it up quickly, I'll set up the PR in a bit, then a discussion can occur. I'm sure it'll need to be tweaked.

Note it's based on a simple config check that auto-populates plugins. It's not an intercepting check, if that's what we really want, then we'll need a different approach.

[2018-08-15 09:19] dualspiral commented on #1862
I've opened PRs for SA/SC/SF. SV needs a one line change akin to SF, but I'll do that when I have a bit more time/discussion.

[2018-08-17 17:01] Aaron1011 opened #1897 "Allow retrieving Entity from Explosion"
Currently, `Explosion#getSourceExplosive` returns an `Optional<Explosive>`. However, mod-created `Explosion`s can and do use store custom entities in the Minecraft `Explosion.exploder` field. Since these custom entities do not implement our `Explosive` interface, our `Explosion` mixin is forced to return `Optional.empty`.

We should change the return type of `getSourceExplosive` to `Optional<Entit

[2018-08-17 18:45] gabizou commented on #546
It's happening! #1896

[2018-08-18 06:12] gabizou commented on #1897
I can agree to that. Quite possibly can expose a method to do `getExploder(Class/TypeToken)` to do some filtering.

[2018-08-24 10:11] NeumimTo commented on #1891
Kind of related https://github.com/SpongePowered/SpongeAPI/issues/1856

@ST-DDT i quite disagree with your example.

I see text templates as a *simple* way server administrators should be able to:
1) create new localizations
2) change some plugin messages via configuration files.

Mainly this part "{{player | myperms:groupname brackets=true}}"

This is a clear example of something what i dont want

[2018-08-24 11:47] ST-DDT commented on #1891
I somewhat agree with you that its too complex for beginners. I have plenty experience with writing a template engine myself for Bukkut plugins. And from that i learnt the following.

A) beginners touch the config and mess it up lots of times regardless of complexity especially yaml or other indention based files.
B) if the config is complex they will tend to use the ingame config
C) advanced user

[2018-08-24 12:03] ryantheleach commented on #1891
@NeumimTo Either Text itself, or Text templates needs to have late-resolving placeholders for plugins like PlaceholderAPI to work globally and efficiently, and show per-reciever / per-sender formatting / variables.

Working with MChat development on Bukkit, has taught me that any placeholders without a unique start, and unique end tag are painful, and make nesting difficult.

If you are talking ab

[2018-08-24 14:55] ryantheleach commented on #1835
@gabizou ~fixed this in bleeding 14 days ago when it was~ moved to implementation in bleeding.

However this is still a bug in the API on stable.

https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/block/BlockState.java#L287-L291

[2018-08-26 20:20] #1862 closed, assigned to nobody

[2018-08-27 13:22] #1892 closed, assigned to nobody

[2018-08-29 08:01] SawFowl opened #1901 "ShulkerBullet not implemented in Projectile."
When writing a plugin, I ran into a problem. I need to get the entity that fired the shulker bullet.

[2018-08-29 08:21] RedNesto commented on #1901
Seems not hard to do.
We could even add the targeted entity and its direction.

[2018-08-29 11:51] ryantheleach commented on #1901
I'm not 100% sure that a shulker bullet is a projectile in the classic sense.

But it should fit I think, and it should be doable. If it isn't it should at least be possible to expose some API for what you need.

[2018-08-29 11:53] RedNesto commented on #1901
It's not a projectile in the Minecraft source code, it's just an Entity with a Living owner and an Entity target (with a bonus direction).

Edit: Forgot to mention I am trying to implement it.

[2018-08-29 12:02] SawFowl commented on #1901
I was able to get the required entity via the IndirectEntityDamageSource. But this method is not very convenient, it would be better to get through Projectile.

[2018-08-29 12:10] RedNesto commented on #1901
We _could_ make it a Sponge `DamagingProjectile`, and the `Shulker` would be a `ProjectileSource`.

[2018-08-29 20:07] RedNesto commented on #1901
I think this will require more thoughts.

The ShulkerBullet needs a target otherwise it would be useless (its vertical motion would just decrease), and with the actual `Projectile`s it is impossible to give a target, just a velocity.
Also EntityShulkerBullet does not use an AI task, but just `onUpdate` to track the target and decide where to go in order to reach it.
It could be a simple `Projectil

[2018-08-30 03:51] gabizou commented on #1635
This has been done for a while now.

[2018-08-30 03:51] #1635 closed, assigned to kashike

[2018-08-31 19:39] mmis1000 opened #1904 "TextSerializer isn't i18n aware"
The `Translation` interface accept a `Locale` parameter to specify what language it should be translate to when format to plain text (although it is not used currently).

But `TextSerializer` does not accept `Locale` at all.

Which means, even after some day, the vanilla minecraft server finally supports multi language on server side, there is no where sponge plugin can use it, becuase the api doe

[2018-08-31 22:23] ST-DDT commented on #1904
AFAICT this is only a problem when using PLAIN & FORMATTING_CODE serialization, because their conversion is a lossy one. Json can restore the localized part.

[2018-08-31 22:29] kashike commented on #1904
What @ST-DDT said should be the case.

[2018-08-31 22:29] #1904 closed, assigned to nobody

[2018-09-01 04:15] mmis1000 commented on #1904
@ST-DDT @kashike it's still a problem, not everywhere in minecraft accept json format, item lore does not support that, so server side translation must be used.
And not in all use case you could send json to client.
JSON serilizer does not need that doesn't means you didn't need that completely.

Integration with external tool also require you to serialize it to plain.
Something like Minecraft to

[2018-09-01 04:54] kashike commented on #1904
1.13 lore does.

We don't ban server-side translation.

[2018-09-01 05:06] mmis1000 commented on #1904
@kashike It does not, only name does, lore doesn't.

How could you translate it to other language on server side if `TextSerializer` does not care about `Locale` at all?
I don't think there is any way to present `translate this Text object to plain text in chinese` in current API.
As a non-english user, The `just translate everything to english` strategy looks really weird to me.

The reason I ask

[2018-09-02 13:48] XakepSDK opened #1905 "[API8] Skull skin question"
We can offer `Keys.REPRESENTED_PLAYER` to a `Skull`, but can we offer `Keys.SKIN`? This would be very cool.
@Aaron1011

[2018-09-02 19:10] Aaron1011 commented on #1905
That's a good idea - I'll update the implementation to make skulls support `Keys.SKIN`.

[2018-09-03 12:47] ghost opened #1906 ""Sponge" server crash with "LostCities" mod"
In my modpack Using lost cities and spongeforge, the server shuts down with an error generation die.
I understand that I duplicate a bug report, but in a branch SpongePowered/SpongeForge#1815 it says the problem is solved, or I don't understand.
I apologize for the possible violation of the rules, I do not understand English and use a translator.

The server is using:

    Lost cities 2.0.10
    s

[2018-09-03 13:16] ImMorpheus commented on #1906
~move to sf

[2018-09-03 13:16] limbo-app commented on #1906
Hey @AndyDr! I've moved your issue to [SpongePowered/SpongeForge#2424](https://github.com/SpongePowered/SpongeForge/issues/2424).

[2018-09-03 13:16] #1906 closed, assigned to nobody

[2018-09-03 15:41] ghost opened #1907 "ClickInventoryEvent getting Item with all data"
Hi! I created custom inventory with ItemStack's with custom data. But ItemStackSnapshot don't have any data, which i put in ItemStack. How i can get original item with all puted data?
`
ItemStackSnapshot item = e.getCursorTransaction().getOriginal();
System.out.println(item.getKeys()); //Printed empty array
`

[2018-09-03 15:43] ImMorpheus commented on #1907
~move to sc

[2018-09-03 15:43] limbo-app commented on #1907
Hey @NanitSoft! I've moved your issue to [SpongePowered/SpongeCommon#2093](https://github.com/SpongePowered/SpongeCommon/issues/2093).

[2018-09-03 15:43] #1907 closed, assigned to nobody

[2018-09-11 17:43] TheCrunchy opened #1908 "MoveEntityEvent.teleport does not apply to spectator mode teleporting"
While in spectator mode you can middle click and use the icons to teleport to other people, the MoveEntityEvent.teleport event doesnt listen for this.

[2018-09-11 18:20] gabizou commented on #1901
I'm curious if we're allowed to modify the shulker bullet to simply tell it to move in a certain direction. I reviewed the `onUpdate` for it and it can be easily modified to use custom data fields that we set ourselves while avoiding vanilla's data, this way the shulker bullet will act with vanilla in mind, or if our data is not null, use our custom block position to point to a target.

This would

[2018-09-12 03:49] ryantheleach commented on #1908
~move to common

[2018-09-12 03:49] #1908 closed, assigned to nobody

[2018-09-12 03:49] limbo-app commented on #1908
Hey @TheCrunchy! I've moved your issue to [SpongePowered/SpongeCommon#2099](https://github.com/SpongePowered/SpongeCommon/issues/2099).

[2018-09-13 18:41] RedNesto commented on #1901
I haven't seen that `onUpdate` recently but it is definitely possible to make the bullet target a `Location` or follow a specific `Direction`.

[2018-09-13 22:26] NeumimTo opened #1909 "API7 - Not possible to register custom damage type into the catalog registry"
The current way to register an element into any catalog registry is to listen to the event GameRegistryEvent.Register.

I created some custom damage types, but cannot register them. The event GameRegistryEvent.Register<DamageType> event wont fire.

[2018-09-13 22:44] Cybermaxke commented on #1909
It may also be useful to support custom types for `HealingType`.

[2018-09-13 23:29] gabizou commented on #1909
~move to sc

[2018-09-13 23:29] limbo-app commented on #1909
Hey @NeumimTo! I've moved your issue to [SpongePowered/SpongeCommon#2101](https://github.com/SpongePowered/SpongeCommon/issues/2101).

[2018-09-13 23:29] #1909 closed, assigned to nobody

[2018-09-18 01:04] Dockter opened #1910 "BeetRoot age trait missing from IntegerTraits"
BEETROOT_AGE exists within BlockBeetroot.java but doesn't seem to be implemented as a public static within IntegerTraits.java within SpongeAPI.

[2018-09-18 02:25] Dockter commented on #1910
Fixed.

[2018-09-18 02:25] #1910 closed, assigned to nobody

[2018-09-22 14:29] ST-DDT opened #1912 "DataRegistration.Builder#manipulatorId() javadocs are hard to understand/broken"
[`DataRegistration` Source](https://github.com/SpongePowered/SpongeAPI/blob/bleeding/src/main/java/org/spongepowered/api/data/DataRegistration.java#L162) | [`DataRegistration` JavaDoc](https://jd.spongepowered.org/7.1.0/org/spongepowered/api/data/DataRegistration.Builder.html#manipulatorId-java.lang.String-)

There seems to be something missing after `{manipulator-id|` and the formatting of this s

[2018-09-22 21:02] ST-DDT opened #1913 "Broken/Suspicious AbstractSingleData/AbstractImmutableSingleData implementations in the API"
The abstract implementations of `AbstractSingleData`/`AbstractImmutableSingleData` contain suspicious `ValueFactory#createValue()` calls.

**Method definition**

**Mutable AbstractSingleData**

* org.spongepowered.api.data.manipulator.mutable.common.AbstractSingleCatalogData

The current value is the default value? At least that behavior of the immutable variant is different.

**AbstractImmutableS

[2018-09-23 10:15] Lignium opened #1914 "Redundant serialized data of Location"
As it was already noted earlier at Discord, a world name and a block type is redundant data. Furthermore the block type may not be coincide with a block type which located in the world...

Source code:
[code]

Result (formatted):
[code]

[2018-09-23 11:32] ImMorpheus commented on #1914
BlockType is a duplicate of https://github.com/SpongePowered/SpongeCommon/issues/1720

[2018-09-23 11:47] Lignium commented on #1914
Will there be any decision on this issue? It's not right to manually write down UUID of world and coordinates (Vector3i) to configuration.

[2018-09-25 04:56] gabizou commented on #1914
~move to common

[2018-09-25 04:56] limbo-app commented on #1914
Hey @Lignium! I've moved your issue to [SpongePowered/SpongeCommon#2109](https://github.com/SpongePowered/SpongeCommon/issues/2109).

[2018-09-25 04:56] #1914 closed, assigned to nobody

[2018-09-27 02:54] ryantheleach opened #1916 "Document behavior of clientconnectionevent.login for banned users."
https://github.com/SpongePowered/SpongeCommon/issues/1093

States that the events are pre-cancelled.

If this is expected to be consistent across platforms, then it should be documented in the API javadocs for the event as a part of the contract.

Suggestions on how best to word it? (I'm unable to do so at the moment, so that's why I created the issue)

[2018-09-27 12:06] simon816 commented on #1916
It already is documented, see here: https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/event/network/ClientConnectionEvent.java#L94-L104

[2018-09-27 18:15] #1916 closed, assigned to ryantheleach

[2018-09-29 22:47] Lignium opened #1917 "Incorrect work of GenericArguments#vector3d"
Hi, SpongePowered!
When calling command with the "#target" special word, Vector3d argument points to a side block.

For example:

[code]

[2018-09-30 19:27] ST-DDT commented on #1917
Have you verified this behavior for all directions (NESWUD)? IIRC there is/was something similar where the ray ended on the block surface and if you use the surface coordinate to get the block then you would end up with the wrong block

[2018-09-30 22:09] Lignium commented on #1917
I tested it again. A command receives a position of point at a side of block, but not a position of block. Quite unexpectedly... If it was conceived, then an argument should be made to transfer to command coordinates of blocks, that is, Vector3i.

[2018-10-01 06:43] ST-DDT commented on #1917
Could you post the code to help us to reproduce the error?

[2018-10-01 12:03] Lignium commented on #1917
Simple command with Vector3d argument. Cloud particles spawn on sides of blocks.
https://gist.github.com/Lignium/93346438e007c132f04b5a713d3b9194

[2018-10-01 16:14] dualspiral commented on #1917
This isn't a bug in the way you're thinking it is. The element is doing the right thing, returning a point on the boundary between two blocks. It's the assumption of which block the resulting co-ordinate will pick that's the issue.

This is because [it's using a block ray to trace the line of sight to the absolute first point between air and block](https://github.com/SpongePowered/SpongeAPI/blob/b

[2018-10-01 16:33] ST-DDT commented on #1917
IMO we need both: targetBlock and targetBlockLocation. The first is used if you want to do something with the block (e.g. read the type), the second is used to mark a block (e.g. set spawnpoint or select edge of area selection)
Well in practise you could get the second value from the first.

[2018-10-03 12:14] randombyte-developer commented on #1891
I like the idea of having a global standard Sponge "PlaceholderAPI" built-in. Currently there's such a mess with all the placeholder enclosings like `%%`, `$`, `{}` just one `%`.

[2018-10-03 17:57] randombyte-developer commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/a1418ae3fccbfa1fbc56e05d2f3375dcd1344e1c/src/main/java/org/spongepowered/api/event/message/MessageChannelEvent.java#L62

I guess the `Optional.empty()` should be replaced with `null` since the method accepts `null`s and no `Optional`s.

[2018-10-06 10:44] Shmeeb opened #1918 "ChangeBlockEvent.Break.Pre fires on chest open"
Minecraft: 1.12.2
    SpongeAPI: 7.1.0-ff990df
    SpongeForge: 1.12.2-2705-7.1.0-BETA-3477
    Minecraft Forge: 14.23.4.2705

[2018-10-06 21:56] Lignium commented on #1917
I think you need to leave everything as it is. You just need to create Vector3iCommandElement or something similar.

[2018-10-08 01:31] liach commented on #1014
In fact, we might consider implementing this in a fashion similar to that of BlockChangeFlag.

[2018-10-08 02:59] ryantheleach commented on #1917
I believe this is working as intended.

@Lignium your suggestion for 'Vector3iCommandElement' Could work, but I'd prefer to see something that was explicitly a BlockPositionCommandElement, as it may give extra parsing/interpretation options, e.g. for #target you could select where a block would be placed (the air/liquid block) or the block itself.

[2018-10-08 05:40] liach opened #1919 "New AI Task structure questions"
Last time, Zidane mentioned when ST-DDT contributed AI docs on SpongeDocs that the whole AI system (agent goals/tasks) will be revamped. I have a few notes for these changes:

Goal class:
[code]
The AITask now holds the exact owner type instead of the superclass owner type which is the lowest bound of the task. Making it easier for plugins. Moreover, the task entry object allows retrieval of prior

[2018-10-08 05:42] liach commented on #1919
I initially didn't foresee me writing so much. Guess I can ping @Zidane for a look then :sweat_smile:

[2018-10-08 06:45] Cybermaxke commented on #1919
How will this support custom `AITaskOccupiedFlag`s?

[2018-10-08 06:51] liach commented on #1919
we can expose a factory method in game registry (most likely) for hard registration with mutex

[2018-10-08 10:20] ST-DDT commented on #1919
IMO the flags should be a CatalogType, that will work similar to an enumset to resolve the contents

[2018-10-08 13:18] liach commented on #1919
@st-ddt i did not make it one since block change flag is not a catalog type. might ask @gabizou on that design

[2018-10-08 13:39] Cybermaxke commented on #1919
The difference is that it's not possible to create custom `BlockChangeFlag`s

[2018-10-08 14:03] ST-DDT commented on #1919
The number of Mutex bits/AI flags is also limited. Some might not have a name by default, but they exists nevertheless. Unless we throw the bits in the ditch and invent something new that is a superset of MCs way, but might cause issues for mods that also want to use a different superset.

[2018-10-08 15:18] liach commented on #1919
We can assign the actual bits dynamically based on calls to the normal goal. when the normal goal is called, we usually have an idea which bits are actually used and can substitute their flag objects with preset or generated entries

[2018-10-08 15:39] ST-DDT commented on #1919
Changing existing bits or dynamically assigning them will cause conflicts with non Sponge plugins? How is a forge mod supposed to check whether the Sponge plugin uses the CastMagicFlag if the bit is always different.

[2018-10-08 17:40] liach commented on #1919
@ST-DDT forge mods do not check flags. They only set flags they need. Sponge plugins will enable flags with entity update event listeners.

[2018-10-08 18:24] liach commented on #1919
So the revamped flag class is:
[code]
the flag set:
[code]

goals and tasks use the flag set instead.

[2018-10-08 18:55] Cybermaxke commented on #1919
Mutex bits set by mods may be different from vanilla ones if they create completely custom ai. In that case it won't possible to assume the flag. It will always be a issue to recognise these bits in combination with mods, unless something gets changed in forge.

[2018-10-08 20:42] liach commented on #1919
we can recognize those bits with hooks in the method where goals set their available bits and where ai tasks set their mutex bits.

[2018-10-08 22:02] ST-DDT commented on #1919
IMO we should this part of the API as simple as possible (and close to vanilla) for the following reasons:

* If mods want to add more bits (beyond from whats already possible), they have to resort to a custom implementation anyway, so there is no point in registering additional values ourselves in the first place (the number of bits is limited, if mods use them for different purposes there is not

[2018-10-09 00:31] liach commented on #1919
@ST-DDT
1. Mods do not need custom implementations. They need to do zero thing. We use transformer to add extra hook in the methods where the bits are set!
2. The primitive value thing is not that important. The flags **can be sorted** to make comparison much faster. It is not freaking slow.
3. All those methods are bitwise operations. `union` for bitwise or, `distinct` for "and not", `inverse` fo

[2018-10-09 00:45] liach commented on #1919
@ST-DDT I believe you have trouble understanding some of my ideas:
We can detect with injections in `EntityAIBase#setMutexBits`,`EntityAITasks#enableControlFlag`, and `EntityAITasks#disableControlFlag`
We will also fetch the agent type in context to determine for which types of agents these flags exist.

[2018-10-09 00:48] liach commented on #1919
By the way, the new system I propose may supersede #1014

[2018-10-09 18:43] ST-DDT commented on #1919
I opened that issue to track (one of) the issues of the current AI API. I will happily close that issue once we have a working variant inside the API.

We will also fetch the agent type in context to determine for which types of agents these flags exist.

Wouldn't this LAZY initialization have the drawback that it might never be fully populated if certain entity types aren't spawned. What would be

[2018-10-09 18:50] liach commented on #1919
We can use another tracking system for sponge-added flags besides the existing mutex. Inverse should be all other flags set to true.

[2018-10-09 18:52] liach commented on #1919
For your performance concerns, we can require all plugin-based ai flags to be added before a loading stage to allow putting flags in something backed by a bitset, etc.

[2018-10-09 18:53] liach commented on #1919
If you fear sponge cannot spawn mobs, in fact, sponge can (by iterating over the entity registry and spawning in a dummy world)

[2018-10-09 18:54] liach commented on #1919
I'd keep my ai flag set class so that people are not silly enough to feed an array-based set or something similar to the method.

[2018-10-09 19:14] ST-DDT commented on #1919
You are not referring to a different API here, are you?

What would be the usecase? When would you actually do this? This does not make any sense on an AI functional level (although it might for boolean logic).

It should be possible to refer to an exact bit, without knowing the using/depending on a plugin (to allow plugins to be compatible to non-Sponge plugins). Like in my example BIT_15.

This

[2018-10-09 19:27] ST-DDT commented on #1919
@liach Are we going to address all AI API issues at once, or one at a time (to keep possibly breaking changes separate)?

PS: A few days ago I got contacted for implementation help related to AI, so the current API is definitely in use.

[2018-10-09 19:33] liach commented on #1919
I am referring to a totally different, new ai system for bleeding.

I am aiming to get the flags in for the new version.

To refer to exact bit, we can convert flags to catalog types and look up with arbitrary id.

The inversion is for goals. Goals need to reverse the bits.

My AITaskOccupiedFlagSet proposed already covered your last question "How would you implement that in the API without exposi

[2018-10-11 22:32] gabizou commented on #1918
~move to sc

[2018-10-11 22:33] limbo-app commented on #1918
Hey @Shmeeb! I've moved your issue to [SpongePowered/SpongeCommon#2118](https://github.com/SpongePowered/SpongeCommon/issues/2118).

[2018-10-11 22:33] #1918 closed, assigned to nobody

[2018-10-22 02:57] Xemiru opened #1922 "Improving Permissions"
In a new project, I'm attempting to make a tool that tries to harvest the permissions from all currently-available plugins. However, there's a major issue in attempting to do that in that **plugins don't try to actually register anything about their permissions to a specific unit.** Or rather, they aren't in any form required to submit that information.

During the research phase of this project,

[2018-10-22 03:18] Xemiru opened #1923 "Improving Permissions"
In a new project, I'm attempting to make a tool that tries to harvest the permissions from all currently-available plugins. However, there's a major issue in attempting to do that in that **plugins don't try to actually register anything about their permissions to a specific unit.** Or rather, they aren't in any form required to submit that information.

During the research phase of this project,

[2018-10-22 09:28] #1923 closed, assigned to nobody

[2018-10-22 09:50] dualspiral commented on #1923
After that weird Github hiccup, it looks like both of your issues made it through. Closing this in favour of #1922.

[2018-10-22 11:12] ST-DDT commented on #1922
We cannot switch to PermissionsDescriptions entirely because creating them for dynamic entries (by block type) would create too many useless entries. Also it isnt possible to make the descriptions required because plain forge mods use the same system and they dont register their perms at all.
However making the descriptions more prominent and at least register the defaults is a good idea.

[2018-10-22 19:51] Xemiru commented on #1922
I can see how this would be an issue for mods since they only seem to do the string/op check _when the command/action happens_ and nowhere before. This idea was mostly aiming at Sponge plugins.

This could be revised to allow both but encourage the use of descriptions, since the system in its current form really only seems to pose them as an afterthought. Emphasizing the main goal of guiding devel

[2018-10-23 22:26] KernelFreeze opened #1924 "Player Stopped Using Item Event"
Hello! Minecraft Vanilla has a method in Item.java, called `onPlayerStoppedUsing` in the latest MCP mappings. Experimenting with it, I see that it is called every time that a player stopped using the item, which is very useful for some checks, so I would like to know, is that possible to be integrated into the API? Thanks and best regards.

[2018-10-24 12:46] Lignium commented on #1924
If I understand correctly, you need the `org.spongepowered.api.event.item.inventory.UseItemStackEvent.Stop` event in SpongeAPI.

[2018-10-24 17:07] gabizou commented on #1924
That is the correct event to use.

[2018-10-24 17:07] #1924 closed, assigned to nobody

[2018-10-24 19:08] KernelFreeze commented on #1924
Thanks!

[2018-10-28 13:10] systocrat commented on #308
What happened to this? I can't find any equivalent in 7.1.0

[2018-10-28 23:04] gabizou commented on #308
It's available through [Keys](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/data/key/Keys.java#L1554).

[2018-10-30 15:22] systocrat commented on #308
Cheers, thanks

[2018-11-02 15:12] Lignium opened #1927 "Better cataloging of Game Locales / NamedLocales"
These two classes have very poor functionality. They don't have access methods that would return all locales that are supported by the game.
List from any catalog can be obtained through the game registry. But these classes are not a catalog and not even an enumeration.

[2018-11-02 15:24] Lignium opened #1928 "Improvements of Asset API"
1. Need to rename the arguments "name" to "path" or "resourcePath". This name is confusing, because it is impossible to understand from its name whether it is possible to obtain resources located in separate directories. Same with the AssetId annotation.
2. The manager must have a directory scan method.

[2018-11-02 15:40] ST-DDT commented on #1927
What would be your usecase for the locale list?

[2018-11-02 15:43] Lignium commented on #1878
On the other hand, we can create our own keys for our data. In this case, a specific catalog of keys cannot be. Maybe the annotation is not needed?

[2018-11-02 15:51] Lignium commented on #1927
I create a root service plugin to easy localize my other plugins. This plugin loads the global locale configuration for all plugins in general and for individual plugins in particular. Having obtained the locale from the configuration, I need to check whether it is compatible with the game, and whether it makes sense to send messages in a language that may not be supported by the game client.

[2018-11-02 18:10] Cybermaxke commented on #1878
There are many other cases where you can create custom catalog types of which the default ones (vanilla) are put in a catalog and there can be plugin provided/modded ones. Since there is a catalog for `Key`s, we should link it with the annotation.

[2018-11-02 18:13] Cybermaxke commented on #1928
This will be covered in the datapack api pr: https://github.com/SpongePowered/SpongeAPI/pull/1706

[2018-11-04 15:40] RiftomeR commented on #1725
Oh no! Please without static enums. I want it to be flexible.

[2018-11-09 14:18] Russia9 opened #1929 "getNearbyEntities not working in 7.4"
I do not know where to write about it, so I will write here. When I switched from **API v5** to **API v7** my plugin stopped working correctly. It turned out the problem was with the method `Entity.getNearbyEntities(double distance)`. Moreover, the problem was caused only with SpongeForge, SpongeVanilla is working correctly. Sorry for my english, i'm from Russia.

[2018-11-09 14:34] XakepSDK commented on #1929
Dupe: https://github.com/SpongePowered/SpongeCommon/issues/1607

[2018-11-09 15:55] ImMorpheus commented on #1929
@Russia9 Can you provide more information ? You haven't explained why `Entity.getNearbyEntities(double distance)`is not working

[2018-11-09 17:02] Russia9 commented on #1929
I am writing a simple plugin for chat management. In it i have `MessageChannelEvent.Chat` Listener. It works exactly, I checked it. Inside it i have this code:
`event.setChannel(MessageChannel.fixed(player.getNearbyEntities(plugin.getChatSpongeConfig().chatRange).stream().filter(Player.class::isInstance).map(Player.class::cast)` Experimentally, I determined that the problem with this fragment of t

[2018-11-11 22:39] gabizou commented on #1929
As Xakep mentioned, this is a dupe of an *implementation* issue, not an API issue.

[2018-11-11 22:39] #1929 closed, assigned to nobody

[2018-11-20 20:14] ST-DDT commented on #1913
Is someone working on a fix for this API or has plans to refactor it (and thus invalidates the need of documentation for the current version)?

[2018-11-28 03:41] drunkripper opened #1931 "Book Syncing to Server Event?"
Is there an Event in the API that calls anytime a book is saved? I know editing is done client side but it must be sycned to the server some way in order to allow the book to allow the book to be seen by other players? We're trying to avoid the dupe bug with book and quills and were trying to figure out an easy way to fix the dupe bug without straight up banning book and quills. If there is such a

[2018-11-28 12:27] Faithcaio commented on #1874
`EventManager#unregisterListeners` now also unregisters listeners added for a custom inventory

[2018-11-28 13:26] Cybermaxke commented on #1874
@Faithcaio These inventory listeners should be cleaned up automatically when the inventories are no longer in use. This could potentionally cause memory leaks if listeners are added and never cleaned up. In that case will the inventories be kept into memory.

When creating a inventory with listeners I don't expect that they have to be cleaned up afterwards.

[2018-11-28 13:29] Cybermaxke commented on #1874
Maybe a Cache with a removalListener is a good solution, like I did in lantern:
https://github.com/LanternPowered/LanternServer/blob/master/src/main/java/org/lanternpowered/server/inventory/LanternInventoryBuilder.java#L87

[2018-11-28 14:09] Faithcaio commented on #1874
How would I detect that they are no longer used?
They would still be referenced in the listener so I don't think weakKeys would work.

[2018-11-28 14:15] Cybermaxke commented on #1874
@Faithcaio Modify the `inventory` field to be a `WeakReference`. I didn't think about that before.

[2018-11-28 14:40] Cybermaxke commented on #1874
@Faithcaio I fixed the impl in lantern: https://github.com/LanternPowered/LanternServer/blob/master/src/main/java/org/lanternpowered/server/inventory/LanternInventoryBuilder.java#L64
In `InventoryListeners` keeping a weak reference to the inventory, if the inventory object gets unloaded, then the next time the inventory listeners are handled, it will be unregistered.

[2018-11-28 21:55] XakepSDK commented on #1874
UP for Cyber solution.

[2018-11-28 22:54] randombyte-developer opened #1932 ""Offline" Location"
Some months ago I stumbled upon this:

A plugin was serializing a `Location` to the config. The serialized structure holds the `World`s `UUID` and the position. When deserializing the config, the default `Location` `TypeSerializer` built into Sponge tries to construct the location off of the world UUID and the position. An admin had deleted a world which resulted in errors when the config was load

[2018-11-29 00:15] ryantheleach commented on #1932
Semi-related: https://github.com/SpongePowered/SpongeAPI/issues/1884

[2018-11-29 05:00] ryantheleach commented on #1931
Sponge has several fixes for exploits, the arguably "correct" way to attempt to fix an exploit would be to debug the internals of Minecraft / Sponge, and fix it without using the API inside of Sponge. We would likely accept such a PR, as we have a few Mixin modules already that can enable / disable different exploits.

[2018-11-29 05:05] ryantheleach commented on #1931
Duplicate of: https://github.com/SpongePowered/SpongeAPI/issues/1313

[2018-11-29 05:05] #1931 closed, assigned to nobody

[2018-11-29 05:07] ryantheleach commented on #1313
AffectItemStackEvent would be a little generic, I think that having support where possible for specific vanilla events is ok for ease of use. This event would probably extend AffectItemStackEvent.

https://github.com/SpongePowered/SpongeAPI/issues/743 (closed) Suggests that it may already exist as an 'inventory event' , But I'll leave this open with new comments as it's been a few years and people

[2018-11-30 02:14] ryantheleach commented on #1280
If this hasn't been resolved for place/break it could be a part of the cause context if people still need this.

[2018-11-30 17:05] #1874 closed, assigned to Faithcaio

[2018-12-06 15:45] ryantheleach commented on #1753
I also feel like it's better to keep fragmentation down of where server data is stored, which is what happened on Bukkit, with no sane migration path for the average user.

I believe this is one instance where it's better to have a slightly higher barrier to entry, in exchange for easier maintenance down the line for admins.

Closing for now.

[2018-12-06 15:46] #1753 closed, assigned to nobody

[2018-12-06 15:56] ryantheleach commented on #1726
I've labelled this as 1.13 as I'd prefer to keep a potential change to the configuration nodes / alias inputs to a major version change, even if it doesn't break the API compatibility directly, considering how long this has been without change.

[2018-12-06 15:59] ryantheleach commented on #1726
@onyn If we can get a response from @SpongePowered/developers would you be interested in championing this issue / PR?

[2018-12-06 16:00] ghost commented on #1726
I would gladly address special parsing for file-based database setups in addition to my current PR, but I would really prefer to work on it atop my current changes than create two parallel PRs in a “choose one” fashion.

I originally posted this on the wrong thing...

[2018-12-06 16:11] ryantheleach commented on #1726
@brjcarbone It wouldn't be choose one.

I would not want this faster then API 8. Where as I could see the other PR (Potentially, dev team approving) introduced in a minor version bump of API 7.

[2018-12-06 16:20] ryantheleach commented on #1156
@NeumimTo Unless you have specific suggestions on how this can apply to Minecraft plugins (and the SpongeAPI) specifically, rather then web requests / servers, I'm going to keep this ticket closed as in it's current form feels too abstract. There's nothing stopping someone (to my knowledge) creating a Proof of Concept plugin on how this should work.

[2018-12-06 16:20] #1156 closed

[2018-12-06 16:39] ryantheleach commented on #1927
@Lignium (if it's possible) would making Locales CatalogTyped work?

[2018-12-06 16:54] ryantheleach commented on #1784
Without referring to Bukkit, what reasons would you expect? I suspect mod compatibility will be difficult here without appropriate PR's to forge.

[2018-12-06 16:58] realGWM commented on #1784
Things that I can remember right now:
Coming close enough to a mob (the most common one)
Attacking pig zombies (as the reason for attacks from other pig zombies)
Looking at enderman.
Night as the reason for spiders to start attacking.
And so on

[2018-12-06 17:00] ryantheleach commented on #1721
@gabizou Is this a big enough change to worth breaking plugins that already use these builders for the sake of consistency?

[2018-12-06 17:08] ryantheleach commented on #1922
PermissionDescriptions have a format for 'templated permissions' that could work for dynamic permissions @ST-DDT

@lucko , @dualspiral , @bloodmc I'd be interested in your input here.

[2018-12-06 17:15] ryantheleach commented on #1863
Does the item being interacted with get to choose the interaction point at all? I could see different tools/blocks acting differently.

**Edit:** See https://github.com/SpongePowered/SpongeCommon/issues/1799 for an opposing view point on why ray tracing isn't ideal.

[2018-12-06 17:17] ryantheleach commented on #1873
I think this would be a well accepted change. However I have a few questions thinking about how this would work.

Would the existence of this event imply to plugins that they need to act when a service is swapped out?

Or should it be the services responsibility to correctly hand over / consume information from the service it replaced?

Whilst I welcome this event to catch edge cases, I think some

[2018-12-06 17:25] ryantheleach commented on #1905
@Aaron1011 This could be introduced on a minor revision to 7 right?

[2018-12-06 17:29] ryantheleach commented on #1912
@ST-DDT This should be solvable by looking through the git history, there's bound to have been a bad find replace or something somewhere. If not, reply and unassign.

[2018-12-06 17:32] ryantheleach commented on #1913
@ST-DDT I've marked this as a data 'bug' for want of a better term.

@gabizou If you could provide some answers to a few of these questions, it will become possible for a member of the community to fix this in a PR.

[2018-12-06 17:37] ryantheleach opened #1935 "Create a BlockPositionCommandElement"
https://github.com/SpongePowered/SpongeAPI/issues/1917 Shows that some confusion can arise using the existing Vector command elements.

I propose splitting the generic Vector command element to not accept #target and only accept raw vectors and instead introduce 2 alternatives.

BlockPositionCommandElement
and
ExactPositionCommandElement

BlockPositionCommandElement could potentially have addition

[2018-12-06 17:39] ryantheleach commented on #1917
Closed in favor of #1935 in order to cleanup some of the confusion.

[2018-12-06 17:39] #1917 closed, assigned to nobody

[2018-12-06 17:55] lucko commented on #1922
My thoughts are exactly the same as what @ST-DDT said above. :)

[2018-12-06 18:08] ghost commented on #1922
Registering permissions would obviously have to be optional since permission strings can contain variables and then you end up having some registered and some not... which completely prevents this from becoming a reliable resource.

_Steal Lucko's code for discovering permissions, LuckPerms always knows._ 😃

[2018-12-06 19:23] dualspiral commented on #1922
We can't, and shouldn't, make it mandatory.

Much of the problem is discoverability - but some of it is, "why bother?" At the end of the day, plugins would only use this if it offers them a tangible benefit, or if there is little to no effort involved to use them. A plugin registering a description has no return from this. Honestly, a server has little return from this. Unfortunately, unless you a

[2018-12-06 20:28] Lignium commented on #1927
I think the Locale class cannot be cataloged directly, a wrapper class is needed, which will be annotated "CatalogedBy" and named, for example, a GameLocale.

[2018-12-06 20:31] lucko commented on #1922
`PermissionService#getDescriptions` actually will return a set of all known/discovered permissions when LP is being used as the permission service, even when plugins haven't explicitly registered them. :)

It wouldn't be reasonable to make this a requirement of all `PermissionService`s, and is also probably out of scope for inclusion within the SpongeCommon implementation, but I made sure there wa

[2018-12-06 20:34] lucko commented on #1922
I'm going to close this for the reasons stated above. Thank you Xemiru for your suggestion, but as explained above, I think it's best to keep things as simple string based permissions. :)

One closing note:

I'm sure a PR to fix this would be accepted. That sounds like an oversight to me. 😉

[2018-12-06 20:34] #1922 closed, assigned to lucko

[2018-12-06 22:03] onyn commented on #1726
I did not catch what the problem is. Sponge do not parse all the url and do nothing with any url parts beyond login:password pair. I made some tests on urls, that was provided by @TheE and there is no problems:

[code]

The problem is with poor documentation, not with the code. More examples and clarifications in the javadoc of `SqlService#getDataSource` methods may be sufficient to resolve this i

[2018-12-07 02:08] ryantheleach commented on #1726
@onyn After reading your reply, I believe you are correct. I mistook the original issue to be saying that we were somehow exposing schema's, and (changing the jdbc url spec further then just the username/password stuff we already do) when it is just all passed through as you say.

[2018-12-07 08:32] ST-DDT commented on #1927
Isn't is possible to just add a method to `Game` to return a list of all supported locales?

[2018-12-07 10:56] vectrixdevelops opened #1936 "Separate database implementations into official plugins"
I and others believe instead of shading various database drivers for different database systems, such as H2, MySQL, MariaDB and more, into the Sponge implementation. We should move these into a suite of official plugins.

There is simply no need to unnecessarily increase the size of the jar with many database drivers where only a few are used at once. Separating them also allows us to maintain the

[2018-12-07 16:20] TheE commented on #1726
You are right. Thank you for making theses tests! The problem is that the following documentation of `SqlService.getDataSource(String)` is wrong:

Instead, the correct form is this one: ` jdbc:<engine>://[<username>[:<password>]@]<driver-specific-jdbc-url>`. Perhaps, this could be expanded with some examples demonstrating what exactly 'driver-specific' means, e.g. examples for H2, SQLite and MySQL

[2018-12-07 18:04] onyn commented on #1726
I don't know. Better to ask original commiter of this code - @Minecrell

Yes. You can verify it by yourself. I wrote this tests just for you:

<details>
  <summary>click to expand</summary>

[code]

[code]

</details>

[2018-12-07 18:28] ghost commented on #1726
There's a fundamental misunderstanding here. The regex parser does not require a username/password because that group is optional and can identify paths, e.g. `jdbc:sqlite:./path/to/dabase/file`, perfectly fine. Test it yourself. Changing the input method will not change the efficacy of the SqlService.

[2018-12-07 18:43] onyn commented on #1726
There is no need in duplicating functionality. Less code - less bugs and less maintenance burden.

[2018-12-07 19:08] ghost commented on #1726
There would never be two options which produce the same result concurrently, but the point is that the regex system is perfect. It cannot be replaced with something "better."

[2018-12-08 04:54] XakepSDK opened #1937 "MessageEvent MessageFormatter small suggestion"
Example: i'm making simple plugin, that divides chat to local and global and adds prefix for global/local chats.

MessageFormatter contains `header`, `body` and `footer` of resulting message.
These 3 parts are `SimpleTextFormatter`'s. Every `SimpleTextFormatter` contains list of `SimpleTextTemplateApplier`. `SimpleTextTemplateApplier` is just a holder for `TextTemplate` and it's params. You can ea

[2018-12-08 10:10] Xfel opened #1938 "Dependency Injection Enhancements"
This is meant as a followup to #1156, taking a more concrete approach.

Currently, Guice is used to perform dependency injection on the plugin instance. The di environment contains a lot of useful injectable objects like config directories and task executors, but using these in other classes is not straightforward.

Thanks to guice's implicit bindings, any class that is referenced by an `@Inject`

[2018-12-08 11:13] ST-DDT commented on #1937
Related: https://github.com/SpongePowered/SpongeAPI/issues/1891

[2018-12-08 16:27] ryantheleach commented on #1938
In regards to scope, I've been wondering if we could make a 'game' scope or how that would be managed, e.g. single player starts, plays, stops a server, picks a different world, starts, plays, stops.

However I've seen numerous bugs in the Minecraft Vanilla client, that show on **rare** occasion, it's possible to either connect to 2 servers at once, e.g. get the chat from one, but see the lobby of

[2018-12-08 17:09] NeumimTo commented on #1938
Per world scopes would be useful on Lantern implementation, where each world is processed by its own thread. Othewise i dont really see a reason to introduce per player/per world scope. While it would be useful in some cases its now worth due to increased overhead.

Some nice-to-have features:
 - All sponge Services (objects which are managed by ServiceManager) are in fact singletons, therefore we

[2018-12-08 18:21] Xfel commented on #1938
@NeumimTo Deep classpath scanning should not be an issue; both forge and spongevanilla do that already to detect `@Mod`/`@Plugin` and similar.

On injecting services: The issue here is that services can change, and we also cannot guarantee that the required service is available at construction time, so we cannot use `@Inject` for them. We could however use a different annotation and implement our

[2018-12-10 20:55] gabizou commented on #1784
My only suggestion would possibly to expose the AITasks that are re-targeting players/entities such that when an AITask is being run and it's told to target something, we can expose that as part of the context. It would provide you with an AITaskType, but I can't expose verbatim the enum that Bukkit provides since mods don't use that same type of API or understanding.

[2018-12-27 20:36] NeumimTo opened #1940 "Expose setDetonator to API"
https://github.com/SpongePowered/SpongeCommon/blob/a9423c7ec9f2b423b52c273f7e7a23818a8f3e41/src/main/java/org/spongepowered/common/mixin/core/entity/item/MixinEntityTNTPrimed.java#L75

the method setDetonator is on the mixin but is not exposed to tnt interface

https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/entity/explosive/PrimedTNT.java

[2018-12-29 08:13] ItsDoot opened #1941 "Custom Data - offering data gives a transaction result of FAILURE"
I am at a loss as to what the issue is with my custom data. Whenever I go to offer the data to a player, the transaction result type is `Type.FAILURE`.

Here's my code: https://gist.github.com/xDotDash/e60f63456789a5e5f6e44f2a8820aebe

Hopefully it being in Kotlin is not too big of a deal.

[2018-12-29 19:03] ItsDoot commented on #1941
Well I was finally able to get it to work; all I changed was `toContainer` to:

[code]

[2018-12-29 19:03] #1941 closed, assigned to nobody

[2019-01-04 02:44] Lignium commented on #1000
1. In the comments of the methods `DataView#getObject()` and `DataView#getObjectList()` requested object(s) described as implementing the `DataSerializable` interface, but these objects are not required to implement the `DataSerializable` interface and serializing by `DataTranslator`.
2. Small typo with markup in class documentation:
https://github.com/SpongePowered/SpongeAPI/blob/b2736425ce386018

[2019-01-05 05:54] ItsDoot commented on #1913
Pinging @Cybermaxke since he is the new data api caretaker.

[2019-01-05 05:57] ItsDoot commented on #1936
Ideas on which databases we should support as official plugins?

MySQL and H2 are a given, since they are currently supported.

[2019-01-05 15:06] ST-DDT commented on #1936
I would also recommend postgres since it is open source , free and powerful.

[2019-01-07 03:13] FDU-SE-LAB opened #1943 "Your project SpongePowered/SpongeAPI is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-09 12:10] Cybermaxke commented on #1913
I am going to fix the things that are possible for API 7, and a refactor will be done in API 8 (removing redundant methods, the values API refactor, etc.)

[2019-01-09 14:43] Cybermaxke commented on #1913
I have fixed a few of the issues in the above PR (for API 7), please comment there if I missed something.

[2019-01-10 11:11] Lignium opened #1946 "BlockChangeFlag is not extends CatalogType"
The `BlockChangeFlag` interface is not extends `CatalogType`. This creates big problems for serialization of this object. I hope there is no such thing anywhere else...

[2019-01-10 11:27] Cybermaxke commented on #1946
This was intentional, although I don't remember the reason for that. @gabizou ?

[2019-01-10 18:08] ST-DDT commented on #1913
* [x] inconsistent/wrong usage of `createValue`
* [x] implement the toContainer() consistently
* [x] restrict key in constructor
* [ ] inconsistent final modifier for methods (API breaking)
* [x] undefined enumType() method
* [x] useless AbstractIntData class
* [x] redundant AbstractListData method implementations
* [x] missing/duplicate hashCode and equals implementations

[2019-01-10 18:17] Cybermaxke commented on #1913
* Where did I miss `inconsistent/wrong usage of createValue`?
* `inconsistent final modifier for methods`, I can only remove final modifiers to avoid breaking, this may not be desired.
* `implement the toContainer() consistently`, I will look into it

[2019-01-10 18:34] ST-DDT commented on #1913
* Where did I miss inconsistent/wrong usage of createValue?

  AFAICT only in a single instance

  * [AbstractImmutableBooleanData](https://github.com/SpongePowered/SpongeAPI/pull/1945/files#diff-1442b242468d5ffdae1cd5c3252dcfd4R61)
[code]

[2019-01-10 18:39] Cybermaxke commented on #1913
Alright, I resolved the issues you pointed out. (except the final method one)
I added the `fillContainer` method from the bleeding branch (as non abstract) to fix the `toContainer()` inconsistency.

[2019-01-10 18:43] ST-DDT commented on #1913
What is the benefit of the `fillContainer()` or where does it originate?

[2019-01-10 18:48] Cybermaxke commented on #1913
A lot of devs are currently forgetting to override the `toContainer` method to add their own data. That forces them to add it (which is currently not possible without breaking).

[2019-01-10 18:48] Cybermaxke commented on #1913
See https://github.com/SpongePowered/SpongeAPI/commit/67e79cbbac43159578444f5ba431a09c6be72c40

[2019-01-10 19:34] mattmess1221 commented on #1936
If we do this, there should be a system in place to update the database connector without needing any changes in the plugin. If it's just loading non-plugins in the mods folder, that would be fine since forge does that already. It would just need a implementation on spongevanilla.

[2019-01-12 13:26] Cybermaxke commented on #1842
I agree upon the fact that the `from` can be misleading. We can also keep the `from` method around and deprecate it, and we remove it in a later API version.

[2019-01-13 04:45] ghost opened #1947 "Adding sendTo method to Text builders"
The PaginationList allows for a `sendTo()` method instead of `build()` and this would eliminate the need for having multiple lines when a builder is needed.

[2019-01-16 12:40] Pulverizer opened #1948 "Ability to get a block's potential drops with drop chance?"
As I am working on porting Movecraft to the SpongeAPI I have found a section of code that requires getting the potential drops of a block that the Craft is about to "harvest" (Break) so that the drops can be cancelled and added to the contents of TileEntityCarriers aboard the craft instead.

[2019-01-16 13:17] BrainStone commented on #1948
Drop chance is nothing that can be added, as there are no chance values available in the code. Especially when working with modded items.

[2019-01-16 13:25] Pulverizer commented on #1948
Well, we still need to be able to get the drops as a minimum.

[2019-01-16 13:31] BrainStone commented on #1948
Simulating a single drop should be doable.

[2019-01-17 15:48] #1791 closed, assigned to Cybermaxke

[2019-01-17 16:18] Cybermaxke commented on #1842
IMO just `fill` is also a bit confusing, what are you going to fill? This or the parameter manipulator? So I suggest renaming `from` and `fill` to `fillFrom` or `copyFrom` (to reflect `CompositeValueStore` methods).

@gabizou Thoughts?

[2019-01-19 12:14] ImMorpheus commented on #1885
PR merged

[2019-01-19 12:14] #1885 closed, assigned to nobody

[2019-01-20 20:33] BrainStone commented on #1822
Any update on this? @Cybermaxke

[2019-01-20 21:25] Cybermaxke commented on #1822
No, it's not a high priority right now.

[2019-01-21 18:37] #1803 closed, assigned to nobody

[2019-01-25 21:28] ItsDoot commented on #1947
Does this break the builder pattern? As in, are builders supposed to be reusable?

[2019-01-25 23:16] ghost commented on #1947
Well it could include both the `sendTo()` as well as a `build()` method. the `sentTo()` method could return the builder while also sending it. Similar to how the remove method in a list returns the value as well as actually removing it.

[2019-01-27 18:18] Cybermaxke commented on #1878
Fixed in https://github.com/SpongePowered/SpongeAPI/commit/91a68f374d3f10ce2b8911a1ce0cde460c706ff8

[2019-01-27 18:18] #1878 closed, assigned to nobody

[2019-01-28 17:49] #1835 closed, assigned to nobody

[2019-01-28 18:48] #1822 closed, assigned to nobody

[2019-01-28 18:56] BrainStone commented on #1822
You are awesome <3

[2019-01-29 12:21] Cybermaxke commented on #1932
I added the world `UUID` to the `Location` in , and additional constructors/methods, for 1.13
https://github.com/SpongePowered/SpongeAPI/commit/40904f2eeab4e9b42b8e6047f4b754e983eec3b5#diff-6d94dc0de1d7083caa6f3758f6b904e2R89

[2019-01-29 16:54] gabizou commented on #1932
@cybermaxke, I had a thought, add a method to Location#isValid. If the world is not valid, return false, better for devs to be able to check instead of the object potentially throwing exceptions later. And basically, it’d be better to maybe even add ifValid(consumer<location>)

[2019-01-29 18:40] dualspiral commented on #1932
@gabizou Would an unloaded but valid world be classed as invalid? If so, I’d also suggest `isAvailable` and `ifAvailable`. It might be a valid location, just not on a loaded world.

[2019-01-29 18:45] gabizou commented on #1932
Right, there's a key here that if the world *cannot* be loaded because it never existed (registered), then the location would be invalid entirely. But, if a world can be loaded, `isValid` would likely be a new method to verify that.

It reminds me of the subclassing guava used for Optional to where we could have three subclassed `Location` extensions, one for offline, one for unregistered and one

[2019-01-29 20:32] liach commented on #1919
As the bleeding is getting worked on now, should I send a pr to modify soon?

[2019-01-29 20:40] gabizou commented on #1948
Simulating drops is doable when the implementation for simulating `world#digBlock`. It's been an implementation PR that hasn't been given time to test and verify everything would work properly with causes, but the implementation of that API would allow simulating drops: https://github.com/SpongePowered/SpongeCommon/pull/86

Otherwise, getting drops from a block without breaking it isn't something

[2019-01-29 21:12] gabizou commented on #1946
It's difficult to make it serializable because it's based on an integer value passed from implementation of which some mods have their own bits they pass around for their own statefulness. There's no real good way to serialize the flag aside from having the exposed flags, but again, implementation has it's own set of flags it needs to follow (including sponge created ones for the api).

Sponge kno

[2019-01-30 08:55] NeumimTo opened #1956 "Api 7 chceck if itemtype may be put into one of vanilla armor slots."
@Faithcaio told me its already in the impl

[2019-01-30 09:57] gabizou commented on #1956
Get [`EquipmentType`](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/data/property/item/EquipmentProperty.java#L36) via property from the `ItemStack`, and check against the equipment slot property from the inventory slot.

[2019-01-30 09:57] #1956 closed, assigned to nobody

[2019-01-30 17:43] ST-DDT commented on #1919
If we could get an initial draft, then we could at least have a base for discussion. I could play with it and check whether this is easily usable by plugins and maybe also start an accompanying docs PR.

[2019-01-31 20:49] kashike opened #1957 "TileEntity -> BlockEntity"
What we call [`TileEntity`](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/block/tileentity/TileEntity.java) should be called `BlockEntity` for consistency:
- we have `BlockType`, not `TileType` - `Tile` was renamed to `Block` in Minecraft years ago
-  vanilla and the community refer to these as "BlockEntity"/"block entity", except in some legacy cases

[2019-01-31 21:00] Cybermaxke commented on #1957
It's time for a revolution! We shouldn't hold on to old naming practices, especially for a modern minecraft API.

[2019-02-01 04:20] liach commented on #1957
yeah, it's no longer 4 years ago

[2019-02-01 11:40] ryantheleach commented on #1932
I've seen multi-world plugin authors struggle with unloading and reloading worlds in Sponge as well, while on the topic of loaded vs registered.

Not sure of the details, But recall there being problems with world uuids even after unloading.

Is it possible to "unregister" a world? Should it be?

[2019-02-01 11:42] Cybermaxke commented on #1932
The only way to "unregister" a world is by removing it.

[2019-02-01 23:43] pie-flavor commented on #1278
one year later

[2019-02-02 01:30] gabizou commented on #1278
@pie-flavor by all means, write a PR to use `EntityArchetype` since it's representative of minimal data to fabricate an entity (`EntityType` + whatever tag data you need to set). Implementation should be rather easy compared to various other implementation PR requests/bug fixes.

[2019-02-02 01:37] pie-flavor commented on #1278
an API PR you mean? I thought you guys only went for API PRs that included implementation

[2019-02-02 01:44] pie-flavor commented on #1752
one year later

[2019-02-02 01:49] gabizou commented on #1278
Normally yes, for anything targeting `stable-7`, since that API is unbreakable. If it were something targeting 1.13 or changing API, then it wouldn't necessarily have an implementation for `1.13`. There's plenty of PR's that have been written in the past to implement various datas and keys, you're an experienced java developer, so again, it shouldn't be too hard for you if you wanted to see this i

[2019-02-02 12:26] Faithcaio commented on #1741
see https://github.com/SpongePowered/SpongeAPI/pull/1848

[2019-02-02 12:26] #1741 closed, assigned to nobody

[2019-02-03 21:20] #1546 closed, assigned to bloodmc

[2019-02-04 14:03] svenschultze opened #1961 "Ability to modify potion colors"
As discussed in this Thread https://forums.spongepowered.org/t/modify-color-of-potion/27170 it seems like there currently is no option to modify the color of the potion items. Per default, every potion is pink. Since you can modify the potion colors in the give command, it should be possible to implement this in the API.

[2019-02-04 18:48] limbo-app opened #1962 "testNoArgsFunctional failed"
This issue was originally submitted by @sorrowloki in [SpongePowered/SpongeForge#2593](https://github.com/SpongePowered/SpongeForge/issues/2593).
___
Hello all! Just try to build through gradlew on my system. During building I had this:

- SpongeForge version:  latest stable-7 branch
- Java version: openjdk version "1.8.0_171"
- Operating System: Debian 8

org.spongepowered.api.command.CommandSpec

[2019-02-04 18:52] dualspiral commented on #1962
I've moved the issue for you @sorrowloki!

I actually get this too running on a similar system. The test itself it technically fine, it just seems that the tests run in a different order on different systems... I guess?

Anyway, I advise just slapping `@Ignore` on it for now for your own workspace. The fix to this is simple but we'd need to confirm it doesn't mess with tests on other platforms (be

[2019-02-04 22:24] XakepSDK opened #1963 "Shortcut method for cataloged classes"
Maybe introduce something like
`class.builder()` for registry requests?
e.g.
`ItemType.of(String)`
or
`ItemTypes.of(String)`
[code]

[2019-02-05 06:46] ST-DDT commented on #1963
I really like the idea. This would make the class more enum like. Maybe also add a `getAll()` method .

[2019-02-07 13:25] sorrowloki commented on #1962
Hello, @dualspiral! Sorry, that answered so long.

Thank that moved my issue here and again sorry for the mistake, this was my inattention.

Maybe yes. How can I check it? Sorry, I am too new in Java and in sponge's plugin development in particular. I will be glad to provide you with all the information that you need.

The tempory fix is just to change `@Test` to `@Ignore`? I tried it but without

[2019-02-07 14:43] dualspiral commented on #1962
If you're developing plugins, you don't need to create a Sponge workspace, you just need to build against the API that you can get from our repositories. I suggest having a look at https://docs.spongepowered.org/stable/ru/plugin/workspace/index.html
(though I notice that you're Russian, so may find https://docs.spongepowered.org/stable/ru/plugin/workspace/index.html better). This should help you g

[2019-02-07 15:47] Zidane commented on #546
Closing as Extent is being re-wrote for 1.13

[2019-02-07 15:47] #546 closed

[2019-02-11 23:56] Pokechu22 opened #1964 "PIG_ZOMBIE should be ZOMBIE_PIGMAN"
ಠ_ಠ

https://github.com/SpongePowered/SpongeAPI/blob/a1418ae3fccbfa1fbc56e05d2f3375dcd1344e1c/src/main/java/org/spongepowered/api/entity/EntityTypes.java#L142

`PigZombie` became `zombie_pigman` in 1.11.  The ID should be cleaned up with the rest of the stuff in 1.13 at least.

This was brought up in [this combined issue](https://github.com/SpongePowered/SpongeAPI/issues/221#issuecomment-169065675

[2019-02-12 00:16] kashike commented on #1964
https://github.com/SpongePowered/SpongeAPI/commit/93a134735955fb5a1f6752b26b986b01a23355de

[2019-02-12 00:16] #1964 closed, assigned to nobody

[2019-02-14 21:21] bloodmc commented on #574
Chunk regeneration API support has been added in commit https://github.com/SpongePowered/SpongeAPI/commit/6632f971b9a3b04aa839ed28ce4839e02dc32b9b

[2019-02-14 21:21] #574 closed

[2019-02-15 19:54] BrainStone opened #1966 "Rework of the Metrics API (Missing undecided config value)"
As per the discussion on the Discord, I'm writing this down as an issue/feature request.

Per older and newer discussion it was initially agreed upon that Sponge provided an API for plugins to check if they may send metrics. And that they are supposed to ask for consent. The API was added in a very basic sense. The issue being the plugins only knowing if metrics are enabled or not. Meaning that ev

[2019-02-16 22:55] NeumimTo opened #1970 "No event to listen to when an item in hand breaks"
^ There appears to be no event for that.
If thats supposed to be DropItemEvent.Destruct, then its not called from appropriate place

[2019-02-17 12:38] Lignium commented on #1946
Will there be any solution for this issue? Of course, I can refuse such functionality, however, it would be nice to think up something about this.

[2019-02-18 13:30] Faithcaio commented on #1966
Not sure if this is still the case but I noticed Sponge was adding values to the config for every plugin loaded.
We don't need to save undecided for plugins that dont even have metrics.

[2019-02-18 13:54] Faithcaio commented on #1970
Its not `DropItemEvent.Destruct` for sure.
https://github.com/SpongePowered/SpongeAPI/blob/81ce267dc845e37caf3bed3f3fdc9432a8b14bf6/src/main/java/org/spongepowered/api/event/item/inventory/DropItemEvent.java#L80-L81

Its either `InteractItemEvent` for the interaction
or
as the item is "equipped" in the inventory `ChangeEntityEquipmentEvent`

[2019-02-18 16:43] NeumimTo commented on #1970
ChangeEntityEquipmentEvent is called far too many times. - every time player places a block, or its item in hand changes durability
would it be possible to introduce ChangeEntityEquipmentEvent.Desctruct.

[2019-02-18 22:44] BrainStone commented on #1966
That's a good point.
And naturally these prompts should only appear when plugins check if they may send metrics and individual prompts only for thos which check for it.
Makes it also easier seeing which plugins do send metrics.

[2019-02-19 03:49] mmis1000 opened #1971 "Change of smeltingRecipe in 7.2 cause all smelting recipe implemented manully in 7.1 to break"
Smelting recipe in spongeAPI 7.1 does not implement `CatalogType`

But change introduced in https://github.com/SpongePowered/SpongeAPI/commit/8c4031f2a846291fc5d7139aeaab13d7c909a914 changes it to implement `CatalogType` without proper default methods.

Thus, all manually implemented smelting recipe in 7.1 will not be register-able in 7.2 due to lacks of CatalogType methods and result in startup c

[2019-02-19 11:04] Cybermaxke commented on #1971
https://github.com/SpongePowered/SpongeAPI/commit/40492ed4e9611c8a90088679ae1680a398893134

[2019-02-19 11:04] #1971 closed, assigned to Cybermaxke

[2019-02-20 10:06] Cybermaxke commented on #1721
https://github.com/SpongePowered/SpongeAPI/commit/d40b52e9a046a02d072af660b52f589d46f87e0c

[2019-02-20 10:06] #1721 closed, assigned to nobody

[2019-02-22 17:10] #1650 closed, assigned to nobody

[2019-02-23 21:30] ghost opened #1974 "Method to get blocks around a player based on a given radius"
Currently you can use `Player#getNearbyEntities` to get all entities around a player within a radius. It would be extremely handy to be able to get all the blocks in an area around a player.

Something similar to `Player#getNearbyBlocks(radius)` and return a list.

[2019-02-23 21:40] TSEcho commented on #1974
Nevermind there is a method

[2019-02-23 22:18] ghost commented on #1974
It would also be nice to have a `isNearBlock` method in place or along side the above method that could be similar to this:

    public boolean isNearBlock(Player player, String block, int radius) {

        World world = player.getWorld();
        int px = player.getLocation().getBlockX();
        int py = player.getLocation().getBlockY();
        int pz = player.getLocation().getBlockZ();

[2019-02-24 00:32] Cybermaxke commented on #1273
https://github.com/SpongePowered/SpongeAPI/commit/b4c50c9755dbf1c474854fbcc279d9ba003f0aa7

[2019-02-24 00:32] #1273 closed

[2019-02-25 22:00] ImMorpheus commented on #1280
https://github.com/SpongePowered/SpongeAPI/pull/1969

[2019-02-25 22:00] #1280 closed

[2019-02-26 18:57] gabizou opened #1975 "Enhance Visibility of EventContextKey Usage"
#### First, some background (there is a TLDR at the bottom, but really you should read this issue)
As the API and official implementations have evolved over the years, @Zidane @bloodmc and I are coming to a head about exposing bits of what we can expect for being able to better use Sponge's implementation for control flow of various events. As most plugin developers are aware, Sponge's tracking sy

[2019-02-26 19:09] EhhChris commented on #1975
As a noob who's never really been exposed to this kind of pattern before, I found myself looking for examples on different events and the context available to each instead of just using the Javadocs. Default methods would absolutely bridge some of this gap nicely.

[2019-02-27 08:45] Inscrutable commented on #1975
`excited about the possibilities this issue will provide for the @SpongePowered/docs to document`
![images](https://user-images.githubusercontent.com/1009532/53477107-19122300-3ac8-11e9-972a-45a0a64c9b86.jpg)

[2019-02-27 09:30] dualspiral commented on #1962
https://github.com/SpongePowered/SpongeAPI/commit/604894e76464cd690d335f834bd5b82ccfe381ad

[2019-02-27 09:30] #1962 closed, assigned to nobody

[2019-02-28 07:44] liach commented on #1975
I strongly oppose adding default methods. Such additions may violate the goal of entity component systems and harms flexible additions.

[2019-02-28 09:12] MarkTwoFive commented on #1975
I agree to @liach . However, I would say that some way to provide code assistance to developers is desirable and would be provided by method definitions in interfaces. Just to make sure: do these methods have to have their default implementations in the interface or wouldn't it be sufficient to have them in their implementations?

This way, proper tool-assisted coding (and possibly deprecation) wo

[2019-02-28 16:49] gabizou commented on #1975
The point isn't that they would be guarantees, they're commonly found in the events regardless of implementation (hell, one could say it's almost a requirement in certain scenarios). Case in point: `ChangeBlockEvent.Pre` is fired in two scenarios:
- A block update event is being scheduled (such as pistons)
- Certain block physics that are complicated to track and roll back have a pre event thrown

[2019-03-01 01:27] liach commented on #1975
sounds good. we can just model event context keys and their usages after data keys.

[2019-03-01 22:08] BrainStone opened #1976 "Add option to only tabcomplete first alias of a child command"
Hi there, I've been told that there currently isn't a suitable way to create a child command where not all aliases are tabcompleteable.

Now why is that an issue for me?

Let's have at this simplified snippet from one of my plugins:

[code]

Now if I were to type the command `/command <tab>` I would get 5 options at that point even though there are only two subcommands. It's also annyoing that whe

[2019-03-02 06:58] liach commented on #1526
Given `server.ClientPingServerEvent.Response` and `server.ClientPingServerEvent.Response.Players` are not even events, are they still created by the factory?

[2019-03-02 22:13] ImMorpheus commented on #1669
Fixed by https://github.com/SpongePowered/SpongeAPI/commit/bcff2263e8dedeff5af2e2fe6b21c104c4cd4156

[2019-03-02 22:13] #1669 closed, assigned to Aaron1011

[2019-03-02 22:29] ImMorpheus commented on #1912
DataRegistration.Builder#manipulatorId() has been deprecated (api 7) and removed (api 8) in favour of CatalogBuilder#id()

[2019-03-02 22:29] #1912 closed, assigned to ST-DDT

[2019-03-06 08:32] ya-evgeniy opened #1978 "Incorrect behavior of flags with optional value"
I registered a command with a flag that takes an optional value.

`CommandElement flagValue = GenericArguments.bool(Text.of("flag_value"));`
`CommandElement optionalFlagValue = GenericArguments.optional(flagValue);`
`CommandFlags.Builder flags = GenericArguments.flags();`
`flags.valueFlag(optionalFlagValue, "-flag");`
`CommandElement commandElement = flags.buildWith(GenericArguments.none());`

As

[2019-03-08 03:13] LarsArtmann opened #1979 "How do you feel about Kotlin for this repo?"

[2019-03-08 03:21] JBYoshi commented on #1979
For the API itself, I’d lean against it. While I have nothing against Kotlin, many plugin developers use Java, and I wouldn’t want to run the risk of someone breaking Java-based plugins by adding a Kotlin-specific feature.

On the other hand, if you mean the Gradle scripts, I’m fine with that. I think there are some plans to port the Gradle scripts over to Kotlin sometime soon.

[2019-03-08 03:25] LarsArtmann commented on #1979
@JBYoshi if you use Kotlin in the right way, you have a 100% Java compatibility

PS: Sorry for my bad English. Greetings from Germany 😄

[2019-03-08 03:27] #1979 closed, assigned to nobody

[2019-03-08 05:33] gabizou commented on #1979
Not to squash hopes, but, the API is written in Java for the simple reason of it's plain and simple. If we start writing in Kotlin, we have the issue of maintainability, upgrading Kotlin versions, implementation needing to handle Kotlin's dynamic code generation, etc. As a build system, it's fine, but as a language for our API, it's going to be a clear "No" for now.

[2019-03-08 15:38] dualspiral commented on #1976
I know @xDotDash said he'd look at this but I asked him to wait for me to make a comment first. At the time I was unavailable to make a longer comment, but I've finally gotten around to it, sorry it's taken some time.

I'm iffy on this for a few reasons:

* In API 8 we're completely reworking the command API to enable integration with Mojang's system, so whatever we do here has no guarantee of por

[2019-03-12 17:32] Pulverizer opened #1981 "Unable to adjust the Entity "power" tag for Fireballs."
Description of the tag by the Official Minecraft Wiki:

   ~ [Official Minecraft Wiki - Ghast](https://minecraft.gamepedia.com/Ghast#Ghast_fireball)

Just from reading this description you can see why, when altering the course of a Fireball entity, you would need to be able to adjust this tag.

[2019-03-14 10:41] Pulverizer commented on #1976
While knowing aliases is useful, having tabcomplete only show selected aliases would be useful as it would reduce clutter for less experienced users.

[2019-03-16 07:56] BrainStone commented on #1976
You made a few fair points and I understand your opinion.
It doesn't really matter how, but all I really want is being able to hide aliases to declutter tab completion. And I'm aware that the whole system will be changed for API 8.

[2019-03-16 16:38] #1496 closed, assigned to nobody

[2019-03-16 16:40] #1901 closed, assigned to nobody

[2019-03-19 15:05] NeusFear opened #1982 "Missing ShulkerBox ItemType"
Sponge api is missing the regular ShulkerBox ItemType, it has all the colored ones.

[2019-03-19 23:15] BrainStone opened #1983 "MemoryDataView with array doesn't equal equivalent MemoryDataView"
When you have a `MemoryDataView` that contains an array and call `#equals` on with another `MemoryDataView` that contains an equivalent or even the same array, `#equals` will return false regardless.

Example:

[code]

[2019-03-21 19:29] NeumimTo opened #1984 "API for sending entity spawn packet to client"
`Viewer#spawnFakeEntity(EntityArchetype, Location)`
- sends an enttiy spawn packet to a single player,without actually spawning the entity it on server side

`World#spawnFakeEntity(EntityArchetype, Position)`
- sends an enttiy spawn packet to a nearby players, without actually spawning the entity it on server side

[2019-03-21 19:42] gabizou commented on #1984
Viewer#spawnFakeEntity(EntityArchetype, Vector3d)

Viewer already can only exist on a particular `World` iirc, so it doesn't make sense to be passing a `Location` object.

[2019-03-22 22:36] ItsDoot commented on #1913
What is the current status of this issue?

[2019-03-27 13:20] Lignium opened #1985 "Renaming of TileEntityArchetype to BlockArchetype and something else"
I suggest renaming the class `TileEntityArchetype` to `BlockArchetype`. The fact is that this class is essentially a snapshot of the block with all its data, but except for its original position and world. When applying an archetype, it works similarly to restoring a `BlockSnapshot` with a given position and world. The class is misleading by its name, without revealing its true purpose.

Let's com

[2019-03-27 18:17] gabizou commented on #1985
Not going to rename it to `BlockArchetype` because it's based on the concept of a [`TileEntity`](https://github.com/SpongePowered/SpongeAPI/blob/b2736425ce386018267484f3fed65c9950e5d984/src/main/java/org/spongepowered/api/block/tileentity/TileEntity.java#L50). Unless we do decide to rename [`TileEntity` to `BlockEntity`](https://github.com/SpongePowered/SpongeAPI/issues/1957), I'm not really keen

[2019-03-28 23:43] gabizou commented on #1974
A few considerations for this:
- To what limit do we get blocks for the radius?
- Is it better to give you an extent view (reduced view) of the world to the radius size?
- The first post mentions getting a list of block states, do you just want to know what type of blocks are around the player?
- The second post mentions checking if the player is near a specific block id, but you're doing that jus

[2019-03-29 02:09] ghost commented on #1974
I think I can shine some light on a few of these:

* I am unaware of the impacts this sort of method would have but I'd imagine having a limit wouldn't be necessary if it was set to its own task. If it did end up causing a significant impact, a limit of some sort would need to be tested to find.
* Unsure of what the concern means here.
* I think it may be more beneficial to get the block states in

[2019-03-31 08:58] XakepSDK opened #1986 "Implement Ranger for Human interface"
Implement `Ranger` for `Human` interface, so we can use `RangeAgentAITask` for `Human`.

[2019-03-31 10:38] liach commented on #1986
it should be done by the implementation. and it is already done in spongecommon.

[2019-04-02 19:26] Lignium commented on #1985
Alternatively, you can add a method to access the tile entity data as a `DataView` object and a method to determine the type of tile entity:

1. `DataView BlockSnapshot#getTileEntityData()`
2. `TileEntityType BlockSnapshot#getTileEntityType()`

In this case, I can manually compare the BlockState and tile entity data.

[2019-04-04 06:30] liach opened #1988 "Missing advancement positions"
Vanilla advancement system allow servers to define custom locations for an advancement in the advancement user interface through packets (not available through JSON).

https://github.com/SpongePowered/Snowman/blob/6c8bdc322e8e48c0c785cd88a44c8b5759cbb176/src/main/java/net/minecraft/advancements/DisplayInfo.java#L163-L164

However, sponge currently lacks such a hook for this access. A hook like htt

[2019-04-04 15:40] Cybermaxke commented on #1988
You can already modify the default layout with the `AdvancementTreeEvent.GenerateLayout` event.

[2019-04-05 01:48] #1988 closed, assigned to nobody

[2019-04-05 15:53] Defman opened #1989 "UserStorageService, missing parts"
It is currently impossible to implement UserStorageService to my knowledge. This is due to the fact there's no way to instantiate a User object.

There exists `GameProfile.of(uuid, username)` like wise there should be a `User.of(profile, container)` or similar.

Reason: I would like to replace UserStorageService with one that utilizes some other means of storage, ie Postgres.

[2019-04-06 19:34] Defman commented on #1989
I propose adding UserManager which is equivalent to GameProfileManager.

[code]

Furthermore there should be added `save` methods to `UserStorageService` instead of
[save()](https://github.com/SpongePowered/SpongeCommon/blob/b746d898ba03882d9db603b4ed5d9d048d3fd9dd/src/main/java/org/spongepowered/common/entity/player/SpongeUser.java#L340). And the "hack" of [forceRecreateUser()](https://github.com

[2019-04-06 20:08] XakepSDK commented on #1989
It's better to use something checked instead of raw `DataView`

[2019-04-06 20:57] Defman commented on #1989
Instead of a UserManager the DataManager could be utilized as such, `Sponge.getDataManager().deserialize(UserData.class, container);`

[2019-04-07 08:21] Defman commented on #1989
However a User may contain data which sponge is not able to check, and we should therefor only check parts of the data (sub data like RespawnLocations).

[2019-04-11 00:52] pie-flavor commented on #1963
My vote is for ItemType as opposed to ItemTypes because ItemTypes is meant as a static registry of the vanilla types while ItemType knows about the dynamic registry by ID. Also, I think that `.of` implies construction and the method should instead be named `getById` or similar.

[2019-04-12 10:19] Cybermaxke commented on #1984
How will this entity removed from the client? Destroy packets are expected for this, this should also happen when the entity is outside of the view distance of the player. What happens if the player gets back in the view distance of the entity, should it reappear or a new fake entity needs to be spawned.

[2019-04-12 17:44] simon816 commented on #1984
There will need to be tracking for what player sees what entity. Minecraft already does this (`net.minecraft.entity.EntityTracker`), it might be possible to use that.
This fake entity proposal sounds like a specific case of the more general "contexual" API's that I think were drafted at some point.

[2019-04-12 18:16] Cybermaxke commented on #1984
Maybe it's better to use a custom entity that can be "disguised" as a specific entity. So we don't have add custom tracking, but it will still be a entity. So it's not really "fake". This in combination with a contextual API would be great.

[2019-04-17 17:24] phit commented on #1000
typo `uis` > `is`
https://github.com/SpongePowered/SpongeAPI/blob/a1418ae3fccbfa1fbc56e05d2f3375dcd1344e1c/src/main/java/org/spongepowered/api/event/item/inventory/UseItemStackEvent.java#L129

[2019-04-19 22:27] Aaron1011 opened #1992 "Allow retrieving entity when using `/execute`"
The Minecraft command `/execute <selector> <x> <y> <z> <command>` can be used to execute `command` for every entity matched by `selector`. However, any Sponge command provided as `command` has no way of retrieving the entity matched by `selector`. The player responsible for invoking `execute` can be retrieved via a `ProxySource`, but the target entity is hidden within the Minecraft `CommandSenderW

[2019-04-22 10:58] Lignium commented on #1000
Missing opening brace:
https://github.com/SpongePowered/SpongeAPI/blob/b2736425ce386018267484f3fed65c9950e5d984/src/main/java/org/spongepowered/api/event/world/UnloadWorldEvent.java#L30

[2019-04-29 19:38] kashike opened #1994 "TileEntity -> BlockEntity"
What we call [`TileEntity`](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/block/tileentity/TileEntity.java) should be called `BlockEntity` for consistency:
- we have `BlockType`, not `TileType` - `Tile` was renamed to `Block` in Minecraft years ago
-  vanilla and the community refer to these as "BlockEntity"/"block entity", except in some legacy cases

[2019-04-29 20:31] kashike commented on #1957
#1994

[2019-04-29 20:31] #1957 closed, assigned to nobody

[2019-04-29 20:36] phit commented on #1994
I honestly don't care much either way, however I voted against this for the simple reason that the implementation uses MCP and as long it won't be changed there, we would be mixing these two which just adds needless confusion in my opinion.

[2019-04-29 20:38] kashike commented on #1994
The API doesn't rely on MCP and thus names shouldn't rely on MCP.

[2019-04-29 20:39] phit commented on #1994
yeah, but the API is still implemented using MCP mappings

[2019-04-29 22:53] liach commented on #1994
We get names significantly better than those in other mappings and even than official vanilla names, like `LiteralText` over `TextComponent`. I believe using more descriptive names like `BlockEntity` (which is fairly widely accepted as of now) is beneficial to the Sponge API.

[2019-04-30 04:28] pie-flavor commented on #1994
The reasoning behind much of Sponge's naming is to use names that make sense, not names that other APIs use (e.g. event verb-noun naming). So yeah, MCP shouldn't mean anything here IMO.

[2019-04-30 05:53] BrainStone commented on #1994
Where is all that MCP trash talking coming from?
MCP has been pretty much essential to the MC modding community for the longest so I really don’t understand the hard feelings expressed here.

And saying to keep naming consistent with MCP and therefore Forge is a good thing.

Now another thing that’s really bothering me about these votes in recent days is that it seems that most pressing issues see

[2019-04-30 06:18] liach commented on #1994
Note that Sponge is not Bukkit. There is no reason to keep legacy names; Notch initially called all blocks "tile"; would you still call `BlockType` `TileType` instead?

If you want to stick with MCP or forge, look at ModCoderPack/MCPBot-Issues#815 ModCoderPack/MCPBot-Issues#816 and ModCoderPack/MCPBot-Issues#817. All these proposals have been done in sponge api in its birth days, yet it turns out

[2019-04-30 10:34] johnfriedrich commented on #1994
I would assume 90% (if not more)of all devs are using SpongeForge not SpongeVanilla so they are working with Forge somehow. Thats the reality. Even though the new name would be better, the change should be made at mcp first. Only changing it here would cause a lot of unnecessary confusion. Just my two cents

[2019-04-30 20:14] gabizou commented on #1994
One very important factor that I need to mention for this issue (which is likely to be re-added to the issue description):

If the change is made from `TileEntity` -> `BlockEntity`, so will the configs need to be changed for Sponge's configurations (tracker configs, error configs, etc.) referencing `tile-entity` etc. being changed over to `block-entity`. While this may not seem like much, it does

[2019-04-30 20:16] phit commented on #1994
it will just confuse literally every user, because all of modded minecraft calls them tile entities and always has, great..

[2019-04-30 21:21] johnfriedrich commented on #1994
This

[2019-04-30 21:32] Katrix commented on #1994
I also agree with the fact that if this change should be made, it needs to first be made in MCP. IF we do make this change we can't just be quiet about it to the end users. It needs to me made very clear to everyone that uses Sponge that what other platforms calls tile entities, Sponge calls block entities.

While it may be true that the general community calls the block entities (I really doubt t

[2019-04-30 22:30] liach commented on #1994
Lol no! See this: https://github.com/StellarHorizons/Galacticraft-Rewoven/blob/e32d407a77f851dc50318b0d42bcab2afd173354/src/main/java/com/hrznstudio/galacticraft/blocks/machines/basicsolarpanel/BasicSolarPanelPartBlockEntity.java#L11

Modders ***do*** call these things "block entity".

We should be unconcerned with MCP. We have done ModCoderPack/MCPBot-Issues#815 ModCoderPack/MCPBot-Issues#816 and

[2019-04-30 22:37] phit commented on #1994
and some call them potato, that doesn't really matter, there will be always exceptions to cherry pick
310,000 code results https://github.com/search?l=Java&q=tileentity&type=Code
5,100 code results https://github.com/search?l=Java&q=blockentity&type=Code

[2019-04-30 22:57] Katrix commented on #1994
I don't feel like those recent name changes in MCP can be compared against too much. They are more a distraction that anything else. Those are stylistic changes. How it's written might have changed, but everything still has it's same name. And sure, Sponge can do different stuff from MCP there. It's not like Forge and Sponge uses the same coding style.

Sure, if the issue here wasn't talking about

[2019-04-30 23:14] liach commented on #1994
Let's just take 1.13 commands for example.

The tendency to stay on old things is not good. 1.13 even broke a lot of vanilla users with its new brigadier and new commands, but it does not mean that we should add old, less flexible commands back to the game.

Moreover, github search is inherently limited. See the search result for `execute`, one of the most used minecraft commands, on github:
https

[2019-04-30 23:20] phit commented on #1994
I don't even know what mcfunction is or how it relates to what mod users are used to

[2019-04-30 23:37] liach commented on #1994
that demonstrates your github search result, or the way you gather evidence, is questionable. anyways, let's just vote.

[2019-04-30 23:39] johnfriedrich commented on #1994
It's not about breaking things. That doesn't matter. In the end it's replace all and fixed in three seconds. At least when updating a mod. (Yeah like gabi said, configs and so on are a huge deal). But it's not even that. It's about consistency. If Forge modders use TileEntity all day, why should they randomly start using BlockEntity just for Sponge plugin developing? As mentioned above, Forge and

[2019-05-01 06:04] pie-flavor commented on #1994
Because Sponge isn't Forge. Sponge might be implemented on top of Forge but that doesn't mean anything. You don't start using C# naming conventions in your Python code just because you know it'll be running on IronPython. If you want an API as close to Forge as possible, just use Forge. Also, 'new developers' are overwhelmingly new to development itself, not Forge developers trying out Sponge. So

[2019-05-02 00:15] axle2005 commented on #1994
Its is possible to have a Depreciation options for this? Do the initial update so that TileEntity and BlockEntity both exist with a Depreciation warning on TileEntity? This would allow plugin developers to identify where exactly in our code things will break without holding the community back due to lack of plugins again...

I know several of mine use TileEntity, but ClearMob would be the only one

[2019-05-02 00:19] Zidane commented on #1994
@axle2005 All deprecation has been removed in API 8. If this change happens, it would be a clean break. Other changes in API 8 will have already broke your plugins (potentially but likely) so that isn't a strong point here.

[2019-05-02 00:21] axle2005 commented on #1994
Thats fair... I fully expect larger plugins to right out die... much like the transition from API 5 to 7 where Cause was removed from a lot of methods.

[2019-05-02 00:25] Zidane commented on #1994
@axle2005 unfortunately it is the nature of evolution. The base game's changes meant while a lot of the API was still sound (due to prior planning), a lot wasn't. Since things were going to break, we decided to get a lot of breaking changes out of the way.

AKA we're going to rip the bandaid off.

[2019-05-04 16:32] Zidane commented on #1913
Closing as this is getting tossed in api-8.

[2019-05-04 16:32] #1913 closed, assigned to Cybermaxke

[2019-05-04 16:36] #1039 closed

[2019-05-04 16:36] Zidane commented on #1014
Closing in favor of the AI v2 branch. I'll open a PR and discussion can be made there.

[2019-05-04 16:36] #1014 closed

[2019-05-04 16:37] Zidane commented on #892
In api-8, plugin container is required everywhere.

[2019-05-04 16:37] #892 closed

[2019-05-04 16:41] Zidane commented on #1506
Closing as this isn't an API issue and needs to be tested again in one of our implementations and reported there.

[2019-05-04 16:41] #1506 closed, assigned to nobody

[2019-05-04 16:53] Zidane commented on #1738
Couple of things:

- WorldProperties#getName now is the directory name which fixes a lot of the inconsistency
- At this time I don't want to let the API control where World storage occurs especially since that will be HELL to get MCP working right with that
- I might change the display name to a Text object, let me think on if that'll cause any problems.

My latest 1.14 work covers most of the oth

[2019-05-04 16:53] #1738 closed, assigned to Zidane

[2019-05-05 07:46] Twisted-Code commented on #1994
seeing as and a lot of plugins are going to break from the removal of depreciation anyway, my concern with "breaking unmaintained or under maintained code" is probably irrelevant here, because it's happening regardless. That being my biggest objection, I see no reason to postpone this till the next major code restructuring or anything like that. The code may not care what we call blocks (that's wh

[2019-05-05 09:10] BrainStone commented on #1994
Though the one thing I really don’t understand is where’s the benefit in creating a discrepancy between Sponge and MCP (and yes they are inherently linked. SpongeForge is a thing and people develop stuff that uses both Sponge and Forge at the same time) for fixing a slightly odd name, that is well known and pretty much everyone in the scene knows.

Why make it harder for devs over such small and p

[2019-05-05 09:39] dualspiral commented on #1994
No, that's just plain wrong. There is no link between **SpongeAPI** and MCP. Lantern uses SpongeAPI and has no link with MCP. It's the implementations that do, and this is nothing to do with the implementations. If we were to make  `SpongeFabric` (we're not, but for the sake of argument let's hypothesise) and that `SpongeForge` was discontinued (again, that's not going to happen, hypothetical situ

[2019-05-06 06:52] ryantheleach commented on #1994
I think block entities are very different to regular entities, and could be easily confused for [FallingBlock](https://github.com/SpongePowered/SpongeAPI/blob/1.14/src/main/java/org/spongepowered/api/entity/FallingBlock.java) entities which are an entirely different construct.

That said, BlockEntities seems more natural.

[2019-05-06 13:32] VcSaJen commented on #1994
I vote to postpone this issue until 1.15 is released.

[2019-05-06 13:51] Zidane commented on #1994
@VcSaJen For what reason?

[2019-05-06 21:00] kashike commented on #1994
Thank you for the input, everyone. This issue is now closed for voting.

[2019-05-06 21:33] gabizou commented on #1994
I'd like to summarize the overall change as a result of the voting:

- `org.spongepowered.api.block.tileentity.TileEntity` -> `org.spongepowered.api.block.entity.BlockEntity` (and all the subclasses get package moved too)
- `org.spongepowered.api.block.tileentity.TileEntityArchetype` -> `org.spongepowered.api.block.entity.BlockEntityArchetype`
- `org.spongepowered.api.block.tileentity.TileEntityTy

[2019-05-08 19:02] NeumimTo opened #2000 "During the item pickup event obtain the slot where the item is going to be placed"
Is this possible?

For example i would like to cancell the pickup event if the item would be assigned into a hotbar slot

[2019-05-11 13:28] NeumimTo commented on #2000
Eventually i solved it by getting  SlotTransaction Object `event.getTransactions().get(0)`, then transformed its Slot instance and checked whenever its value of `SlotIndex` is lesser than 8. There might be an easier method but this appears to work, at least in a non-modded environment

[2019-05-11 13:28] #2000 closed, assigned to nobody

[2019-05-11 17:56] Faithcaio commented on #2000
`playerInv.query(Hotbar.class).containerInventory(slot.transform())` might work as well

[2019-05-13 10:41] pie-flavor opened #2003 "No raw data for ImmutableDataHolder"
Unlike DataHolder's `setRawData`, there is no `withRawData` method for "setting" raw data on ImmutableDataHolder.

[2019-05-13 15:23] gabizou commented on #2003
Many immutable structures just don't support raw data or `DataView`s in general. Case in point: `BlockState`, `FluidState`, `LocatableBlock`. The ones that *would technically support it* are `ItemStackSnapshot`, `FluidStackSnapshot`, `EntitySnapshot`, and `BlockSnapshot`. The fun part is that `BlockSnapshot` already has a `withContainer` method, but it seems that we ended up missing that for `Enti

[2019-05-13 19:37] pie-flavor commented on #2003
I do feel like it should be *some* kind of superinterface that specifies such a method.

[2019-05-16 03:30] ItsDoot commented on #1000
`sever` -> `server`

https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/Server.java#L276

[2019-05-17 13:49] Zidane commented on #1986
Closed in api-8.

[2019-05-17 13:49] #1986 closed, assigned to nobody

[2019-05-17 13:50] Zidane commented on #1985
Closed in api-8.

[2019-05-17 13:50] #1985 closed, assigned to nobody

[2019-05-17 13:50] Zidane commented on #1976
@dualspiral status on this with new command API in api-8?

[2019-05-17 13:51] #1982 closed, assigned to nobody

[2019-05-17 14:05] dualspiral commented on #1976
Not on the radar.

Simple fact of the matter is that client completions complicate this. I expect an overwhelming number of plugins to want to use client completions and if you use a "hidden" alias then the subsequent completions for elements after the hidden aliases aren't going to work because if we send them, the client is going to display them, I see no way to say "this exists but don't show i

[2019-05-22 10:14] dualspiral commented on #1177
This will be available in API 8.

https://github.com/SpongePowered/SpongeAPI/blob/0520f48b05bc026c083f490991cdf3a39fd58cbf/src/main/java/org/spongepowered/api/command/parameter/Parameter.java#L911-L939

[2019-05-22 10:14] #1177 closed

[2019-05-22 19:49] ItsDoot commented on #1783
PR for reference: #1990

[2019-05-23 03:26] ItsDoot commented on #1000
Has a double `The`

https://github.com/SpongePowered/SpongeAPI/blob/3fdbf2993d487e0170ce8f77823805e86fee254f/src/main/java/org/spongepowered/api/service/permission/Subject.java#L138

[2019-06-04 19:01] RedNesto commented on #1981
What you would want to use is `Keys#VELOCITY`.
Also, `Entity` have `get/setVelocity` shortcuts methods.

[2019-06-04 20:55] axle2005 opened #2011 "Suggestion: Ticket Bot for Discord"
I honestly didn't know the best place to put a suggestion like this... I considered the forums but feel it would get lost within a day.

Basically: It seems the discord is always full of people with different errors or problems for the community, and it always is getting dumped into random channels and then getting lost or left unsolved because it is a linear chat system.

Several communities have

[2019-06-04 21:03] phit commented on #2011
It's already hard enough to keep the Github issues clean, if people have anything to add to existing issues they should do so. Creating a secondary system on Discord does not solve an issue. Github is for real time support, not reporting issues.
If people don't make a ticket for their issue in the right place after being asked to do so, it's not our issue. In the end the user wants THEIR issue sol

[2019-06-04 21:04] axle2005 commented on #2011
I dont see most of the issue on discord as needing a github issue... as a lot of them are they simply need guidance

[2019-06-04 21:06] phit commented on #2011
Oh, I misread that, so you want a support ticket system.

[2019-06-04 21:17] axle2005 commented on #2011
Yes. Just something to try and cleanup the channels and centralized information related to particular requests from users.

I mean look at home many times you have dropped the !?foamfix on general... those kind of things wouldnt need to be a github issue, but could very well cut in the middle of conversations already existing on discord.

[2019-06-04 21:25] phit commented on #2011
if people would read centralized information then we wouldn't have to answer the same question again every day, having a new channel for every time the same question is asked does not solve this

[2019-06-04 21:32] axle2005 commented on #2011
Each new channel would of course close itself after being marked as solved. I do get this doesn't exactly solve the issue of users not reading documentation or searching for an answer themselves, but nothing will fix that. Regardless just a brief look in the discord general now, with half a glance I see 3 separate topics within 20 posts.

1 is more informational,  but the other 2, assuming someone

[2019-06-04 21:38] phit commented on #2011
I honestly don't feel that is an actual issue we are having, chat moves slow enough to keep multiple conversations going at the same time, even for hours. And I say that has someone that has 15k messages send in #general on the server. If your issue gets lost you just ask again, though honestly plenty of people backread chat that the only questions not answered are those that are either stupid or

[2019-06-04 21:39] axle2005 commented on #2011
I don't know anything about IRC... so I can't comment on that.

[2019-06-04 22:20] Pulverizer commented on #1981
get/setVelocity only gets/sets the current velocity.

power is something different.

[2019-06-04 23:00] gabizou commented on #2011
Putting my two cents into this, but by no means is it an official decision or making policy:
I threw in the idea several months back to get some automated help channels created and logged and closed when people would ask. It was turned down for the following reasons:
- Lack of manpower to keep maintaining and responding to all questions
- Flooding new channels with every time someone asks about a

[2019-06-04 23:40] axle2005 commented on #2011
Regarding the list of reasons:
* This could be remedied by allowing the community to respond. The actual "Support" section for open tickets could be moved a bit farther down the side bar to avoid the appearance of clutter from having individual channels for different active issues.
* Using 1 channel to handle any amount of issues isn't exactly the best thing, especially as the community grows.
* A

[2019-06-04 23:55] gabizou commented on #2011
All of that sounds well and fine, but unless such bots exist with that featureset, I don't think we have enough development manpower to afford such nice things. Granted, as the guild grows on Discord, we'll probably see a lot more need for such organization.

[2019-06-05 00:03] axle2005 commented on #2011
I know ToastyNetworks uses this one: https://support.scarsz.me/

I haven't been part of the administration for a while, but I am sure Kai still knows some things about this bot. The bot doesn't NEED to fill all the boxes currently, that's more of a stretch goal.

[2019-06-05 00:17] phit commented on #2011
I don't think anyone here wants to rely on a closed source third party bot, so options like that are out the window. Either way I'm not convinced we even need anything like this, chat is very usable in it's current state and if the volume ever goes up we could just add a channel or two for support similar to the Nucleus discord.

[2019-06-05 00:22] liach commented on #2011
will we contribute to kyoripowered limbo for this feature?

[2019-06-05 03:36] kashike commented on #2011
I do not think this is necessary for the reasons stated in https://github.com/SpongePowered/SpongeAPI/issues/2011#issuecomment-498873882.

[2019-06-05 05:19] DrZoddiak commented on #2011
I don't believe there's a particular need for a "ticket bot" persay. I believe Sponge thrives on community support (and #general works fine), and unless there's an allocated support staff it doesn't make much sense to attempt to add tickets.

I do however think that a support bot that parses logs/images would be beneficial. So that questions like foamfix/oldmixin/etc... would be answered quite qui

[2019-06-05 18:12] Pulverizer commented on #1981
To clarify, this is how the wiki would read if you used terms that you would see in SpongeAPI.

[2019-06-05 18:21] Zidane commented on #1981
So really this is just a modifier on velocity, correct?

[2019-06-05 18:28] RedNesto commented on #1981
Oh I see, I must have misunderstood the wiki and misread minecraft's code.

And yes, power is simply added to motion/velocity each tick.

[2019-06-05 21:57] Pulverizer commented on #1981
@Zidane Yes?

@RedNesto No problem.

It's one of those things where nobody would notice this unless they happened to be making some really awkward plugin that just happens to alter the course of fireballs.

[2019-06-05 23:34] frogocomics opened #2012 "Getting incorrect stair data"
The stair shape data for stair blocks is not working.

[testing video](https://www.youtube.com/watch?v=P1U5hklv2w8&feature=youtu.be)

[2019-06-05 23:36] #2012 closed, assigned to nobody

[2019-06-06 18:39] Tr4p opened #2013 "Command-Arguments prevent "No values matching..."-error-message of sub-commands"
My goal was build my plugin commands like this:

`/myCommand <player>`
`/myCommand subCommand <player>`

In code this would be something like this:
[code]

Which works and can be executed if all entered argument are valid.
But if you use some invalid argument you'll get an unexpected message.
For example if you executed `/myCommand subCommand notExistingPlayer`:
You' ll recieve:

Instead of:

This

[2019-06-06 18:50] dualspiral commented on #2013
You need to set `childArgumentParseExceptionFallback` to `true` for the behaviour your describe - [Javadocs here](https://jd.spongepowered.org/7.1.0/org/spongepowered/api/command/spec/CommandSpec.Builder.html#childArgumentParseExceptionFallback-boolean-). Note that in this case, if you have a player named `subCommand`, you would not be able to select them as the subcommand would take precedence. I

[2019-06-06 18:50] #2013 closed, assigned to nobody

[2019-06-06 19:43] Tr4p commented on #2013
@dualspiral Thanks for the fast response. With the usage of `childArgumentParseExceptionFallback ` it works like expected. :)

[2019-06-07 09:21] Lignium commented on #1000
Description is not complete:
https://github.com/SpongePowered/SpongeAPI/blob/fb496dbf0e2ea62a3b51eb942d6d7b27fe490334/src/main/java/org/spongepowered/api/data/property/block/ReplaceableProperty.java#L32

[2019-06-08 09:46] NeumimTo opened #2014 "Catalog types & AdditionalCatalogRegistryModule interface"
Sometimes i would like to have a multiple CatalogType caches (ie AdditionalCatalogRegistryModule) to be managed by a single class/service.

In java its not possible to do
`public class SomeClass implements AdditionalCatalogRegistryModule<A>, AdditionalCatalogRegistryModule<B> `

Would it be possible to add an optional way to controll the flow with annotations?

[code]

This would allow us to have

[2019-06-08 09:58] ST-DDT commented on #2014
Do you want to create a cache or add a new registry module?
What would be your use-case?
Why do you need two or more different catalog classes in one class?
Have you considered creating delegating wrappers that each handle a single type?

[2019-06-08 10:13] NeumimTo commented on #2014
Thats the same thing? At runtime all catalog types are cached.

Something like:

    public class SomeClass implements AdditionalCatalogRegistryModule<A>, AdditionalCatalogRegistryModule<B>

Why do i need to create a new class for each catalog type?

boilerplate code which can be fixed only on sponge side

[2019-06-08 12:16] ST-DDT commented on #2014
Separation of concerns, or are they that closely related? Probably yes.

Aside from the class declaration and the imports (that any IDE will generate and hide for you), you will still have the same amount of actual code.
You might be able to omit most of the code if you rely on inheritance / API provided `CatalogRegistryModule` implementations, though.

------------------

Would something like thi

[2019-06-08 13:02] Lignium opened #2015 "Get and modify the block that contains a painting or item frame entity"
Paintings and item frames have data about the block in which they are contained. In NBT tags, these parameters are called `TileX`, `TileY` and `TileZ`. SpongeAPI does not allow to obtain and modify these data, which leads to the fact that it is impossible to move an existing item frame or painting. The moved painting or item frame may fall down after some time, since the block on which it hung may

[2019-06-08 19:02] gabizou commented on #2015
Pretty sure it does, if you're using the Schematic/EntityArchetype API, you have full access to the compound that is read in to the entities.

I'd be curious to find out where that's happening as that's likely an implementation issue.

Otherwise, this issue is already resolved in the API, you just need to know the [format of the Entity to manipulate the targeted tile data](https://minecraft.gamepe

[2019-06-08 19:02] #2015 closed, assigned to nobody

[2019-06-08 20:04] Lignium commented on #2015
~~Just checked. Item frame works out well, there are no problems, but a painting just disappears when moved, it doesn't even fall out.~~

**UPD:**
And no, I'm wrong. Everything is much more interesting... It turns out that the painting is simply not visible when moving, if I rejoin to server, it appears in a new place. Looks like this is the problem of the game itself?

[2019-06-09 18:17] Lignium commented on #1000
No comma at the end of line 36.

https://github.com/SpongePowered/SpongeAPI/blob/fb496dbf0e2ea62a3b51eb942d6d7b27fe490334/src/main/java/org/spongepowered/api/data/manipulator/mutable/block/PortionData.java#L36-L37

[2019-06-09 18:39] #1837 closed, assigned to nobody

[2019-06-10 12:37] NeumimTo commented on #2014
The things are closely related, all of these CatalogTypes are handled by very similar logic in the same guice Singleton.

Yes same amount of code, but i wont be forced to create X implementations of AdditionalCatalogRegistryModules, => less class files in my project => simpler to find out the sutff.

AdditionalCatalogRegistryModule is nothing more than a wrapper around a Map, or less likely a Coll

[2019-06-10 13:09] ST-DDT commented on #2014
Here a previous attempt of mine:
https://github.com/SpongePowered/SpongeAPI/pull/1385

[2019-06-10 13:14] ST-DDT commented on #2014
Why would you use a Supplier?

[2019-06-12 04:50] ItsDoot opened #2016 "Make Scoreboard & Team implement DataHolder"
Bringing the discussion from Discord to GitHub to keep track of it.

`Scoreboard` and `Team` would be much more useful for minigame-style plugins if they implemented `DataHolder`. This would in general remove the need for plugins to introduce their own replacements that practically clone their behavior.

This should be doable in API 8 as well as API 7, and discussion with gabizou makes it seem tha

[2019-06-12 10:13] Cybermaxke commented on #2016
Persistence will only work for scoreboards that are tied to a `World`. Unless we also start persisting per player scoreboards.

[2019-06-12 20:15] Lignium commented on #1493
The issue is still not fixed.

https://github.com/SpongePowered/SpongeAPI/blob/85a951a7c250110a19ece0276cf218bb1c9a1d05/src/main/java/org/spongepowered/api/text/serializer/TextTemplateConfigSerializer.java#L84-L85

https://github.com/SpongePowered/SpongeAPI/blob/85a951a7c250110a19ece0276cf218bb1c9a1d05/src/main/java/org/spongepowered/api/text/serializer/TextTemplateConfigSerializer.java#L94-L95

[2019-06-14 17:53] pie-flavor commented on #1984
@Cybermaxke Would this API support the use-case of showing an item entity in a shop only to a player who's viewing that shop?

[2019-06-15 05:40] Lignium opened #2017 "DataManager#getTranslator() with TypeToken"
Is it possible to create `DataManager#getTranslator(TypeToken token)` method? I have problems getting a common translator for a whole class of objects. As far as I know, `DataTranslator` interface itself has `DataTranslator#getToken()` method, so this information is known to the Sponge core, which means you can make a method with `TypeToken`.

Here is an example of an error when trying to use `Dat

[2019-06-15 18:45] gabizou commented on #2017
You're using generics wrong... If you have a generic class you're going to need to use the generic type of that class, not the raw type.

So this:
[code]
Should be
[code]

It's how you'll end up getting a similar case with getting anything generic typed compared to a method taking a class.

But yes, I can change the methods to using `TypeToken`s instead, since they store their own generics.

[2019-06-18 08:22] Lignium commented on #1000
Bracket not closed
https://github.com/SpongePowered/SpongeAPI/blob/ac344e28a072170a1bafd48e1696a0c32cc5f0d7/src/main/java/org/spongepowered/api/GameRegistry.java#L421

[2019-06-20 17:16] Lignium commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/a3d7a410260424a261ebace89839df5cc27fa013/src/main/java/org/spongepowered/api/service/economy/account/Account.java#L177

[2019-06-22 01:22] #1994 closed, assigned to nobody

[2019-07-05 16:28] MGlolenstine opened #2021 "Implement SkinParts for HUMAN entity"
Like we've spoken over [here](https://forums.spongepowered.org/t/enable-or-disable-skin-parts-on-entitytype-human/29620), so basically I'd be awesome if you'd be able to enable and disable different skin parts on HUMAN entity.
Currently when setting a skin to a HUMAN entity, the entity appears without a "helmet" part even tho it's included in the original skin.
![image](https://user-images.githubu

[2019-07-06 14:59] ImMorpheus commented on #1287
PR merged (https://github.com/SpongePowered/SpongeCommon/pull/1914)

[2019-07-06 14:59] #1287 closed

[2019-07-06 15:05] ImMorpheus commented on #1191
That's an issue with the implementation.
If you feel like those events are using the wrong `SpawnType`, open an issue in SpongeCommon
The issue with missing `SpawnType`s is fixed

[2019-07-06 15:05] #1191 closed

[2019-07-06 15:29] ImMorpheus commented on #1464
PR merged (https://github.com/SpongePowered/SpongeAPI/pull/1969)

[2019-07-06 15:29] #1464 closed, assigned to nobody

[2019-07-06 15:37] ImMorpheus commented on #1970
PR merged (https://github.com/SpongePowered/SpongeAPI/pull/2020)

[2019-07-06 15:37] #1970 closed, assigned to nobody

[2019-07-06 15:37] ImMorpheus commented on #1966
https://github.com/SpongePowered/SpongeAPI/pull/2018

[2019-07-06 15:46] ImMorpheus commented on #985
Added (in the same class) by https://github.com/SpongePowered/SpongeAPI/commit/42cb3fb68940f105c890dcee4c4a76dbd5625402

[2019-07-06 15:46] #985 closed

[2019-07-06 16:54] ImMorpheus commented on #1302
Added by https://github.com/SpongePowered/SpongeAPI/pull/1249

[2019-07-06 16:54] #1302 closed

[2019-07-06 16:58] ImMorpheus commented on #1358
Added by https://github.com/SpongePowered/SpongeAPI/pull/2010

[2019-07-06 16:58] #1358 closed

[2019-07-06 17:22] ImMorpheus commented on #1689
Correct.

`Monster` is `EntityMob` in vanilla
https://github.com/SpongePowered/SpongeCommon/blob/616d927817e9d2f64411afedbbcefad11de4f3fb/src/main/java/org/spongepowered/common/mixin/api/mcp/entity/monster/EntityMobMixin_API.java#L33

`EntityGhast` does not extend `EntityMob` so this is working as intended.

[2019-07-06 17:22] #1689 closed, assigned to nobody

[2019-07-06 17:32] ImMorpheus commented on #1734
https://github.com/SpongePowered/SpongeAPI/pull/1954

[2019-07-06 17:38] ImMorpheus commented on #1382
https://github.com/SpongePowered/SpongeAPI/pull/1522

[2019-07-06 18:40] ST-DDT commented on #1966
The conditional requests sound good to me, however we should consider the timing when we will send them. If we send them "every time" a plugin checks its permission then we might annoy the admins. If we check it only during the first time no admin might be only at all. Maybe prompting this after joining the server might be an idea. Only if the first request is answered will the next one be shown.

[2019-07-06 19:15] BrainStone commented on #1966
I think the best way to time it would be to check a permission when a player joins and then display the prompts that are there to be shown. One after the other. Ideally changing a plugins setting would send an event the plugin or stats library can listen to.

[2019-07-06 23:40] dualspiral commented on #1966
For what it's worth, this was discussed a while ago and the guidelines we're going to strive for are https://drive.google.com/file/d/16kbuFVtuKasrKLTNb6gIOc-BOEyWBnFa/view (it does say we're striving for API 8, but if it hits 7.2 too, hey, so much the better).

Note that "conditional requests" are actually against the guidelines and should be handled by Sponge instead. It does call into question w

[2019-07-12 12:33] TheBrambleShark opened #2023 "Active Page on PaginationList"
The `PaginationList` object (or rather, its builder) currently lacks a way to set the active or initial page, meaning that whenever the player is shown the list, it will always be on page 1.

There should be an `activePage` or `initialPage` property which, when set to an int, will initially display on that page.

**Considerations**

* How do we handle numbers less than one?
  * Round up to 1
  * A

[2019-07-14 07:51] IzzelAliz opened #2024 "Unused parameter"
`acceptsArbitraryLongFlags`

https://github.com/SpongePowered/SpongeAPI/blob/aee9f1c5f1851a9c2ce8dabc2064a75d65825a0c/src/main/java/org/spongepowered/api/command/args/CommandFlags.java#L426

[2019-07-14 12:31] Lignium commented on #1000
Here you can replace `Set<Context>` with a more flexible `Set<? super Context>` without loss of compatibility. Thus it will be possible to pass in arguments for example, `Set<Object>` or `Set<Map.Entry<String, String>>`.
https://github.com/SpongePowered/SpongeAPI/blob/aee9f1c5f1851a9c2ce8dabc2064a75d65825a0c/src/main/java/org/spongepowered/api/service/context/ContextCalculator.java#L125

[2019-07-14 13:12] zhourui123 opened #2025 "Event Add Request: sapling grow tree"
I found the event at forge, but the event information is not clear, i can't get sapling type from event.  So I asked to add an event like this, which would help the residence-like plugin

[2019-07-14 13:30] zhourui123 commented on #2025
Sorry, i forgot i can get sapling type from postion,  but I still recommend adding this event

[2019-07-14 22:51] gabizou commented on #2025
We [have an event](https://github.com/SpongePowered/SpongeAPI/blob/stable-7/src/main/java/org/spongepowered/api/event/block/ChangeBlockEvent.java#L124) that [already is implemented for that](https://github.com/SpongePowered/SpongeCommon/commit/d82d9fe27fafbfac965b1f87bdfaeee21a9e3c25#diff-c040f56645a1112957f03add4e494390R96)

[2019-07-14 22:51] #2025 closed, assigned to nobody

[2019-07-28 09:37] Lignium commented on #1000
"kic k"
https://github.com/SpongePowered/SpongeAPI/blob/aee9f1c5f1851a9c2ce8dabc2064a75d65825a0c/src/main/java/org/spongepowered/api/Server.java#L359-L360

[2019-08-03 10:54] Lignium opened #2026 "Rotating of blocks (issue with RailDirection)"
Hello! In my project, I needed to rotate some objects from blocks, that is, what the `//rotate` command of WorldEdit does, too. I have already found a way to transform the coordinates of blocks, however, some blocks have their own rotation (for example, a furnace or rails). Some blocks can be rotated right now, some can only be in API 8 (1.14), and some have problems.

Here is a small list of data

[2019-08-04 06:04] LXGaming opened #2027 "CustomData on an ItemStack is not preserved once added to an Inventory"
**I am currently running**
- SpongeAPI version: 7.1.7-SNAPSHOT
- Java version: 1.8
- Operating System: Linux / Windows 10

- Plugins/Mods:
CustomPlugin

**Issue Description**
Adding an ItemStack with CustomData to an Inventory then later retrieving that item from the Inventory results in the CustomData getting lost. This works in API 7.1.6

Attached is a plugin source for testing
[SpongeDebug.zip]

[2019-08-04 08:02] XakepSDK commented on #2027
Dupe: https://github.com/SpongePowered/SpongeCommon/issues/1353

[2019-08-04 08:24] #2027 closed, assigned to nobody

[2019-08-08 17:27] #1981 closed, assigned to nobody

[2019-08-08 20:48] parlough commented on #1562
Added in https://github.com/SpongePowered/SpongeAPI/pull/2028

[2019-08-08 20:48] #1562 closed, assigned to nobody

[2019-08-09 13:44] WillBAnders commented on #1978
The way flags work are a bit different than you expect. Flags are not themselves `CommandElements`, but each flag uses an element to handle it's parsing. A value flag is one where you provide this element so it can parse additional values after the flag. The `"flag"` parameter is only used to identify the flag and is not part of this element, thus it is not included in the final context.

Addition

[2019-08-09 14:11] dualspiral commented on #1978
I wondered how I'd missed this in the first place, but then realised I was on holiday at the time.

While @WillBAnders's response is mostly correct, there is one thing that I'd contest:

This is true, except in the case where you might want to be able to omit a value so that specifying a flag has a "default" value. That's clearly what is wanted here (`--flag` should act as `--flag true`), but the

[2019-08-09 18:32] WillBAnders commented on #1978
That's a good clarification. Optional elements themselves are fine with things like defaults. The issues I was referring to only happen when you have layers of non-default optionals - like combining multiple nulls, it's easy to loose context for what that means.

I'm all in for adding a `markTrue` element on top of value flags. This *could* impact existing plugins if they use the name of the flag

[2019-08-09 23:26] #1520 closed, assigned to kashike

[2019-08-09 23:32] dualspiral commented on #1978
That's not what I was suggesting. I was thinking you could have something outside of the whole `getOne(...)` context, a method that tells you which flags were used, precisely to avoid these potential conflicts. A better named `Collection<String> usedFlags()`, on `CommandContext`, if you will.

[2019-08-09 23:37] WillBAnders commented on #1978
I like that solution better than merging it into arguments because it's effectively not an argument. A `Collection<String>` would make it difficult to lookup individual flags though, a map seems more appropriate there. What about adding a `hasFlag(String)` method that falls back to an internal map?

[2019-08-10 07:19] dualspiral commented on #1978
Honestly, having slept on it, I'm not sure it's necessary at all. Or rather, I can't really see a use case for this information precisely because they aren't arguments and they should have been handled by being given a value, or whatever.

My thought about a collection is that we would just need to store the names of the flags. Then you can get a copy of that collection and inspect it as will. I d

[2019-08-11 09:36] Sago92 opened #2034 "HealEntityEvent not working for players base health regeneration?"
Dear Sponge-Team,

I am currently migrating my Spigot plugin to Sponge and figured out that the HealEntityEvent didn't get fired, when a player regenerates health. Is this event currently not working or isn't it triggering for the base player health regeneration?

SpongeForge Version: 1.12.2-2838-7.1.7-RC3884
SpongeApi Version: 7.1.0

Regards
Sascha

[2019-08-12 05:03] Lignium commented on #1000
"The rejected values"

https://github.com/SpongePowered/SpongeAPI/blob/9067212f054eee4187c623cca520f1d8c063f3f2/src/main/java/org/spongepowered/api/data/DataTransactionResult.java#L498-L509

[2019-08-14 10:10] #2024 closed, assigned to nobody

[2019-08-15 19:05] Sago92 opened #2036 "ChangeEntityExperienceEvent not working?"
Dear developer,

I tried to determine a level change of a player with the **ChangeEntityExperienceEvent**, but it didn't get triggered when a player gets experience or changes the level.

I tried to use the **ChangeEntityExperienceEvent** because in the newer API version the **ChangeLevelEvent** is deprecated.

I tested the **ChangeEntityExperienceEvent** with the API version **7.1.0** and the lat

[2019-08-16 20:17] WillBAnders commented on #2023
`PaginationList` has a [`sendTo(MessageReceiver receiver, int page)`](https://github.com/SpongePowered/SpongeAPI/blob/a1418ae3fccbfa1fbc56e05d2f3375dcd1344e1c/src/main/java/org/spongepowered/api/service/pagination/PaginationList.java#L117-L129) method that can be used.

However, because this sends an error message to the user if the page is out of bounds, you'd need to know if the page number exis

[2019-08-19 02:40] pie-flavor commented on #923
Perhaps instead of a per-plugin thing it could be a per-plugin-host thing, where the server by default only accepts signatures from the Ore public key.

[2019-08-20 18:47] WillBAnders opened #2039 "Vanished players visible in command elements and tab completion"
The `GenericArguments.player()` element does not take into account players which are vanished when parsing, especially with tab completing. Players can thus use tab completion to determine if a vanished administrator is online.

I would consider this a change for API 8 due to the potential consequences of changing behavior here. In the case of vanish, this would also require an API method to deter

[2019-08-20 19:36] dualspiral commented on #2039
This is a far bigger issue than you think this is - and it's a lot of words basically asking for the following:

* Sponge to implement contextual data, at least as far as vanish goes
* The command system to recognise this

You're far better off asking about Contextual Data first, or at least asking to have per-source-target-combo vanish states. Making the command system recognise this will be simp

[2019-08-20 21:03] WillBAnders commented on #2039
This came around as an issue where players were able to determine if a user was vanished by using tab completion - kind of similar to website logins that say the username was correct but the password wasn't; it gives information to them they're not supposed to know.

This is a large issue, so I'll separate the two main things I have in my mind here. The first, as you've said, is contextual data -

[2019-08-23 00:13] fingoltin opened #2042 "InteractInventoryEvent.Close oddities"
Calling `Player#closeInventory()` while the player has an inventory open fires `InteractInventoryEvent.Close` twice. Also, if calling `Player#openInventory()` while the player has an inventory open, the close event isn't fired at all.

Tested on latest (1.12.2-2838-7.1.7-RC3902).

EDIT: Moved to Common

[2019-08-23 00:24] #2042 closed, assigned to nobody

[2019-09-01 11:32] SimonBHB opened #2044 "ItemStack data loss unserialize"
Bonjour, quand je déserialize un ItemStack je perds mes key comme si elles étaient ignoré.

translate.google.fr:
Hello, when I deserialize an ItemStack I lose my key as if they were ignored.

----
Use ExampleDataPlugin: https://github.com/pie-flavor/ExampleDataPlugin

My code:
MyImmutableInventoryData: https://pastebin.com/UbZGGhFD
MyInventoryData: https://pastebin.com/1JeLmciS
MyInventoryDataBuil

[2019-09-13 16:40] ImMorpheus commented on #2044
Duplicate of https://github.com/SpongePowered/SpongeCommon/issues/2378

and wrong repo. (I know this was older, but I'm keeping the other one to avoid closing and moving).

[2019-09-13 16:40] #2044 closed, assigned to nobody

[2019-09-18 20:43] #1727 closed, assigned to nobody

[2019-09-23 22:19] MoeBoy76 opened #2048 "Fix no permission message"
after https://github.com/SpongePowered/SpongeAPI/commit/b38390e1751fff802d355155c45b2eb4913f5817 when a player hasn't got permission they get a message saying the command doesn't exist, this is very frustrating when attempting to set up a new server/plugin as it appears that the plugin isn't loaded when you just don't have permission for the command(s)

[2019-09-23 22:40] dualspiral commented on #2048
I was discussing this with someone on the Nucleus Discord as to what the change was intended to do, message reproduced below.

I'll take this on over the next couple of days when I get a moment, I know how I want to fix this in a simple way, at least in the short term - mentioned below.

---

For background - that commit comes from this PR - https://github.com/SpongePowered/SpongeAPI/pull/2038. Th

[2019-09-30 00:21] #1961 closed, assigned to nobody

[2019-10-03 19:24] #1303 closed

[2019-10-14 18:19] SimonBHB opened #2051 "Implement findNearestStructure"
Bonjour
J'aimerais savoir si vous pouviez implémenté net.minecraft.world.World#findNearestStructure.
Merci

translate.google.fr:
Hello
I would like to know if you could implement net.minecraft.world.World # findNearestStructure.
Thank you

[2019-10-30 16:15] dualspiral commented on #2023
@Foxtrek64 I don't know if you're interested in this any more, but this has come up on our radar and so I'd like to understand this a little more.

Why do you want this? Specifically, why is it important to send a user to an initial specific page, which might be the last page?

Just trying to guage whether this is actually an XY problem and so your issue might actually be better solved in an entir

[2019-10-30 23:44] TheBrambleShark commented on #2023
So one of the plugins I am building allows a user to display a title - how it's displayed is not a concern of my plugin, it just passes it to PlaceholderAPI and the consumer decides from there.

In order to choose a title, the user uses `/title set <title>`. This title is chosen from a preconfigured list of titles as designated by users with authorization to create a title. As such, users need to

[2019-10-31 00:31] dualspiral commented on #2023
No, but you could just `build().sendTo(player, page)`, which is what the `sendTo` on the builder does anyway.

[2019-10-31 08:25] dualspiral commented on #2023
Closing as we already have the requested behaviour.

[2019-10-31 08:25] #2023 closed, assigned to nobody

[2019-10-31 19:19] #2048 closed, assigned to dualspiral

[2019-11-06 10:10] XakepSDK opened #2057 "Make ItemStackComparators cataloged type"
Make ItemStackComparators cataloged type, so devs don't need to implement their own workaround for CommpandSpec and config serialization.

[2019-11-06 10:21] ST-DDT commented on #2057
When would you define/select an itemstack comparator via command/config?

[2019-11-06 10:25] XakepSDK commented on #2057
I'm doing plugin, it's logic depends on ItemStack comparison results, i want to give admin more control over how comparison is done.
Benefits:
1. Admin controls how ItemStacks are compared
2. Admin can add his own ItemStack comparators by writing a plugin

[2019-11-06 10:52] ST-DDT commented on #2057
Sounds like an exotic usecase to me. But it probably wont hurt either.

[2019-11-06 22:00] clienthax commented on #1725
I think it would be worth using a existing widely used plugin as a reference, eg banmanager https://github.com/BanManagement/BanManager/blob/master/common/src/main/java/me/confuser/banmanager/common/api/BmAPI.java

So, ideally, customizable reasons (Text keys for catagorys?) with explanations for each specific ban.
And methods for warns/mutes/userbans/ipbans/networkban(This one would likely be imp

[2019-11-09 03:05] TheParsley opened #2058 "Sponge 3844 Causes issue with mod Scaling health"
Sponge causes scaling health mod item "heart container" To add 2 hearts instead of one. The extra heart then makes the player go through the damage animation every time it heals up to the extra heart.

[2019-11-09 15:57] tyhdefu opened #2059 "Getting sign lines from block break event returns null"
In a break block event, I try to get the data of a sign, I check if its a wall sign, it is, so it continues, pastes all of the sign data into console:
`[13:19:50 WARN] [test]: {"ContentVersion":1,"WorldUuid":"0e8d1aa1-f7db-411b-b732-7027b0444aa9","Position":{"X":549,"Y":82,"Z":-45},"BlockState":{"ContentVersion":2,"BlockState":"minecraft:wall_sign[facing=south]"},"UnsafeData":{"x":549,"Text4":"{\"

[2019-11-16 13:16] JimiIT92 opened #2060 "ChangeDataHolderEvent.ChangeValue for Item durability"
I tried to catch when an Item loose or gain durability, using the ChangeDataHolderEvent.ChangeValue event, however it seems that this event is not firing up for this kind of events. Are there any plans to implement this or it should actually be fired and is not working? If so it could be useful to add such a handler :)

[2019-11-18 18:24] clienthax opened #2061 "Command tabcomplete issues"
Seems autocomplete is broken for child commands in various ways.
[code]

[code]

[2019-11-23 02:01] nlipiarski opened #2062 "GenericArguments.playerOrSource crashes when passed a string that is invalid regex"
I'm using the newest stable sponge api release v7.2.0-20191102.164628-31 and I have a command that is created like this:
[code]

When I run the command `/command dirt[]` the server throws an exception with the following stack trace:
[code]
For some reason, it seems the parser is treating the name as a regular expression when checking if the user exists.

[2019-11-23 02:09] nlipiarski opened #2063 "IndexOutOfBoundsException when attempting to parse invalid block type"
Hello, at the moment I'm doing something like this:
[code]

Where the second argument would usually be provided through a command argument.  When executing this code, the BlockState parser becomes unhappy and prints the following error:
[code]
From the javadoc for the getType method, it seems that if there is a problem parsing the value it should just return `Optional.empty()` instead of throwing

[2019-11-23 02:15] nlipiarski commented on #2063
Update: I realize this is a Sponge Common issue so I will move this issue there.

[2019-11-23 02:15] #2063 closed, assigned to nobody

[2019-11-23 09:30] dualspiral commented on #2062
You should read the javadocs - https://jd.spongepowered.org/7.1.0/org/spongepowered/api/command/args/GenericArguments.html#playerOrSource-org.spongepowered.api.text.Text-

So yes, this is intended. I need to check why the exception isn't being caught and quietened, but it's working as intended.

[2019-11-23 09:30] #2062 closed, assigned to nobody

[2019-11-23 09:47] electron93 commented on #2062
@dualspiral the problem seems to be on line 87:

https://github.com/SpongePowered/SpongeAPI/blob/0b58730f277417bbde5f1d5261dc51c87304a024/src/main/java/org/spongepowered/api/command/args/PatternMatchingCommandElement.java#L85-L91

I think it needs to be changed to something like this:

[code]

The arguments themselves should not affect the behavior of the pattern.

[2019-11-23 09:48] dualspiral commented on #2062
Then it effectively ceases to become a regex, so no.

[2019-11-24 00:16] nlipiarski commented on #2062
As a follow up question, why are we treating the player name as a regular expression when the regular minecraft commands don't support this?  Is this intended or just a side effect of the given implementation?

[2019-11-26 14:29] Lignium commented on #1000
Vector2i -> Vector3i
https://github.com/SpongePowered/SpongeAPI/blob/0b58730f277417bbde5f1d5261dc51c87304a024/src/main/java/org/spongepowered/api/world/extent/ImmutableBiomeVolume.java#L67
https://github.com/SpongePowered/SpongeAPI/blob/0b58730f277417bbde5f1d5261dc51c87304a024/src/main/java/org/spongepowered/api/world/extent/UnmodifiableBiomeVolume.java#L67
https://github.com/SpongePowered/SpongeA

[2019-11-30 15:03] #2061 closed, assigned to dualspiral

[2019-12-04 16:14] Lignium commented on #2026
I have a suggestion on how to do this:

[code]

With the help of these getters, I will be able to carry out transformation (transformation of directions obtained through these methods). And to convert transformed directions back to RailDirection, I can simply iterate over all registered constants of this type, and using the same getters, find the desired constant.

~~It is only necessary to think

[2019-12-11 20:59] Lignium commented on #1000
In the PropertyHolder and LocationBasePropertyHolder classes should be replaced `{@link Property}s` to `{@link Property properties}` or `{@link Property Properties}`.

[2019-12-12 18:46] i509VCB opened #2068 "[1.14] New Villager and Mechant related Events"
Since 1.14 made villagers more complex, some new events would be convient. These are the concepts for some events that could be added.

CareerChangeVillagerEvent:
Since villagers can now change their careers, this event would have a reason to exist.
This would be fired in a context of a villager taking a profession (Where the POI block is the cause) or where a villager loses their profession (eith

[2019-12-13 17:18] i509VCB opened #2069 "[1.14] Add a mechanism to get raids which are in the ServerWorld"
I noticed this while looking around the raid api code. There is currently no way to get a raid from the world.

Based on how the implementation would probably act, the raids are in the ServerWorld internally, so for consistency this would make sense in the api's ServerWorld. Since raids can happen in any dimension (yes it sounds ridiculous but you can have a raid in the end [game code doesn't allo

[2019-12-17 05:49] liach commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/a7b09da8ff8ea267af991f7f3c934ef8627054e9/src/main/java/org/spongepowered/api/registry/util/RegisterCatalog.java#L37
Should be a `{@code Map<CatalogKey, CatalogType>}`

[2019-12-17 16:18] dualspiral commented on #1000
@liach No - not for API 7 it's not, `CatalogKey`s are an API 8 construct. That comment is correct.

([Example of it being on String/? extends CatalogType here](https://github.com/SpongePowered/SpongeCommon/blob/stable-7/src/main/java/org/spongepowered/common/registry/type/entity/EnderDragonPhaseTypeRegistryModule.java#L42-L43))

[2019-12-17 21:14] liach commented on #1000
Well there is no place for like api8's ocd, so I dumped it here :thinking:

[2019-12-18 10:30] dualspiral commented on #1000
a) Then you should probably have said that
b) Others have been commenting on the API 8 PR, which is a perfectly sensible place for that.

I'll delete these comments in the next 24 hours or so.

[2020-01-02 18:57] i509VCB commented on #2069
Closed #2073

[2020-01-02 18:57] #2069 closed, assigned to nobody

[2020-01-02 18:57] i509VCB commented on #2068
Closed #2073

[2020-01-02 18:57] #2068 closed, assigned to nobody

[2020-01-29 15:17] IzzelAliz commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/ea50f0c242cd6abe74599d0a82fcfb83d1c330b1/src/main/java/org/spongepowered/api/data/value/BoundedValue.java#L47

https://github.com/SpongePowered/SpongeAPI/blob/ea50f0c242cd6abe74599d0a82fcfb83d1c330b1/src/main/java/org/spongepowered/api/data/value/BoundedValue.java#L57

These seems reversed.

[2020-01-31 16:25] alexstaeding opened #2083 "RequiringPermission fails even though child CommandElement is optional."
Currently, supplying an argument like:
[code]
will always fail for a user without the permission "some.permission" because parsing fails before it checks whether a child argument is optional.

[2020-01-31 21:27] ItsDoot commented on #2083
Do this instead:
[code]

[2020-02-01 00:58] Lignium commented on #1000
Missing `)` at the paragraph end.
https://github.com/SpongePowered/SpongeAPI/blob/5ef8b0e355f930c364bc1b3986c4aa49c2dfd5ca/src/main/java/org/spongepowered/api/data/key/Keys.java#L2241-L2242

[2020-02-01 17:37] Lignium commented on #1000
`A`
https://github.com/SpongePowered/SpongeAPI/blob/5ef8b0e355f930c364bc1b3986c4aa49c2dfd5ca/src/main/java/org/spongepowered/api/event/entity/living/humanoid/player/PlayerChangeClientSettingsEvent.java#L35

[2020-02-01 18:22] Lignium commented on #1000
Should be `entity (the entity` (missing space)
https://github.com/SpongePowered/SpongeAPI/blob/5ef8b0e355f930c364bc1b3986c4aa49c2dfd5ca/src/main/java/org/spongepowered/api/entity/Entity.java#L411

[2020-02-02 14:45] Lignium commented on #1000
Should be `"permission strings".`
https://github.com/SpongePowered/SpongeAPI/blob/5ef8b0e355f930c364bc1b3986c4aa49c2dfd5ca/src/main/java/org/spongepowered/api/service/permission/Subject.java#L46

[2020-02-04 22:01] GuerreroCraft61 opened #2086 "Error kick player"
I send it to aoa3 author and he say it is sponge problem
This is the error:
[code]

[2020-02-10 14:10] VcSaJen commented on #2026
I think in implementation there were problems with modifying rails direction when there's adjacent rails: SpongePowered/SpongeCommon#612 . 1.13+ may be fixed this issue, I'm not sure.

[2020-02-11 00:17] Lignium commented on #2026
@VcSaJen The fact that rails are distorted during transformations already suggests that this data is by no means ignored, and this is good. The PR allows me to manually set directions for rails in accordance with a transformation, as I do it with other blocks, and it works, I personally tested.

[2020-02-21 13:14] i509VCB opened #2089 "Add trade mutator support to wandering trader. [API8]"
Since wandering traders and villagers use the same trade generation logic internally, it shouldn't be too hard to apply mutators to a wandering traders.

Probably just another new method in VillagerRegistry at most since wandering traders are not profession aware.

[this is per gabizou's request in a common pr]

[2020-02-22 23:53] eirikh1996 opened #2090 "Despite block transactions from ChangeBlockEvent.Break are set invalid, they still drop the respective items while not breaking"
Hello. I am struggling with a problem with Block transactions from ChangedBlockEvent.Break. I set the transactions to not be valid to prevent the blocks from breaking. However, despite not breaking, the blocks affected by the transactions being set not valid, they still drop their respective items.

This also happens on 7.1.10

[2020-02-24 13:14] Sago92 opened #2092 "Particle effect options not working"
Dear Sponge developers,

I am currently working with particle effects. I want to show in a area of 10 blocks a green dust effect. This effect should show the heal range of an ability that heals all players inside this range.

To realize that I used the following code:

[code]

The result I get looks like this:

![Unbenannt](https://user-images.githubusercontent.com/32706518/75155240-e2d5a680-570f-

[2020-02-26 12:12] Pulverizer opened #2093 "Event to alter block blast resistance during explosion calculations"
This is a feature that I intend to make use of and would like to open a PR in the future.
However, I am not sure what would be the best way to implement this feature.

[2020-02-26 12:33] dualspiral commented on #2093
How would you make use of it? What would it do? We need to know a lot more about your use case before we can start to formulate an idea as to how to help you best.

[2020-02-26 15:25] Pulverizer commented on #2093
Changing the blast resistance of a block by a percentage based on the current size of the structure containing it.

[2020-02-27 18:48] www-yyy opened #2094 "Found CVEs in your dependencies"
Hi,
I found some CVEs in the library dependencies, which may affect the security of your projects. In order to avoid threats, I recommend updating to a safe version. See details below:
* **Vulnerable Library Version:** com.google.guava : guava : 21.0
  **CVE ID:** [CVE-2018-10237](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-10237)
  **Import Path:** build.gradle
  **Suggested Safe Vers

[2020-02-27 19:13] ImMorpheus commented on #2094
Hi,

Source:  https://nvd.nist.gov/vuln/detail/CVE-2018-10237

We don't use those two classes so the vulnerability doesn't affect us. Additionally, Sponge is a plugin API for Minecraft and guava is one of the dependencies directly tied to what's available from Minecraft.

[2020-02-27 19:13] #2094 closed

[2020-02-28 15:17] CarlHalstead opened #2095 "BREAKABLE_BLOCK_TYPES implementation missing"
I [previously opened a thread on the Sponge forum](https://forums.spongepowered.org/t/is-block-destructible-with-specific-tool/35141/4) asking how to implement a specific feature/check. The conclusion is that the BREAKABLE_BLOCK_TYPES key needs to be implemented to get my feature to work.

See that thread for the code that I tried and the response.

[2020-02-28 18:56] ItsDoot commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/5ef8b0e355f930c364bc1b3986c4aa49c2dfd5ca/src/main/java/org/spongepowered/api/service/economy/EconomyService.java#L92
`exists` -> `exist`

[2020-02-29 14:24] dualspiral commented on #2083
Okay, I finally had some time to consider this issue and... this issue isn't really representative of what was talked about. I recally reading the issue at the time it was made, and the conversation surrounding it. What @ItsDoot said here is correct, but it's not actually the reason I asked for an issue to be created.

The problem is to do with the usage, it'll potentially leave `[]` in the usage

[2020-03-07 18:24] justisr opened #2099 "Make ChangeServiceProviderEvent Cancellable"
Without a cancellable implementation:
[code]
Service A wants their service provider to be the highest priority, so they listen for this event and then immediately change the service back to their own provider.
Service B also wants to be the highest priority, so they do the same thing and listen for this event and immediately change the service back to their own provider.
Both plugins are installed

[2020-03-08 00:10] ST-DDT commented on #2099
Also, if both plugins use exactly this check then the the service provider won't be set at all...

[2020-03-08 00:15] ST-DDT commented on #2099
IMO, plugins shouldn't use this kind of "who is stronger" instead they should set the service once and then assume the correct one is registered unless they explicitly have support for pluginX's variant.

Logging a warning in case of an incompatible variant is probably helpful as well.

[2020-03-08 00:40] dualspiral commented on #2099
XY problem right here. You're suggesting a (bad) solution here for a problem that doesn't really exist.

In general, you're going to provide **one** plugin that supplies an implementation to **one** service. Economy and Permission plugins are good examples of that. If you install more than one of these types of plugins, then more fool you. You'd be told by one or the other plugin developers to rem

[2020-03-08 02:15] justisr commented on #2099
That’s assuming that both plugins get loaded at the same time, but that’s never the case. One plugin gets loaded up, registers the service and its listeners. Second plugin gets loaded up attempts to register its service and gets cancelled, its listener is too late to cancel the initial registration. I believe the second code block would work fine.

Spigot’s ServicesManager allows multiple services

[2020-03-08 04:24] ItsDoot commented on #2099
As dual noted above (referring to the XY problem), it would help to explain the actual issue you're having, regarding needing multiple service implementations at once, in the case that it may be solved in a completely different manner; then we don't need to speak in abstract terms and can get right down to the real world use cases.

[2020-03-08 09:44] dualspiral commented on #2099
I can see that argument - we do something similar with commands where we say "hey, this alias must be registered with plugin X". I'd be okay with adding some sort of configuration to do this - that's heading into impl land though.

I'd argue services should be as small as possible, and thus something like this should be two services. Your suggestion of input handing may not work in some scenarioes

[2020-03-08 11:17] XakepSDK commented on #2099
`ChangeServiceProviderEvent` event is made for other plugins to observe service changes. It's not indented to replace or cancel this event. If you want to enforce your service, just crash server with proper error message, admin should handle this.

[2020-03-08 16:38] justisr commented on #2099
This would result in crashing the server every time it’s loaded up after a plugin that implements my service interface, but my service interface would be useless without those other plugins providing implementation.

Fair enough. When it comes to a large projects though, I’ve found that specifying a use case often leads to resolutions being discussed that would apply only to that use case and not

[2020-03-11 01:18] SettingDust opened #2100 "Can't get item from block"
**I am currently running**

- SpongeForge version: spongeforge-1.12.2-2838-7.1.10
- SpongeVanilla version: spongevanilla-1.12.2-7.1.10

**Issue Description**
There isn't a way to get item from block as middle button do.
![image](https://user-images.githubusercontent.com/19922286/76372682-2e778980-6379-11ea-8b58-022bbc1c2dee.png)
But the middle button can get the item correctly
![image](https://use

[2020-03-11 22:03] jamierocks commented on #1966
👍 would love to see a `metrics.conf` in API 8.

[2020-03-12 00:49] #1974 closed, assigned to nobody

[2020-03-12 00:49] #1947 closed, assigned to nobody

[2020-03-16 08:20] #2083 closed, assigned to nobody

[2020-03-16 22:26] ImMorpheus commented on #2100
Hi,

Thank you for the detailed report! For reference here's the current javadoc for `BlockType#getItem()`:

https://github.com/SpongePowered/SpongeAPI/blob/b70499c9396acfc9a38d4888ea04e3b9767e0b6c/src/main/java/org/spongepowered/api/block/BlockType.java#L75

Under the hood this will only return an `ItemType` for `Block`s with an `ItemBlock` (items that represents them).
`ItemDoor`s are not regist

[2020-03-16 22:45] dualspiral commented on #2100
I think they are asking for a method that allows them to get an `ItemType` that would represent the item they'd be holding if they middle clicked the block, rather than reporting an issue.

[2020-03-16 22:47] ImMorpheus commented on #2100
Fair enough, I'll move this to the SpongeAPI repo then.

[2020-03-16 22:51] dualspiral commented on #2100
Huh, I already thought it was there! Well, it’s clear that’s what they want to do so it’s worth tracking it.

[2020-03-17 00:44] SettingDust commented on #2100
I just think it's a bug of `BlockType.getItem()`. My fault

[2020-03-21 00:34] Picoseconds commented on #2100
but that feature would be nice so please don't close

[2020-03-21 20:05] gabizou commented on #2100
It's not a bug of `BlockType.getItem` it's a missing location based property to be able to get from a position in the world. The reason why it's not on `BlockType` is because there's the "basic" item that a block can be represented as in the creative inventory, and then there's the location state aware item that would be otherwise presented as in the inventory (pick block).

[2020-03-22 00:08] SettingDust commented on #2100
@gabizou So, it my fault. Thanks

[2020-03-22 17:27] Picoseconds commented on #2100
but please add this feature of location based

[2020-04-02 17:33] eirikh1996 opened #2102 "Make schematics rotatable"
Make it possible to rotate schematics in the Sponge API. They are currently not rotatable

[2020-04-03 19:38] simon816 commented on #2102
It would be pretty trivial to rotate a block volume as-is, however I suspect you're also looking to rotate directional blocks such as stairs too. From what I recall, there isn't any generic way of doing this; each block would have to be handled specially. I don't think this is possible with modded blocks as sponge does not know how to handle them.

[2020-04-03 20:20] gabizou commented on #2102
Yep, and this is precisely why schematics originally didn't handle them well enough.. There's a lot of block logic specific code that has to be handled, but the hooks do exist in the vanilla blocks, but I almost sincerely doubt that some mod blocks correctly override those methods to perform their rotations correctly.

It's a feature that'd be very welcome to being PR'ed in both API and Common (si

[2020-04-05 01:34] Zidane commented on #2090
This is not an API issue, please open this issue on the respective implementation.

[2020-04-05 01:34] #2090 closed, assigned to nobody

[2020-04-08 03:17] TheGlitch76 commented on #1000
https://github.com/SpongePowered/SpongeAPI/blob/api-8/src/main/java/org/spongepowered/api/entity/living/player/User.java#L95 - the API doesn't make it clear that the world must be loaded

[2020-04-10 11:26] tyhdefu commented on #1000
https://jd.spongepowered.org/7.2.0/org/spongepowered/api/item/inventory/Inventory.html#offer-org.spongepowered.api.item.inventory.ItemStack- has a very confusing javadoc. It says it returns `true if one or more (up to the total number of items in the supplied stack) items were consumed.` but the type returned is InventoryTransactionResult.
Not sure if this is intentional, but calling .getRejectedI

[2020-04-10 11:30] tyhdefu commented on #1000
https://jd.spongepowered.org/7.1.0/org/spongepowered/api/data/key/Keys.html#TREE_TYPE says its the key for `representing the TreeType of a BlockState`, but infact, its used for different woods of a boat entity, this comment makes it seem like its exclusive to BlockState, maybe change it to "such as a Blockstate" or something similar

[2020-04-11 08:57] dualspiral commented on #1814
This was merged into bleeding a long tim ago, and I believe is now in the 1.14.x branch. While my own thinking of this has changed over time, this is a stale discussion and the action proposed by this has already been done.

If it wants to be reversed, a new issue should be opened.

[2020-04-11 08:57] #1814 closed, assigned to nobody

[2020-04-14 09:25] DosMike opened #2109 "PatternMatchingCommandElement is broken for GenericArguments.catalogedElement in 7.2.0"
**I am currently running**
(See tests)

Plugins/Mods: reduced to test plugin

**Issue Description**
Some people on my discord noticed, that `/vshop create minecraft:villager`
did not work on Sponge 7.2.0, but other entity types did. I ran some tests to check whether that's on forge or vanilla (below) but it's for both. So I was snooping around the compare in SpongeCommon between 7.1.10 and 7.2.0 a

[2020-04-14 09:39] dualspiral commented on #2109
https://github.com/SpongePowered/SpongeAPI/blob/781d29c5a85a0a03b0786c67ee41efbef10786e4/src/main/java/org/spongepowered/api/command/args/PatternMatchingCommandElement.java#L71-L75 just needs to be moved above the if statement currently enclosing it.

[2020-04-14 16:28] dualspiral commented on #2109
https://github.com/SpongePowered/SpongeAPI/commit/f12f8e7743844b8761b890ce3e440911e97c6f38

[2020-04-14 16:29] #2109 closed, assigned to nobody

[2020-04-18 23:22] TPNils opened #2113 "Error trying to get a datasource"
Hi,

I am encountering an issue to authenticate with a mysql server with the following error: https://pastebin.com/cmFbG2gj

Code:
[code]

The issue to me seems that the authentication tries to happen before the user & password can be given.
I can get it to work with a mysql dependancy and using `DriverManager.getConnection(url, user, password)` but I would prefer to use the sponge solution if pos

[2020-04-19 12:42] ST-DDT commented on #2113
As stated in the [javadocs](https://jd.spongepowered.org/7.2.0/org/spongepowered/api/service/sql/SqlService.html#getDataSource-java.lang.Object-java.lang.String-):

Especially the `<username>[:<password>]@` part.

[2020-04-19 12:57] TPNils commented on #2113
Thanks for the help, that did solve the issue.
A question for my curiousity, is there a reason to call `DataSource.getConnection(user, password);`?

[2020-04-19 13:14] ST-DDT commented on #2113
That's a plain java class/interface. I don't know the exact purpose of it (because I don't remember ever calling it), but it might be a helper method for creating a connection with a different user for a privileged call. E.g. the normal user only has read access, but for a special action the applications switches to a different user and executes it.

[2020-04-19 13:23] TPNils commented on #2113
Alright, thank for the help :)

[2020-04-19 13:23] #2113 closed, assigned to nobody

[2020-04-19 13:36] XakepSDK commented on #2113
Use `getConnectionUrlFromAlias`, so admins could control URL instead of hardcoded URL in plugin

[2020-04-19 19:05] SimonBHB commented on #1444
[Google Translate]
Hi
I find it a pity that the event does not fire when we hit the block.
[FR]
Salut
Je trouve cela dommage que l'event ne se déclenche pas quand on tape le bloc.

![2020-04-19 12-18-17_)](https://user-images.githubusercontent.com/8994762/79697087-f5d4a500-8280-11ea-8c41-cbef4fb58dbe.gif)

[2020-05-02 06:49] XakepSDK opened #2117 "Text#of does not respect TextElement"
`Text.of(Object... objects)` does not respect `TextElement` class, it's added as `String.valueOf(TextElement)` instead of `element.applyTo(builder)`

[2020-05-14 16:54] fingoltin opened #2118 "Totem particle effect"
The effect for undying totems seems to be missing from `ParticleTypes`. If it isn't, then it should be renamed. If there's some other way to display the totem particles that would also be handy.

[2020-05-14 19:35] SimonBHB opened #2119 "Keys.DISPLAY_NAME lost"
Bonjour,
quand je mets un item dans une entité avec cette clé:

	public static final Key<MapValue<String, Map<Integer, ItemStackSnapshot>>> MAPINVENTORY = Key.builder()
            .type(new TypeToken<MapValue<String, Map<Integer, ItemStackSnapshot>>>() {})
            .id("mapinventory_id")
            .name("MapInventory ID")
            .query(DataQuery.of('.', "mapinventory_id"))
            .

[2020-05-15 19:25] dualspiral commented on #2099
Okay, sorry, never got back to you on this, just saw it and wanted to explain some of the thinking for 1.14.x and how it actually relates to this issue, and ultimately why it's being closed.

[You may have seen in #1dot14updates](https://discordapp.com/channels/142425412096491520/539537645152239626/708082623620317195) in our [Discord guild](https://discord.gg/sponge) from a discussion @Zidane and

[2020-05-15 19:25] #2099 closed, assigned to nobody

[2020-05-20 23:45] #2118 closed, assigned to nobody

[2020-05-26 21:19] ImMorpheus opened #2121 "Account Documentation is unclear and contradictory"
`Account#hasBalance` states:

https://github.com/SpongePowered/SpongeAPI/blob/79fb019bd6245e8415016dcfc71a75242f298f55/src/main/java/org/spongepowered/api/service/economy/account/Account.java#L93-L96

But `Account#getDefaultBalance` is contradictory:

https://github.com/SpongePowered/SpongeAPI/blob/79fb019bd6245e8415016dcfc71a75242f298f55/src/main/java/org/spongepowered/api/service/economy/account

[2020-05-27 14:35] dualspiral commented on #2121
This is an opinion, not a fact, and we need more people to weigh in on this.

---

Based on the commit history:

https://github.com/SpongePowered/SpongeAPI/blob/79fb019bd6245e8415016dcfc71a75242f298f55/src/main/java/org/spongepowered/api/service/economy/account/Account.java#L126-L127

was an OCD fix and the rest was there before. I believe that this was added without thinking about the wider class

[2020-05-27 15:25] ImMorpheus commented on #2121
It wasn't.
The [commit](https://github.com/SpongePowered/SpongeAPI/commit/fc1c57803a130fd49d655cdc46cc37d2a6536535#diff-1f777496bd11eabe7792efa505366df4R119) you are referring to didn't change the structure of the comment.

https://github.com/SpongePowered/SpongeAPI/pull/995 is the original PR which added the Economy API.
https://github.com/SpongePowered/SpongeAPI/pull/995/files#diff-1f777496bd11e

[2020-05-27 16:32] dualspiral commented on #2121
Yup, must have looked at the wrong method in the base commit. Point taken. However, my opinion doesn't change based on my incorrect suggestion that it was the OCD commit. To clarify, I think the JDs are wrong on the `getBalance(Currency)` method - it makes no sense to have a default balance that is ignored in **one** method but not all the others.

I know I've pointed this out already, but it _is_

[2020-05-27 16:44] ImMorpheus commented on #2121
I agree with your analysis. `hasBalance` and the rest of the interface were what lead me to believe the JD was wrong (and assuming it to be correct would lead to a wrong default implementation of `getBalance`).

+1

EDIT: for the implementation not following the JD we can open an issue when this has been sorted out.

[2020-05-28 01:02] windy1 opened #2122 "Upgrade Guice to version 4.2.3"
This will allow developers to utilize new features, namely `OptionalBinder`, which is really nice. <3

[2020-05-28 04:50] gabizou commented on #2121
^^^

[2020-05-30 11:43] ImMorpheus commented on #2121
Fixed by https://github.com/SpongePowered/SpongeAPI/commit/d871149cbd3ca6004436e730419b58757affb1cd

[2020-05-30 11:43] #2121 closed, assigned to nobody

[2020-05-31 17:26] Column01 opened #2125 "ChangeEntityPotionEffectEvent not firing"
## Version info
SpongeForge: `1.12.2-2838-7.2.2-RC4029`
Forge: `1.12.2-14.23.5.2847`

## Bug outline
I am unable to capture the event: `ChangeEntityPotionEffectEvent` to handle potion effects (basically I want to restrict their usage due to some nasty modded potion effects causing issues.)
I made a post on the sponge forums [here](https://forums.spongepowered.org/t/changeentitypotioneffectevent-no

[2020-06-02 12:02] ImMorpheus opened #2126 "GenericArguments#allOf completition not working"
[code]

1. `/alloftest <tab>`
2. nothing happens

I would expect player names to appear

[2020-06-02 17:42] #2126 closed, assigned to nobody

[2020-06-03 09:11] Pulverizer commented on #2093
I intend to work on implementing this over the next few weeks so I would appreciate some advice on how and where this feature should be implemented in the code.

To ensure that I have explained my use case as best as possible I'll just run through it again;
1. An explosion is triggered.
2. Explosion code fetches the blast resistance of blocks to determine if they should be broken.
3. The new event

[2020-06-05 22:29] ImMorpheus opened #2128 "Custom CommandCallable is populating the CommandContext with itself"
When creating child commands the ChildCommandExecutor is adding the child command itself to the command context.

Code to reproduce:

[code]

`/argtest spec` -> `Not enough arguments!\nspec\n^`
`/argtest child` -> `Expected an integer, but input 'child' was not\nchild\n^`

I'd expect both to return `Not enough arguments!` since I did not provide the `GenericArguments#integer` argument.

[2020-06-05 23:29] #2128 closed, assigned to nobody

[2020-06-06 17:45] ImMorpheus opened #2129 "Wrong ArgumentParseException when using custom CommandCallables as child commands"
When creating child commands using custom `CommandCallable`s a different "usage" message is displayed.

Code to reproduce:

[code]

`/argtest spec` ->
[code]

`/argtest child` ->
[code]

I'd expect to get the same message for both commands but the second error is the same you get when using `/argtest`.